<sly data-sly-use.carouselItem="com.bmc.components.minicarousel.MiniCarouselMultiComponent">
<div data-sly-test="${!carouselItem.carouselItems}">Add values in Dialog</div>
<div class="carousel-wrap">
	<ul class="carousel" data-sly-list.data="${carouselItem.carouselItems}">
			<li data-slide="${data.assetIndex}" class="${data.cssClassName}">
                       <!-- Adding the conditions for the Image. -->
                        <sly data-sly-test="${data.assetType == 'image'}">
                            <figure>  
                                <a href="${data.figurePath}" rel="carouselGroup-416145443" class="modal-image"  title="${data.figureCaption}"> 
                                    <img src="${data.thumbNailPath}" alt="${data.figureCaption}" title="${data.figureCaption}" width="900" height="516" border="0"/>
                                  		<div data-sly-test="${data.addMagnifierIcon}" class="carousel-icon icon-img" data-percentage-right="7" data-percentage-top="0" style="right: 7%; background-position: 50% 0%;">
                                		</div>
                                </a>
                                <figcaption>${data.figureCaption}</figcaption>
                            </figure>
                        </sly>
                        <!-- Adding the conditions for the video player. -->
						<sly data-sly-test="${data.assetType == 'video'}">
                            <figure>    
                                <a class="modal-youtube-video-player" rel="carouselGroup-400375341" href="/content/bmc/videos.html?vID=${data.videoId}" target="_self" title="${data.figureCaption}">
                                    <img src="${data.thumbNailPath}" alt="${data.figureCaption}" title="${data.figureCaption}" width="900" height="516" border="0"/> 
                                    <div data-sly-test="${data.addMagnifierIcon}" class="carousel-icon icon-vid" data-percentage-right="43" data-percentage-top="50"></div> 
                                </a>
                                <figcaption>${data.figureCaption}</figcaption>
                            </figure>
                         </sly>						
                        </li> 
	</ul>
     <sly data-sly-list.NoOfItems ="${carouselItem.noOfItems}">
       		   				<ul data-sly-list.data="${carouselItem.carouselItems}" data-sly-test="${NoOfItems > 1}" class="carousel-control">
                            <li data-sly-test="${data.assetIndex == '0'}">
                                    <a href="#" data-slide="${data.assetIndex}" class="active">${data.incrementalIndex}</a>
                                </li>
                                <li data-sly-test="${data.assetIndex != '0'}">
                                    <a href="#" data-slide="${data.assetIndex}" class="">${data.incrementalIndex}</a>
                               </li>    				
			</ul>
	</sly>
    </div>
</sly>