<section  data-sly-use.carouselItem="com.bmc.components.minicarousel.MiniCarouselMultiComponent">
    <div data-sly-test="${!carouselItem}">Add values in Dialog</div>
    <div data-sly-test="${carouselItem}" class="carousel-wrap">
    	<ul data-sly-list.item="${carouselItem.carouselItems}" class="className"> 
        		<li data-slide="${item.assetIndex}" class="${className}">
                      <!-- Adding the conditions for the Image. -->
						<sly data-sly-test="${item.assetType == 'image'}">
						<figure>  
							<a href="${item.figurePath}" rel="carouselGroup-416145443" class="modal-image"  title="${item.figureCaption}"> 
                                <img src="${item.thumbNailPath}" width="" height="" border="0"/>
								<div data-sly-test="${item.showMagnifierIcon}" class="carousel-icon icon-img"  data-percentage-right="${item.xOffset}" data-percentage-top="${item.yOffset}">
                                </div>
							</a>
							<figcaption>${item.figureCaption}</figcaption>
						</figure></sly>
                        <!-- Adding the conditions for the video player. -->
						<figure data-sly-test="${item.assetType == 'video'}">

							<a class="modal-youtube-video-player" rel="carouselGroup-399434211" href="${'com.bmc.components.utils.LinkGenerator' @ urlPath=item.figurePath}" target="_self" title="">
                                <img src="${'com.bmc.components.utils.LinkGenerator' @ urlPath=item.thumbNailPath}" alt="" title="" width="900" height="516" border="0"/>
                                <div data-sly-test="${item.showMagnifierIcon}" class="carousel-icon icon-vid" data-percentage-right="${item.xOffset}" data-percentage-top="${item.yOffset}"></div>
							</a>
							<figcaption>${item.figureCaption}</figcaption>
						</figure>						
					</li> 
    	</ul> 
    </div>
</section>