    <footer class="layout-footer">
        <div class="layout-inner-wrap">
            <div class="footer-logo">
                <a href="/">BMC</a>
            </div>
            <p class="legal-copyright">
                &copy; Copyright 2005-2014 BMC Software, Inc. Use of this site signifies your acceptance of BMC's <a href="http://www.bmc.com/legal/copyright-statement-and-terms-of-use/">Terms of Use</a> and <a href="http://www.bmc.com/legal/privacy/privacy-policy.html">Privacy Policy</a>. BMC, BMC Software, the BMC logos, and other BMC marks are <a href="http://www.bmc.com/legal/trademarks/">trademarks or registered trademarks</a> of BMC Software, Inc. in the U.S. and/or certain other countries.
            </p>
        </div>
    </footer>