<sly data-sly-use.footerCopyRight="com.bmc.models.components.footers.FooterModel"/>
<footer class="layout-footer">
        <div class="layout-inner-wrap at-element-marker">
            <div class="footer-logo" style="background-position: 0 100% !important;padding-bottom: 85px !important;margin-top: 24px !important;">
               <sly data-sly-test="${footerCopyRight.footerLogoText}">${footerCopyRight.footerLogoText @context='html'}</sly>
			   <a href="/">BMC</a>
            </div>
            <p class="legal-copyright">
                <sly data-sly-test="${footerCopyRight.copyRightText}">${footerCopyRight.copyRightText @context='html'}</sly>
            </p>
        </div>
    </footer>
