<sly data-sly-use.support="com.bmc.components.SupportCentral" data-sly-test.loggedIn="${support.isLoggedIn}"></sly>
<section data-sly-test="${!loggedIn}" class="layout-full-bleed support-getting-started" style="padding-bottom: 0em ! important;">
    <div class="layout-inner-wrap">
        <h2>3 Easy Steps to Get Started with Support</h2>
        <div class="support-getting-started-topics" style="padding-bottom: 0em;">
            <ul class="topics">
                <li class="topic three-up">
                    <h3>1) Create Your Support Login</h3>
                    <p>
                        You'll need your Support Contract ID and PIN to complete the process.
                    </p>
                    <a class="btn learn-more" href="https://webapps.bmc.com/profile/register?c=n">Manage Your Support Profile </a>
                </li>
                <li class="topic three-up nth-child-np2">
                    <h3>2) Visit BMC Communities</h3>
                    <p>
                        Sign up for an account and join the conversation! <br><br>
                    </p>
                    <a class="btn learn-more" href="https://communities.bmc.com/">Visit Communities </a>
			<!--/* WEB-3455 Change Reister Now button link START*/-->
                    	<a class="btn-secondary learn-more" href="https://webapps.bmc.com/profile/register?c=n">Register Now </a>
                    <!--/* WEB-3455 Change Reister Now button link END*/-->
                </li>
                <li class="topic three-up nth-child-np2 nth-child-3n">
                    <h3>3) Explore BMC resources</h3>
                    <!-- Added changes for DXP-1423 by samiksha_anvekar START -->
                <!-- /*Added changes for WEB-7174 by preety_kumari START */-->
					<p>Start with the <a href="/support/support-guide-getting-started.html#Register-on-Support-Central" target="_blank">Support Central User's Guide </a> / <a href="http://documents.bmc.com/products/documents/12/67/521267/521267.pdf" target="_blank">PDF </a> <br><br></p>
					<!-- END -->
                    <a href="https://communities.bmc.com/docs/DOC-40484" target="_blank" class="btn learn-more">New Customer Orientation </a>
                </li>
            </ul>
        </div>


    </div>
</section>

<section data-sly-test="${loggedIn}" class="layout-full-bleed support-getting-started" style="padding-bottom: 0em ! important;">
    <div class="layout-inner-wrap">
        <h2>3 Easy Steps to Get Started with Support</h2>
        <div class="support-getting-started-topics" style="padding-bottom: 0em;">
            <ul class="topics">
                <li class="topic three-up">
                    <h3>1) Add Support IDs</h3>
                    <p>
                        You'll need your Support Contract ID and PIN to complete the process.
                    </p>
                    <!-- WEB-6115 Support Central page  START -->
                    <a class="btn learn-more" href="/support/resources/support-profile.html">Manage Your Support Profile </a>
                    <!-- WEB-6115 Support Central page  END -->
                </li>
                <li class="topic three-up nth-child-np2">
                    <h3>2) Visit BMC Communities</h3>
                    <p>
                        Sign up for an account and join the conversation! <br><br>
                    </p>
                    <a class="btn learn-more" href="https://communities.bmc.com/">Visit Communities </a>
					<!--/* WEB-3455 Change Reister Now button link START*/-->
                    	<a class="btn-secondary learn-more" href="https://webapps.bmc.com/profile/register?c=n">Register Now </a>
                    <!--/* WEB-3455 Change Reister Now button link END*/-->
                </li>
                <li class="topic three-up nth-child-np2 nth-child-3n">
                    <h3>3) Explore BMC resources</h3>
			     <!-- /*Added changes for DXP-1423 by samiksha_anvekar START */-->
                <!-- /*Added changes for WEB-7174 by preety_kumari START */-->
                    <p>Start with the <a href="/support/support-guide-getting-started.html#Register-on-Support-Central" target="_blank">Support Central User's Guide </a> / <a href="http://documents.bmc.com/products/documents/12/67/521267/521267.pdf" target="_blank">PDF </a> <br><br></p>
			   		<!--/* END */-->
                    <a href="https://communities.bmc.com/docs/DOC-40484" target="_blank" class="btn learn-more">New Customer Orientation </a>
                </li>
            </ul>
        </div>
    </div>
</section>
