<section data-sly-test="${!loggedIn}" class="layout-full-bleed support-getting-started" style="padding-bottom: 0em ! important;">
    <div class="layout-inner-wrap">
        <h2>3 Easy Steps to Get Started with Support</h2>
        <div class="support-getting-started-topics" style="padding-bottom: 0em;">
            <ul class="topics">
                <li class="topic three-up">
                    <h3>1) Create Your Support Login</h3>
                    <p>
                        You’ll need your Support Contract ID and PIN to complete the process.
                    </p>
                    <a class="btn" href="https://webreg.bmc.com/profile/register?c=n" onclick="s_objectID=&quot;https://webreg.bmc.com/profile/register?c=n_1&quot;;return this.s_oc?this.s_oc(e):true">Manage Your Support Profile ›</a>
                </li>
                <li class="topic three-up nth-child-np2">
                    <h3>2) Visit BMC Communities</h3>
                    <p>
                        Sign up for an account and join the conversation! <br><br>
                    </p>
                    <a class="btn" href="https://communities.bmc.com/" onclick="s_objectID=&quot;https://communities.bmc.com/_1&quot;;return this.s_oc?this.s_oc(e):true">Visit Communities ›</a>
                    <a class="btn-secondary" href="https://communities.bmc.com/login.jspa?registerOnly=true" onclick="s_objectID=&quot;https://communities.bmc.com/login.jspa?registerOnly=true_1&quot;;return this.s_oc?this.s_oc(e):true">Register Now ›</a>
                </li>
                <li class="topic three-up nth-child-np2 nth-child-3n">
                    <h3>3) Explore BMC resources</h3>
                    <p>Start with the <a href="http://www.bmc.com/support/support-guide-registration.html" target="_blank" onclick="s_objectID=&quot;http://www.bmc.com/support/support-guide-registration.html_1&quot;;return this.s_oc?this.s_oc(e):true">Support Central User's Guide </a> / <a href="http://media.cms.bmc.com/documents/462510_BMC_Support_Central_User_Guide.pdf" target="_blank" onclick="s_objectID=&quot;http://media.cms.bmc.com/documents/462510_BMC_Support_Central_User_Guide.pdf_1&quot;;return this.s_oc?this.s_oc(e):true">PDF </a> <br><br></p>

                    <a href="https://communities.bmc.com/docs/DOC-40484" target="_blank" class="btn" onclick="s_objectID=&quot;https://communities.bmc.com/docs/DOC-40484_2&quot;;return this.s_oc?this.s_oc(e):true">New Customer Orientation ›</a>
                </li>
            </ul>
        </div>


    </div>
</section>

<section data-sly-test="${loggedIn}" class="layout-full-bleed support-getting-started" style="padding-bottom: 0em ! important;">
    <div class="layout-inner-wrap">
        <h2>3 Easy Steps to Get Started with Support</h2>
        <div class="support-getting-started-topics" style="padding-bottom: 0em;">
            <ul class="topics">
                <li class="topic three-up">
                    <h3>1) Add Support IDs</h3>
                    <p>
                        You’ll need your Support Contract ID and PIN to complete the process.
                    </p>
                    <a class="btn" href="/support/my-support-profile/" onclick="s_objectID=&quot;http://www.bmc.com/support/my-support-profile/_1&quot;;return this.s_oc?this.s_oc(e):true">Manage Your Support Profile ›</a>
                </li>
                <li class="topic three-up nth-child-np2">
                    <h3>2) Visit BMC Communities</h3>
                    <p>
                        Sign up for an account and join the conversation! <br><br>
                    </p>
                    <a class="btn" href="https://communities.bmc.com/" onclick="s_objectID=&quot;https://communities.bmc.com/_1&quot;;return this.s_oc?this.s_oc(e):true">Visit Communities ›</a>
                    <a class="btn-secondary" href="https://communities.bmc.com/login.jspa?registerOnly=true" onclick="s_objectID=&quot;https://communities.bmc.com/login.jspa?registerOnly=true_1&quot;;return this.s_oc?this.s_oc(e):true">Register Now ›</a>
                </li>
                <li class="topic three-up nth-child-np2 nth-child-3n">
                    <h3>3) Explore BMC resources</h3>
                    <p>Start with the <a href="http://www.bmc.com/support/support-guide-registration.html" target="_blank" onclick="s_objectID=&quot;http://www.bmc.com/support/support-guide-registration.html_1&quot;;return this.s_oc?this.s_oc(e):true">Support Central User's Guide </a> / <a href="http://media.cms.bmc.com/documents/462510_BMC_Support_Central_User_Guide.pdf" target="_blank" onclick="s_objectID=&quot;http://media.cms.bmc.com/documents/462510_BMC_Support_Central_User_Guide.pdf_1&quot;;return this.s_oc?this.s_oc(e):true">PDF </a> <br><br></p>

                    <a href="https://communities.bmc.com/docs/DOC-40484" target="_blank" class="btn" onclick="s_objectID=&quot;https://communities.bmc.com/docs/DOC-40484_2&quot;;return this.s_oc?this.s_oc(e):true">New Customer Orientation ›</a>


                </li>
            </ul>
        </div>
    </div>
</section>
