/* You can add global styles to this file, and also import other style files */
html body {
    font-size: inherit;
}

.support-header {
    box-sizing: content-box;
}

app-root {
    font-size: .8125rem;
}