/* You can add global styles to this file, and also import other style files */
html body {
    font-size: inherit;
}

.support-header {
    box-sizing: content-box;
}

app-root {
    font-size: .8125rem;
}

.extended-widget-container {
    max-width: 1300px;
    min-height: 500px;
    padding: 20px 5px 10px 10px;
    margin: auto;
    position: relative;
}

@media (max-width: 1200px) {
    .extended-widget-container {
        padding: 20px 5px;
    }
}