.aem-PageRow-icon {
  padding-left: 0.25rem; /* 4px */
}

.aem-PageRow-icon--info {
  color: #96c8ff;
}

.aem-PageRow-icon--warning {
  color: #fad782;
}

.aem-PageRow-context {
  color: #afafaf;
  text-transform: uppercase;
}
