<link rel="stylesheet" href="/etc/clientlibs/bmc/dashboard/css/styles.css">

<app-root></app-root>
<script src="/etc/clientlibs/bmc/dashboard/js/runtime-es5.js" type="module"></script>
<script src="/etc/clientlibs/bmc/dashboard/js/runtime-es5.js" nomodule defer></script>
<script src="/etc/clientlibs/bmc/dashboard/js/polyfills-es5.js" nomodule defer></script>
<script src="/etc/clientlibs/bmc/dashboard/js/polyfills-es2015.js" type="module"></script>
<script src="/etc/clientlibs/bmc/dashboard/js/main-es2015.js" type="module"></script>
<script src="/etc/clientlibs/bmc/dashboard/js/main-es5.js" nomodule defer></script>