<div class="page-campaign-landing">
<!-- TODO: the background image for this component should be CMS editable -->
    <section class="layout-full-bleed layout-full-bleed-image" style="background-image: url('http://media.cms.bmc.com/images/Generic_form_banner.png'); background-position: center center;">
        <div class="layout-inner-wrap">
            <div class="offset-hero-clear">
                <div class="offset-hero-inner-wrap">
                    <h1>
                        <span>
                            ${properties.headerText}
                        </span>
                        <span data-sly-test="${!properties.headerText}">
                            Enter Heading Text
                        </span>
                    </h1>
                </div><!-- / category-hero-inner-wrap -->
            </div>

            <div class="layout-campaign-screenshot flush">
                <!-- TODO: the foreground image for this component should be CMS editable -->
                <img src="http://media.cms.bmc.com/images/form-template-465218.png" width="436" height="211" alt="" title="" border="0">
            </div>
        </div><!-- / layout-inner-wrap -->
    </section>
</div>