<sly data-sly-use.list="com.bmc.components.PartnerList"></sly>
<script>
    var bmcFilterConfig = {
        "pageType" : "list",
        "pageSize" : -1, // -1 for rendering the entire list
        "maxPagesToDisplay" : 5,
        "paginationType" : "onPagination", //"onPagination"
        "showMatchCountInDropdown" : false,
        "noResultFoundMessage" : "",
        "filterListObject" : null,
        "showDisplayCount" : "false"
    };
    var bmcPartnersData  = {
        "filterCriteria" : [],
        "listItems" : ${list.items @ context='unsafe'}
    }
</script>
<!--/* WEB-8118 Enhancement - Partner List Component */-->
<section class="bg-white filterListContainer py3 bg-seashell" style="display: block;">
    <div class="layout-inner-wrap">
        <div data-sly-resource="${'content' @ resourceType='wcm/foundation/components/parsys'}"></div>
    </div>
    <section class="bg-white listCompLoader">
        <div class="layout-inner-wrap py3 text-center">
            <img src="/etc/clientlibs/bmc/head/loading-indicator.gif" />
            <p>
                Loading...
            </p>
        </div>
    </section>
    <div class="partner-list layout-inner-wrap py2 customer-story-landing-logo-blocks">
        <div class="cards-wrapper logo-blocks partners-cards">
        </div>
    </div>
</section>
