<sly data-sly-use.list="com.bmc.components.PartnerList"></sly>
<script>
    var bmcFilterConfig = {
        "pageType" : "list",
        "pageSize" : -1, // -1 for rendering the entire list
        "maxPagesToDisplay" : 5,
        "paginationType" : "onPagination", //"onPagination"
        "showMatchCountInDropdown" : false,
        "noResultFoundMessage" : "",
        "filterListObject" : null,
        "showDisplayCount" : "false"
    };
    var bmcPartnersData  = {
        "filterCriteria" : [],
        "listItems" : ${list.items @ context='unsafe'}
    }
</script>

<section class="bg-white filterListContainer py3 bg-seashell" style="display: block;">
    <div class="layout-inner-wrap">
        <p data-sly-resource="${'blurb' @ resourceType='bmc/components/content/text'}" class="partner-lead py2">
            BMC has formed partnerships with leading technology companies worldwide to deliver added value to our shared customers.
        </p>
        <h2 data-sly-resource="${'title' @ resourceType='bmc/components/content/title'}">
            See who we work with around the world
        </h2>
    </div>
    <section class="bg-white listCompLoader">
        <div class="layout-inner-wrap py3 text-center">
            <img src="http://media.cms.bmc.com/designimages/loading-indicator.gif" />
            <p>
                Loading...
            </p>
        </div>
    </section>
    <div class="partner-list layout-inner-wrap py2 customer-story-landing-logo-blocks">
        <div class="cards-wrapper logo-blocks partners-cards">
        </div>
    </div>
</section>
