**/.idea
**/*.iml
*.local.properties
aem-project*/ui.apps/target
aem-project*/core/target
aem-project/ui.apps/src/main/content/jcr_root/apps/bmc/config.localdev/com.day.cq.mailer.DefaultMailService.xml
front-end/*.php
front-end/Assets/dist
front-end/documentation
front-end/php-inc
front-end/includes
