<form class="js-data-state-select js-deep-linked-select" data-sly-use.trainingLocations="com.bmc.components.TrainingLocations">
    <fieldset>
        <strong>${'Training centers in' @ i18n } &nbsp; </strong>
        <div class="form-group two-up">
            <select data-sly-list.country="${trainingLocations.countries}">
                <sly data-sly-test.isUS="${country.name == 'United States'}">
                    <option selected>${country.name}</option>
                </sly>
                <option data-sly-test="${!isUS}">${country.name}</option>
            </select>
        </div>
    </fieldset>
    <ul class="accordion accordion-training" style="margin-left: 2em" data-sly-list.country="${trainingLocations.countries}">
        <sly data-sly-list.center="${country.trainingCenters}">
            <fieldset data-state="${country.name}">
                <li class="accordion-item">
                    <span class="jump-to defalut-open" data-state="${country.name}" id="location-${center.centerId}"></span> <a class="accordion-item-anchor" href="#location-${center.centerId}">${center.locationName}</a>
                    <div class="accordion-item-content">
                        <address>
                            ${center.centerName}<br>
                            ${center.address1}<br>
                            <sly data-sly-test="${center.address2}">${center.address2}<br></sly>
                            <sly data-sly-test="${center.address3}">${center.address3}<br></sly>
                            <sly data-sly-test="${center.city || center.state || center.zip}">
                                <sly data-sly-test="${center.city}">${center.city}</sly>
                                <sly data-sly-test="${center.state}"> ${center.state}</sly>
                                <sly data-sly-test="${center.zip}"> ${center.zip}</sly>
                                <br>
                            </sly>
                            <sly data-sly-test="${center.website}"><a href="${center.website}" target="_blank">${ "Website" @ i18n }</a><br></sly>
                            ${'Tel:' @ i18n } <a href="${center.phoneLink}">${center.phone}</a><br>
                            <sly data-sly-test="${center.faxLink}">${'Fax:' @ i18n } <a href="${center.faxLink}">${center.fax}</a><br></sly>
                            <p></p>
                            <p data-sly-test="${center.trainingHours}">
                                <strong>${'Training Hours:' @ i18n }</strong> ${center.trainingHours}<br>
                                <sly data-sly-test="${center.trainingNotes}">${center.trainingNotes}</sly>
                            </p>
                            <p data-sly-test="${center.airport}"><strong>${'Airport:' @ i18n }</strong> ${center.airport}</p>
                            <sly data-sly-test="${center.hotels}">
                                <p class="m0"><b>${'Area Hotels:' @ i18n }</b></p>
                                <div class="cards-wrapper py1">
                                    <div class="cards-3-col js-eh" data-sly-list.hotel="${center.hotels}">
                                        <div class="flex-item card js-ehItem">
                                            <div class="content p1">
                                                <a href="${hotel.hotelLink}" target="_blank">
                                                    ${hotel.hotelName}
                                                </a>
                                                <p>
                                                    ${hotel.address1}<br>
                                                    <sly data-sly-test="${hotel.address2}">${hotel.address2}<br></sly>
                                                    <sly data-sly-test="${hotel.address3}">${hotel.address3}<br></sly>
                                                    <sly data-sly-test="${hotel.city || hotel.state || hotel.zip}">
                                                        <sly data-sly-test="${hotel.city}">${hotel.city} </sly>
                                                        <sly data-sly-test="${hotel.state}">${hotel.state} </sly>
                                                        <sly data-sly-test="${hotel.city}">${hotel.zip}</sly>
                                                        <br>
                                                    </sly>
                                                    <sly data-sly-test="${hotel.phone}">${'Tel:' @ i18n } ${hotel.phone}<br></sly>
                                                    <sly data-sly-test="${hotel.fax}">${'Fax:' @ i18n } ${hotel.fax}<br></sly>
                                                    <sly data-sly-test="${hotel.email}"><a href="mailto:${hotel.email}">${hotel.email}</a><br></sly>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div><br>
                            </sly>
                        </address>
                    </div>
                </li>
            </fieldset>
        </sly>

    </ul>
</form>
