<section data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image" class="wallpapered bar" data-wallpaper-options='{"source":"${image.src}"}'>
    <div class="offset-wrapper">
        <div class="layout-inner-wrap">
            <div class="offset-hero-medium banner -ribbon">
                <div class="offset-hero-medium-inner-wrap">
                    <sly data-sly-test="${properties.show_breadcrumb}" data-sly-resource.Breadcrumb="${'breadcrumbs' @resourceType='bmc/components/content/navigation/breadcrumbs', cssClassName='navigation-breadcrumb white-links', decorationTagName='ul' }" class="navigation-breadcrumb layout-full-bleed" data-sly-unwrap></sly>
                    <h1 data-sly-test="${properties.heading}">${properties.heading}</h1>
                    <p data-sly-test="${properties.subheading}">${properties.subheading}</p>
                    <a data-sly-test="${properties.cta_link}" class="${properties.cta_mode == 'button' && properties.cta_is_video
                        ? 'btn-white video-play modal-youtube-video-player'
                        : (properties.cta_mode == 'button'
                            ? 'btn-white learn-more'
                            : (properties.cta_is_video
                                ? 'lead -sm bold white yellow-orange-hover inline-block modal-youtube-video-player'
                                : 'lead -sm bold white yellow-orange-hover inline-block'))}" href="${properties.cta_url}" data-form="xxx" data-location="Page-Body" target="_self">${properties.cta_link}</a>
                </div>
            </div>
        </div>
    </div>
</section>