<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientLib.all @ categories = ['bmc.forms']}"></sly>
<form data-sly-use.container="com.adobe.cq.wcm.core.components.models.form.Container"
      data-sly-use.grid="com.day.cq.wcm.foundation.model.responsivegrid.ResponsiveGrid"
      data-sly-use.params="com.bmc.components.utils.FormRequestParameterUtil"
      id="${properties.formType == 'Lead Capture' || properties.formType == 'Parallel' ? 'leadgen' : 'nonleadgen'}"
      name="${properties.formType == 'Lead Capture' || properties.formType == 'Parallel' ? 'leadgen' : 'nonleadgen'}"
      method="POST" action="${resource.path}.post.html"
      enctype="${container.enctype}"
      class="${grid.cssClass} customerform" data-leadgen="${properties.isNonLeadGenForm ? 'noleadgen' : 'leadgen' }">
    <input type="hidden" name="_charset_" value="UTF-8"/> 
    <input data-sly-repeat.param="${params.parameterMap}" name="${param}" value="${params.parameterMap[param]}" type="hidden" />
    <!--/* This is the honeypot field. Do not remvoe. */-->
    <span style="display:none;"><input type="text" name="Address3" id="Address3"/><input type="text" name="Surname" id="Surname"/></span>
    <sly data-sly-repeat.paragraph="${grid.paragraphs}">
        <sly  data-sly-test="${paragraph.name != 'form-terms' && paragraph.name != 'form-btn'}"
              data-sly-resource="${paragraph.path @ resourceType=paragraph.resourceType, decorationTagName='div', cssClassName=paragraph.cssClass}"></sly>
    </sly>

    <sly data-sly-resource="${resource.path @ resourceType=container.resourceTypeForDropArea, appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent fieldsetcls'}"
         data-sly-test="${wcmmode.edit || wcmmode.preview}"></sly>
    <sly data-sly-resource="${'./form-btn' @ resourceType='bmc/components/forms/elements/button'}"/>
    <sly data-sly-resource="${'./form-terms' @ resourceType='bmc/components/content/text'}"/>

	<input type="hidden" id="C_Lead_Rating_Override1" name="C_Lead_Rating_Override1" value="" />
	<input type="hidden" id="Email_Source" name="Email_Source" value="" />
	<input type="hidden" id="elqCustomerGUID" name="elqCustomerGUID" value="" />
	<input type="hidden" id="C_Source_Name1" name="C_Source_Name1" value="" />
	<input type="hidden" id="adobe_unique_hit_id" name="adobe_unique_hit_id" value="" />

    <span class="form-hidden" style="display:none;"><input type="text" name="Address3" id="Address3"><input type="text" name="Surname" id="Surname"></span>

</form>