<sly data-sly-use.KeyFeaturesModel="com.bmc.models.components.keyfeatures.KeyFeaturesModel"/>

<section>
    <h2 data-sly-test.headerTitle="${properties.headerTitle}" class="h2-variation-1">${properties.headerTitle @context='html'}</h2>
    <p data-sly-test.headerSubTitle="${properties.headerSubTitle}">${properties.headerSubTitle @context='html'}</p>

   <ul data-sly-test.Bullets="${KeyFeaturesModel.BulletList}" data-sly-list.bullet="${Bullets}" class="orange-tick-bullets">
        <li>${bullet @context='html'}</li>
    </ul>
   <ul data-sly-test="${KeyFeaturesModel.ctaButtons||properties.aditionalResources}" class="button-set">
        <li>
            <sly data-sly-list.ctaButton="${KeyFeaturesModel.ctaButtons}">
                <a class="${ctaButton.buttonColor}" href="${ctaButton.ctaPath}">
                    <sly data-sly-test="${ctaButton.assetName && ctaButton.assetType}">
                        ${ctaButton.assetType @ i18n}: ${ctaButton.assetName}
                    </sly>
                    <sly data-sly-test="${!ctaButton.assetName && ctaButton.assetType}">
                        ${ctaButton.assetType @ i18n}
                    </sly>
                    <sly data-sly-test="${ctaButton.assetName && !ctaButton.assetType}">
                        ${ctaButton.assetName @ i18n}
                    </sly>
                </a>
            </sly>
            <a data-sly-test="${properties.aditionalResources}" href="#resources"
               class="resource-downloads-a icon-documents">${'Explore Additional Resources' @ i18n} &nbsp;›</a>
        </li>
    </ul>
</section>
