<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <title><?php echo $pageTitle; ?></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Connective DX">
    <meta name="apple-mobile-web-app-title" content="BMC Software">

    <!-- TODO: verify this is the correct way to include this -->
    <sly data-sly-use.clientlib="../page/customheaderlibs.html" />

</head>

<!-- TODO: determine method to apply dynamic body classes -->
<body class="<?php echo $bodyClass; ?>">

<section class="layout-wrapper">
    <!-- TODO: includes
		include_once 'engage-prompt.php';
		// include_once 'alert-country-prompt.php';
		include_once 'header.php';
		include_once 'navigation-primary.php';
	 -->