<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <title><?php echo $pageTitle; ?></title>
    <!-- TODO: verify this is the correct way to include this -->
    <sly data-sly-use.clientlib="../page/customheaderlibs.html" />

</head>

<!-- TODO: determine method to apply dynamic body classes -->
<body class="<?php echo $bodyClass; ?>">

<section class="layout-wrapper">
    <!-- TODO: includes
		include_once 'engage-prompt.php';
		// include_once 'alert-country-prompt.php';
		include_once 'header.php';
		include_once 'navigation-primary.php';
	 -->