<div class="extended-widget-container">
    <div class="extended-widget-header">
        <div class="top-section">
            <h2>Services & Consulting</h2><a class="external-app-link btn btn-primary" 
            [href]="state.widgets.servicesConsulting" target="_blank">Go to Services</a>
        </div>
        <div class="description">Get help with all aspects of your digital journey</div>
    </div>
    <div class="extended-widget-body">
        <a class="sac-link" target="_blank" href="https://documents.bmc.com/products/documents/20/45/502045/502045.pdf">
            <div class="left">
                <img src="/content/dam/bmc/support/bmc-support-model.png">
            </div>
            <div class="center">
                <h2>Upgrade to an enhanced support model</h2>
            </div>
        </a>
        <a class="sac-link" target="_blank" href="https://www.bmc.com/education/courses/find-courses.html#filter/\{%22type%22:%22edu-specific-types-177151087%22}">
            <div class="left">
                <img src="/content/dam/bmc/support/education.png">
            </div>
            <div class="center">
               <h2>Get BMC certified</h2>
            </div>
        </a>
    </div>
</div>