<div data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-test="${image.src}"
     data-sly-unwrap="${wcmmode.disabled}"
     class="cq-dd-image">
    <sly data-sly-test="${properties.linkURL}" data-sly-use.cta="${'com.bmc.components.utils.LinkGenerator' @ urlPath=properties.linkURL}"></sly>
    <a data-sly-unwrap="${!image.link}"
       class="cmp-image--link ${cta.isVideo ? 'modal-youtube-video-player' : ''}"
       href="${cta.href}"
       data-title="${image.title || image.alt}" data-asset="${image.fileReference}">
            <img src="${image.src}"
                 alt="${image.alt || (image.displayPopupTitle && image.title) || true}"
                 title="${image.displayPopupTitle && image.title}"/>
    </a>


<sly data-sly-test="${!properties.isDecorative && properties.imageverticalPosition != 'align_bottom'}">
    <span class="cmp-image--title" data-sly-test="${properties.showCaptionAsHyperLink && image.title}"><a class="${cta.cssClass}" href="${linkURL}">${image.title}</a></span>
</sly>
<!--/*
<sly data-sly-test="${properties.isDecorative}">
    <span class="cmp-image--title" data-sly-test="${image.title}">${image.title}</span>
</sly> */-->


</div>
<sly data-sly-call="${templates.placeholder @ isEmpty = !image.src, classAppend = 'cq-dd-image'}"></sly>