<div data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-test="${image.src}"

     class="cq-dd-image ${properties.imagehorizontalPosition} ${properties.imageverticalPosition}">
    <sly data-sly-test="${properties.linkURL}" data-sly-use.cta="${'com.bmc.components.utils.LinkGenerator' @ urlPath=properties.linkURL}"></sly>
			 <sly data-sly-test="${cta.href}">
                    <sly data-sly-test.linkURL="${cta.href}"></sly>
             </sly>  
             <sly data-sly-test="${!cta.href}">
                 <sly data-sly-test.linkURL="${properties.linkURL}"></sly>
             </sly>

    <a data-sly-unwrap="${!image.link}"
       class="cmp-image--link ${cta.cssClass}"
       href="${linkURL}"
       data-title="${image.title || image.alt}" data-asset="${image.fileReference}">
            <img src="${image.fileReference}"
                 alt="${image.alt || (image.displayPopupTitle && image.title) || true}"
                 title="${image.displayPopupTitle && image.title}"/>
    </a>

<!-- WEB-6165 Replaces span with p for alignment issues -->
<sly data-sly-test="${!properties.isDecorative && properties.imageverticalPosition != 'align_bottom'}">
    <p class="cmp-image--title" data-sly-test="${properties.showCaptionAsHyperLink && image.title}"><a class="${cta.cssClass}" href="${linkURL}">${image.title}</a></p>
</sly>

<!--/* WEB-6661 fix for Image caption issue START */-->
<sly data-sly-test="${properties.isDecorative}">
    <p class="cmp-image--title" data-sly-test="${image.title}">${image.title}</p>
</sly> 
<!--/*  WEB-6661 fix for Image caption issue END  */-->


</div>
<sly data-sly-call="${templates.placeholder @ isEmpty = !image.src, classAppend = 'cq-dd-image'}"></sly>