<sly data-sly-test.authoringActive="${wcmmode.edit || wcmmode.design}"></sly>
<div class="row">
    <div class="two-up">
        <div class="cmp cmp-title aem-GridColumn aem-GridColumn--default--12">
            <h3>${properties.goodForHeading}</h3>
        </div>
        <div class="cmp cmp-text aem-GridColumn aem-GridColumn--default--12">
            <p>${pageProperties['education-specific-role']}</p>
        </div>
    </div>
    <div class="two-up">
        <div class="cmp cmp-title aem-GridColumn aem-GridColumn--default--12">
            <h3>${properties.prerequisitesHeading}</h3>
        </div>
        <div class="cmp cmp-text aem-GridColumn aem-GridColumn--default--12">
            <p></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="two-up">
        <div class="cmp cmp-title aem-GridColumn aem-GridColumn--default--4">
            <h3>${properties.releaseHeading}</h3>
        </div>
        <div class="cmp cmp-text aem-GridColumn aem-GridColumn--default--4">
            <p>${pageProperties['education-products']}</p>
        </div>
    </div>
    <div class="two-up">
        <div class="cmp cmp-title aem-GridColumn aem-GridColumn--default--3">
            <h3>${properties.courseDeliveryHeading}</h3>
        </div>
        <div class="cmp cmp-text aem-GridColumn aem-GridColumn--default--3">
            <p></p>
        </div>
    </div>
</div>
