<a class="tile" *ngIf="widget.routerLink && !widget.personalized" [href]="widget.href" target="_blank" (click)="sendTileClicks(widget.title)">
    <div class="tile-left"></div>
    <div class="tile-body">
      <div class="tile-right">
        <span [ngClass]="widget.icon"></span>
      </div>
      <div class="tile-center">
        <h3>{{widget.title}}</h3>
        <div>{{widget.description}}</div>
      </div>
    </div>
    <a class="tile-arrow" [routerLink]=[widget.routerLink] (click)="checkExtended($event)">
      <span *ngIf="!widget.isExtended" class="psc-icon-personalization"></span>
      <span *ngIf="widget.isExtended" class="d-icon-undo"></span>
    </a>
</a>
<a class="tile no-extend" [href]="widget.href" *ngIf="!widget.routerLink" target="_blank" (click)="sendTileClicks(widget.title)">
  <div class="tile-left"></div>
  <div class="tile-body">
    <div class="tile-right">
      <span [ngClass]="widget.icon"></span>
    </div>
    <div class="tile-center">
      <h3>{{widget.title}}</h3>
      <div>{{widget.description}}</div>
    </div>
  </div>
</a>
<a class="tile" [routerLink]=[widget.routerLink] (click)="checkExtended($event)" [ngClass]="{'no-extend': !widget.isExtended}" *ngIf="widget.routerLink && widget.personalized" (click)="sendTileClicks(widget.title)">
  <div class="tile-left"></div>
  <div class="tile-body">
    <div class="tile-right">
      <span [ngClass]="widget.icon"></span>
    </div>
    <div class="tile-center">
      <h3>{{widget.title}}</h3>
      <div>{{widget.description}}</div>
    </div>
  </div>
  <a class="tile-arrow" *ngIf="widget.isExtended" (click)="checkExtended($event)">
    <span *ngIf="widget.isExtended" class="d-icon-undo"></span>
  </a>
</a>

