.tile {
    & {
     position:relative;
     cursor: pointer;
     color: #313538;
     text-decoration: none;
     display: flex;
     border-radius: 5px;
     box-shadow: 0 3px 4px rgba(0,0,0,.14), 0 9px 10px rgba(0,0,0,.06);
     min-height: 77px;
    } 
    .tile-left {
         background-color: #4E5154;
         width: 3%;
         border-radius: 5px 0 0 5px;
    }
    .tile-center {
        & {
            width: 67%;
            font-size: 12px;
        }
        h3 {
         font-weight: normal;
         margin-top: 15px;
         margin-bottom: 5px;
        }
    }
    .tile-right{
        & {
            // width: 11%; //1-st variant
            width: 15%; //2-nd
            display: flex;
            justify-content: space-around;
            padding-top: 9px;
        }
        span {
            //  font-size: 20px;// 1st-variant
             font-size: 34px; //2-nd
             color:  #f86e00;
        }
    }
    .tile-arrow {
        & {
            position: absolute;
            // bottom: 10px; //1-st variant
            // right: 10px;// 1-st variant
            // height: 45px;
            // width: 45px;
            // border-radius: 25px; //1-st variant
            min-height: 77px; // 2-nd variant
            width: 60px; // 2-nd variant
            right: 0; // 2-nd variant
            font-size: 14px;
            // box-shadow: 0 3px 4px rgba(0, 0, 0, 0.14), 0 9px 10px rgba(0, 0, 0, 0.06);
            // background-color: #f86e00; //1-st variant
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        span {
            font-size: 25px;
            color:#00A79D; //2-nd variant
            // color: white;
        }
    }
 }