<section class="support-section-container layout-full-bleed support-search">
    <div class="layout-inner-wrap">
        <div class="support-search-top">
            <h2 class="support-search-header">Search BMC Support</h2>
            <fieldset>
                <label for="supprt-search-input" class="accessibility">Search BMC Support</label>
                <div id="supprt-search-input">
                    <span class="CoveoAnalytics" data-search-hub="PortalSearch"></span>
                    <div class="CoveoSearchbox" data-enable-omnibox="true" data-enable-query-syntax="false" data-enable-partial-match="true" data-partial-match-keywords="4" data-partial-match-threshold="50%" id="searchbox" placeholder="Search BMC Support"></div>
                    <div class="CoveoAnalyticsSuggestions"></div>
                    <div class="CoveoFacet" data-field="@bmcproductname" data-include-in-omnibox="true" data-tab="All,Cases,KB,Confluence,bmccom,documents,Communities, APTS" data-title="Product Name"></div>
                </div>

            </fieldset>
            <a target="_blank" class="contextual-tooltip" title="Help" href="/support/support-guide-advanced-product-info.html#Search-the-Knowledge-Base">?</a>
        </div>
        <div class="support-search-areas icon-point-list">

            <a href="/support/issue-management/issue-defect-management.html" class="icon-point-list-item">
                <div class="icon-point-list-icon"><img src="http://media.cms.bmc.com/images/icon-support-issues.png"></div>
                <h3>Manage Your Cases</h3>
                <p>Submit cases and track progress</p>
            </a>

            <a href="https://docs.bmc.com/docs/dashboard.action" class="icon-point-list-item">
                <div class="icon-point-list-icon"><img src="http://media.cms.bmc.com/images/icon-support-documentation.png"></div>
                <h3>Read Documentation</h3>
                <p>Access user guides, knowledge base articles, and more.</p>
            </a>

            <a href="/available/epd.html" class="icon-point-list-item">
                <div class="icon-point-list-icon"><img src="http://media.cms.bmc.com/images/icon-support-updates.png"></div>
                <h3>Product Downloads</h3>
                <p>Find the latest product downloads, patches, and installation tools.</p>
            </a>

            <a href="https://communities.bmc.com/welcome" class="icon-point-list-item">
                <div class="icon-point-list-icon"><img src="http://media.cms.bmc.com/images/icon-support-community.png"></div>
                <h3>Ask the Community</h3>
                <p>Share insights, solve problems, and exchange ideas with your peers.</p>
            </a>

            <a href="/available/supported-product-az-list.html" class="icon-point-list-item">
                <div class="icon-point-list-icon"><img src="http://media.cms.bmc.com/images/icon-support-a-z.png"></div>
                <h3>Supported Products</h3>
                <p>Find product support status, lifecycle dates, and migration options.</p>
            </a>

            <a href="https://customerapps.bmc.com/spac/o/welcome.html" class="icon-point-list-item">
                <div class="icon-point-list-icon"><img src="http://media.cms.bmc.com/images/spac_icon_2.png"></div>
                <h3>Product Compatibility</h3>
                <p>Check if your products are supported on specific platforms and databases.</p>
            </a>

            <a href="/education/training-and-certification.html" class="icon-point-list-item">
                <div class="icon-point-list-icon"><img src="http://media.cms.bmc.com/images/icon-support-training.png"></div>
                <h3>Get Training</h3>
                <p>Choose among role-specific training and certification classes.</p>
            </a>

            <a href="/contacts-locations/support-contacts.html" class="icon-point-list-item">
                <div class="icon-point-list-icon"><img src="http://media.cms.bmc.com/images/icon-support-contact.png"></div>
                <h3>Contact Support</h3>
                <p>Worldwide phone numbers, email addresses, and hours of operation.</p>
            </a>

        </div>
    </div>
</section>
