    <footer class="layout-footer">
        <!-- TODO: componentize this navigation to allow authoring -->
        <nav class="layout-inner-wrap">
            <ul class="nav-tertiary">
                <li class="nav-tertiary-col">
                    <h4>Company</h4>
                    <ul class="meta">
                        <li><a href="http://www.bmc.com/corporate/about-bmc-software.html" target="_self">About BMC</a></li>
                        <li><a href="http://www.bmc.com/news/" target="_self">News</a></li>
                        <li><a href="http://www.bmc.com/careers/careers.html" target="_self">Careers</a></li>
                        <li><a href="http://www.bmc.com/events/" target="_self">Events</a></li>
                        <li><a href="http://bmc.qualtrics.com/SE/?SID=SV_eEwTGbSiP9f9xzv" target="_blank">Feedback</a></li>
                        <li><a href="http://www.bmc.com/contacts-locations/worldwide.html" target="_self" class="icon-global">Select Region</a></li>
                    </ul>
                </li>
                <li class="nav-tertiary-col">
                    <h4>Support</h4>
                    <ul class="meta">
                        <li><a href="http://www.bmc.com/support/support-central.html" target="_self">Support Central</a></li>
                        <li><a href="http://docs.bmc.com/" target="_self">Documentation</a></li>
                        <li><a href="http://www.bmc.com/available/search-kb.html" target="_self">Knowledge Base</a></li>
                        <li><a href="http://www.bmc.com/available/epd.html" target="_self">Downloads</a></li>
                    </ul>
                </li>
                <li class="nav-tertiary-col">
                    <h4>Social</h4>
                    <ul class="nav-social meta">

                        <li><a class="social-communities" href="https://communities.bmc.com/welcome" target="_blank">Communities</a></li>
                        <li><a class="social-blogs nav-blog" href="http://www.bmc.com/blogs/" target="_blank">BMC Blogs</a></li>
                        <li><a class="social-facebook" href="https://www.facebook.com/bmcsoftware" target="_blank">Facebook</a></li>
                        <li><a class="social-twitter" href="https://twitter.com/bmcsoftware/" target="_blank">Twitter</a></li>
                        <li><a class="social-youtube" href="http://www.youtube.com/user/BMCSoftwareBMCtv" target="_blank">YouTube</a></li>
                        <li><a class="social-linkedin" href="http://www.linkedin.com/company/1597" target="_blank">LinkedIn</a></li>
                    </ul>
                </li>
                <li class="nav-tertiary-col">
                    <h4>Search BMC</h4>
                    <ul class="nav-supplemental meta">
                        <li>
                            <fieldset>
                                <div class="search-input-m-glass">
                                    <input type="text" class="search-input-m-glass" placeholder="Search">
                                    <button></button>
                                </div>
                            </fieldset>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>

        <div class="layout-inner-wrap">
            <div class="footer-logo">
                <a href="/">BMC</a>
            </div>
            <div class="legal-copyright">
                <ul class="nav-footer-link-list">
                    <li><a href="#?">Contact Us</a></li>
                    <li><a href="http://www.bmc.com/it-solutions/free-product-trials.html">Free Trials</a></li>
                    <li><a href="http://www.bmc.com/legal/legal-index.html">Legal</a></li>
                    <li><a href="http://www.bmc.com/corporate/bmc-security.html">Application Security</a></li>
                    <li><a href="http://www.bmc.com/forms/BMCPreferenceCenter_EN_V2.html">Manage Email Preference</a></li>
                    <li><a href="http://info.evidon.com/pub_info/2744?v=1&nt=0&nw=false" class="icon-evidon">Manage Cookies</a></li>
                </ul>
                &copy; Copyright 2005-2014 BMC Software, Inc.
            </div>
        </div>
    </footer>

    </section><!-- / layout-wrapper -->
    <sly data-sly-use.clientlib="../page/customheaderlibs.html" />

    </body>
</html>
