<section class="layout-full-bleed support-account-container"
data-sly-use.support="com.bmc.components.SupportCentral">
    <div class="account-actions-wrapper acccount-user-wrapper">
        <div class="layout-inner-wrap">
            <sly data-sly-test.loggedIn="${support.isLoggedIn}">
            <ul class="account-user">
                <li class="welcome"><span>Welcome ${support.userInfo.first_name} ${support.userInfo.last_name}</span></li>
            </ul>
            </sly>
            <ul class="account-actions">
                <sly data-sly-test="${loggedIn}">
                <li class="action"><a href="/available/manage-support-ids.html">Manage Support ID's</a></li>
                <li class="action"><a href="/available/edit-profile.html?c=n">Edit Profile</a></li>
                <li class="action"><a href="/available/ssologout.html">Logout</a></li>
                </sly>
                <sly data-sly-test="${!loggedIn}">
                <li class="action"><a href="/available/support-login.html">Login</a></li>
                <li class="action"><a href="/available/register-now.html?c=n">Register</a></li>
                </sly>
                <li class="action"><a class="alerts icon-caution js-fancyDialog" href="#">Alerts</a></li>
            </ul>
        </div>
    </div>
    <sly data-sly-test="${loggedIn}">
    <div class="account-details-wrapper">
        <div class="layout-inner-wrap">
            <ul class="action-details support-hide-while-loading list-piped">
                <li class="action-detail-group action-piped">
                    <a class="action" href="#">Open Cases</a>
                </li>
                <li class="action-detail-group">
                    <a class="action" href="/available/view-update-issues.html">Historic Cases</a>
                </li>
                <li class="action-detail-group">
                    <div class="support-recent-issues-buttons">
                        <a href="/available/submit-new-issue.html" class="btn btn-small js-support-issues-new">Submit New Issue</a>
                        <a href="#" class="btn btn-secondary btn-small">View All Issues</a>
                    </div>
                </li>
            </ul>
            <div class="js-account-details-loading">
                Loading...
            </div>
            <section class="support-section-container account-error js-account-error">
            </section>
        </div>
    </div>
    </sly>
</section>
