<section>
    <div id="industry-tabs" class="${wcmmode.edit ? 'industry-tabs--editing industry-tabs bg-corduroy' : 'industry-tabs bg-corduroy'} ">
        <h2 class="section-title m0 p3 text-center white">Business drivers behind Financial Services IT</h2>
        <ul class="tabs-nav -hr bg-corduroy center-block overflow-auto flex-table" style="max-width:1200px;">
            <li class="flex-cell">
                <a class="p2 white bold no-scroll" href="#tab-1">Tab 1</a>
            </li>
            <li class="bg-sirocco" style="width:1px"></li>
            <li class="flex-cell">
                <a class="p2 white bold no-scroll" href="#tab-2">Tab 2</a>
            </li>
            <li class="bg-sirocco" style="width:1px"></li>
            <li class="flex-cell">
                <a class="p2 white bold no-scroll" href="#tab-3">Tab 3</a>
            </li>
            <li class="bg-sirocco" style="width:1px"></li>
            <li class="flex-cell">
                <a class="p2 white bold no-scroll" href="#tab-4">Tab 4</a>
            </li>
            <li class="bg-sirocco" style="width:1px"></li>
            <li class="flex-cell">
                <a class="p2 white bold no-scroll" href="#tab-5">Tab 5</a>
            </li>
            <li class="bg-sirocco" style="width:1px"></li>
            <li class="flex-cell">
                <a class="p2 white bold no-scroll" href="#tab-6">Tab 6</a>
            </li>
        </ul>

        <div id="tab-1" class="section bg-seashell">
            <div class="section-content md-flex p3">

                tab 1

                <!-- example from http://ui.connectivedx.com/content/BMC-patternLib/pattern-library-navigation.php#full-width-tab
                <div class="flex-item tab-module-image">
                    <img src="http://media.cms.bmc.com/images/financial-tab-1.png" alt="Mobile phone and app infographic">
                </div>

                <div class="flex-item tab-module-support">
                    <p class="lead -lg">
                        <b>With customer satisfaction below 40%</b>, banks are gearing up to leverage the vast amount of data available to them to learn more about their customers.
                    </p>
                    <h3 class="h4">Situation:</h3>
                    <p>Firms are eager to make good use of all the data they've collected about customers and their transactions.  Securely managing that data to provide a more meaningful, context-aware experience for customers is challenging for many IT organizations.</p>
                    <h3 class="h4">IT challenges:</h3>
                    <ul>
                        <li>Effectively manage big data environments such as Hadoop</li>
                        <li>Simplify batch processing</li>
                    </ul>
                    <h3 class="h4 medium-orange">Solutions for data-driven customer interaction:</h3>
                    <ul class="plain col-12 sm-col-6">
                        <li><a href="http://bmc.com/it-solutions/big-data.html">Big Data&nbsp;&#8250;</a></li>
                        <li><a href="http://bmc.com/it-solutions/workload-automation.html">Workload Automation&nbsp;&#8250;</a></li>
                    </ul>
                </div>
                -->
            </div>
        </div>
        <div id="tab-2" class="section bg-seashell">
            <div class="section-content md-flex p3">
                tab 2
            </div>
        </div>
        <div id="tab-3" class="section bg-seashell">
            <div class="section-content md-flex p3">
                tab 3
            </div>
        </div>
        <div id="tab-4" class="section bg-seashell">
            <div class="section-content md-flex p3">
                tab 4
            </div>
        </div>
        <div id="tab-5" class="section bg-seashell">
            <div class="section-content md-flex p3">
                tab 5
            </div>
        </div>
        <div id="tab-6" class="section bg-seashell">
            <div class="section-content md-flex p3">
                tab 6
            </div>
        </div>
    </div>
</section>