<sly data-sly-use.BgImgChildProps="${'com.bmc.components.utils.CompChildNodeProps' @ childNode='bg'}" />
<sly data-sly-test.bgImg="${BgImgChildProps.ChildProperties['fileReference']}" />
<sly data-sly-test.fgImg="${bgImg @ context='uri'}" />
<section
	class="wallpapered bar full-bleed-page-banner product-category-header padding-bottom-0"
	data-wallpaper-options='{"source":"${fgImg}"}'>
	<div class="offset-wrapper flex-center">
		<div class="inner">
			<div class="bannerContent">
				<div class="inner">
					<h1 class="white">${properties.title @ context='html', i18n}</h1>
					<h2 data-sly-test="${properties.subTitle}">${properties.subTitle @ context='html', i18n}</h2>
					<div class="text-center" data-sly-test="${properties.ctaButtonText}">
						<a
							data-sly-use.cta="${'com.bmc.components.utils.GetLinkInfo' @ text='ctaButtonText', urlOrPath='ctaButtonURL'}"
							data-sly-test="${cta.text}"
							class="${cta.cssClass} ${properties.ctaButtonColor} ${cta.isVideo ? 'video-play' : 'learn-more'}"
							href="${cta.href}" data-location="Top-CTA-Button-Area">${cta.text @ context='html', i18n}</a>
					</div>
				</div>
			</div>
			
			<sly data-sly-use.HeaderSolutions="com.bmc.components.HeaderSolutions" />
			<!--/* AssetBar classes based on number of assets */-->
			<sly data-sly-test="${HeaderSolutions.assetBars.size == 1}">
			    <sly data-sly-test.assetClass="sm-col-6"></sly>
			</sly>
			<sly data-sly-test="${HeaderSolutions.assetBars.size == 2}">
			    <sly data-sly-test.assetClass="sm-col-5"></sly>
			</sly>
			<sly data-sly-test="${HeaderSolutions.assetBars.size == 3}">
			    <sly data-sly-test.assetClass="sm-col-4"></sly>
			</sly>

			<div class="assetStrip" data-sly-test="${HeaderSolutions.assetBars}">
				<div class="inner">
					<div class="sm-flex flex-justify-center contentContainer">
						<sly data-sly-list.assetBar="${HeaderSolutions.assetBars}"> 
                        <sly data-sly-use.assetLink="${'com.bmc.components.utils.LinkGenerator' @ urlPath= assetBar.ctaPath}"></sly>

                        <sly data-sly-test="${assetLink.href}">

                            <sly data-sly-test.assetResolvedLink="${assetLink.href}"></sly>
                        </sly>
                        
                        <sly data-sly-test="${!assetLink.href}">

                            <sly data-sly-test.assetResolvedLink="${assetBar.ctaPath}"></sly>
                        </sly>
                        
                        <sly data-sly-test="${assetLink.cssClass}">
                            <sly data-sly-test.assetCssClass="${assetLink.cssClass}"></sly>
                        </sly>
                        
                        <sly data-sly-test="${!assetLink.cssClass}">
                            <sly data-sly-test.assetCssClass=" "></sly>
                        </sly>


                        <a
							href="${assetResolvedLink}"
                            class="flex-item ${assetClass} ${assetCssClass} shadow-top assetStripItem">
							<div class="inner assetTxt">
								<div class="flex-center">
									<img src="${assetBar.iconImagePath}" alt="">
									<div class="inner">
										<h5>${assetBar.assetType  @ context='html', i18n}:</h5>
										<p>${assetBar.assetTitle  @ context='html', i18n}</p>
										<p class="link">${assetBar.ctaText  @ context='html', i18n}&nbsp;&#8250;</p>
									</div>
								</div>
							</div>
						</a> 
						</sly>
					</div>
				</div>
			</div>
</section>
<section data-sly-test="${properties.orangeBarText || properties.orangeBarCtaText}" 
	class="layout-full-bleed support-promo bg-mediumOrange product-category-promo">
<sly data-sly-use.orangeBarCta="${'com.bmc.components.utils.GetLinkInfo' @ text = 'orangeBarCtaText', urlOrPath = 'orangeBarCtaURL'}"></sly>

	<p class="align-center white promo-content">
		${properties.orangeBarText} <a class="learn-more white ${orangeBarCta.cssClass}"
			href="${orangeBarCta.href}" ><span>${orangeBarCta.text}</span></a>
	</p>
</section>
