<fieldset data-sly-use.api="com.day.cq.wcm.foundation.model.responsivegrid.ResponsiveGrid"
          data-sly-use.allowed="com.day.cq.wcm.foundation.AllowedComponentList"
          class="${api.cssClass} ${allowed.cssClass}">
        <sly data-sly-test.isAllowedApplicable="${allowed.isApplicable}"
             data-sly-test="${isAllowedApplicable}"
             data-sly-use.allowedTemplate="/libs/wcm/foundation/components/parsys/allowedcomponents/allowedcomponents-tpl.html"
             data-sly-call="${allowedTemplate.allowedcomponents @ title=allowed.title, components=allowed.components}"></sly>
        <sly data-sly-test="${!isAllowedApplicable}"
             data-sly-repeat.child="${api.paragraphs}"
             data-sly-resource="${child.path @ resourceType=child.resourceType, decoration='true', cssClassName=child.cssClass}"></sly>
        <sly data-sly-test="${!isAllowedApplicable && wcmmode.edit}"
             data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/responsivegrid/new', decorationTagName='div', appendPath='/*', cssClassName='new section aem-Grid-newComponent'}" />
        <sly data-sly-use.fieldSetModel="com.bmc.models.components.forms.FieldSetModel" />		
        <!--/* WEB-3634 Added a GDPR_Eligible fieldset for all GDPR enabled countries */-->
        <input type="hidden" id="GDPR_Eligible" name="GDPR_Eligible" value="No" />
        <sly data-sly-test="${fieldSetModel.displayOptIn}">
                <div class="cmp cmp-options aem-GridColumn aem-GridColumn--default--12">
                        <div class="form-group checkbox">
                                <label for="C_OptIn"></label>
                                <ol id="C_OptIn_group">
                                        <li>
                                                <input name="C_OptIn" id="C_OptIn" value="Yes" type="checkbox" checked="checked">
                                                <label for="C_OptIn">
                                                        I would like to receive marketing communications regarding BMC products, services, and events. I can unsubscribe at a later time.
                                                         <!--/* WEB-5304 Forms Redesign - Added an HR tag to display optional/nonoptional grouping START */-->
                                                         <span class="dynamic-optional-text optional-text" style="display:none;"> (optional)</span> 
                                                          <!--/* WEB-5304 Forms Redesign - Added an HR tag to display optional/nonoptional grouping END */-->
                                                </label>
                                        </li>
                                </ol>
                        </div>
                </div>
        </sly>
 <!--/* WEB-5304 Forms Redesign - Added an HR tag to display optional/nonoptional grouping START */-->
<div class="dynamic-hr horizontal-Tag aem-GridColumn aem-GridColumn--default--12" style="display:none;"><hr class="field-sep"></div>
<!--/* WEB-5304 Forms Redesign - Added an HR tag to display optional/nonoptional grouping END */-->    
		 <sly data-sly-use.fieldSetModel="com.bmc.models.components.forms.FieldSetModel" />
        <sly data-sly-test="${fieldSetModel.isTrialForm}">
                <div class="cmp cmp-options aem-GridColumn aem-GridColumn--default--12">
                        <div class="form-group checkbox">
                                <label for="licenseAgreement"></label>
                                <ol id="licenseAgreement_group">
                                        <li>
                                                <input name="licenseAgreement" id="licenseAgreement" value="on" required="true" type="checkbox">
                                                <label for="licenseAgreement">
                                                        <!--/* ${fieldSetModel.pactSafeAgreementCopy @ i18n} */-->
                                                        ${fieldSetModel.pactSafeAgreementCopy @context='unsafe'}
                                                </label>
                                        </li>
                                </ol>
                        </div>
                </div>
        </sly>
</fieldset>