<fieldset data-sly-use.api="com.day.cq.wcm.foundation.model.responsivegrid.ResponsiveGrid"
          data-sly-use.allowed="com.day.cq.wcm.foundation.AllowedComponentList"
          class="${api.cssClass} ${allowed.cssClass}">
        <sly data-sly-test.isAllowedApplicable="${allowed.isApplicable}"
             data-sly-test="${isAllowedApplicable}"
             data-sly-use.allowedTemplate="/libs/wcm/foundation/components/parsys/allowedcomponents/allowedcomponents-tpl.html"
             data-sly-call="${allowedTemplate.allowedcomponents @ title=allowed.title, components=allowed.components}"></sly>
        <sly data-sly-test="${!isAllowedApplicable}"
             data-sly-repeat.child="${api.paragraphs}"
             data-sly-resource="${child.path @ resourceType=child.resourceType, decoration='true', cssClassName=child.cssClass}"></sly>
        <sly data-sly-test="${!isAllowedApplicable && wcmmode.edit}"
             data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/responsivegrid/new', decorationTagName='div', appendPath='/*', cssClassName='new section aem-Grid-newComponent'}" />
        <!--/* WEB_2690 PactSafe Agreement fields addition --START */-->
        <sly data-sly-use.fieldSetModel="com.bmc.models.components.forms.FieldSetModel" />
        <sly data-sly-test="${fieldSetModel.isTrialForm}">
                <div class="cmp cmp-options">
                        <div class="form-group checkbox">
                                <label for="licenseAgreement1"></label>
                                <ol id="licenseAgreement1_group">
                                        <li>
                                                <input name="licenseAgreement1" id="licenseAgreement1" value="on" required="true" type="checkbox">
                                                <label for="licenseAgreement1">
                                                         ${fieldSetModel.pactSafeAgreementCopy @ i18n} <a href="https://www.google.com/" target="_blank">Trial Agreement</a>.
                                                        <!--/* ${class.myVar @ i18n} */-->
                                                </label>
                                        </li>

                                </ol>
                        </div>
                </div>

        </sly>
        <!--/* WEB_2690 PactSafe Agreement fields addition --END */-->
</fieldset>