<blockquote class="testimonial divider">
    <div class="layout-inner-wrap">
        <p>
            ${properties.quote}
        </p>
        <cite>
            — ${properties.citation}
        </cite>

        <sly data-sly-test="${properties.sourcelinktext}">
            <h5><a href="${properties.sourcelinkeurl}" data-sly-unwrap="${!properties.sourcelinkeurl}">${properties.sourcelinktext}</a></h5>
        </sly>

        <section data-sly-test="${properties.ctatext}">
            <a class="btn-white learn-more" href="${properties.ctaurl}">${properties.ctatext}</a>
        </section>
    </div>
</blockquote>
