<!--/* WEB-8367 Added Image field & Updated new html markup  */-->
<section class="landingPage-product-list" data-sly-use.productSet="com.bmc.components.ProductCards">
	<div class=" layout-inner-wrap" id="product-list">
		<h2 class="h2-variation-1">${properties.title @ context='html'}</h2>
		<div class="flex-wrap flex-justify-center mb2">
			<sly data-sly-test.assetClass="col col-12 sm-col-12 md-col-6 lg-col-3"></sly>
			<sly data-sly-test="${properties.numberOfCards == '3'}">
				<sly data-sly-test.assetClass="sm-col sm-col-12 md-col-4"></sly>
			</sly>
			<sly data-sly-test="${properties.numberOfCards == '4'}">
				<sly data-sly-test.assetClass="col col-12 sm-col-12 md-col-6 lg-col-3"></sly>
			</sly>
			<!--/*  Iterate through the cards  */-->
			<sly data-sly-list.card="${productSet.productCards}">
				<div class="flex flex-item ${assetClass}">
					<sly data-sly-use.productLink="${'com.bmc.components.utils.LinkGenerator' @ urlPath=card.pagePath}"></sly>
					<sly data-sly-test="${productLink.href}">
						<sly data-sly-test.resolvedLink="${productLink.href}"></sly>
					</sly>
					<sly data-sly-test="${!productLink.href}">
						<sly data-sly-test.resolvedLink="${card.pagePath}"></sly>
					</sly>
					<a class="guttor-width" href="${resolvedLink}">
						<div class="card bg-white">
							<div class="card-header">
								<img alt="" src="${card.imagePath}">
							</div>
							<div class="card-content">
								<hr>
								<h2>${card.title  @ context='html'}</h2>
								<p>${card.description  @ context='html'}</p>
							</div>
							<div class="card-footer">
								<span class="learn-more">${'Learn more' @ i18n}</span>
							</div>
						</div>
					</a>
				</div>
			</sly>
		</div>
	</div>
</section>