<section class="resources" id="resources">
    <div class="layout-inner-wrap">
        <h2 class="resources-header">Resources</h2>
        <div class="three-up">
            <h2 class="icon-read">Read</h2>
            <h5>Datasheets:</h5>
            <ul></ul>
            <h5>White papers:</h5>
            <ul></ul>
            <h5>Analyst research:</h5>
            <ul></ul>
            <h5>E-books:</h5>
            <ul></ul>
            <h5>Column 1 Open Text Field:</h5>
            <ul></ul>
        </div>
        <div class="three-up">
            <h2 class="icon-watch">Experience</h2>
            <h5>On-demand demos:</h5>
            <ul></ul>
            <h5>Webinars:</h5>
            <ul></ul>
            <h5>Videos:</h5>
            <ul></ul>
            <h5>Customer stories:</h5>
            <ul></ul>
            <h5>Column 2 Open Text Field:</h5>
            <ul></ul>
        </div>
        <div class="three-up">
            <h2 class="icon-explore">Explore</h2>
            <h5>Technical details:</h5>
            <ul></ul>
            <h5>Customer enablement:</h5>
            <ul></ul>
            <h5>Related products and solutions:</h5>
            <ul></ul>
            <h5>Column 3 Open Text Field:</h5>
            <ul></ul>
        </div>
    </div>
    <p class="text-center">
        <a class="btn" href="#" target="_self">Call to action button to link to an OfferingResources item &nbsp;›</a>
    </p>
</section>