<section class="resources" id="resources" data-sly-use.data="com.bmc.components.ResourcesList">
    <div class="layout-inner-wrap">
        <h2 class="resources-header">Resources</h2>
        <div class="three-up">
            <h2 class="icon-read">Read</h2>
            <sly data-sly-list.section="${data.readResources}">
                <h5>${section.header @ context='html'}:</h5>
                <ul data-sly-list.link="${section.links}">
					 <sly data-sly-use.assetLink="${'com.bmc.components.utils.LinkGenerator' @ urlPath=link.pagePath}"></sly>
				     <sly data-sly-test="${assetLink.href}">
				          <sly data-sly-test.resolvedLink="${assetLink.href}"></sly>
					 </sly>
					 <sly data-sly-test="${!assetLink.href}">
						 <sly data-sly-test.resolvedLink="${link.pagePath}"></sly>
					 </sly>
                    <li>
                        <a class="${assetLink.cssClass}" href="${resolvedLink}">
                            ${link.title @ context='html'} &nbsp;&#8250;
                        </a>
                    </li>
                </ul>
            </sly>
        </div>
        <div class="three-up">
            <h2 class="icon-watch">Experience</h2>
            <sly data-sly-list.section="${data.experienceResources}">
                <h5>${section.header @ context='html'}:</h5>
                <ul data-sly-list.link="${section.links}">
					 <sly data-sly-use.assetLink="${'com.bmc.components.utils.LinkGenerator' @ urlPath=link.pagePath}"></sly>
				     <sly data-sly-test="${assetLink.href}">
				          <sly data-sly-test.resolvedLink="${assetLink.href}"></sly>
					 </sly>
					 <sly data-sly-test="${!assetLink.href}">
						 <sly data-sly-test.resolvedLink="${link.pagePath}"></sly>
					 </sly>
                    <li>
                        <a class="${assetLink.cssClass}" href="${resolvedLink}">
                            ${link.title @ context='html'} &nbsp;&#8250;
                        </a>
                    </li>
                </ul>
            </sly>
        </div>
        <div class="three-up">
            <h2 class="icon-explore">Explore</h2>
            <sly data-sly-list.section="${data.exploreResources}">
                <h5>${section.header @ context='html'}:</h5>
                <ul data-sly-list.link="${section.links}">
					 <sly data-sly-use.assetLink="${'com.bmc.components.utils.LinkGenerator' @ urlPath=link.pagePath}"></sly>
				     <sly data-sly-test="${assetLink.href}">
				          <sly data-sly-test.resolvedLink="${assetLink.href}"></sly>
					 </sly>
					 <sly data-sly-test="${!assetLink.href}">
						 <sly data-sly-test.resolvedLink="${link.pagePath}"></sly>
					 </sly>
                    <li>
                        <a class="${assetLink.cssClass}" href="${resolvedLink}">
                            ${link.title @ context='html'} &nbsp;&#8250;
                        </a>
                    </li>
                </ul>
            </sly>
        </div>
    </div>
    <p data-sly-test="${data.cta.text && data.cta.href}" class="text-center">
        <a class="btn ${data.cta.cssClass}" href="${data.cta.href}">${data.cta.text @ context='html'} &nbsp;›</a>
    </p>
</section>
