<section class="resources" id="resources">
    <div class="layout-inner-wrap">
        <h2 class="resources-header">Resources</h2>
        <div class="three-up">
            <h2 class="icon-read">Read</h2>
            <sly data-sly-test.ReadResources="${properties.readResources}" data-sly-list="${ReadResources}">
                <sly data-sly-use.itemnode="${'logic.js' @ fieldValue=item}">
                    <h5>${itemnode.listJson.resType != 'custom' ? itemnode.listJson.resType : itemnode.listJson.resCustomHeader}:</h5>
                    <ul data-sly-repeat.child="${itemnode.listJson.resItems}">
                        <a  href="${child.resPath @ extension='html'}"  target="_self">
                            ${child.resText @ context='html'} &nbsp;&#8250;
                        </a>
                    </ul>
                </sly>
            </sly>
        </div>
        <div class="three-up">
            <h2 class="icon-watch">Experience</h2>
            <sly data-sly-test.ExperienceResources="${properties.experienceResources}" data-sly-list="${ExperienceResources}">
                <sly data-sly-use.itemnode="${'logic.js' @ fieldValue=item}">
                    <h5>${itemnode.listJson.resType != 'custom' ? itemnode.listJson.resType : itemnode.listJson.resCustomHeader}:</h5>
                    <ul data-sly-repeat.child="${itemnode.listJson.resItems}">
                        <a  href="${child.resPath @ extension='html'}"  target="_self">
                            ${child.resText @ context='html'} &nbsp;&#8250;
                        </a>
                    </ul>
                </sly>
            </sly>
        </div>
        <div class="three-up">
            <h2 class="icon-explore">Explore</h2>
            <sly data-sly-test.ExploreResources="${properties.exploreResources}" data-sly-list="${ExploreResources}">
                <sly data-sly-use.itemnode="${'logic.js' @ fieldValue=item}">
                    <h5>${itemnode.listJson.resType != 'custom' ? itemnode.listJson.resType : itemnode.listJson.resCustomHeader}:</h5>
                    <ul data-sly-repeat.child="${itemnode.listJson.resItems}">
                        <a  href="${child.resPath @ extension='html'}"  target="_self">
                            ${child.resText @ context='html'} &nbsp;&#8250;
                        </a>
                    </ul>
                </sly>
            </sly>
        </div>
    </div>
    <p data-sly-test="${properties.ctaText && properties.ctaPath}" class="text-center">
        <a class="btn" href="${properties.ctaPath @ extension='html'}" target="_self">${properties.ctaText @ context='html'} &nbsp;›</a>
    </p>
</section>