<section class="support-section-container support-loading-issues layout-full-bleed js-loading-issues-container">
    <center>Loading Cases</center>
</section>
<section class="support-section-container layout-full-bleed support-recent-issues support-hide-while-loading js-issues-container">
    <div class="layout-inner-wrap">
        <div class="table-wrapper js-issue-table-wrapper">
            <table>
                <thead>
                <tr>
                    <th>Case Number</th>
                    <th>Subject</th>
                    <th>Product</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Status</th>
                    <th>Submitter</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section class="support-section-container layout-full-bleed support-no-issues support-hide-while-loading js-no-issues-container">
    <div class="layout-inner-wrap">
        <p>You don't have any open Cases.</p>
        <div>
            <a href="${support.newCaseUrl}" class="btn js-support-issues-new">Submit New Case</a>
            <a href="${support.allCasesUrl}" class="btn btn-secondary">View All Cases</a>
        </div>
    </div>
</section>
<div class="layout-full-bleed support-section-divider above-support-section-container">
    <div class="layout-inner-wrap"></div>
</div>
