/**
 * Header
 */
.header {
  @extend %clearfix;
  @include fixed($left: $sidebar-width, $top: 0, $right: 0);
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  padding: 1em 0;
  background: $primary-color;
  color: $light-grey;
  z-index: z('dropdown');

  @include media-to('small') {
	left: 0;
  }

  @include media-to('medium') {
	transition: .2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

/**
 * Main title
 */
.header__title {
  font-weight: 500;
  text-align: center;
  margin: 0 0 0.5em 0;

  a {
    color: $light-grey;
  }

  @include media-to('medium') {
    float: left;
    font-size: 1em;
    margin-top: .25em;
    margin-bottom: 0;
  }
}
