<section class="${properties.bgcolor} ctabar">
    <div class="layout-inner-wrap">
        <div class="cta-content text-center">
            <h2 data-sly-test="${properties.headerText}">${properties.headerText @ context ='html'}</h2>

            <div class="tagline">
                <div data-sly-use.api="com.day.cq.wcm.foundation.model.responsivegrid.ResponsiveGrid"
                     data-sly-use.allowed="com.day.cq.wcm.foundation.AllowedComponentList"
                     class="${api.cssClass} ${allowed.cssClass}">
                    <sly data-sly-test.isAllowedApplicable="${allowed.isApplicable}"
                         data-sly-test="${isAllowedApplicable}"
                         data-sly-use.allowedTemplate="/libs/wcm/foundation/components/parsys/allowedcomponents/allowedcomponents-tpl.html"
                         data-sly-call="${allowedTemplate.allowedcomponents @ title=allowed.title, components=allowed.components}"></sly>
                    <sly data-sly-test="${!isAllowedApplicable}"
                         data-sly-repeat.child="${api.paragraphs}"
                         data-sly-resource="${child.path @ resourceType=child.resourceType, decorationTagName='div', cssClassName=child.cssClass}"></sly>
                    <sly data-sly-test="${!isAllowedApplicable}"
                         data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/responsivegrid/new', appendPath='/*', cssClassName='new section aem-Grid-newComponent'}" />
                </div>
            </div>

            <!-- two buttons, one or more with headers -->
            <sly data-sly-test="${properties.primaryCTAheader || properties.secondaryCTAheader}">
                <div class="ctabar__buttonwrap">
                    <div class="flex-item ctabar__buttonwrap-item" data-sly-test="${properties.primaryCTAtext}">
                        <p data-sly-test="${properties.primaryCTAheader}" class="ctabar__ctaheader">${properties.primaryCTAheader @ context = 'html'}</p>
                        <a data-sly-test="${properties.primaryCTAtext}" class="btn-secondary learn-more" href="${properties.primaryCTAURL}">${properties.primaryCTAtext @ context = 'html'}</a>
                    </div>
                    <div class="flex-item ctabar__buttonwrap-item" data-sly-test="${properties.secondaryCTAtext}">
                        <p data-sly-test="${properties.secondaryCTAheader}" class="ctabar__ctaheader">${properties.secondaryCTAheader @ context = 'html'}</p>
                        <a data-sly-test="${properties.secondaryCTAtext}" class="btn learn-more" href="${properties.secondaryCTAURL}">${properties.secondaryCTAtext @ context = 'html'}</a>
                    </div>
                </div>
            </sly>

            <!-- one or two buttons, no headers -->
            <sly data-sly-test="${!properties.primaryCTAheader && !properties.secondaryCTAheader}">
                <div class="text-center">
                    <a data-sly-test="${properties.primaryCTAtext}" class="btn-secondary learn-more" href="${properties.primaryCTAURL}">${properties.primaryCTAtext @ context = 'html', i18n}</a>
                    <a data-sly-test="${properties.secondaryCTAtext}" class="btn learn-more" href="${properties.secondaryCTAURL}">${properties.secondaryCTAtext @ context = 'html', i18n}</a>
                </div>
            </sly>

        </div>
    </div>
</section>