<sly data-sly-test="${properties.documentTitle}">
<sly data-sly-test.documentTitle="${properties.documentTitle}"/>
</sly>
<sly data-sly-test="${!properties.documentTitle}">
<sly data-sly-test.documentTitle="${properties.pageTitle}"/>
</sly>
<sly data-sly-test="${properties.assetsHeadingPrefix}">
<sly data-sly-test.assetsHeadingPrefix="${properties.assetsHeadingPrefix}"/>
</sly>
<sly data-sly-test="${properties.customAssetHeading}">
<sly data-sly-test.assetsHeadingPrefix="${properties.customAssetHeading}"/>
</sly>
Download ${documentTitle @ context = 'html'} ${assetsHeadingPrefix}