<adapt-tabset>
    <adapt-tab-panel adapt-tab-title="Product">
      <adapt-button btn-type="primary"><span>Product Downloads</span></adapt-button>
    </adapt-tab-panel>
    <adapt-tab-panel adapt-tab-title="Patches">
        <adapt-button btn-type="primary"><span>Product Patches Downloads</span></adapt-button>
    </adapt-tab-panel>
    <adapt-tab-panel adapt-tab-title="License Information">
        <adapt-button btn-type="primary"><span>Product License Information</span></adapt-button>
    </adapt-tab-panel>
    <adapt-tab-panel adapt-tab-title="Documentation">
        <adapt-button btn-type="primary"><span>Product Documentation</span></adapt-button>
    </adapt-tab-panel>
  </adapt-tabset>