<div class="extended-widget-container">
    <div class="extended-widget-header">
        <div class="top-section">
            <h2>Common Support Questions</h2>
        </div>
        <div class="description">FAQ about support central</div>
    </div>
    <div class="extended-widget-body" [ngBusy]="questionsService.busyConfig">
        <app-question *ngFor="let question of questionsChunk" [question]="question"></app-question>
        <adapt-pagination rows="4" *ngIf="questionsService.questions.length" [totalRecords]="questionsService.questions.length" (onPageChange)="paginate($event)"></adapt-pagination>
    </div>
</div>