<section class="topcontent Flexi-FeatureImg" data-sly-use.blogSet="com.bmc.components.FlexiFeaturedAnalystOrBlog">
 <h2 data-sly-test="${(wcmmode.edit || wcmmode.design) && !(properties.title || blogSet.blogs.size > 0)}">[Featured Blogs/Additional Resources]</h2>

  <!--/*WEB-8166 - Fix for Additional resources not fetching video icon */--> 
        <!--/*<div class="layout-inner-wrap">*/--> 
   <!--/*WEB-8166c - Added back If condition to not load layout inner wrapper class for case of 4 videos as FED removed dependency from css */--> 
  <div class="${properties.numberOfBlogs == '3' ? 'layout-inner-wrap' : ''}">
      <div class="tagline"> ${properties.title @ context='html'}</div>
      <div class="sm-flex">
	
   				 <sly data-sly-test.blogClass="flex-item sm-col-3 p2"></sly>
					<sly data-sly-test="${properties.numberOfBlogs == '3'}">
						<sly data-sly-test.blogClass="flex-item sm-col-4 p2"></sly>
					</sly>
					<sly data-sly-test="${properties.numberOfBlogs == '4'}">
						<sly data-sly-test.blogClass="flex-item sm-col-3 p2"></sly>
					</sly>
<!--/*Iterate through the blogs  */--> 
    			<sly data-sly-list.blog="${blogSet.blogs}">

				<div class="${blogClass}">
					<sly data-sly-use.blogLink="${'com.bmc.components.utils.LinkGenerator' @ urlPath=blog.linkURL}"></sly>
			        <sly data-sly-test="${blogLink.href}">
			                        <sly data-sly-test.resolvedLink="${blogLink.href}"></sly>
			        </sly>
			        <sly data-sly-test="${!blogLink.href}">
			                        <sly data-sly-test.resolvedLink="${blog.linkURL}"></sly>
			        </sly>
					<sly data-sly-test="${blogLink.cssClass}">
			                        <sly data-sly-test.cssClass="${blogLink.cssClass}"></sly>
			        </sly>
			        <sly data-sly-test="${!blogLink.cssClass}">
			                        <sly data-sly-test.cssClass=" "></sly>
			        </sly>
					<section>
					   <a href="${resolvedLink}" class="${cssClass}">
						  <figure>
							 <img src="${blog.externalImagePath}" alt="${blog.altText}">
								<sly data-sly-test="${blogLink.isVideo}">
								<div class="carousel-icon icon-vid" data-percentage-right="25" data-percentage-top="0" style="right: 25%; background-position: 50% 0%;"></div>
								</sly>
						  </figure>
						 ${blog.caption  @ context='html'}
					   </a>
					</section>
				</div>
   			</sly>
      </div>
   </div>
</section>