<sly data-sly-use.support="com.bmc.components.PersonalisedSupportCentral">
 <sly data-sly-test.loggdIn="${support.isLoggedIn}">
      <sly data-sly-test.newuser="${!support.isNewUser}">  
        <div span style="padding-right:120px;">
         <a href=${support.customerOrientationUrl} target="_blank" class="btn learn-more">New Customer Orientation</a>
 </sly>
  
  </sly>

       <sly data-sly-test.loggdIn="${!support.isLoggedIn}">
          <div span style="padding-left:140px;">
            <h2>Explore BMC resources</h2>
               Start With the <a href="${support.supportGuideUrl}">Support Central User's Guide/PDF</a></br>
            <a href=${support.customerOrientationUrl} target="_blank" class="btn learn-more">New Customer Orientation</a>
          </div>
       </sly>
  </sly>