<div class="header-generic layout-inner-wrap">
    <h1>
        <span>
            ${properties.headerText}
        </span>
        <span data-sly-test="${!properties.headerText}">
            Enter Heading Text
        </span>
    </h1>

    <p>
        ${properties.descriptionText}
    </p>

    <p>
        <a data-sly-test="${properties.cta1text}" class="link-icon-product-resources mo-product-resources" href="${properties.cta1url}" title="${properties.cta1text}">${properties.cta1text}</a>
    </p>

    <a data-sly-test="${properties.cta2text}" class="btn learn-more" href="${properties.cta2url}" title="${properties.cta2text}">${properties.cta2text}</a>
    <a data-sly-test="${properties.cta3text}" class="btn-secondary learn-more" href="${properties.cta3url}" title="${properties.cta3text}">${properties.cta3text}</a>
    <a data-sly-test="${properties.cta4text}" class="btn-secondary learn-more" href="${properties.cta4url}" title="${properties.cta4text}">${properties.cta4text}</a>

</div>