.page-category{
	
	//Guide pages implementation.
	//Hide lower nav in mobile devices
	.lower-nav {
		padding: 1em;
		
		background-color: #f1f1f1;  
		width: 500px; 
		border: 1px solid #cacaca;
		
		@media ( max-width : 48em) {
			display: none;
		}
	
		div[class*="-nav"]{
			display:none;
		}
		.wrapper-nested{
			margin-bottom: 2em;
		}
	
		.accordion-item{
			padding-left: 1em; 
			background-color: #f1f1f1;
		}
	
		.accordion-item-content{
			display: none;
		}
		
		.itil-nav{
			margin-left: 3em;
		}
	
		.arrow {
			position: relative;
			color: #fff;
		}
		
		.red {
			height: 32px;
			padding: 10px;
			width: 360px;
			color: #fff;
			background: #FE5000;
			border-radius: 5px;
			cursor: pointer;
			display: inline-block;
			text-align: center;
			-webkit-transition: all 0.25s 0s ease-out;
			transition: all 0.25s ease-out 0s;
		}
		
		#arrow4:after {
			content: '';
			height: 0;
			display: block;
			border-color: transparent transparent transparent #FE5000;
			border-width: 26px;
			border-style: solid;
			position: absolute;
			top: 0px;
			left: 378px;
		}
		
		.nav-bottom {
			margin-left: 0px;
			padding-left: 0px;
			padding-right: 0px;
			list-style-type: none;
		}
		
		.nav-bottom li {
			display: none;
		}
		
		.nav-bottom li.current {
			display: block;
		}
		
		.itil-nav {
			margin-left: 0px;
			padding-left: 10px;
			padding-right: 0px;
			list-style-type: none;
			
			li {
				counter-increment: step-counter;
				font-weight: bold;
				margin-bottom: 1.33em;
				
				::before {
					content: counter(step-counter);
					margin-right: 15px;
					font-size: 100%;
					background-color: #29A5D6;
					color: white;
					font-weight: bold;
					padding: 3px 10px;
					border-radius: 50%;
				}
				
				:hover::before {
					background-color: #046e96;
				}
			
				.current::before {
					background-color: #FE5000;
				}
			}
		
			a.current {
				color: #FE5000;
			}
		}

	}

	.stt_container {
		display: none;
		opacity: 0.75;
		position: fixed;
		height: 48px;
		bottom: 15px;
		right: 15px;
		z-index: 1;
		
		:hover {
			opacity: 1;
			cursor: pointer;
		}
	
		@media ( max-width : 1200px) {
			display: none !important;
		}
	
		.stt_image {
			height: 48px;
		}

	}
	
	
	
	.at_flat_counter:last-of-type {
		display: none !important;
	}

	/*
	.entry-title img {
		margin-top: 0px;
		margin-left: 1em;
		
		@media ( max-width : 1200px) {
			display: none;
		}
	}
	
	
	.two-up.nth-child-np2.bloghide {
		width: 50%;
		margin-bottom: 3em;
		font-weight: 400;
		font-size: .93em;
		vertical-align: top;
		padding-top: 0em;
		margin-top: 0em;
		
		@media ( max-width : 1200px) {
			width: 100%;
			margin-bottom: 0em;
			font-weight: 400
		}
	}
	
	*/
	
	.inline-menu-box{
		text-align: left; 
		background-color: #ffffff;
		section{
			background-color: #f1f1f1; 
			border: 1px solid #cacaca; 
			padding: 1em;
			
			a{
				h2{
					font-size: 1.2em; 
					margin-bottom: .5em;
				}
			}
			
			p{
				font-size: .9em; 
				margin-bottom: 0em; 
				font-weight: bold;
			}
		}
			
	}

	/*
	.service-design{
		img{
			float: right; 
			width: 400px; 
			padding-left: 1em;
		}
	}
	
	
	.accordion-content{
		
		 .img-fl-right-wd{
			  float: right; 
		      width: 400px; 
		      padding-left: 1em;
		  }


		.wrapper-nested{
			margin-top: 2em; 
			margin-bottom: 2em;
			.accordion{
				.accordion-item{
					padding-left: 1em; 
					background-color: #f1f1f1;
					
					.accordion-item-content{
						display: none;
						
						.wrapper-nested{
							background-color: #f1f1f1;
						}
					
						.two-up{
							margin-top: .5em; 
							padding-right: 1em;
						}
					}
				}
			}
			
		}
		
	}*/

	.no-top-border-margin-padding{
		border-top: medium none; 
		margin-top: 0px; 
		padding-top: 0px;
	}


	/*	
	.entry-title {
		  img {
	          margin-top: 0px;
	          margin-left: 1em;
	          
	          @media (max-width: 1200px) {
	          	 display: none;
	          }
	       }
    }
    
	.two-up.nth-child-np2.bloghide {
          width: 50%;
          margin-bottom: 3em;
          font-weight: 400;
          font-size: .93em;
          vertical-align: top;
          padding-top: 0em;
          margin-top: 0em;
          
           @media (max-width: 1200px) {
           	width: 100%;
            margin-bottom: 0em;
            font-weight: 400;
           }
    }
        
    .brd-cornflower-wd-500px{
        width:500px; border: 1px solid #cacaca;
    }
      
    .pl1em {
        padding-left: 1em;
    }
    
    .hideElm {
          	 display: none;	
        }
      
	.ml3em-imp{
       	margin-left:3em !important;
      	}
      
	.mb15px{
       	margin-bottom: 15px;
 		}
      
      .mb-pt-3em{
        margin-bottom:0.3em;
    	}

 	.mt-pt-2-imp {
        	margin-top:0.2em !important;
        }
	
	.col-6-imp{
        width:50% !important;
      }
      .pl-30px{
        padding-left:30px;
      }
      
      .mt-pt-66em-imp{
        margin-top: 0.66rem !important;
      }
      
      .col-60-per{
        width:60%;
      }
      
      .ml3-imp{
        margin-left: 2rem !important;
      }

	
    .videoWrapper {
          position: relative;
          padding-bottom: 56.25%; 
          padding-top: 25px;
          height: 0;
          
          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            
            &.brd-wd-max-wd {
              border:1px solid #CCC; 
              border-width:1px; 
              margin-bottom:5px; 
              max-width: 100%;
			}
     	}
    }
   */
	.txt-underline {
      	text-decoration: underline;
	}
	
	.download-cta{
		text-align: center; 
		background-color: #ffffff; 
		border-top:none; 
		margin-top:0; 
		padding-top :0;
		
		section{
			background-color: #f1f1f1; 
			border: 1px solid #cacaca; 
			padding-bottom: 0em;
			
			h3{
				margin-bottom: 0em; 
				padding-bottom: 0em;
				
				.btn-secondary{
					margin-left: 1em; 
					font-weight: 600;
				}
			}
		}
	}

}