.page-category{
	
	//Guide pages implementation.
	//Hide lower nav in mobile devices
	.lower-nav {
		padding: 1em;
		
		background-color: #f1f1f1;  
		width: 500px; 
		border: 1px solid #cacaca;
		
		@media ( max-width : 48em) {
			display: none;
		}
	
		div[class*="-nav"]{
			display:none;
		}
		.wrapper-nested{
			margin-bottom: 2em;
		}
	
		.accordion-item{
			padding-left: 1em; 
			background-color: #f1f1f1;
		}
	
		.accordion-item-content{
			display: none;
		}
		
		.itil-nav{
			margin-left: 3em;
		}
	
		.arrow {
			position: relative;
			color: #fff;
		}
		
		.red {
			height: 32px;
			padding: 10px;
			width: 360px;
			color: #fff;
			background: #FE5000;
			border-radius: 5px;
			cursor: pointer;
			display: inline-block;
			text-align: center;
			-webkit-transition: all 0.25s 0s ease-out;
			transition: all 0.25s ease-out 0s;
		}
		
		#arrow4:after {
			content: '';
			height: 0;
			display: block;
			border-color: transparent transparent transparent #FE5000;
			border-width: 26px;
			border-style: solid;
			position: absolute;
			top: 0px;
			left: 378px;
		}
		
		.nav-bottom {
			margin-left: 0px;
			padding-left: 0px;
			padding-right: 0px;
			list-style-type: none;
		}
		
		.nav-bottom li {
			display: none;
		}
		
		.nav-bottom li.current {
			display: block;
		}
		
		.itil-nav {
			margin-left: 0px;
			padding-left: 10px;
			padding-right: 0px;
			list-style-type: none;
			
			li {
				counter-increment: step-counter;
				font-weight: bold;
				margin-bottom: 1.33em;
				
				::before {
					content: counter(step-counter);
					margin-right: 15px;
					font-size: 100%;
					background-color: #29A5D6;
					color: white;
					font-weight: bold;
					padding: 3px 10px;
					border-radius: 50%;
				}
				
				:hover::before {
					background-color: #046e96;
				}
			
				.current::before {
					background-color: #FE5000;
				}
			}
		
			a.current {
				color: #FE5000;
			}
		}

	}

	.stt_container {
		display: none;
		opacity: 0.75;
		position: fixed;
		height: 48px;
		bottom: 15px;
		right: 15px;
		z-index: 1;
		
		:hover {
			opacity: 1;
			cursor: pointer;
		}
	
		@media ( max-width : 1200px) {
			display: none !important;
		}
	
		.stt_image {
			height: 48px;
		}

	}
	
	
	
	.at_flat_counter:last-of-type {
		display: none !important;
	}

	
	.inline-menu-box{
		text-align: left; 
		background-color: #ffffff;
		section{
			background-color: #f1f1f1; 
			border: 1px solid #cacaca; 
			padding: 1em;
			
			a{
				h2{
					font-size: 1.2em; 
					margin-bottom: .5em;
				}
			}
			
			p{
				font-size: .9em; 
				margin-bottom: 0em; 
				font-weight: bold;
			}
		}
			
	}


	.no-top-border-margin-padding{
		border-top: medium none; 
		margin-top: 0px; 
		padding-top: 0px;
	}

	.txt-underline {
      	text-decoration: underline;
	}
	
	.download-cta{
		text-align: center; 
		background-color: #ffffff; 
		border-top:none; 
		margin-top:0; 
		padding-top :0;
		
		section{
			background-color: #f1f1f1; 
			border: 1px solid #cacaca; 
			padding-bottom: 0em;
			
			h3{
				margin-bottom: 0em; 
				padding-bottom: 0em;
				
				.btn-secondary{
					margin-left: 1em; 
					font-weight: 600;
				}
			}
		}
	}

}