.document_container{
        #pdfReader{
            border: 1px solid black; width: 100%;
            embed{
                width: 100%;
                height: 100%;
            }
        }
    .header-form-basic.header-emphasis{
        h1{
            font-size: 1.7rem;
            width:100%;
        }
    }
}