%pseudo-hover {
	&:before {
		background-color: rgba(0,0,0,0);
		content: "";
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		transition: background .2s;
		width: 100%;
	}
	&:hover:before,
	&:focus:before {
		background-color: rgba(0,0,0,.2);
	}
}

.page-homepage {

	.btn-corporate,
	.btn-white,
	.btn-text {
		border-radius: 0;
		border-width: 1px;
		margin: 0;
		padding: .5em 1.25em;
	}
	.btn-text {
		padding: .5em 0;
	}

	.readabilty {
		margin-left: auto;
		margin-right: auto;
		max-width: 24em;
	}

	// hero
	.hero {
		background-image:url(#{$imagesFolder}hero-mobile.jpg);//url('2016/homepage/hero-mobile.jpg');
		background-position: center;
		background-size: cover;
		color: #fff;
	}
	.hero_description {
		font-size: 1rem;
		p {
			font-size: inherit;
			margin: .5em 0 1em;
		}
	}
	.hero_cta {
		background-color: rgba(0,0,0,.5);
		box-shadow: inset 0 0 20px rgba(0,0,0,.5);
		padding: 1.5rem;
		text-align: center;
		@media (min-width: $break-lg) {
		  display:flex;
		}
	}
	// 0 - 639px
	@media (max-width: $break-sm - 1px) {
		.hero {
			padding-top: 2rem;
			text-align: center;
		}
		.hero_cta {
			margin-top: 1.5rem;
			> div {
				margin-bottom: 1rem;
			}
		}
	}
	// 640px
	@media (min-width: $break-sm) {
		.hero {
			background-image:url(#{$imagesFolder}hero.jpg);//url('2016/homepage/hero.jpg');
			overflow: hidden;
			padding-bottom: 200px;
			padding-top: 80px;
			text-align: left;
		}
		.hero_description {
			margin: auto;
			width: 45%;
		}
		.hero_cta {
			bottom: 0;
			font-size: .8rem;
			position: absolute;
			text-align: left;
			width: 100%;

			-webkit-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;

			-webkit-box-pack: center;
			-moz-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;

			.btn-corporate {
				margin-left: 2rem;
			}
		}
	}
	// 832px
	@media (min-width: $break-md) {
	}
	// 1024px
	@media (min-width: $break-lg) {
		.hero_description {
			font-size: 1.25rem;
		}
		.hero_cta {
			font-size: 1rem;
		}
	}
	// 1496px
	@media (min-width: $break-xl) {
		.hero_description {
			font-size: 1.5rem;
		}
		.hero_cta {
			font-size: 1.25rem;
		}
	}

	.brick {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.masonry {
		.brick {
			position: relative;
		}
		.card {
			color: #fff;
			text-align: center;
			transition: background .2s;
			p {
				font-size: inherit;
			}
		}
	}

	#success_bricks {
		.card-button img {
			max-width: 80%;
			min-width: 60%;
			width: 100px;

			&.img-square {
				min-width: 30%;
				width: 50px;
			}
		}
		.brick_logos {
			blockquote {
				// 640px
				@media (min-width: $break-sm) {
					font-size: 1.5rem
				}
			}
			img {
				@media (max-width: $break-sm - 1px) {
					width: 50px;
				}
			}
			// 1024px
			@media (min-width: $break-lg) {
				@include aspect-ratio(4, 3);
			}
		}
	}

	#accel_bricks,
	#dem_bricks {
		.brick {
			@extend %pseudo-hover;
		}
		.card-image {
			height: 100px;
			padding: 10px 0 20px;
			svg {
				fill: #fff;
				height: 70px;
				width: 70px;
			}
		}
	}

	.brick_accelerators {
		background-image:url(#{$imagesFolder}accelerators-bg.png);//url('2016/homepage/accelerators-bg.png');
		min-height: 15em;
		position: relative;
		.title {
			@extend .h1;
			// 640px
			@media (min-width: $break-sm) {
				text-align: left;
			}
			// 1024px
			@media (min-width: $break-lg) and (max-width: $break-xl - 1px) {
				font-size: 1.5rem;
			}
		}
		@media (min-width: $break-lg) and (max-width: $break-xl - 1px) {
			a {
				height: 100% !important;
				left: 0;
				position: absolute !important;
				top: 0;
				width: 100% !important;
			}
		}
	}

	#dem_bricks .brick {
		background-position: right center;
		background-size: auto 100%;
	}

	.brick_sme {
		// 640px
		@media (min-width: $break-sm) {
			.card {
				flex-direction: row;
				-webkit-flex-direction: row;
				text-align: left;
			}
			.card-image {
				flex: 1 0 100px;
			}
			.card-content {
				flex: 1 1 auto;
			}
		}
	}
	.brick_security {
		background-image:url(#{$imagesFolder}block-security-bg.jpg);//url('2016/homepage/block-security-bg.jpg');
	}
	.brick_mainframe {
		background-image:url(#{$imagesFolder}block-mainframe-bg.jpg);//url('2016/homepage/block-mainframe-bg.jpg');
	}
	.brick_agility {
		background-image:url(#{$imagesFolder}block-agility-bg.jpg);//url('2016/homepage/block-agility-bg.jpg');
	}

	

	#products,
	#hot-news {
		text-align: center;
		.card {
			color: color(ship-gray);
		}
		.card-image img {
			width: 80%;
			// 640px
			@media (min-width: $break-sm) {
				width: 50%;
			}
			// 1024px
			@media (min-width: $break-lg) {
				width: 100%;
			}
		}
	}
	#hot-news {
		// 1024px
		@media (min-width: $break-lg) {
			text-align: left;
			.card {
				background: #fff;
			}
		}
	}
}

.honeycomb {
  
  // Hexagon section

  $hex-x-1 : 0;
  $hex-x-2 : 180px;
  $hex-x-3 : 360px;
  $hex-x-4 : 540px;
  $hex-x-5 : 720px;
  $hex-y-1 : 0;
  $hex-y-2 : 102px;
  $hex-y-3 : 208px;
  $hex-y-4 : 314px;
  $hex-y-5 : 420px;
  $hex-y-6 : 526px;
  $hex-y-7 : 632px;

  .card-hex-container {
  // DEFAULT
      left: $hex-x-1;
      top: $hex-y-1;
      width: 220px;

      &:nth-of-type(2n) {
        left: $hex-x-1;
        top: $hex-y-2;
      }
      &:nth-of-type(3n) {
        left: $hex-x-1;
        top: $hex-y-3;
      }
      &:nth-of-type(4n) {
        left: $hex-x-1;
        top: $hex-y-4;
      }
      &:nth-of-type(5n) {
        left: $hex-x-1;
        top: $hex-y-5;
      }
      &:nth-of-type(6n) {
        left: $hex-x-1;
        top: $hex-y-6;
      }
      &:nth-of-type(7n) {
        left: $hex-x-1;
        top: $hex-y-7;
      }

    // 480px
      @media (min-width: 480px) {
        left: $hex-x-1;
        padding-left: 55px;
        padding-right: 55px;
        position: absolute;
        top: $hex-y-1;
        width: 220px;
  
        &:nth-of-type(2n) {
          left: $hex-x-2;
          top: $hex-y-2;
        }
        &:nth-of-type(3n) {
          left: $hex-x-1;
          top: $hex-y-3;
        }
        &:nth-of-type(4n) {
          left: $hex-x-2;
          top: $hex-y-4;
        }
        &:nth-of-type(5n) {
          left: $hex-x-1;
          top: $hex-y-5;
        }
        &:nth-of-type(6n) {
          left: $hex-x-2;
          top: $hex-y-6;
        }
        &:nth-of-type(7n) {
          left: $hex-x-1;
          top: $hex-y-7;
        }
      }
    // 640px
      @media (min-width: $break-sm) {
        &:nth-of-type(1n) {
          left: $hex-x-1;
          top: $hex-y-2;
        }
        &:nth-of-type(2n) {
          left: $hex-x-2;
          top: $hex-y-1;
        }
        &:nth-of-type(3n) {
          left: $hex-x-2;
          top: $hex-y-3;
        }
        &:nth-of-type(4n) {
          left: $hex-x-3;
          top: $hex-y-2;
        }
        &:nth-of-type(5n) {
          left: $hex-x-1;
          top: $hex-y-4;
        }
        &:nth-of-type(6n) {
          left: $hex-x-2;
          top: $hex-y-5;
        }
        &:nth-of-type(7n) {
          left: $hex-x-3;
          top: $hex-y-4;
        }
      }
    // 1024px
    @media (min-width: $break-lg) {
      &:nth-of-type(5n) {
        left: $hex-x-4;
        top: $hex-y-1;
      }
      &:nth-of-type(6n) {
        left: $hex-x-4;
        top: $hex-y-3;
      }
      &:nth-of-type(7n) {
        left: $hex-x-5;
        top: $hex-y-2;
      }
    }
  }

  .card-hex {
    background-color: #fff;
    color: color(ship-gray);
    // 480px
      height: 180px;
      left: 59px;
      //padding-top: 10px;
      position: absolute;
      top: 5px;
      width: 102px;
      &:after {
        border-right: 52.5px solid #fff;
        left: -52px;
      }
      &:before {
        border-left: 52.5px solid #fff;
        right: -52px;
      }
      &:hover {
        background-color: color(iron);
        &:after {
          border-right-color: color(iron);
        }
        &:before {
          border-left-color: color(iron);
        }
      }
      > div {
        min-height: 100%;
        //IE -11 issue fix
        height:100%;
        width:150px;
        margin-left:-25px; 
      }
    
    @media (min-width: 480px) {
      // height: 180px;
      // left: 59px;
      //padding-top: 10px;
      position: absolute;
      top: 5px;
      width: 102px;
      
    }
  }
  .card-hex,
  .card-hex-shadow {
    @include box-sizing();
    position: relative;
    text-align: center;
    > div {
      display: -webkit-box;
      display: -webkit-flex;
      //display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: relative;
      z-index: 2;
    }
  }
  .card-hex:before,
  .card-hex-shadow:before,
  .card-hex:after,
  .card-hex-shadow:after {
    border-bottom: 90px solid transparent;
    border-top: 90px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 1;
  }
  .card-hex-shadow {
    background-color: #e4e5e6;
    height: 190px;
    width: 110px;
    &:after {
      left: -55px;
      border-bottom: 95px solid transparent;
      border-top: 95px solid transparent;
      border-right: 55px solid #e4e5e6;
    }
    &:before {
      right: -55px;
      border-bottom: 95px solid transparent;
      border-top: 95px solid transparent;
      border-left: 55px solid #e4e5e6;
    }
  }

    img {
      width: 100%;
    }
    .modal-video-player {
      overflow: hidden;
      @media (max-width: $break-lg - 1px) {
        max-height: 400px;
      }
    }
    .intro {
      margin-bottom: 1rem;
      padding: 1rem 0;
      text-align: center;
      // 1496px
      @media (min-width: $break-xl) {
        float: left;
        text-align: left;
        width: 25%;
      }
    }
    .content {
      margin: 0 auto;
      position: relative;
      // 0px - 479px
      
      width: 220px;
      
      @media (max-width: 479px) {
        .card-hex {
          display: block;
          margin-bottom: 1.5rem;
        }
        .card-image {
          margin-bottom: .5rem;
        }
        // .card-hex-shadow {
          // display: none;
        // }
      }
          
      // 480px
      @media (min-width: 480px) {
        height: 850px;
        width: 400px;
      }
      // 640px
      @media (min-width: $break-sm) {
        height: 620px;
        width: 580px;
      }
      // 1024px
      @media (min-width: $break-lg) {
        height: 400px;
        width: 940px;
      }
      // 1496px
      @media (min-width: $break-xl) {
        float: left;
        width: 75%;
        &.float-none
        {
          float: none;
          max-width: 940px;
        }
      }
    }
  
	.card-hex {
	  background-color: #000;
	  color: #fff;
	  font-size: 1.2rem;
    font-weight: bold;
    
    p{
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0px;
      width:100%;
    }
		// 480px
		
		  &:after {
        border-right-color: #fff;
      }
      &:before {
        border-left-color: #fff;
      }
      
      &:hover {
        background-color: darken(white, 20);
        &:after {
          border-right-color: darken(white, 20);
        }
        &:before {
          border-left-color: darken(white, 20);
        }
      }
      
     &.bg-lightSeaGreen{
        background-color: color(lightSeaGreen);
        &:after {
          border-right-color: color(lightSeaGreen);
        }
        &:before {
          border-left-color: color(lightSeaGreen);
        }
        &.hoverEffect{
          &:hover,
          &:focus {
            background-color: darken(color(lightSeaGreen), 10);
            &:after {
              border-right-color:  darken(color(lightSeaGreen), 10);
            }
            &:before {
              border-left-color:  darken(color(lightSeaGreen), 10);
            }
          }
        }
      } 
      
      &.bg-atlantis{
        background-color: color(atlantis);
        &:after {
          border-right-color: color(atlantis);
        }
        &:before {
          border-left-color: color(atlantis);
        }
        &.hoverEffect{
          &:hover,
          &:focus {
            background-color: darken(color(atlantis), 10);
            &:after {
              border-right-color:  darken(color(atlantis), 10);
            }
            &:before {
              border-left-color:  darken(color(atlantis), 10);
            }
          }
        }
      }
      
       &.bg-summerSky{
        background-color: color(summerSky);
        &:after {
          border-right-color: color(summerSky);
        }
        &:before {
          border-left-color: color(summerSky);
        }
        &.hoverEffect{
          &:hover,
          &:focus {
            background-color: darken(color(summerSky), 10);
            &:after {
              border-right-color:  darken(color(summerSky), 10);
            }
            &:before {
              border-left-color:  darken(color(summerSky), 10);
            }
          }
        }
      }
      
      &.bg-summerSky-dark{
        background-color: color(summerSky-dark);
        &:after {
          border-right-color: color(summerSky-dark);
        }
        &:before {
          border-left-color: color(summerSky-dark);
        }
        &.hoverEffect{
          &:hover,
          &:focus {
            background-color: darken(color(summerSky-dark), 10);
            &:after {
              border-right-color:  darken(color(summerSky-dark), 10);
            }
            &:before {
              border-left-color:  darken(color(summerSky-dark), 10);
            }
          }
        }
      }
      
      &.bg-pictonBlue{
        background-color: color(pictonBlue);
        &:after {
          border-right-color: color(pictonBlue);
        }
        &:before {
          border-left-color: color(pictonBlue);
        }
        &.hoverEffect{
          &:hover,
          &:focus {
            background-color: darken(color(pictonBlue), 10);
            &:after {
              border-right-color:  darken(color(pictonBlue), 10);
            }
            &:before {
              border-left-color:  darken(color(pictonBlue), 10);
            }
          }
        }
      }
      
       &.bg-outrageousOrange{
        background-color: color(outrageousOrange);
        &:after {
          border-right-color: color(outrageousOrange);
        }
        &:before {
          border-left-color: color(outrageousOrange);
        }
        &.hoverEffect{
          &:hover,
          &:focus {
            background-color: darken(color(outrageousOrange), 10);
            &:after {
              border-right-color:  darken(color(outrageousOrange), 10);
            }
            &:before {
              border-left-color:  darken(color(outrageousOrange), 10);
            }
          }
        }
      }
      
      &.bg-carrotOrange{
        background-color: color(carrotOrange);
        &:after {
          border-right-color: color(carrotOrange);
        }
        &:before {
          border-left-color: color(carrotOrange);
        }
        &.hoverEffect{
          &:hover,
          &:focus {
            background-color: darken(color(carrotOrange), 10);
            &:after {
              border-right-color:  darken(color(carrotOrange), 10);
            }
            &:before {
              border-left-color:  darken(color(carrotOrange), 10);
            }
          }
        }
      }
      
	}
	.card-hex-shadow {
		background-color: rgba(0,0,0,.5);
		&:after {
			border-right-color: rgba(0,0,0,.5);
		}
		&:before {
			border-left-color: rgba(0,0,0,.5);
		}
	}
}