.homepage-2020{
    $wideScreen		: 2440px;
    margin: auto;

    .mobile-hidden {       
        @media (max-width: $break-sm) {
           display: none;
        }
    }
    
    
    
    .right-col{
        order: 2;
        display: flex;
        flex-direction: column;

        @media (min-width: $break-sm) {
          
        }
        @media (min-width: $wideScreen) {
            flex-direction: row;
        }
        @media (min-height: 1440px) and (min-width: 3440px) {
            /* CSS stuff */
        }
        @media (max-height: 745px) and (min-width: 3440px) {
            
        }
    } 
    .left-col{
       order: 1;
       background: #0BB2E8;
       position: relative;
       .loading-placeholder {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background: #0BB2E8;
            height: 100%;
            z-index: 10;
        }
    }
    .hpLearnMore{
        font-size: 13px;
        font-weight: 600;
        color: #fff;
        display: inline-block;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 3px;
        margin-top: 10px;    
            
        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: #FFF;
            visibility: hidden;
            transition: all 0.5s ease-in-out;
        }
        &:hover:before {
            visibility: visible;
            width: 90%;
        }
        &::after {
            content: "\a0\00203A";
        }
        @media (min-width: $break-sm) {
            font-size: 15px;                    
         } 
         @media (min-width: $break-lg) {
            font-size: 13px;                    
         }  
         @media (min-width: $desktop) {
            font-size: 18px;                    
         }
         @media (min-width: $wideScreen) {
            font-size: 24px;                    
         }
    }
    .jumbotron {
        padding: 30px;
        @media (min-width: $break-sm) {
            padding: 30px 40px;
        }
        @media (min-width: $break-lg) {
            padding: 30px 70px;
        }
        @media (min-width: 1600px) {
            padding: 70px;
        }
        @media (min-width: 2010px) {
            height: 100%;
        }
        @media (min-width: $wideScreen) {
            padding: 30px 70px;
            height: 100%;
        }
        .jTitle {
            font-weight: 800;
            color: #383233;
            font-size: 34px;
            margin-bottom: 30px;
            @media (min-width: $break-sm) {
               font-size: 50px;
            }
            @media (min-width: $desktop) {
                font-size: 70px;
            }
            @media (min-width: $wideScreen) {
                font-size: 90px;
            }
            
        }
        .jHr{
            margin: 5px 15px 0 0;
            hr {
                border: none;
                height: 5px;
                background: #1DBDDE;
                min-width: 53px;
                max-width: 112px;
                margin: 0 auto 0 0;                
            }
        }
        .jCont{
            p{
                font-size: 14px;
                @media (min-width: $tablet) {
                    font-size: 18px;
                 }
                 @media (min-width: $break-lg) {
                    font-size: 15px;
                }
                 @media (min-width: $desktop) {
                     font-size: 20px;
                 }
                 @media (min-width: $wideScreen) {
                     font-size: 28px;
                 }
            }
        }
        .hpLearnMore {
            color: #1DBDDE;
            margin-top: 0;
            &::before {
                background-color: #1DBDDE;
            }
        }
    }
    .homeCards{
        height: 100%;
        @media (min-width: 1600px) {
            
        }
        @media (min-width: 2010px) {
         
        }
        .sm-flex{
            height: 100%;
        }
        .hcContent{
            background-color: #1DBDDE;
            padding: 30px;
            background-size: cover;
            background-position: center center;  
            @media (min-width: $break-sm) {
                padding: 40px;                   
             } 
            h3{
                font-size: 17px;
                font-weight: 700;
                color: #fff;
                text-transform: uppercase;
                @media (min-width: $tablet) {
                    font-size: 18px;
                }
                @media (min-width: $break-lg) {
                    font-size: 15px;
                }
                @media (min-width: $desktop) {
                    font-size: 28px;
                }
                @media (min-width: $wideScreen) {
                    font-size: 36px;
                }
                              
            }
            p{
                font-size: 14px;
                color: #fff;
                @media (min-width: $tablet) {
                    font-size: 18px;
                }
                @media (min-width: $break-lg) {
                    font-size: 15px;
                }
                @media (min-width: $desktop) {
                    font-size: 20px;
                }
                @media (min-width: $wideScreen) {
                    font-size: 24px;
                }
            }
        }
        .hcContent-green-bg{
           
        }
        .hcContent-blue-bg{
            
        }
    }
    .owl-carousel {   
        height: 100%;
        
        .owl-stage-outer{
            height: 100%;
            .owl-stage{
                height: 100%;
                .owl-item{
                    height: 100%;
                }
            }
        }     
        .owl-controls {
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            width: 100%;
            margin: auto;
            .owl-dots{
                text-align: center;
                .owl-dot {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    display: inline-block;
                    margin: 10px;
                    background-color: rgba(255, 255, 255, 0.50);
                }
                .owl-dot.active{
                    background-color: #fff;
                }
            }
        }        
        .item{     
            height: 100%;
            display: none;
            padding-bottom: 30px;
            @media (max-width: $break-md) {
               // min-height: 700px;
            }
            background-size: cover;
            background-position: center center;    
            .car-flex{
                justify-content: space-around;
                flex-direction: column;
                height: 100%;
                @media (min-width: $break-sm) {
                    flex-direction: row-reverse;
                }
                @media (min-width: $break-md) {
                    flex-direction: column;
                    justify-content: center;
                }
                @media (min-width: $wideScreen) {
                    flex-direction: row-reverse;
                }
                              
                .carousel-image{
                    padding: 20px;
                    padding-bottom: 0;
                    height: 50%;
                    img{
                        width: auto;
                        max-width: 100%;
                        margin: 0 auto;
                        max-height: 380px;
                    }
                }
                .carouselCaption {
                    position: relative;
                    padding: 40px;                   
                    @media (min-width: $break-sm) {
                        margin: 0 auto 0 0;
                    }
                    @media (min-width: $break-lg) {
                        padding-top: 0;
                        max-width: 70%;
                    }
                    color: #fff;
                    margin: auto;
                    .hpIcon{
                        max-height: 50px;
                        width: auto;
                        margin-bottom: 20px;
                    }
                    h4 {
                        font-size: 17px;
                        color: #fff;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin-bottom: 20px;
                        @media (min-width: $break-sm) {
                            font-size: 20px;
                        }
                        @media (min-width: $tablet) {
                            font-size: 24px;
                        }
                        @media (min-width: $break-lg) {
                            font-size: 20px;
                        }
                        @media (min-width: $desktop) {
                            font-size: 28px;
                        }
                        @media (min-width: $wideScreen) {
                            font-size: 36px;
                        }
                    }
                    p{
                        font-size: 14px;
                        color: #fff; 
                        @media (min-width: $break-sm) {
                            font-size: 20px;
                        }
                        @media (min-width: $tablet) {
                            font-size: 18px;
                        }
                        @media (min-width: $break-lg) {
                            font-size: 15px;
                        }
                        @media (min-width: $desktop) {
                            font-size: 20px;
                        }
                        @media (min-width: $wideScreen) {
                            font-size: 24px;
                        }
                        small{
                            font-size: 12px;  
                            display: block;
                            margin-top: 10px
                        }
                    }
                }
            }
            
        }  

    }
    
   
    
}




.home {
    background-color: #fff;
}