.orion-global{
    font-size: 16px;
    line-height: 26px;
    h1, h2, h3{
        font-weight: 400;    
    }
    h1{
        font-size: 36px;
        line-height: 48px;
    }
    h2{
        font-size: 26px;
        line-height: 36px;
    }
    h3{
        font-size: 22px;
        line-height: 32px;
    }
    @media(min-width:$break-sm){
        font-size: 18px;
        line-height: 28px;
        h1{
            font-size: 50px;
            line-height: 66px;
        }
        h2{
            font-size: 36px;
            line-height: 46px;
        }
        h3{
            font-size: 26px;
            line-height: 36px;
        }
    }
    .btn-gradient{
        background: rgb(249,135,0);
        background: linear-gradient(90deg, rgba(249,135,0,1) 0%, rgba(254,80,0,1) 100%);
        border: none;
        border-radius: 4px;
        font-size: 14px;
        transition: 0.3s linear;
        font-weight: 700;
        padding: 10px 17px;
        &:hover{
            background: rgb(249,135,0);
            background: linear-gradient(90deg, rgba(249,135,0,1) 0%, rgba(238,169,8,1) 100%); 
            transition: 0.3s linear;         
        }
    }
    .btn-form{
        @extend .btn-gradient;
        border-radius: 0px;
    }
    .sp-large-container{
        max-width: 1920px;
        margin: auto;
        position: relative;
    }
    .mobileOnly{
        display: block;
        @media(min-width:$break-sm){
            display: none;
        }
    }
    
}
.splashpage-banner-wrap{
    background-color: #fff;
    .blob-light-blue{
        background-image: url(#{$imagesFolder}splashPage/splashpage-banner-blob-light.svg);
        background-repeat: no-repeat;
        background-position: 50% 71%;
    }
    .splashpage-banner{
        background-image: url(#{$imagesFolder}splashPage/splashpage-banner-blob-dark.svg);        
        background-position: 40% 68%;
        padding: 2rem 0 6rem 0;        
        @media(min-width:$break-sm){
            padding: 4rem 0 14rem 0;
        } 
        .animated-line {
            max-width: 100%;
            padding-bottom: 30px;
        }
        
        .text-white{
            color: #fff;
            h1, h2, h3, p{
                color: #fff;
            }
        }
        h1{
            margin-bottom: 30px;
            @media(min-width:$break-sm){
                margin-bottom: 40px;
            } 
            span{
                color: #2BD4EE;
            }
        }
        h3 {
            margin-top: 0;
        }
        .btn-gradient{
            @media(min-width:$break-sm){
                margin-top: 40px;
            } 
        }
        .splashpage-banner-content{
            max-width: 900px;
            margin: auto;
            @media(min-width:$break-sm){
               text-align: center;
            } 
        }
    }

}


.video-feature{
    background-color: #fff;
    padding: 1rem 0 1.8rem 0;
    .video-feature-bg{
        background-image: url(#{$imagesFolder}splashPage/half-circle-shape.svg);   
        padding-top: 100px;
        background-repeat: no-repeat;
        background-position: center 5%;
    }
    .video-hero-header {
        max-width: 1076px;
        margin: 0 auto;
    }
    h2{
        color: #002C8F;
        margin-bottom: 50px;
        margin-top: 0;
    }
    .sp-divider{
        margin: 0 auto 40px auto;
    }
    .hero{
        z-index: 1;
    }
    .hero-content{
        height: 300px;
        background: transparent;
        @media(min-width:$break-sm){
            height: 350px;
        } 
        @media(min-width:$break-sm){
            height: 550px;
        } 
        .sp-video-icon{
            max-width: 100px;
            margin: auto;
            @media(min-width:$break-md){
                max-width: 141px;
            } 
        }
        a.modal-youtube-video-player {
            display: block;
            width: 100%;
        }
    }   
    
}


.split-form{
    background-color: #fff;    
    padding: 4rem 0; 
    .layout-inner-wrap{
        padding: 0;
    } 
    .sp-form-wrap{
        background-image: url(#{$imagesFolder}splashPage/split-form-blob.svg); 
        background-repeat: no-repeat;
        background-size: cover;        
        background-repeat: no-repeat;
        background-position: 0 -40px;
        padding-top: 100px;
        padding-right: 30px;
        padding-left: 20px;
        @media(min-width:$break-sm){
            padding-top: 100px;
            padding-right: 50px;
            background-position: 60px -55px;
        } 
        @media(min-width:$break-md){
            padding-right: 100px;
        } 
        iframe {
            width: 100%;
            min-height: 685px;
            border: none;
        }
       
    }
    .split-form-image{
        text-align: center;
        @media(min-width:$break-sm){
            padding-top: 100px;
        }         
    }
   
}