.orion-global{
    font-size: 16px;
    line-height: 26px;
    h1, h2, h3{
        font-weight: 400;    
    }
    h1{
        font-size: 36px;
        line-height: 48px;
    }
    h2{
        font-size: 26px;
        line-height: 36px;
    }
    h3{
        font-size: 22px;
        line-height: 32px;
    }
    @media(min-width:$break-sm){
        font-size: 18px;
        line-height: 28px;
        h1{
            font-size: 50px;
            line-height: 66px;
        }
        h2{
            font-size: 36px;
            line-height: 46px;
        }
        h3{
            font-size: 26px;
            line-height: 36px;
        }
    }
   
    .btn-gradient{
        background: rgb(249,135,0);
        background: linear-gradient(90deg, rgba(249,135,0,1) 0%, rgba(254,80,0,1) 100%);
        border: none;
        border-radius: 4px;
        font-size: 14px;
        transition: 0.3s linear;
        font-weight: 700;
        padding: 10px 17px;
        &:hover{
            background: rgb(249,135,0) ;
            background: linear-gradient(90deg, rgba(249,135,0,1) 0%, rgba(238,169,8,1) 100%); 
            transition: 0.3s linear;         
        }
    }
    .btn-secondary{
        @extend .btn-gradient;
        border-radius: 0px;
        padding: 14px 45px;
        &:hover{
            background: rgb(249,135,0) !important;
            background: linear-gradient(90deg, rgba(249,135,0,1) 0%, rgba(238,169,8,1) 100%)!important;    
        }
    }
    .sp-large-container{
        max-width: 1920px;
        margin: auto;
        position: relative;
    }
    .mobileOnly{
        display: block;
        @media(min-width:$break-sm){
            display: none;
        }
    }
    .desktopOnly{
        display: none;
        @media(min-width:$break-sm){
            display: block;
        }
    }
    
}
.splashpage-banner-wrap{
    background-color: #fff;
    .blob-light-blue{
        background-image: url(#{$imagesFolder}splashPage/splashpage-banner-blob-light.svg);
        background-repeat: no-repeat;
        background-position: 50% 73%;
    }
    .splashpage-banner{
        background-image: url(#{$imagesFolder}splashPage/splashpage-banner-blob-dark.svg);        
        background-position: 40% 70%;
        padding: 2rem 0 6rem 0;        
        @media(min-width:$break-sm){
            padding: 4rem 0 10rem 0;
        } 
        .animated-line {
            max-width: 100%;
            padding-bottom: 30px;
        }
        
        .text-white{
            color: #fff;
            h1, h2, h3, p{
                color: #fff;
            }
        }
        h1{
            margin-bottom: 30px;
            @media(min-width:$break-sm){
                margin-bottom: 40px;
            } 
            span{
                color: #2BD4EE;
            }
        }
        h3 {
            margin-top: 0;
        }
        .btn-gradient{
            @media(min-width:$break-sm){
                margin-top: 40px;
            } 
        }
        .splashpage-banner-content{
            max-width: 900px;
            margin: auto;
            @media(min-width:$break-sm){
               text-align: center;
            } 
        }
        div#lottie{
            @media(min-width:$break-sm){
                position: absolute;
                top: 20px;
                left: 1.55556rem;
                right: 0;
                max-width: 29%;
             }  
             @media(min-width:$break-lg){
                max-width: 35%;
             } 
          
        }
        .layout-inner-wrap{
            position: relative;
        }
       
    }

}


.video-feature{
    background-color: #fff;
    padding: 1rem 0 1.8rem 0;
    .video-feature-bg{
        background-image: url(#{$imagesFolder}splashPage/half-circle-shape.svg);   
        padding-top: 60px;
        background-repeat: no-repeat;
        background-position: center top;
    }
    .video-hero-header {
        max-width: 1076px;
        margin: 0 auto;
    }
    h2{
        color: #002C8F;
        margin-bottom: 50px;
        margin-top: 0;
    }
    .sp-divider{
        margin: 0 auto 40px auto;
    }
    .hero{
        z-index: 1;
    }
    .hero-content{
        height: 300px;
        background: transparent;
        @media(min-width:$break-sm){
            height: 350px;
        } 
        @media(min-width:$break-sm){
            height: 550px;
        } 
        .sp-video-icon{
            background-image: url(#{$imagesFolder}splashPage/icons/svg-colored/play-circle-orangegradient.svg); 
            width: 100px;
            height: 100px;
            margin: auto;
            transition: 0.3s linear;
            &:hover{
                background-image: url(#{$imagesFolder}splashPage/icons/svg-colored/play-circle-bluegradient.svg); 
                transition: 0.3s linear;  
            }
            @media(min-width:$break-md){
                width: 141px;
                height: 141px;
            } 
        }
        a.modal-youtube-video-player {
            display: block;
            width: 100%;
        }
    }   
    
}


.split-form{
    background-color: #fff;  
    @media(min-width: $break-md){
        padding: 0 0 2rem 0; 
    }      
    .layout-inner-wrap{
        padding: 0;
    } 
    .sp-form{
        background-image: url(#{$imagesFolder}splashPage/split-form-blob.svg); 
        background-repeat: no-repeat;
        background-position: 108% 13px;
        padding: 140px 0 100px 0;
        background-size: 600px;
        @media(min-width:1199px){
            background-size: 800px;
        }  
        @media(max-width: 833px){
            background-size: 600px;
            background-position: 120% 64%;
            padding: 50px 0 50px 0;
        }
          
    }      
    .sp-form-wrap{       
        z-index: 1;    
        padding: 0 75px 0 40px;  
        @media(max-width: $break-md){
            padding: 100px 40px 0 40px;
        } 
        iframe {
            width: 100%;
            min-height: 400px;
            border: none;
            border-radius: 26px;
        }
       
    }
    .split-form-image{
        text-align: center;
        @media(min-width:$break-sm){
           
        }         
    }
    div#splitFormAnimation {
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        z-index: 0;
        display: none;
        @media(min-width:$break-md){
            display: block;
        } 
        
    }
   
}



.iframeFormPage{
    padding-top: 0 !important;
    background: #fff;
    header, footer, nav {
        display: none;
        height: 0;
    }
    
    .cmp-form form {  
        background: #fff;
        width: auto;
        border-top: none;
        margin: 0 !important;
        padding: 3em;
           
        fieldset:not(#foo)  {
            label{
                font-size: 14px;
                font-weight: 700;
                color: #414042;
            }
            .error-text {
                min-height: 18px;
                display: block;
                font-size: 12px;
            }
            .aem-GridColumn--default--6 {
                display: inline-block;
                float: left !important;
                width: calc(50% - 20px);
                vertical-align: top;
                
            }  
            input[type="text"],  input[type="number"],  input[type="password"],  input[type="email"],  input[type="tel"],  textarea, .decorator-select{
                border-color: #1A98FF;
                border-width: 1px;
            } 
            .validation-error-redesign, .validation-error{
                border-color: #ff0000 !important;
                border-width: 1px;
            }
            .form-group.checkbox li label{
                font-weight: 400;
                color: #75777A;
            }
            input[type="text"]:focus, input[type="text"]:focus,  input[type="number"]:focus,  input[type="password"]:focus,  input[type="email"]:focus,  input[type="tel"]:focus,  textarea:focus{
                background: rgba(26, 152, 255, 0.1);
            }
            .focus-border::after{
                background: rgba(26, 152, 255, 0.1);
            }
            .decorator-select{
                .validation-error-redesign{
                    border-color: #ff0000;
                    border-width: 1px;
                }
                &:after{
                    top: 0;
                    height: 46px;
                }
            }
            .decorator-select.validation-error-redesign{
                    border-color: #ff0000;
                    border-width: 1px;                
            }
                  
        }
        a{
            font-weight: 700;
            color: #1A98FF;
        }
        p{
            color: #75777A;
        }
    }
    .cmp-title{
        h2{
        color: #002C8F;
        font-size: 26px;
        line-height: 36px;
            @media(min-width:$break-sm){
                font-size: 36px;
                line-height: 46px;
            } 
        }
        p{
            margin-bottom: 0;
        }
    }
   
}