.trialform-thank-you{
    background: #fff;
    .cmp-title{
        h2{
            color: #414042;
            font-weight: 400;
            margin: 0;
            
            @media (min-width: $break-sm) {
                line-height: 1.45em;
                 font-size: 1.96667rem;
            }
        }
    }
    .cmp-text{
        li{
            @media (min-width: $break-sm) {
                font-size: 1.2rem;
            }             
            a{  
                color: #fe5000;
            }
        }
        a{  
            color: #fe5000;
        }
        p{           
            @media (min-width: $break-sm) {
                font-size: 1.4rem;
            } 
        }
    }
    
   section{

        padding: 30px 0;
        @media (min-width: $break-sm) {
            padding: 50px 0;
        }
        .md-flex{
            @media (max-width: 800px) {
                display: flex;
                flex-flow: column;
            }
        }       
        .img-wrap{
            @media (max-width: 800px) {
                order: 1;
                padding:0 0 10px 0; 
            }           
        } 
        .content-wrap{
            @media (max-width: 800px) {
                order: 2;
                padding:0; 
            }           
        } 
    }
    

    blockquote {
        margin: 0 auto;
        max-width: 1440px;
        h1 {
            font-weight: 400;
            color: #fff;         
            font-size: 3.27778rem;
        }
        p{
            @media (min-width: $break-sm) {
                font-size: 1.4rem;
                margin-bottom: 0;
                max-width: 500px;
            }
           
            color: #fff;
           
        }
    }
    .page-caption{
        h2{
            color: #414042;
            font-weight: 400;
            margin: 0;
            
            @media (min-width: $break-sm) {
                line-height: 1.45em;
                 font-size: 1.96667rem;
            }
        }
    }
   
  
    
    .layout-full-bleed > .aem-GridColumn.aem-GridColumn--default--12:nth-of-type(even){
            background: #f1f1f1;
            .layout-inner-wrap{
                .responsivegrid:first-child{
                    float: right;
                    padding-left: 1.25%;
                }
                .responsivegrid:last-child{
                    float: left;
                    padding-right: 1.25%;
                }
            }
    }
    

   
}