<div id ="page-content" class="page-careers careers_overview bg-white">
	<section id="overview-slides" class="section text-center">
			<div class="section-content mb2">
			<div class="ha mb1">${properties.titleOverview @ context='html'}<br/>${properties.title2Overview @ context='html'}</div>
			<div class="h3 p readability">${properties.subtitleOverview}</div>
		</div>

			<div>
				<div class="section-content">
					<img src="/etc/clientlibs/bmc/head/2016/careers/careers_2.jpg" class="block-center">
				</div>
				<div class="bg-mediumOrange pattern">
					<div class="h2 p white readability">${properties.imageTextOverview @ context='html'}</div>
				</div>
			</div>
</section>
<section id="work-for-bmc" class="section bg-white">
		<div class="section-content py4 text-center">
			<div class="ha mb2">${properties.titleWorkForBMC @ context='html'}</div>
			<div class="h4 p mb1">${properties.subtitleWorkForBMC @ context='html'}</div>
			<div class="divider--orange mb1"></div>
			<div class="h4 p readability-large">${properties.subtitle2WorkForBMC @ context='html'}</div>
		</div>
		<section class="section three-column-layout">
				<div class="section-content text-center">
					<div class="lg-flex mb2  flex-justify-center">
						<div class="flex-item col-12 lg-col-4 mb1 p1 ">
							<a href="/templates/Media_Video_Mobile?vID=030433d0809c4" target="_self" class="card flex-col video-play modal-video-player" onclick="">
								<div class="ha card-image mb2">
									<img src="/etc/clientlibs/bmc/head/2016/careers/careers-fast-track.jpg">
									<svg class="icon--playButton pos-center">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-VideoPlay"></use>
									</svg>
								</div>
								<div class="card-content">
									<div class="h4 ship-gray">${properties.videoText1 @ context='html'}</div>
								</div>
							</a>
						</div>
						<div class="flex-item col-12 lg-col-4 mb1 p1 ">
							<a href="/templates/Media_Video_Mobile?vID=evLs8SPnVOc" class="card flex-col modal-youtube-video-player" onclick="">
								<div class="ha card-image mb2">
									<img src="/etc/clientlibs/bmc/head/2016/careers/Transform-BMC.jpg" style="height: 210px; width: 360px;">
									<svg class="icon--playButton pos-center">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-VideoPlay"></use>
									</svg>
								</div>
								<div class="card-content">
									<div class="h4 ship-gray">${properties.videoText2 @ context='html'}</div>
								</div>
							</a>
						</div>
					</div>
				</div>
		</section>
</section>


<section id="join-leader" class="section white bg-shakespeare">
			<div class="section-content text-center">
			<div class="ha mb3">${properties.titleJoinLeader @ context='html'}</div>
			<div class="h3 p mb1 readability-large">${properties.subtitleJoinLeader @ context='html'}</div>
			<div class="divider--orange mb2"></div>
			<div class="h3 p mb1">${properties.text1JoinLeader @ context='html'}</div>
			<div class="divider--white-shade mb2 sm-max-hide"></div>
			<div class="h3 p mb1">${properties.text2JoinLeader @ context='html'}</div>
			<div class="divider--white-shade mb2 sm-max-hide"></div>
			<div class="h3 p mb3">${properties.text3JoinLeader @ context='html'}</div>
			<div class="trophies sm-flex mb2 mx-auto">
				<div class="sm-col-6 trophy-1 mb2">
					<div class="xl-flex">
						<div class="xl-col-6 trophy">
							<svg class="svg-inline">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-trophy"></use>
							</svg>
							<span class="no">NO</span>
							<span class="num">1</span>
						</div>
						<div class="xl-col-6 trophy-list">
							<span>Service Management</span>
							<span>Application Management</span>
							<span>Compliance</span>
							<span>Virtualization</span>
							<span>Workload Automation</span>
						</div>
					</div>
				</div>
				<div class="sm-col-6 trophy-2 mb2">
					<div class="xl-flex">
						<div class="xl-col-6 trophy">
							<svg class="svg-inline">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-trophy"></use>
							</svg>
							<span class="no">NO</span>
							<span class="num">2</span>
						</div>
						<div class="xl-col-6 trophy-list">
							<span>Operations</span>
							<span>Cloud</span>
						</div>
					</div>
				</div>
			</div>
			<em>${properties.text4JoinLeader @ context='html'}</em>

</section>
</div>
</div>