<div class="xf-pin-buttons">
    <div class="xf-pin-button xf-pin-red">
        <span class="coral-Icon coral-Icon--pinOff"></span>
        <span>${'Save' @ i18n, locale=request.locale}</span>
    </div>
    <div class="xf-pin-button">
        <span class="coral-Icon coral-Icon--heart"></span>
        <span>${'Like' @ i18n, locale=request.locale}</span>
    </div>
    <div class="xf-pin-button">
        <span class="coral-Icon coral-Icon--publish"></span>
        <span>${'Send' @ i18n, locale=request.locale}</span>
    </div>
    <div class="xf-pin-dots-container">
        <div class="xf-pin-dot"></div>
        <div class="xf-pin-dot"></div>
        <div class="xf-pin-dot"></div>
    </div>
</div>