<sly data-sly-test="${properties.bg_color == 'grey'}">
    <sly data-sly-test.bgClass="bg-seashell"></sly>
</sly>
<sly data-sly-test="${properties.bg_color != 'grey'}">
    <sly data-sly-test.bgClass="bg-white"></sly>
</sly>
<sly data-sly-test="${properties.image_location == 'left'}">
    <sly data-sly-test.imageLocation="img-left"></sly>
</sly>
<sly data-sly-test="${properties.image_location == 'right'}">
    <sly data-sly-test.imageLocation="img-right"></sly>
</sly>
<sly data-sly-use.cta="${'com.bmc.components.utils.LinkGenerator' @ urlPath=properties.cta_url}"></sly>
			<sly data-sly-test="${cta.href}">
			 	<sly data-sly-test.CtaResolvedLink="${cta.href}"></sly>
			 </sly>  
			 <sly data-sly-test="${!cta.href}">
			 	<sly data-sly-test.CtaResolvedLink="${properties.cta_url}"></sly>
			 </sly>
<sly data-sly-test="${properties.image_location == 'left'}">
	<section class="topcontent ${bgClass}">
			<div class=" aem-Grid aem-Grid--12 aem-Grid--default--12 layout-inner-wrap">                          
                              	<div class="layout-secondary aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--default--3">
                                             <a href="${CtaResolvedLink}" class="cq-dd-image text-center ${cta.isVideo ? 'modal-youtube-video-player' : ''}">
                                                   <img data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image" src="${image.src}" title="${image.alt @ context='html'}" alt="${image.alt @ context='html'}">
                                                   <div data-sly-test="${properties.addMagnifierIcon}" class="video-icon icon-vid"></div> 
                                             </a>
                                 </div> 
                                 <div class="layout-primary aem-GridColumn--phone--12 aem-GridColumn--default--9 aem-GridColumn">                                       
											<div class="cmp cmp-title cmp-title-large">

												<sly data-sly-test="${!properties.customAssetHeading}">
                                                	<h2 class="h2-variation-1">${properties.assetsHeadingPrefix @ context='html'}</h2>
                                                </sly>
                                                <sly data-sly-test="${properties.customAssetHeading}">
                                                	<h2 class="h2-variation-1">${properties.customAssetHeading @ context='html'}</h2>
                                                </sly>
												<h5>
													${properties.title @ context='html'}
												</h5>
                                                <sly data-sly-test="${properties.description}">
                                                	<h5 class="normal">
														${properties.description @ context='html'}
													</h5>
                                                </sly>
											</div>
											<div data-sly-test="${properties.cta_text}" class="cmp cmp-text aem-GridColumn aem-GridColumn--default--12">
												<a class="bold learn-more ${cta.isVideo ? 'modal-youtube-video-player' : ''}" href="${CtaResolvedLink}">${properties.cta_text @ context='html'}												
												</a>
											</div>                                      
                                </div>
            </div>
    </section>                     
</sly>
<sly data-sly-test="${properties.image_location == 'right'}">
	<section class="topcontent ${bgClass}">
			<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 layout-inner-wrap">                                               
                                 <div class="layout-primary aem-GridColumn--phone--12 aem-GridColumn--default--9 aem-GridColumn">                                       
											<div class="cmp cmp-title cmp-title-large">
												<sly data-sly-test="${!properties.customAssetHeading}">
                                                	<h2 class="h2-variation-1">${properties.assetsHeadingPrefix @ context='html'}</h2>
                                                </sly>
                                                <sly data-sly-test="${properties.customAssetHeading}">
                                                	<h2 class="h2-variation-1">${properties.customAssetHeading @ context='html'}</h2>
                                                </sly>
												<h5>
													${properties.title @ context='html'}
												</h5>
                                                <sly data-sly-test="${properties.description}">
                                                	<h5 class="normal">
														${properties.description @ context='html'}
													</h5>
                                                </sly>
											</div>
											<div data-sly-test="${properties.cta_text}" class="cmp cmp-text aem-GridColumn aem-GridColumn--default--12">
												<a href="${CtaResolvedLink}" class="bold learn-more ${cta.isVideo ? 'modal-youtube-video-player' : ''}">${properties.cta_text @ context='html'}
												</a>
											</div>                                      
                                </div>
                                <div class="layout-secondary aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--default--3">
                                             <a href="${CtaResolvedLink}" class="cq-dd-image text-center ${cta.isVideo ? 'modal-youtube-video-player' : ''}">
                                                   <img data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image" src="${image.src}" title="${image.alt @ context='html'}" alt="${image.alt @ context='html'}">
                                                   <div data-sly-test="${properties.addMagnifierIcon}"  class="video-icon icon-vid"></div> 
                                             	</a>
                                 </div> 
            </div>
    </section>     
</sly>
