<div class="extended-widget-container">
    <div class="extended-widget-header">
      <div class="top-section">
        <h2>Product Downloads</h2><a class="external-app-link btn btn-primary" [href]="widgets.prdDownloads" target="_blank">Go to the Download Center</a>
      </div>
      <div class="description">Quick downloads based on your preferences and product popularity</div>
    </div>
    <div class="extended-widget-body" [ngBusy]="epdService.busyConfig">
      <app-epd-product *ngFor="let product of epdService.products" [product]="product"></app-epd-product>
      <div class="epd-legend">
        <span class="legend">
          <span class="legend-item" style="background-color: rgb(126, 199, 35);">&nbsp;&nbsp;</span>
          Available 
        </span>
        <span class="legend">
          <span class="legend_item" style="background-color: rgb(246, 210, 120);">&nbsp;&nbsp;</span> 
        Support Only 
        </span>
      </div>
    </div>
</div>