<div class="extended-widget-container">
    <div class="extended-widget-header">
      <h2>Downloads</h2>
      <adapt-search placeholder="Search for more products"></adapt-search>
    </div>
    <div class="extended-widget-content">
      <adapt-accordion>
        <adapt-accordion-tab [isOpen]="true" title="Product 1">
          <app-tabs2></app-tabs2>
        </adapt-accordion-tab>
        <adapt-accordion-tab title="Product 2">
          <app-tabs2></app-tabs2>
        </adapt-accordion-tab>
        <adapt-accordion-tab title="Product 3">
          <app-tabs2></app-tabs2>
        </adapt-accordion-tab>
      </adapt-accordion>
    </div>
</div>