/// Placeholder for the images folder, replaced with proper path in build process.
/// @type String
$imagesFolder: '{{$imagesFolder}}';

/// Placeholder for the svg folder, replaced with proper path in build process.
/// @type String
$svgFolder: '{{$svgFolder}}';

/// Placeholder for the font folder, replaced with proper path in build process.
/// @type String
$fontsFolder: '{{$fontsFolder}}';