////
/// @group measurements
////

$formElementBorderRadius: 0px;
$widgetBorderRadius: 3px;
$lowResNavWidth: 100%;
$headerHeight: 3.35em;
$highResHeaderHeight: 75px;
$inputHeight: 48px;
$navPrimaryMenuBarHeight: 50px;
$gutterInPx: 16px;

/**
 * 'nav' measurement values
 * values that apply to the navigation key: 'nav'.
 */
$navHeaderHeight: 4em;
$navHighResHeaderHeight: 104px;
