////
/// @group typography
////

/// The percentage of the font-size to be used on the root html element.
/// @type Percentage
$baseFontPercentage: 112.5%;

/// The base font-size for the root html element.  The value represents its pixel equivalent, e.g. 16 = 16px.
/// @type Integer
$baseFontSize: 16 * ($baseFontPercentage / 100%);

/// The base line height for the root html element.
/// @type Number
$lineHeight: 1.45;
$baseLineHeight: 1.45; // legacy

/// The base font-family for the root html element.
/// @type String
$baseFontFamily: 'Open Sans Regular';

/// The base font-family for icons.
/// @type String
$iconFontFamily: 'icomoon';

/// The font-size for unordered list bullets.
/// @type Integer
$listBulletSize: 24;

/// The base line font weight for the root html element.
/// @type Number
$baseFontWeight: 400;
