form {
	margin: 0;
}

fieldset {
	border: none;
	margin: em(12) 0 0;
	padding: 0;

	&:first-child,
	&.flush {
		margin-top: 0;
	}

	legend {
		display: none;
	}

	ol {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		// applying display: inline-block and width: 100% normalizes vertical spacing between items when a combination of the two-up class and no class are used
		display: inline-block;
		margin: em(10) 0;
		width: 100%;
		
		// ----- NOTE:  I am keeping this rule here temporarily for posterity; this has been fixed in iOS7 ------
		// overflow is set due to an iOS6 bug related to the usage of the placeholder attribute
		// http://stackoverflow.com/questions/12515058/ios6-safari-orientation-change-bug
		// overflow: hidden;

		&:first-child {
			// margin-top: 0;
		}

		.page-campaign-landing & {
			@include media(breakpointLarge) {
				width: columns(11.6);	// compensate for margin-right of 0.4 on .two-up items
			}
		}
	}

	label,
	label + select {
		display: inline-block;
		line-height: normal;
	}

	input[type="text"],
	input[type="number"],
	input[type="password"],
	input[type="email"],
	input[type="tel"] {
		// height is set explicitly in pixels to match the custom selects
		height: $inputHeight;

		&.active-floatlabel {
			height: 90px;
			padding-bottom: 0;
		}
	}

	input[type="text"],
	input[type="number"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	textarea {
		@include box-sizing();
		border: 2px solid color(mediumGrey);
		border-radius: $formElementBorderRadius;
		@include font-size(14);
		max-width: 100%;
		padding: em(6 , (context: 14)); //Replaced with em(6 14);
		@include placeholder-color(#9b9a9a);
		@include transition((property: border));
		width: 100%;

		&:focus, &:active {
			border: 2px solid color(colorCorporateAction);
			outline: none;
		}

		&.validation-error {
			@extend .validation-error;
			@include placeholder-color(red);
		}

		@include media(breakpointMedium) {
			@include font-size(16);
		}

		@include media(breakpointExtraLarge) {
			@include font-size(18);
		}
	}

	textarea {
		resize: vertical;
	}

	& + button {
		margin-top: em(12);
	}
}

.select-label {
	font-size: 14px;
	margin-bottom: .5em;
	text-transform: uppercase;
}

.form-group {
	margin-bottom: 1em;
}
