a {
	color: color(curious-blue);
	text-decoration: none;
	@include transition((property: color));
	//text-shadow: 1px 1px 1px rgba(241,93,34,0.07); // #FED can help font-smoothing in some browsers

	svg {
		@include transition((property: fill));
	}

	&:hover,
	&:active,
	&:focus {
		--color: color(boston-blue);
		color: #046eb1;
	}
}

p {
	@include font-size(14);
	margin: 0 0 em(25, (context: 14)) 0; //BMC-527 - Replaced em(25 14)

	@include media(breakpointMedium) {
		@include font-size(16);
		margin: 0 0 em(21 , (context: 14)) 0; //BMC-527 - Replaced em(21 14)
	}

	@include media(breakpointLarge) {
		@include font-size(18);

		&.-oll {
			width: 50em;
		}
	}

	&:first-child {
		margin-top: 0;
	}

	&.-sm {
		@include font-size(12);
		@include media(breakpointMedium) {
			@include font-size(14);
		}
		@include media(breakpointLarge) {
			@include font-size(16);
		}
	}

	&.-lg {
		@include font-size(16);
		@include media(breakpointMedium) {
			@include font-size(18);
		}
		@include media(breakpointLarge) {
			@include font-size(20);
		}
	}
}

h1 {
	color: #4f5a65;
	font-weight: 400;
	line-height: 1.2;
	margin: 1em 0 0.33em;

	&:first-child {
		margin-top: 0;
	}
}

h1 {
	@include font-size(36);
	line-height: 1.1;
	color: color(colorHeadingsProduct);

	@include media(breakpointMedium) {
		@include font-size(54);
		font-weight: 400; 
	}

	@include media(breakpointExtraLarge) {
		@include font-size(66);
	}
}

h2 {
	color: color(mediumOrange);
	font-weight: 400;
	line-height: 1.1em;
	margin: 1em 0 0.33em;

	&:first-child {
		margin-top: 0;
	}

	.timestamp {
		font-weight:400;
		font-size:0.8em;
		color:#4f5a65;
	}
}

h2 {
	@include font-size(32);

	@include media(breakpointMedium) {
		@include font-size(30);
		font-weight: 400;
	}

	@include media(breakpointExtraLarge) {
		@include font-size(32);
	}
}

h3 {
	color: #4f5a65;
	@include font-size(18);
	font-weight: 400;
	line-height: 1.2;
	margin: 1em 0 0.33em;

	&:first-child {
		margin-top: 0;
	}
}

h3 {
	@include media(breakpointMedium) {
		@include font-size(26);
	}

	a {
		@include font-size(26);
		@include transition((property: color));
		--color: color(colorCorporateAction);
		line-height:1.1em;
		letter-spacing:-.03em;
		text-decoration: none;
		//text-shadow: 1px 1px 1px rgba(241,93,34,0.07); // #FED can help font-smoothing in some browsers

		/*&:hover,
		&:active,
		&:focus {
			color: color(darkBlue);
		}*/

		&:after {
			content:" \00203A";
		}
	}
}

h4 {
	@include font-size(20);
	color: #4f5a65;
	font-weight: 400;
	line-height: 1.2;
	margin: 1em 0 0.33em;

	@include media(breakpointMedium) {
		@include font-size(22);
	}

	@include media(breakpointExtraLarge) {
		@include font-size(24);
	}

	&:first-child {
		margin-top: 0;
	}
}

h5 {
	color: #4f5a65;
	font-weight: 400;
	line-height: 1.2;
	margin: .5em 0 0.33em;

	&:first-child {
		margin-top: 0;
	}
}

h6 {
	color: #4f5a65;
	font-weight: 400;
	line-height: 1.2;
	margin: 1em 0 0.33em;

	&:first-child {
		margin-top: 0;
	}
}

// selection colors cannot be combined into one selector as per:
// http://www.briangardner.com/tutorials/text-selection-color/
::-moz-selection {
	background: lighten(color(colorEmphasis), 67%);
	//text-shadow: 1px 1px 1px rgba(0,0,0,.06);
}
::selection {
	background: lighten(color(colorEmphasis), 67%);
	//text-shadow: 1px 1px 1px rgba(0,0,0,.06);
}

#top-banner a.button-play {
	@include transition((property: color));
	color: #ffffff;
	text-decoration: none;
	//text-shadow: 1px 1px 1px rgba(241,93,34,0.07); // #FED can help font-smoothing in some browsers

	&:hover,
	&:active,
	&:focus {
		color: #ffad38;
	}

	&:after {
		content: url('#{$imagesFolder}play-button-white.png');
		left: 10px;
		position: relative;
		top: 6px;
	}
}

.video-outer-wrapper a {
	@include transition((property: color));
	color: #ffffff;
	text-decoration: none;
	//text-shadow: 1px 1px 1px rgba(241,93,34,0.07); // #FED can help font-smoothing in some browsers

	&:hover,
	&:active,
	&:focus {
		color: color(boston-blue);
	}
}

.button-play2 {
	&:after {
		content: url('#{$imagesFolder}play-button-white.png');
	}
}

.opening-text {
	color: #4f5a65;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: .33em;

	&:first-child {
		margin-top: 0;
	}
}

address {
	margin-bottom: 1em;
	font-style: normal;
}

blockquote {
	margin: 0;
	padding: 0;

	cite {
		font-style: normal;
	}
}

//added generic class to show arrow content after the link
.a-arrow-content {
    font-weight: 800;
    &:after {
      content:" \00203A";
    }
 }
