// @category modules

// @function accordion
// Styles related to the accordion, functionality paired with the accordion.js


div.accordion {
	background-color: #fff;

	&:last-of-type {
		background: pink;
		border-bottom: 1px solid color(mediumGrey);
	}
}

ul.accordion {
	border-top: 1px solid color(mediumGrey);
	padding: 0;
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;

	& + ul.accordion {
		margin-top: 0;
	}

	.jump-to {
		$jumpToGap: $headerHeight + 1em; // Header height + a small bump for space tweaking

		display: block;
		height: $jumpToGap;
		margin-top: -1 * $jumpToGap;
		visibility: hidden;
	}

	.accordion-item {
		list-style: none;
		margin: 0 auto;
		padding-bottom: 1em;
		padding-top: 1em;

		&.open {
			.accordion-item-anchor:before {
				content: '\2013';
				line-height: 1.2;
			}

			.accordion-item-content {
				margin: 1em 0;
				max-height: 99em;
				overflow: auto;
			}

		}
	}

	.accordion-item-anchor {
		background-position: left center;
		background-repeat: no-repeat;
		background-size: contain;
		font-size: em(27);
		font-weight: 800;
		text-shadow: none;
		cursor: pointer;
		cursor: hand;

		&:before {
			border: solid 2px;
			border-radius: 50%;
			content: '\2B';
			display: inline-block;
			font-size: 1.1em;
			height: 30px;
			line-height: 1.25;
			margin-right: 20px;
			text-align: center;
			width: 30px;


			@include media(breakpointMedium) {
				height: 34px;
				margin-right: 34px;
				width: 34px;
			}
			@include media(breakpointLarge) {
				height: 36px;
				width: 36px;
			}
			@include media(breakpointExtraLarge) {
				height: 38px;
				width: 38px;
			}
		}

	}

	.accordion-item-content {
		max-height: 0;
		overflow: hidden;
		@include transition();
	}


	&.accordion-no-border{
	  border-bottom: none;
    margin:0;
	}
}

.accordion--editing {

	.accordion-item-content {
		// display the accordion in the open state during authoring
		display: block !important;
	}
}
