.aem--no-grid {

  &.aem-GridColumn {
    clear: none!important;
    float: none!important;
    width: auto!important;
  }

  .aem--inline-block {
    display: inline-block!important;
    float: none!important;
    width: auto!important;
  }

}

//DXP-698
fieldset {
	.cmp {
	    padding: 0.5rem;
	    line-height: 0.7;
	}
	
	//WEB-3091
	div.cmp-text{
		margin-bottom: 0 !important;
    	padding-bottom: 0;
    	p{
		    margin-bottom: 0;
    	}
	}
	
}

//WEB-2396
.cmp-image{ 
	&+&{
		padding-top: 1rem;
	}
}