.content-modal-table{
    overflow:auto;
    margin-bottom: 50px;
    table{
        border-collapse:separate;
        tr{
            td{
                font-size:0.8rem;
                padding: 0;
                text-align:left;
                border-left: 2px solid transparent;
                border-right: 2px solid transparent;
                a {
                    padding: 10px;
                    display: block;
                }
                &:nth-child(even){
                    border-top:1px solid #fff;
                    background-color: #eee; 
                    border-bottom:5px solid #eee; 
                }
                &:nth-child(odd){
                    border-top:1px solid #eee;
                    background-color: #fff; 
                    border-bottom:5px solid #fff;
                }
                &:hover{
                    border-bottom:5px solid #29a5d6;
                }
            }
            th{
                font-size:0.8rem;
                font-weight:bold;
                min-width:200px;
                text-align:left;
             }
        }        
    }
    
 }
 .content-table-modal-title{
    font-size: 28px;
    color: #222;
    font-weight: 600;
    margin: 0 0 30px 0;
    line-height: 28px;
 }

.jumbotron {
    padding: 30px 0;
    @media (min-width: 767px) {
        padding: 50px 0;
    }
    h1 {
        font-size: 30px;
        line-height: 36px;
        @media (min-width: 767px) {
            font-size: 50px;
            line-height: 66px;
        }
    }
}