.cloud-city-tophtml {
	clear: both;
	margin: 0 auto 10px;
	padding: 0;
}

.cloud-city-dashboard {
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.cloud-city-tophtml,
.cloud-city-dash_title {
	color: #4f5a65;
	text-align: center;
	font-size: 14px;
	@include media(breakpointMedium) {
		font-size: 16px;
	}
	@include media(breakpointExtraLarge) {
		font-size: 18px;
	}
}

.cloud-city-dash_title {
	font-size: 12px;
	@include media(breakpointMedium) {
		font-size: 14px;
	}
	@include media(breakpointExtraLarge) {
		font-size: 16px;
	}
}

.cloud-city-dash {
	display: inline-block;
	vertical-align: top;
	margin-right: 8px;
	padding-bottom: 22px;
	position: relative;
	color: #fff;
	white-space: nowrap;
	@include media(breakpointSmall) {
		padding-bottom: 24px;
	}
	@include media(breakpointMedium) {
		padding-bottom: 23px;
	}
	@include media(breakpointLarge) {
		padding-bottom: 24px;
	}
	@include media(breakpointExtraLarge) {
		padding-bottom: 26px;
	}
}

.cloud-city-digit {
	background: #faf9f6;
	border-bottom: 1px solid #c6c6c6;
	border-radius: 5px;
	color: rgb(49, 49, 49);
	display: inline-block;
	font-size: 2.5em;
	height: 1.5em;
	line-height: 1.5em;
	margin-right: -3px;
	position: relative;
	text-shadow: 0 1px 0 #fff;
	vertical-align: top;
	width: 1em;
}

.cloud-city-digit {
	background: #333;
	color: #fff;
	font-size: 1.5em;
	text-shadow: 0 1px 0 #fff;
	width: 1em;
	@include media(breakpointSmall) {
		font-size: 1.75em;
	}
	@include media(breakpointMedium) {
		font-size: 2em;
	}
	@include media(breakpointLarge) {
		font-size: 1.75em;
	}
	@include media(breakpointExtraLarge) {
		font-size: 2.25em;
	}
}

.cloud-city-dash_title {
	display: block;
	position: absolute;
	width: 100%;
	margin: 0;
	bottom: 0;
	white-space: nowrap;
}

.cloud-city-countdown.-sm {

	.cloud-city-digit {
		font-size: 1.25em;
		@include media(breakpointSmall) {
			font-size: 1.5em;
		}
		@include media(breakpointMedium) {
			font-size: 1.75em;
		}
		@include media(breakpointLarge) {
			font-size: 1.5em;
		}
		@include media(breakpointExtraLarge) {
			font-size: 2em;
		}
	}
}
