%divider-config {
	border: none;	// reset border to none; this allows the class to be used on horizontal rules
	margin-top: $columnPadding * 2;
	padding-top: $columnPadding * 2;
}

.divider {
	@extend %divider-config;
	border-top: 1px solid color(greyMedium);

	&.row {
		margin-top: 0;
	}
}

.divider-secondary {
	@extend %divider-config;
	border-top: 1px dashed color(greyMedium);
}

/* Component Divider (not used as a styler, but instead for block component element) */
.dividers {
	.divider {
		display: block;
		margin-top: .75rem;
		padding-bottom: .75rem;
	}
	.layout-full-bleed > & {
		padding: 0 1.25%; //% based for mobile
		.divider {
			margin: 1.85rem 0 0;
			padding: 0 0 1.25rem;
		}
	}	
}

