.education{
 //Layout 
  &.layout-full-bleed{
    //padding: 0px;
      //@include media(breakpointLarge) {
        padding: 0;
      //}
  }
  
  .layout-primary{
     @include media(breakpointMedium) {
        padding-right: 3%;
       // border-right: 1px solid color(aluminium);
        margin-right: 3%;
     }
     
     section{
      margin-top:1.5em;
    }
  }
  
  .layout-secondary{
    @include media(breakpointLarge) {
   //   border-left: 1px solid color(aluminium);
      //padding-left: 3%;
    }
    
    section{
     border-top: transparent;
     margin-top: 1em;
     padding-top: 1em;
    }
  }
  
  .promo{
    p{
      padding:0.5em;
    }
  }
  
  h1{
    color: color(mine-shaft);
 
    font-size: 18px;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.2;
    
    @include media(breakpointMedium) {
      font-size: 32px;
      font-size: 1.77778rem;
    }
  } 
  
  h2{
    color: color(mine-shaft);
    
    font-size: 18px;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.2;
    
     @include media(breakpointMedium) {
         font-size: 26px;
          font-size: 1.44444rem;
     }
   
  } 
    
  // Course Overview
  .overview { 
    .flex-grid{
    //  border: 1px solid red;
    //padding: $gutterInPx;
    >div{
      margin-bottom:1.5em;
      &:last-child{
         margin-bottom:0em;
      }
    }
      .flex-item {
        box-sizing: border-box;
        margin-right: em(6 , (context: 8));
        //margin-bottom: 2em;
        
        img, object, embed {
          width:100%;
        }
      }
      
      .course-abstract{
        padding-top:1em;
        
        @include media(breakpointLarge) {
        padding-top:1.5em;
         }
         
         @include media(breakpointMedium) {
         //float:right;
         text-align:right;
         }
      }
    }
  }

 // Course-Modules 
  .modules {
    ul{
      border-bottom: transparent;
      
    }
    .flex-grid{
    //padding: $gutterInPx;
      .flex-item {
        box-sizing: border-box;
        margin-right: em(6 , (context: 8));
        ul{
          list-style: initial;
          padding-left: 1em;
            li{
              list-style-type: disc;
            }
         }
      }
    }
  }
}

.section-education{ 
.section-content{
  padding-top:0;
  padding-bottom:2em;
}
}

// Customized UI for Course Cards and List
.education-cards
{
  @extend %cards-wrap;
 // padding-top: 1em;
  
  .flex-item{
    
    a{
       //width:100%;
       display:block;
       word-wrap: break-word;
    } 
      
    p{
      padding-left:1em;
      padding-right:1em;
      font-size:.85em;
       color:color(abbey);
        line-height:1.6em;
        
    }
    
    .course-type{
       background-color:color(lightGrey);
       padding-top:.5em;
       padding-bottom:.5em;
       min-height:36px; 
       line-height:1.1em;
       img{
         width: 30px; 
         float: right;
         margin-left: .5em;
       }
       &.course{
         background-color: #1CA4D8;
         color:white;
       }
       &.learningPath{
         background-color: #FF4F01;
         color:white;
       }
       &.certification{
         background-color: #00A79F;
         color:white;
       }
      }
    
    div{
      //width:100%;
      height:100%;
      display: flex;
      flex-direction: column;
    }
    
      h5{
        padding-left:1em;
        padding-right:1em;
        font-size:1em;
        line-height:1.6em;
        color:color(curious-blue);
        margin:0px;
        font-weight:400;
      }
      
      .course-details{
        padding-top:2em;
        margin-bottom:0;
        margin-top: auto;
      }
      
      .course-audience{
        font-weight:800;
      }
  }
}

.list-count{
  padding-top:1em;
  width:100%;
}

.filter-text{
// .filter-search {
   position: relative;
   padding-bottom: 4em;
  // @include media(breakpointLarge) {
    // width: 200px;
  // }
  .search-site {
     position: absolute;
     right: 0;
     top: 20px;
     width: 100%;
    // @include media(breakpointLarge) {
      // top: 0;
    // }
  }
  .search-site-b {
    @include box-sizing();
    border: solid 1px color(mediumGrey);
    border-radius: $formElementBorderRadius;
    box-shadow: 0 0 2px color(mediumGrey);
    height: $utilityNavHeight;
    overflow: hidden;
    padding: 3px 12px 0 12px;
    &:after {
      @include icon();
      color: color(darkGrey);
      content: $iconSearch;
      display: block;
      font-size: 21px;
      pointer-events: none;
      //position: absolute;
      right: 8px;
      top: 6px;
      z-index: -1;
      float:right;
      /*.ie8 & {
        display: none;
      }*/
    }
  
  .search-focus {
    position: relative;
    z-index: 1;
  }
  [type="text"] {
    background: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D) transparent;
    border: none;
    color: color(mediumGrey);
    font: 16px arial,sans-serif;
    line-height: 27px;
    height: auto;
    left: 0;
    margin: 0;
    outline: none;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 6;
    &:focus {
      color: color(darkGrey);
      opacity: 1;
      @include transition();
    }

    /*.ie8 & {
      margin-top: 4px;
    }*/
  }
  button {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    bottom: 1px;
    height: $utilityNavHeight - 2px;
    margin: 0;
    position: absolute;
    right: 1px;
    top: 1px;
    width: $utilityNavHeight;
    z-index: 2;
    &:hover {
      background-color: rgba(0,0,0,.08);
      border-left: 1px solid rgba(0,0,0,.1);
    }
	/*
    .ie8 & {
      &:after {
        @include icon();
        color: color(darkGrey);
        content: $iconSearch;
        display: block;
        font-size: 21px;
        pointer-events: none;
        position: absolute;
        right: 8px;
        top: 3px;
        z-index: -1;
      }
    }
   */
  }
}
}


/////

.functionalHeroHeader{
  text-align:center;
  color: white;
  
  form{
    margin:1em;
    li{
      margin: auto; 
      width: 100%;

      >div{
          display: inline-block;
           width: 100%;
           
         
          @include media(breakpointMedium) {
                width: auto;
          }
          >div{
          float:none;
          width:100%;
          margin: 0px;
           
            @include media(breakpointMedium) {
                float: left;
                width: 300px;
                margin:1rem;
             }
          }
          a{
            //float: left;
             @include media(breakpointSmall) {
                margin-top:1.1rem;
                float:none;
             }
              @include media(breakpointMedium) {
                margin-top:1rem;
                 float: left;
             }
             @include media(breakpointLarge) {
                margin-top:.8rem;
                 float: left;
             }
          }
      }
    }
  }
 
  h1{
   font-size: 26px;
   font-size: 1.44444rem;
    font-weight: 800;
    line-height: 1.2;
    
    @include media(breakpointMedium) {
      font-size: 39.6px;
      font-size: 2.2rem;
    }
  } 
  
  h4{
   color: white;
  } 
}

.color-container{
   
  h4{
   color: white;
  }
  
  div{
    background-color: color(ship-gray);
    text-align:center;
  }
  
   &.mediumOrange{
     background-color: color(mediumOrange);
      div{
        background-color: color(mediumOrange);
       }
    }
  
  a{
      margin-right:1em;
      width:60%;
      
       @include media(breakpointSmall) {
          width:60%;
        }
        
        @include media(breakpointMedium) {
          width:40%;
        }
        
        @include media(breakpointLarge) {
          width:19%;
        }
    }
}

.imageCaptionCard{
  figcaption{
    padding:0px;
  }
}

 .edu-copyright-note{
	text-align: center; 
	font-size: 10px; 
	margin-bottom: .5cm
 }
