// Customized UI for Course Cards and List
.event-filters{
	display: none;
	fieldset{
		ol{
			text-align: center;
			
			.filter-label{
				margin-left:auto; 
				margin-right: 0.5rem;
				font-weight: 400;
				padding: .5rem 0rem; 
				font-size:1.7rem
			}
			li{
				margin-right:auto; 
				margin-left:0.5rem;
			}
		}
	}
}

.events-cards
{ 
  	@extend %cards-wrap;
 
	h2{
	 	margin-left:1rem; 
	 	margin-right:1rem;
	 	text-align:left;
	 	border-bottom: 1px solid #cacaca;
		padding: .5rem;
	}  

	.flex-justify-center{
		justify-content: center;
	}

  .flex-item{
    
    a{
       //width:100%;
       display:block;
       word-wrap: break-word;
    } 
      
    p{
      padding-left:1em;
      padding-right:1em;
      font-size:.85em;
       color:color(abbey);
        line-height:1.6em;
        
    }
    
    .event-type{
       background-color:color(lightGrey);
       padding-top:.5em;
       padding-bottom:.5em;
       min-height:36px; 
       line-height:36px;
       
       .iconHolder{
       	float: right;
       	margin-top: 0.2em;
       }
       
       img{
         width: 30px; 
         float: right;
         margin-left: .5em;
       }
       &.type1{
         background-color: #1CA4D8;
         color:white;
         font-size: 0.72rem;
       }
       &.type2{
         background-color: #FF4F01;
         color:white;
       }
       &.type3{
         background-color: #00A79F;
         color:white;
       }
       &.type4{
         background-color: #00A79F;
         color:white;
       }
      }
    
    div{
      //width:100%;
      height:100%;
      display: flex;
      flex-direction: column;
    }
    
      h5{
        //padding-left:1em;
        //padding-right:1em;
        font-size:1em;
        line-height:1.6em;
        color:color(curious-blue);
        margin:0px;
        font-weight:400;
        padding:1em;
      }
      
      .event-date{
		margin-bottom: 0.5rem;
		padding-left: 1rem;
      }
      
      .event-location{
        font-weight: bold;
		margin-bottom: 0.5rem;
		padding-left: 1rem;
      }
  }
}

.events-modal-details{
    
    display:none;
    .modal-logo-section{
      text-align:center;
      img{
        height:auto;
        width:100%; 
        max-width:200px;
      }
      .links{
       // display:inline-block;
        text-align:left;
      }
      span{
        padding-right:1em;
      }
    }
    
    .modal-content{
      .section-header{
        margin-right:0px; 
        margin-left:0px;
      }
      .section-content{
        margin-right:0px; 
        margin-left:0px;
      }
     
     @media (min-width: $break-md) { 
            padding-left:2rem;  
      }
    }   
  }


