// @category modules

// @function fancybox
// A responsive modal system that can display content via AJAX, within iframes, or as inline.
// @usage
// <a href="http://www.youtube.com/embed/sVxT0vrHeyM" class="fancybox fancybox.iframe">Fancybox - Youtube (iframe)</a>
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
	border: 0;
	margin: 0;
	outline: none;
	padding: 0;
	vertical-align: top;
}

.fancybox-wrap {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 8020;
}

.fancybox-skin {
	background: white;
	border-radius: 4px;
	color: #444;
	position: relative;
	text-shadow: none;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	height: 100%;
	width: 100%;
}

.fancybox-image {
	max-height: 100%;
	max-width: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('#{$imagesFolder}fancybox-sprite.png');
}

#fancybox-loading {
	background-position: 0 -108px;
	cursor: pointer;
	left: 50%;
	margin-left: -22px;
	margin-top: -22px;
	opacity: 0.8;
	position: fixed;
	top: 50%;
	z-index: 8060;
}

#fancybox-loading div {
	background: url('#{$imagesFolder}fancybox-loading.gif') center center no-repeat;
	height: 44px;
	width: 44px;
}

.fancybox-close {
	cursor: pointer;
	height: 36px;
	position: absolute;
	right: -18px;
	top: -18px;
	width: 36px;
	z-index: 8040;
}

.fancybox-nav {
	background: transparent url('#{$imagesFolder}fancybox-blank.gif'); /* helps IE */
	cursor: pointer;
	//height: 100%;
	height: 84%;
	position: absolute;
	text-decoration: none;
	top: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 40%;
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	cursor: pointer;
	height: 34px;
	margin-top: -18px;
	position: absolute;
	top: 58%;
	visibility: hidden;
	width: 36px;
	z-index: 8040;
}

.fancybox-prev span {
	background-position: 0 -36px;
	left: 10px;
}

.fancybox-next span {
	background-position: 0 -72px;
	right: 10px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	left: -99999px;
	max-height: 99999px;
	max-width: 99999px;
	overflow: visible !important;
	position: absolute;
	top: -99999px;
	visibility: hidden;
}

/* Overlay helper */

.fancybox-lock {
	overflow: visible !important; // Changed from hidden to visible. This solves the problem of opening modal window and screen scrolling to top when window is closed.
	width: auto;
}

.fancybox-lock body {
	overflow: hidden !important;
}

.fancybox-lock-test {
	overflow-y: hidden !important;
}

.fancybox-overlay {
	background: rgba(0, 0, 0, 0.8);
	display: none;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 8010;

	.no-rgba & {
		background: rgb(0, 0, 0);
	}
}

.fancybox-overlay-fixed {
	bottom: 0;
	position: fixed;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	visibility: hidden;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	//bottom: 0; //BMC-411
	padding-top: .5em; //BMC-411 Added
	margin-bottom: -35px;
	position: absolute;
	right: 50%;
	text-align: center;
	z-index: 8050;
}

.fancybox-title-float-wrap .child {
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	display: inline-block;
	font-weight: bold;
	line-height: 24px;
	margin-right: -100%;
	padding: 2px 20px;
	//white-space: nowrap; // BMC-411 : Removed nowrap
}

.fancybox-title-outside-wrap {
	color: #fff;
	margin-top: 10px;
	position: relative;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	background: #000;
	background: rgba(0, 0, 0, .8);
	position: absolute;
	bottom: 0;
	color: #fff;
	left: 0;
	padding: 10px;
}

// Retina graphics
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('#{$imagesFolder}fancybox-sprite-2x.png');
		background-size: 44px 152px; // The size of the normal image, half the size of the hi-res image
	}

	#fancybox-loading div {
		background-image: url('#{$imagesFolder}fancybox-loading-2x.gif');
		background-size: 24px 24px; // The size of the normal image, half the size of the hi-res image
	}

	.fancybox-dialog .fancybox-title {
		background-image: url('#{$imagesFolder}alert-caution-2x.png');
		background-size: 16px 16px;
	}
}

// Custom styles for Support Pages

.fancybox-dialog {

	.fancybox-skin {
		background-color: #f5f5f5;
		border-radius: 0;
		color: #666;
	}

	.fancybox-title {
		background: url('#{$imagesFolder}alert-caution-1x.png') no-repeat 2px 18px;
		border-bottom: 1px solid #ccc;
		color: #ff4604;
		font-size: 16px;
		font-weight: 900;
		letter-spacing: .05em;
		margin: 0 15px;
		padding: 16px 0 16px 28px;
		z-index: 8040;
	}

	.fancybox-close {
		background: url('#{$imagesFolder}alert-close.png') no-repeat center center;
		display: block;
		height: 12px;
		padding: 4px;
		right: 16px;
		top: 18px;
		width: 12px;
		z-index: 8050;
	}

	.fancybox-content {
		box-sizing: border-box;
		height: 100%;
		max-height: 400px;
		padding: 0 16px 75px;
		position: relative;
		width: 100%;

		.title {
			color: #000;
			font-size: 16px;
			font-weight: 300;
		}

		.messages {
			box-sizing: border-box;
			height: 100%;
			overflow-y: auto;
			padding-top: 20px;

			.action-button {
				display: none;
			}
		}

		.message {
			color: #666;
			font-size: 14px;
			font-weight: 300;
		}

		.link {
			font-size: 14px;
			font-weight: 300;
			margin-top: -1.3em;

			a {
				color: #ff4f11;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.action {
			background-color: #f5f5f5;
			border-top: 1px solid #bbb5b4;
			bottom: 0;
			box-sizing: border-box;
			left: 15px;
			padding: 17px 0;
			position: absolute;
			right: 15px;

			.action-button {
				float: right;
			}
		}

		.action-button,
		.action-checkbox {
			display: inline-block;
			font-size: 14px;
			line-height: 20px;
		}

		.action-button {
			margin: 0;
			padding: 7px 14px;

			&:disabled {
				opacity: .5;
			}
		}

		.action-checkbox {
			padding: 10px 0 10px 15px;
			text-indent: -15px;

			input {
				height: 13px;
				margin: 0 1ex 0 0;
				padding: 0;
				position: relative;
				top: -1px;
				vertical-align: middle;
				width: 13px;
			}
		}
	}
}

.touch .fancybox-dialog .fancybox-content {
	padding-bottom: 50px;

	.messages .action-button {
		display: inline-block;
	}

	.action {
		padding: 4px 0 6px;

		.action-button {
			display: none;
		}
	}
}
