.form2{
    background-color: #fff;
    .ornate-header{
        min-height: min-content;
        .bannerContent{
            min-height: min-content;
        }
        *{
            color: #fff;
        }
    }
    form{
        padding: 1.5em;
        background: #f1f1f1;
        width: auto;
        border-top: 5px solid #fe5000;
        @media (min-width: $break-sm) {
            z-index: 1056;           
        }   
        
        position: relative;
       
        
        .btn-secondary {
            background-color: #2d6d91;
            text-transform: uppercase;
            border: none;
            border-radius: 0;
            max-width: 210px;
            margin: 15px auto;
            display: block;
            + p{
                text-align: center;
            }
        } 
        #C_OptIn_group{
            display: block
        }
        .cmp-title{
            h1{
                font-size: 30px;
            }
            h1,h5{
                font-weight: 500;
            }       
        }  


        fieldset:not(#foo){
            label{
                margin-bottom: 5px;
                color: #000;
            }
            .decorator-select 
            {
                margin-top: 0;
                margin-bottom: 0;
                select {
                    background: #fff;
                 }
                 // arrow down options for select fields
                 &:after {
                    content: "\e601";
                    height: 48px;
                    pointer-events: none;
                    position: absolute;
                    right: 0;
                    top: 15px;
                    width: 58px;
                    z-index: (z(content)+1);
                    font-family: 'icomoon';
                    text-align: center;
                }
            }
            .cmp-options {
                padding-top: .5em;
                padding-bottom: .5em;
                font-size: 0.94rem;
                ol#C_Contact_Me1_group, ol#C_OptIn_group {
                    border-bottom: 1px solid #ccc;
                    margin-bottom: 15px;
                    padding-bottom: 15px;                   
                }
            }
            .decorator-select.validation-error{
                padding: 0;
            }
    
            // aligning valdation exlamation at the right side
            .validation-error{
                background-position: 97%;
                padding: 0.44444em 1.77778em 0.44444em 0.44444em ;
            }
            .valid-input {
                border: 2px solid #37a447;
                background: #fff url(head/icon-error.png) .44444em center no-repeat;
            }
            .error-text {
                color: #de2a12;
                padding: 8px 0 0 0;
                display: inline-block;
                font-size: 14px;
                font-style: italic;
            }
        }   
           
    }
    .contact-info {
        background: #fff;
        h3{
            font-weight: 400;
        }
    }
    .header-content {
        @media (min-width: $break-sm) {
            padding-left: 50px;             
        }        
    }

    

}

