.form2{
    background-color: #fff;
    .ornate-header{
        min-height: min-content;
        .bannerContent{
            min-height: min-content;
        }
        *{
            color: #fff;
        }
    }
    form{
        padding: 1.5em;
        background: #f1f1f1;
        width: auto;
        border-top: 10px solid #fe5000;
        position: relative;
        @media (min-width: $break-md) {
            z-index: 10; 
            margin-top: -300px;          
        }  
        @media (max-width: $break-md) {
            margin-top: 0px !important;         
        }  
                        
        .btn-secondary {
            background-color: #2d6d91;
            text-transform: uppercase;
            border: none;
            border-radius: 0;
            max-width: 210px;
            margin: 15px auto;
            display: block;
            + p{
                text-align: center;
            }
        } 
        #C_OptIn_group{
            display: block
        }
        .cmp-title{
            h1{
                font-size: 30px;
            }
            h1,h5{
                font-weight: 500;
            }       
        }  


        fieldset:not(#foo){
            label{
                margin-bottom: 5px;
                color: #000;
            }
            .decorator-select 
            {
                margin-top: 0;
                margin-bottom: 0;
                background: #fff;
                select {
                                    
                    appearance: none;
                    
                 }
                 select::-ms-expand {
                    display: none;
                }
                 // arrow down options for select fields
                 &:after {
                    content: "\e601";
                    height: 48px;
                    pointer-events: none;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 54px;
                    z-index: 105;
                    font-family: 'icomoon';
                    text-align: center;
                    border-left: 1px solid #ccc;
                    line-height: 48px;
                    color: #0091dd;
                    background: #fff;
                }
                .validation-error {
                   background-image: none;
                 
                }
            }
            .decorator-select.validation-error {
                 background-image: none;
               
             }
             .decorator-select.valid-input {
                   background-image: none;
                }
            .cmp-options {
                padding-top: .5em;
                padding-bottom: .5em;
                font-size: 0.94rem;               
            }
    
            // aligning valdation exlamation at the right side
            .validation-error{                
                --background: #ffffff url(icon-error.png) no-repeat;
                background: #ffffff;
                background-position: 97%;
                padding-left: 0.44444em;
              
            }
            .valid-input {
                border: 2px solid #37a447;
                background: #fff url(icon-success.png) .44444em center no-repeat;
                background-position: 97%;
            }
            .error-text {
                color: #de2a12;
                padding: 8px 0 0 0;
                display: inline-block;
                font-size: 14px;
                font-style: italic;
                line-height: 14px;
            }
            .form-group.checkbox{
                li{
                    label{
                        display: table;
                        padding-left: 5px;
                        &::before{
                            padding-right: 20px;
                            display: table-cell;
                            vertical-align: text-top;
                        }
                    }
                }                
                
            }
        }   
        hr.field-sep{
            border-bottom: 1px solid #ccc;
            margin: 15px -1.5em;    
                
        }
           
    }
    .contact-info {
        background: #fff;
        h3{
            font-weight: 400;
        }
    }
    .header-content {
        @media (min-width: $break-sm) {
            padding-left: 50px;             
        }        
    }
    
    .layout-inner-wrap{
        .cmp-title  {
            h2{
                color: #333;
            }            
        }
    }
	
	@media (min-width: $break-lg) {
		.product-category-header.product-category-header2 .bannerContent .layout-inner-wrap .flex-item {
			margin-left: 30px;
		}
	}
	@media (min-width: $break-md) {
		[class*="50-50contentcontainer"] .equal-column:last-child {
			padding-left: 2.05%;
		}
		
	}
    

}

