.form2{
    background-color : #fff;

    // IE footer white bar fix
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
       background-color : #414042;
       .plainheader + .responsivegrid {
            background: #fff;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
    }
    .minHeight-1px{
        min-height: 1px;
    }	
	.maincontentcontainer>section:first-child>div:first-child{
		padding-bottom:0px !important;
	}	    
    .ornate-header{
        min-height: auto;
        padding: 40px 0 !important;
        @media only screen and (max-width: 900px) {           
           float: left;            
         }
        @media (min-width: $break-md) {
            min-height: auto;
        }
        .offset-wrapper{
            min-height: auto;
            @media (min-width: $break-md) {
                min-height: auto;
            }
        }
        .bannerContent{
            min-height: auto;
            padding: 0 1rem;
            
			 
            .layout-inner-wrap.flex{
                align-items: center;
                min-height: auto;   
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                    @media (min-width: $break-md) {
                        min-height: auto;
                    }
                }
                @media  only screen and (max-width: 900px) {
                   flex-direction: column;

                }
               
            }
            .layout-inner-wrap{
                .cmp-title{
                    h1, h2{
                        color: #fff;
                        line-height: 1.3em;
                    }
                }                
            }            

         }
        *{
            color: #fff;
        }
    }
    .cmp-form{
        form{
            padding: 1em;
            background: #efefef;
            width: auto;
            border-top: 10px solid #fe4601;
            position: relative;
            @media (min-width: $break-md) {
                z-index: 10; 
              //  margin-top: -300px; 
                padding: 1.5em;         
            }  
            @media only screen and (max-width: 900px) {
                margin-top: 30px !important;         
            }  
                            
            .btn-secondary {
                background-color: #3980b2;
                text-transform: uppercase;
                border: none;
                border-radius: 0;
                max-width: 210px;
                margin: 15px auto;
                display: block;
                + p{
                    text-align: center;
                }
                &:hover{
                    background: #0091DD;
                }
                &:focus{
                    background: #0091DD;
                }
            } 
            #C_OptIn_group{
                display: block
            }
            .cmp-title{
                h1,h2{
                    font-size: 30px;
                    line-height: 1.3em;
                    margin-bottom: 10px;
                }
                h1,h5{
                    font-weight: 500;
                }       
            }  

            fieldset:not(#foo){
                padding-top:.8rem;
                label{
                    margin-bottom: 5px;
                    line-height:1.2rem;
                }
                // WEB-5510: adding border to decorator select on focus
                .focus-border{
                    border: 2px solid #29a5d6;
                }
                .decorator-select 
                {
                    margin-top: 0;
                    margin-bottom: 0;
                    background: #fff;
                    border-radius: 0;
                    select {
                        appearance: none;
                    }
                    select::-ms-expand {
                        display: none;
                    }
                    // arrow down options for select fields
                    &:after {
                        content: "\e601";
                        height: 42px;
                        pointer-events: none;
                        position: absolute;
                        right: 0;
                        top: 1px;
                        width: 54px;
                        z-index: 105;
                        font-family: 'icomoon';
                        text-align: center;
                        border-left: 1px solid #ccc;
                        line-height: 48px;
                        color: #336699;
                        background: #fff;
                    }
                    .validation-error {
                    background-image: none;                   
                    
                    }

                    // mozila : to remove dotted border around option in 
                    select:-moz-focusring {
                        color: transparent;
                        text-shadow: 0 0 0 #000;
                    }
                    option:not(:checked) {
                    color: black; /* prevent <option>s from becoming transparent as well */
                    }

                    // IE: for removing blue background behind options
                    select::-ms-value {
                        background: none;
                        color:#000;
                    }
                    .validation-error-redesign {
                        border: none;                  
                    }

                }
                .decorator-select.validation-error {
                    background-image: none;
                    padding-left: 0;
                    border: 2px solid #fe4601;
                
                }
                .decorator-select.validation-error-redesign {
                    background-image: none;
                    padding-left: 0;
                    border: 2px solid #fe4601;
                
                }                
                .decorator-select.valid-input {
                    background-image: none;
                    }
                .cmp-options {
                    padding-top: .5rem;
                    padding-bottom: .5rem;                
                }
                
                .checkbox{
                    label{
                        margin-bottom:0px;
                        padding-bottom:0px;
                        margin-top:0px;
                        padding-top:0px;
                        
                        &.validation-error-redesign{
                            ::before{
                                color:#e6e6e6;
                            }
                        }
                    }                    
                }
        
                // aligning valdation exlamation at the right side
                .validation-error-redesign,.validation-error{             
                    background: #fff; 
                    background-position: 97%;
                    padding-left: 0.44444em;
                    border-radius: 0;
                    border: 2px solid #fe4601;
                
                }
                .checkbox{
                    .validation-error-redesign, .validation-error{                
                        background: transparent;   
                        border: none;             
                    }
                }
                .valid-input {
                    border: 2px solid #36ba2f;
                    background-position: 97%;
                }
                .error-text {
                    color: #de2a12;
                    padding: 8px 0 0 0;
                    display: inline-block;
                    font-size: 14px;
                    font-style: italic;
                    line-height: 14px;
                }
                .form-group.checkbox{
                    li{
                        label{
                            display: table;
                            padding-left: 5px;
                            &::before{
                                padding-right: 20px;
                                display: table-cell;
                                vertical-align: text-top;
                                width: 15px;
                            }
                        }
                    }
                     // web-5595 for mozilla browsers only
                     @-moz-document url-prefix() {
                        line-height: 0;
                    }  
                    
                                   
                }

                @media screen and (max-width: 1298px) and (min-width: 901px) {
                    label.business_phone_label {
                        min-height: 42px;
                    }
                }

                input[type="text"],
                input[type="number"],
                input[type="password"],
                input[type="email"],
                input[type="tel"],
                textarea{
                    border-radius: 0;
                }
                .horizontal-Tag{
                    + .cmp-options{
                        padding: 0;
                    }
                }
            }   
            hr.field-sep{
                border-top: 1px solid #ccc;
                margin: 10px -1em;    
                border-bottom: 0px;
                @media (min-width: $break-md) {
                    margin: 10px -1.5em;         
                }       
            }
            .dynamic-hr{
                display: block !important;
            }
            .dynamic-optional-text{
                display: inline-block !important;
            }
            .optional-text {
                color: #a4a4a4;
                font-style: italic;
            }  
            .validation-help-text {
                font-style: italic;
            }
            .subtext-form {
                display: block;
                font-size: 18px;
                line-height: 1.3em;
                margin-top: 10px;
            }
            .submit-btn-wrap {
                display: block;
                clear: both;
                float: left;
                width: 100%;
            }

        }
    }
    .contact-info {
        background: #fff;
        h3{
            font-weight: 400;
        }
    }
    .header-content {
        @media (min-width: $break-sm) {
            padding-left: 50px;             
        }        
    }
    
    .layout-inner-wrap{
        .cmp-title  {
            h2{
                color: #333;
                margin-bottom: 1.5rem;
                line-height: 1.3em;
            }  
            h1{
                color: #333;
                margin-bottom: 10px;
            }            
        }
    }

    .cust-info{
        .card {
            text-align: center; 
            display: block;
            @media (min-width: $break-lg) {
                display: table;
                text-align: left;
            }
            .card-image {
            	margin: auto;
                max-width: 150px;
                padding-right: 4px;
                margin-bottom: 20px;
                @media (min-width: $break-lg) {
                    padding-right: 30px;
                    min-width: 150px;
                    margin-bottom: 0px; 
                    display: table-cell; 
                    vertical-align:top;                
                }
                
                img{
                    border: 2px solid #00a79d;
                }
            }
            .card-content{
            	p{
            		line-height: 1.4rem;
                }
                strong{
                   color: #333; 
                }
                @media (min-width: $break-lg) {
                    display: table-cell;                 
                }
            }
           
        }
    }
    .red-bullets{
        list-style: none;
        li{
            position: relative;
            &:before {
                content: ' ';
                width: 8px;
                height: 8px;
                background: #fe4601;
                position: absolute;
                left: -20px;
                border-radius: 50%;
                top: 8px;
            }
        }
        
       
    }
    
    .header-Mobile-View{
    	margin-right: -10%;
		margin-left: -10%;
		width: 120%;
		margin-top: 2rem;
		margin-bottom: 2rem;
		float: left;
		.offset-wrapper{
			width:80%;
			min-height: auto;	
		}
		
		.bannerContent .layout-inner-wrap{
            text-align:center;
            h1{
                color: #fff;
            }
            .responsivegrid{
                margin: 0 auto;
            }
		}
    }
	
	@media (min-width: $break-lg) {
		.product-category-header.product-category-header2 .bannerContent .layout-inner-wrap .flex-item {
			margin-left: 3rem;
		}
	}
	@media (min-width: $break-md) {
		[class*="50-50contentcontainer"] .equal-column:last-child {
			padding-left: 3rem;
		}		
    }
    
    .redesign-wrapper {
        position: relative;
        .form-wrapp {
            background: #fff;
            padding-bottom: 30px;
            @media (min-width: 901px) {
                position: absolute;
                top: 40px;
                left: 0;    
                right: 0;	
                width: 100%;
                background: transparent;
                padding-bottom: initial;
            }           
        }
    }
    .pointer-none{
        pointer-events: none;
    }
    .pointer-auto{
        pointer-events: auto;
    }
    .form-wrapp > .aem-GridColumn.aem-GridColumn--default--12 > section {
        padding: 0;
    }
    .form-wrapp{
        .maincontentcontainer > .layout-full-bleed > *:first-child > *:not([class*="bg-"]) {
            margin-top: 0;
        }       
        .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--6 {
                @media only screen and (max-width: 900px) {
                    float: none;
                    clear: both;
                    width: 100%;
                }
        }   
        
    }
    .maincontentcontainer > .layout-full-bleed > *:first-child > *:not([class*="bg-"]) {
        margin-top: 0;
    }

}

