// @category modules

// @function forms
// Custom-styled form elements, including selects, checkboxes, and radio buttons.

// IE9 and newer supported; IE8 and lower will have standard form elements
// :not() targets > IE8, #foo is just a random ID
fieldset:not(#foo) {
	input[type="radio"],
	input[type="checkbox"] {
		float: left;
		height: 1px;
		margin: 0;
		opacity: 0;
		padding: 0;
		width: 1px;

		& + label {
			clear: none;
			display: inline-block;
			padding: 6px 5px 4px 27px;
      		width: 100%;
      
			&:before {
				@include icon();
				margin-left: em(-18);
				margin-right: em(10);
			}

			&.inline {
				display: inline-block;
			}
		}
	}

	input[type="radio"] {
		& + label {
			&:before {
				content: $iconRadioUnchecked;
			}
		}
		&:active + label,
		&:focus + label {
			color: color(colorCorporateAction);
		}
		&:checked + label {
			&:before {
				content: $iconRadioChecked;
			}
		}
	}

	input[type="checkbox"] {
		& + label {
			&:before {
				content: $iconCheckboxUnchecked;
			}
		}
		&:active + label,
		&:focus + label {
			color: color(colorCorporateAction);
		}
		&:checked + label {
			&:before {
				content: $iconCheckboxChecked;
			}
		}
	}

	// these decorator styles are for browsers that can have custom selects
	.decorator-select {
		&:after {
			content: url('#{$imagesFolder}bg-select-arrow.png');
			height: $inputHeight;
			pointer-events: none;
			position: absolute;
			right: 0px;
			top: -2px;
			width: 58px;
			z-index: (z(content)+1);
		}

		select {
			outline: none;
		}
	}

	//input groups
	.form-group.checkbox,
	.form-group.radio {
		li {
			margin: 0;
			input[type="radio"] + label,
			input[type="checkbox"] + label {
				padding-left: 22px;
			}			
		}
	}

	//AEM overloads
	.aem-GridColumn {
		padding-left: 0;
	}

	//removes floats from aem-grid on form columns 
	//vertically aligns columns top to prevent stagger when float label is applied
	.aem-GridColumn--default--6 {
		@include media(breakpointMedium) {
			display: inline-block;
			float: none !important;
			vertical-align: top;
			width: calc(50% - 3px);
		}
	}

	//makes sure checkboxes don't get an extra bit padding, but radios groups do.
	.cmp-options {
		padding-top: 0;
    	padding-bottom: 0;
		.form-group {
			margin-bottom: 0;
			> label {
				font-weight: bold;
				margin-top: rem(9);	
			}
			&.checkbox {
				margin: 0;
			}
		}
		.decorator-select {
			margin-top: rem(9);
			margin-bottom: rem(9);
		}
	}
	
	//DXP-1112 - Added P tags style attribute to support text inside fieldset.
	.cmp-text{
		line-height: 1.45;
		@include font-size(14);
  		margin: 0 0 1.78571em 0; 
		 
	    @include media(breakpointMedium) {
			@include font-size(16);
			  margin: 0 0 1.5em 0; 
		} 
		@include media(breakpointExtraLarge) {
			 @include font-size(18);
			  p.-oll {
				width: 50em; 
			  } 
			}
		:first-child {
			margin-top: 0; 
		}
	}
}



fieldset {
	label {
		&.inline {
			display: inline-block;
			padding-right: 5px;
		}
	}
}

.decorator-select {
	background: #e6e6e6;
	border: 2px solid color(mediumGrey);
	border-radius: $formElementBorderRadius;
	@include box-sizing();
	display: inline-block;
	height: $inputHeight;
	overflow: hidden;
	position: relative;
	width: 100%;

	&.validation-error {
		background: #e6e6e6 url('#{$imagesFolder}icon-error.png') em(8) center no-repeat;
		padding: 0 0 0 em(32); //BMC-527 Replaced em(32 16)
	}

	&:active {
		border: 2px solid color(colorCorporateAction);
	}

	&:first-child {
		margin-left: 0;
	}

	select {
		-webkit-appearance: none;
		background: transparent;
		border: none;
		@include box-sizing();
		color: black;
		display: block;
		height: $inputHeight;
		padding: 6px 10px 6px 10px;
		position: relative;
		width: 100%;
		z-index: zIndex(content);
	}
}

input[type="file"] {
	.js & {
		visibility: hidden;
		width: 0px;
	}
}

.form-hidden {
	display: none !important;
}


///Modal form CSS
.modal-form-header{
 .layout-inner-wrap{
  .offset-hero-clear{ 
    margin: 0px; 
    width: 100%;
  }
  .offset-hero-inner-wrap{
    width: 100%; 
    margin-left: 0px; 
    padding: 0px;
  }
  }
}

.modal-form-thankyou{
  .layout-full-bleed{
    padding: 0px;
  }
}

//aem overload editing experince
.cq-Editable-dom.cmp-form-field label {
    color: #fff;
}

//Pactsafe - WEB-3091/WEB-2690
.label_subtext{
	display: inline-block;
	padding-top: .5rem;
	margin-left: -1rem;
}

