.helix_new_design{
	.unknown-section{
		.bg-white{
			padding: 2rem;
			.helix-logo img{
				max-width: 300px;
				max-height: 70px;
			}
			.heading{
				font-size: 2rem;
				margin: 1rem 0;
				color:#000;
				font-weight: 600;
			}
			.subHeading{
				font-size: 1.5rem;
				padding-bottom: 1rem;
			}
		}
	}
	.business-section{
		padding: 3rem;
		.content{
			--padding: 0 3rem;
			.heading{
				font-size: 2rem;
				padding: 1rem 0;
			}
			.subHeading{
				font-size: 1.5rem;
				width: 70%;
			}
		}
	}
	.helix-solutions{
		figure:first-child {
			margin-top: 1rem;
		}
		.bmcHelixSolution{
			margin-bottom: -1rem;
		}
	}
	
	/*.assetStrip{
		padding: 4rem;
		.assetStripItem{
			min-height: 124px;
			margin-bottom: 0;
			background-color: rgba(0,0,0,.7);
			border-top: 2px solid #fe5000;
			-webkit-transition: .5s ease;
			transition: .5s ease;
			display: flex;
			margin-right: .5rem;
			margin-left: .5rem;
			.assetTxt{
				padding: .8rem 1.3rem;
				width: 100%;
				display: flex;
				text-align: center;
				color: #fff;
				.flex-center{
					img{
						margin-top: .2rem;
						display: inline;
						max-width: 72px;
						width: auto;
						margin: auto;
						vertical-align: top;
					}
					.inner{
						margin-left: 16px;
						max-width: 60%;
						width: auto;
						display: inline-block;
						text-align: left;
						vertical-align: middle;
						h5{
							font-size: 16px;
							font-family: "Open Sans",Helvetica,Arial,sans-serif;
							font-weight: 400;
							color: #Fe5000;
							width: 100%;
							font-size: 16px;
							margin-bottom: 0;
						}
						p{
							font-size: 18px;
							margin-top: .25rem;
							line-height: 1.2;
							margin: .5em 0 0 0;
						}
						.link{
							font-size: 18px;
							margin-top: .6rem;
							color: #3cb6ce;
						}
					}
				}
			}
		}
	}*/
	
	.helix-quote{
		padding: 4rem;
		.testimonial{
			margin: 1rem 0;
		}
	}
	
	.better-info {
		.helix-content {
			margin: 0 0 1rem 54px;
			padding: 0;
			position: relative;
			line-height: 1.5;
			font-size: 14px;
			display: table;
			&.leftAlign {
				.chat-logo {
					margin-left: 1rem;
				}
			}
			&.rightAlign {
				.chat-logo {
					margin-left: 0;
					margin-right: 1rem;
				}
			}
			.contentBody {
				background: #fff;
				padding: 1rem;
				width: 90%;
				border-radius: 25px;
				margin-bottom: 0;
				display: table-cell;
			}
			.chat-logo {
				width: 46px;
				height: 46px;
				border-radius: 50%;
				display: table-cell;
			}
		}
		.grey{
			background-color: #ccc;
			border-color: transparent;
			color: #333;
		}
	}


	
	.future-ready{
		.column{
			float: left;
			width:50%;
			img{
				max-width: 330px;
				padding: 0 0.5rem;
			}
		}
	}
	.first-industry{
		.content{
			font-size: 1.66667rem;
			margin-top: .5em;
		}
	}
		

.grey{
	background-color: #ccc;
	border-color: transparent;
	color: #333;
}
.orange-tick-bullets {
	li {
		background: url(https://www.bmc.com/etc/clientlibs/bmc/head/bg-summary-li.png) left 4px no-repeat;
	}
}
	
}