// banner-caption Starts
	.banner-caption{
		.bg-white{
			padding: 2rem;			
			.block-title{
				font-size: 2.2rem !important;
				@media (max-width: $tablet) {
					font-size:  2rem !important;
				}
				line-height: initial !important;				
				margin: 1rem 0;
				font-weight: 400;
				color: #333;
			}
			.block-text{
				font-size: 24px;
				@media (max-width: $tablet) {
					font-size: 18px;
				}
			}
			.btn{
				//background: color(boston-blue);
				border:none;    
				font-size: 18px;
				border-radius: 0;
				border-width: 1px;	
				@media (min-width: 1400px) {
					font-size: 24px;
				}		
			}
			// .play_link{
			// 	font-weight: 700;
			// 	font-size: 24px;
			// 	color: #3980B2;
			// 	display: inline-block;
			// 	img {
			// 		vertical-align: middle;
			// 		margin: 0 10px;
			// 		@media (max-width: $tablet) {
			// 			width: 31px;
			// 		}
			// 	}
				
			// } 
		}
	}

// banner-caption Ends

// Welcome Section Starts

	.welcome-section{
		padding: 3rem;
		padding-top: 1rem;
		@media (max-width: $tablet) {
			padding: 1rem;
		}
		.content{
			@media (min-width: 640px) {
				width: 70%; 
				padding-left:15%;
			}			
			padding-top: 2rem;
			.block-title{
				font-size: 2.3rem;
				@media (max-width: $tablet) {
					font-size: 1.8rem;
				}
				padding: 1rem 0;
				font-weight: 400;
				color: #333;
			}
			.block-text{
				font-size: 1.5rem;
				@media (max-width: $tablet) {
					font-size: 1.1rem;
				}
			}
			.lineStart{
				display: inline-block;
			}
			.lineEnd{
				display: inline-block;
			}
		}
	}
// Welcome Section Ends	

// Feature Section Starts

	.feature-section{	
		padding: 4rem 0;
		@media (max-width: $tablet) {
			padding: 2rem 1rem;
		}
		.feature-head{
			@media (min-width: $break-md) {
				max-width: 56%;
				margin: auto;
			}
			.block-title{
				margin-top: 0;
				font-size: 3rem;
				@media (max-width: $tablet) {
					font-size: 2.25rem;
				}
				color: #fff;
				font-weight: 600;
			}
			.block-text{
				font-size: 1.3rem;
			}
		}
		.feature-block {
			h3{
				color: #fff;
				margin-bottom: 50px;
				font-size: 24px;				
				@media (min-width: $break-sm) {
					min-width: 65px;
				}
			}
			p{
				font-size: 1.2rem;
			}
			figure {
				margin-bottom: 40px;
			}	
			.content{
				padding: 0 40px;
				@media (min-width: $break-lg) {
					padding: 0 64px;
				}
			}		
			
		}
		.btn{
			border-radius: 0;
			border-width: 1px;
			border: 1px solid #0093C9;
		}
		.btn-bg-white{
			
			background: #fff;
			color: color(boston-blue);
			//padding: 15px 50px;
			color: #0093C9;
			font-size: 22px;
			margin-top: 25px;
			@media (min-width: $break-sm) {
				//min-width: 370px;
			}
			@media (max-width: $tablet) {
				font-size: 18px;
				padding: 10px 30px;
			}
			&:hover{
				background-color: #046e96;
				border-color: #046e96;
				color: #fff;
			}
		}
	}
	
	// Feature Section Ends

	.simple-pullqoute{
		padding: 5rem 1rem;
		@media (max-width: $tablet) {
			padding: 2rem 1rem;
		}
   		background: #fafafa;
		blockquote {
			background-image: url('/content/dam/bmc/dsom-landing-page/Icon - quote.svg');
			background-repeat: no-repeat;
			@media (max-width: $tablet) {
				background-size: 80px;
				padding: 3rem 0rem;
				background-position: 50% 0;
			}
			@media (min-width: $break-md) {
				max-width: 80%;
				padding: 2rem 4rem;
			}
			margin: auto;
			p {
				font-size: 1.7rem;
				@media (max-width: $tablet) {
					font-size: 1.4rem;
				}
				font-style: italic;
				margin: 0;
			}
			hr.shortSep {
				width: 64px;
				border-top: 4px solid #0091DD;
				margin: 1rem auto;
			}
			cite {
				font-style: normal;
				font-weight: 700;
				font-size: 24px;
			}
		}
	}
	


	.section_50_50 {
		.orange-tick-bullets {
			margin: 0;
			padding: 0 0 30px 30px;
			@media (min-width: $break-md) {
				max-width: 75%;
			}			
			li {
				background: url(https://www.bmc.com/etc/clientlibs/bmc/head/bg-summary-li.png) left 4px no-repeat;
			}
		}	
		.btn{
			border-radius: 0;
			border-width: 1px;
			border-color: #0093C9;
			color: #0093C9;
		}	
		.bg-white{
			padding: 0;
			
		}
		.h2-variation-1 {
			font-weight: 600;
			margin-bottom: 26px;
		}
		.btn.btn-blue {
			&:hover{
				background-color: #046e96;
				border-color: #046e96;
				color: #fff;
			}
		}
		.content {
			
			@media (min-width: $break-md) {
				padding: 0 4rem;
			}
			@media (max-width: $tablet) {
				padding: 0 1rem;
			}
		}
		figure{
			text-align: center;
		}
		.col-sm-push-6 {
			right: 50%;
		}
		.col-sm-pull-6 {
			left: 50%;
		}

		.first-half{
			order: 1;
		}
		.last-half{
			order: 2;
		}
		
	   .h2-variation-1{
		
			@media (min-width: $break-md) {
				font-size: 2.3rem;
			}
			@media (max-width: $tablet) {
				font-size: 1.8rem;
			}
		}
		.md-flex{
			align-items: center
		}

	}

	.direction-text{
		padding: 0;
		background: #fff;
		text-align: center;
		.content{
			padding-top: 3rem;
			padding-bottom: 3rem;
			@media (min-width: 640px) {
				width: 50%; 
				padding-left:25%;
				padding-top: 5rem;
				padding-bottom: 12rem;
			}				
			h4{
				color: #FC7A00;
				font-size: 2.3rem;
				font-weight: 400;
				line-height: 64px;
				@media (max-width: $break-md) {
					font-size: 1.8rem;
					line-height: 44px;
				}
				@media (max-width: $tablet) {
					font-size: 1.4rem;
					line-height: 54px;
				}
			}
			.lineStart{
				display: inline-block;
			}
			.lineEnd{
				display: inline-block;
			}
		}	
		.small-arrow{
			padding-top: 1rem;
			padding-bottom: 1rem;
			margin-bottom: 20px;
			@media (min-width: 640px) {
				width: 55%; 
				padding-left:20%;
				padding-top: 5rem;
				padding-bottom: 6rem;
			}	
		}
		.arrow-med-text	{
			padding-top: 1rem;
			padding-bottom: 1rem;
			@media (min-width: 640px) {
				padding-top: 9rem;
				padding-bottom: 9rem;
			}	
		}
	}
	.first-industry{
		.content{
			@media (min-width: $break-md) {
				max-width: 80%;							
			}
			margin: auto;	
			padding: 3rem 2rem;
			h3{
				font-size: 1.8rem;
				color: #fff;
				font-weight: 300;
				line-height: 48px;
				letter-spacing: 0;
				@media (max-width: $tablet) {
					font-size: 1.4rem;
					line-height: 40px;
				}
			}
			strong {
				font-weight: 600;
			}	
			.btn{
				border-radius: 0;
				border: 1px solid #0093C9;
			}
			.btn-bg-white{				
				background: #fff;
				color: color(boston-blue);
				//padding: 15px 50px;
				color: #0093C9;
				font-size: 22px;
				margin-top: 25px;
				@media (min-width: $break-sm) {
					// min-width: 370px;
				}
				&:hover{
					background-color: #046e96;
					border-color: #046e96;
					color: #fff;
				}
			}		
		}
	}	

	// product-list

	.product-list{
		background-color: #fafafa;
		padding: 5rem 0;
		@media (max-width: $tablet) {
			padding: 2rem 0;
		}
		.h2-variation-1 {
			margin-bottom: 15px;
			margin-left: 15px;
			@media (max-width: $tablet) {
				font-size: 1.7rem;
			}
		}
		.guttor-width{
			margin: 15px;
			width: 100%;
		}
		.card{
			padding: 24px;
			padding-bottom: 0px;
			box-shadow: 0 1px 4px 0 rgba(0,0,0,0.12);
			transition: 0.3s linear;
			&:hover{
				box-shadow: none;
				background: #ebf2f7;
				transition: 0.3s linear;
				.learn-more {
					font-weight: 600;
					transition: 0.3s linear;
					color: #fff !important;
				}
				.card-footer{
					background: #3d81b0;
					text-align: center;
					transition: 0.3s linear;
					margin-left: -24px;
					margin-right: -24px;
				}
			}
			.card-header{
				h4{
					font-size: 12px;
					font-weight: 600;
					text-transform: uppercase;
					color: #0091DD;
					float: left;
				}
				img{
					float: right;
					height: 50px;
					margin-top: -10px;
				}
			}
			.card-content{
				clear: both;
				min-height: 200px;
				h2 {
					font-size: 24px;
					color: #3980B2;
					font-weight: 400;
					margin-bottom: 15px;
					padding-top: 15px;
				}
				p {
					color: #414042;
					font-size: 0.9rem;
				}
				hr {
					border-bottom: 2px solid #3980B2;
					max-width: 40px;
					margin: 0 0 auto 0;
				}
			}
			.card-footer{
				border-top: 1px solid #3980B2;
				padding-top: 10px;
				margin-top: 50px;
				text-align: right;
				padding-bottom: 10px;
				transition: 0.3s linear;
				
				.learn-more {
					color: #3980B2;
					font-size: 0.9rem;
					display: block;				
					transition: 0.3s linear;
				}
			}

		}
		.flex{
			@media (max-width: 601px) {
				width: 100%;
			}
		}
		
	}


	
	