.flexi-featured-analyst-blog{
	.layout-inner-wrap{
		section{
			position: relative;
		}
		.modal-youtube-video-player{
			position: relative;
			display: block;
			.carousel-icon.icon-vid{
				background: url(./icon-slide-video.png) 50% 0 no-repeat;
				width: 50%;
				height: 100%;
				display: block;
				position: absolute;
				top: 0;
				transform: scale(0.5);
			}
		}
		img{
			width: 320px;
			height: 170px;
		}
	}
	.topcontent{
		background:none;
		padding: 1.5rem 0;
	}
}


