.navigation-supplementary {
	background: color(colorNavigationEmphasis);
	@include box-sizing();
	height: 100%;
	margin: 0;
	overflow-y: auto;
	padding: 80px 0 0;
	position: fixed;
	right: -110%;
	top: 0;
	@include transition();
	width: 100%;
	z-index: 9;

	@include media(breakpointLarge) {
		background: transparent;
		padding-top: 0;
		position: relative;
		right: 0;
	}

	.navigation-two-column & {
		border-top: 3px solid color(mediumOrange);
	}

	&.navigation-active {
		right: 0;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;
		}
	}

	.navigation-tab-controls & {

		@include media(breakpointLarge) {
			display: none;
		}
	}

	a {
		transition: none;


		&.spotlight {
			@include box-sizing();
			padding: 0;

			&:hover {
				background-color: transparent;
			}

			img {
				@include box-sizing();
				border: 12px solid #eee;
				padding: 0;
			}
		}

		&:hover,
		&:active {
			--color: color(colorCorporateAction);
			color: #0093c9;
		}

		&.btn {

			background-color: color(colorCorporateAction);
			border-color: transparent;
			color: #fff;
			@include transition();

			&:hover {
				background-color: lighten(color(colorCorporateAction), 10);
			}
		}
	}

	.navigation-close-supplementary-container {

		@include media(breakpointLarge) {
			display: none;
		}
	}

	.navigation-close-supplementary {

		padding-left: em(4);

		&:before {
			@include icon();
			content: $iconArrowLeft;
			@include font-size(20);
			position: relative;
			top: 3px;
		}

		@include media(breakpointLarge) {
			display: none;
		}
	}
}


.navigation-tab-content {

	@include media(breakpointLarge) {
		background: #ebebeb;
		@include box-sizing();
		display: block;
	}

	.navigation-two-column & {

		border-left: 0;
	}

}
