// @category modules

// @function navigation
// Styles related to the site's secondary navigation.


.navigation-secondary {
	background-color: #fcfcfc;
	color: color(colorNavigationLink);
	height: 100%;
	margin: 0;
	overflow-y: auto;
	padding: 1em 0 0 1em;
	position: fixed;
	//right: -150%;
	top: 60px;
	@include transition();
	width: 100%;
	z-index: 5;
	display:none;

	@include media(breakpointLarge) {
		border-top: solid 1px #ebebeb;
		-webkit-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.15);
		box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.15);
		height: 0;
		top: 100%;
		max-height: 200px;
		opacity: 0;
		overflow: hidden;
		padding: 1em;
		position: absolute;
		transition: max-height .25s ease;
		width: auto;

	}

	&:before {

		@include media(breakpointLarge) {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 0;
			background-color: transparent;
			box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.25);
			z-index: 10;
		}
	}


	&.navigation-one-col {
		@include media(breakpointLarge) {
			width: columns(3);
		}
	}

	&.navigation-two-col {
		@include media(breakpointLarge) {
			width: columns(6);
		}
	}

	&.navigation-three-col {
		@include media(breakpointLarge) {
			width: columns(9);
		}
	}

	&.navigation-four-col,
	&.navigation-tabbed-menu {
		width: columns(12);
		
		&.navigation-active {
			@include media(breakpointLarge) {
				right: 0;
				display:block;
			}
		}
	}


	&.navigation-active {
		right: 0;
		margin: 0;
		overflow: auto;
		display:block;
		
		@include media(breakpointLarge) {
			height: auto;
			margin-top: 0;
			max-height: auto;
			opacity: .97;
			right: em(12);
			top: 100%;

		}
	}


	&.layout-inner-wrap {
		@include media(breakpointLarge) {
			padding: 0px !important;
		}
	}

	> ul {
		list-style: none;
		margin: 0;
	}

	li {
		line-height: normal;
		list-style: none;
		margin-bottom: 0;
	}

	a {
		color: color(colorCorporateAction);
		display: block;
		font-weight: normal;
		padding: em(6) 0;
		@include media(breakpointLarge) {
			@include font-size(15);
			color: #414042;
			padding: em(6) 0;
			
		}

		&:hover,
		&:active {
			color: color(colorCorporateAction);
		}

		&.link-view-all {
			color: color(colorCorporateAction);
			font-weight: bold;
			margin-top: em(8);

			&:hover,
			&:active {
				color: darken(color(colorCorporateAction), 10);
			}
		}
	}

	.btn {
		color: #fff;
		display: inline-block;
		margin-top: em(32);
		padding: em(14) em(20);
		transition: none;

		&:hover,
		&:active {
			color: #fff;
		}
	}

	.navigation-mobile-back {
		margin-bottom: em(36);

		@include media(breakpointLarge) {
			display: none;
		}
	}

	.navigation-secondary-close {
		color: color(colorCorporateAction);
		padding: em(6) 0 0 0;

		@include media(breakpointLarge) {
			color: #353537;
		}

		&:before {
			@include icon();
			content: $iconArrowLeft;
			@include font-size(20);
			position: relative;
			top: 3px;
		}
	}

	.navigation-section-header {
		@include font-size(16);
		font-weight: 700;
		line-height: 20px;
		padding: em(8) 0 em(20);

		@include media(breakpointLarge) {
			padding: em(18) 0 em(20);
		}	
	}

	.navigation-tab-controls {
		@include box-sizing();
		padding: 0;

		@include media(breakpointLarge) {
			float: left;
			padding: em(18) 0 em(36) em(18);
			width: 25%;
		}

		.navigation-section-header {
			padding-left: em(24);
		}

		.btn {
			margin-left: em(32);
		}

		a {
			color: #414042;
			@include media(breakpointLarge) {
				@include font-size(16);
			}
		}
	}

	.navigation-tab-content {

		@include media(breakpointLarge) {
			float: right;
			width: 75%;
		}

		.navigation-section-header {

			@include media(breakpointLarge) {
				padding-top: em(38);
			}
		}

	}

	a.tab-control {
		background-image: url('#{$imagesFolder}sprite-icon-product-types.png');
		background-repeat: no-repeat;
		line-height: auto;
		outline: 0;
		padding: em(16) em(8) em(16) em(80);
		transition: none;

		&.icon-service-management {
			background-position: em(20) 0px;
		}
		&.icon-featured-offerings {
			background-position: em(17) -593px;
		}
		&.icon-workload-automation {
			background-position: em(20) -192px;
		}
		&.icon-it-operations {
			background-position: em(20) -395px;
		}
		&.icon-cloud-management {
			background-position: em(20) -91px;
		}
		&.icon-it-automation {
			background-position: em(20) -291px;
		}
		&.icon-mainframe {
			background-position: em(20) -496px;
		}

		&:hover {
			background-color: lighten(color(colorNavigationEmphasis), 2);
			color: color(colorNavigationLink);
		}

		&.active-tab {
			background-color: color(colorNavigationEmphasis);
			cursor: default;
			font-weight: bold;
		}

	}
	// sprite-icon-product-types

}

.navigation-column {
	@include box-sizing();
	padding: em(24);
	position: relative;

	@include media(breakpointLarge) {
		float: left;
		padding: 0 em(16) em(24);
	}

	& + .navigation-column {
		padding-top: 0;
	}
	
	&.navigation-column-emphasis {
		background-color: #fcfcfc;
		padding: em(24);
		@include media(breakpointLarge) {
			padding-top: 0; 
		}
		
		//DXP-149 - Added new class to remove inline css
		.nav-supplemental-with-images{
		  img{
		    margin-top: -1rem;
		  }
		  
		  .navigation-section-header{
		    &.pt1{
		      padding-top: .5rem;
		    }
		  }
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	

	.navigation-one-col & {
		@include media(breakpointLarge) {
			width: columns(12);
		}
	}

	.navigation-two-col & {
		@include media(breakpointLarge) {
			width: columns(6);
		}
	}
	.navigation-three-col & {
		@include media(breakpointLarge) {
			width: columns(4);
		}
	}

	.navigation-four-col & {
		@include media(breakpointLarge) {
			width: columns(3);
		}
		
	}

	.navigation-tabbed-menu & {
		@include media(breakpointLarge) {
			width: columns(4);
		}
	}
}

	
