.parallax-box{
	margin-top: 4em; 
	
	background-size: auto; 
	background-repeat: no-repeat; 
	background-attachment: fixed;
	
	.section-content{
		margin-top: 5em; 
		margin-bottom: 2em; 
		text-align: center;
		
		h2{
			&.h2-white{
				color: #FFF; 
			}
		
			&.h2-black{
				color: #000; 
			}
			margin-bottom: 1em; 
			
			font-size: 2.2em;
			
			span{
				font-weight: normal; 
				display: block; 
				margin-top: .5em; 
				font-size: .6em;
			}
		}
	}
}