// Customized UI for Course Cards and List
.partners-cards
{ 
  .cards-4-col{
    display:block;
  }
  
  .logo-block {
    margin-bottom: 2rem;
    maring-top: 1rem;
    
    &::before
    {
      display: block;
      padding-top: 0;
    }
  
    .copy{
        position: relative;
        right:0;
        left:0;
        bottom: auto;
    }
    
    .logo-heading{
      position: relative;
     
    }
    
    .logo-inner-container{
      position: relative;
      height:auto;
    }
    
    .logo-area{
      height:130px;
        img{
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .block-title {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: left;
    border-bottom: 1px solid #cacaca;
    padding: .5rem;
    clear: both;
    margin-bottom: 20px;
    @media (max-width: $break-md) {
      margin-left: 8px;
      padding-left: 0;
    }
  }
  .h2-variation-1{
    @media (max-width: $break-md) {
      font-size: 1.5rem;
    }
  }
}

.parnter-modal-details{
    display:none;
    .modal-logo-section{
      text-align:center;
      img{
        height:auto;
        width:100%; 
        max-width:200px;
      }
      .links{
        text-align:left;
      }
      span{
        padding-right:1em;
      }
    }
    
    .modal-content{
      .section-header{
        margin-right:0px; 
        margin-left:0px;
      }
      .section-content{
        margin-right:0px; 
        margin-left:0px;
      }
     
     @media (min-width: $break-md) { 
            padding-left:2rem;  
      }
    }   
  }

  //WEB-6836
  .maincontentcontainer>.layout-full-bleed>.partner-list {
      padding-bottom: 0 !important;
  }


  .partner-wrap {
    clear: both;          
     
    @media(max-width: 1400px){
      padding: 0 20px;
      float: left;
    }
}
.partner-list {
  p.partner-lead {
    padding: 0;
  }
}
