.product-category-header {

	min-height: 395px;

	@media screen and (min-width: 640px) {
		min-height: 545px;
	}

	padding: 0px !important;
	--display: flex;

	.offset-wrapper{

		min-height: 450px;

		@media screen and (min-width: 640px) {
			min-height: 300px;
		}


		display: flex;
		margin-left: auto;
		margin-right: auto;
		width:100%;
	}

	.inner{
		width:100%;
	}

	h1, h2, h5{
		font-weight: lighter !important;
		width: 100%;
	}

	h1, h2{
		display: inline-block;
		margin-top:18px;
		margin-bottom: 18px;
		@media screen and (min-width: 640px) {
			margin-top:24px;
			margin-bottom: 24px;
		}
	}

	h2{
		font-size: 1.1rem;
		line-height: 1.2em;
		max-width:80%;
		@media screen and (min-width: 640px) {
			font-size: 1.77778rem;
		}
	}

	h1{
		font-size: 2.5rem;
		@media screen and (min-width: 640px) {
			font-size: 3rem;
		}
	}


	.btn-secondary{
		margin-top:18px;
		margin-bottom: 18px;
		margin-right: 0px;

		@media screen and (min-width: 640px) {
			margin-top:24px;
			margin-bottom: 24px;
		}
	}
	.mr1 {
		margin-right: .5rem;
	}

	.bannerContent{
		padding-bottom: 1rem;
		padding-top:1rem;
		min-height: 400px;
		display: flex;
		@media screen and (min-width: 640px) {
			min-height: 400px;
		}
		.layout-inner-wrap{
			text-align:center;
			@include media(breakpointLarge) {
				text-align:left;
			}
		}
		.inner{
			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
				margin-top: 3rem;
			}
		}
	}


	.btn-secondary{
		border-radius: 0px;
	}

	.assetStrip {
		display: block;
		position: relative;
		z-index: 9;
		width: 100%;
		padding-bottom: 1rem;

		@media screen and (min-width: 640px) {
					padding-bottom: 0px;
		}

		text-align: left;

		@media screen and (max-width: 640px) {
					background-color: rgba(0, 0, 0, 0.7);
					border-top: 1px solid  #fe5000;
				}

		> .inner {
			max-width: 1440px;
			margin: 0 auto;

		}

		.assetStripItem {
			display: flex;


			> .inner{
					width:100%;
					display: flex;
			> .sm-flex
				{
					width: 100%;
				}
			}

			margin-right: .5rem;
			margin-left: .5rem;

			@media screen and (max-width: 640px) {
					margin-right: 1rem;
					margin-left: 1rem;
			}

		}

		.contentContainer > .flex-item  > .inner{

			padding-bottom: 1em;

			.flex-center{
				width: 100%;
			}
		}

		.contentContainer > .flex-item.no-border  > .inner{

		}

		.dummyClickable{
			position: relative;
		    top: -175%;
			left: 3%;
			width: 94%;
			height: 100%;
		}

		h5 {
			color: #Fe5000;
			font-size: 16px;
			margin-bottom: 0;
		}

		p {
			line-height: 1.2;
			margin: .5em 0 0 0;
		}

		.assetImg a {
			display: block;
		}

		.assetTxt{
			color: white;
			width: 100%;

			.link{
				color: #3cb6ce;
				margin-top: .25rem;
				font-size: 14px;

				@media screen and (min-width: 640px) {
						margin-top: .6rem;
				}
			}

			img{
				max-width: 72px;
				width: auto;
				margin: auto;
				vertical-align: top;
				display: none;
				margin-top: 1.2rem;
				@include media(breakpointLarge) {
					margin-top: .2rem;
				}
			}

			p{
				font-size: 16px;
				margin-top:.25rem;
			}
		}

		.contentContainer{
			>.assetStripItem{
				margin-bottom: 0rem;
				background-color: rgba(0, 0, 0, 0.7);

				@media screen and (max-width: 640px) {
					background:none;
				}
			}

		}

		.contentContainer > .flex-item > .inner {
			padding: .8rem 1.3rem;
			@media screen and (max-width: 640px) {
				padding-right: 0px;
				padding-left: 0px;
			}
		}

		.contentContainer{
				>.sm-col-4{
					img{
						margin-top: .2rem;
					}
				}
		}

		@include media(breakpointSmall) {

			img{
				display: none;
			}

			.assetTxt .inner {
				margin-left: 0px;
				width: 100%;
				max-width: 100%;
			}

			.assetTxt{
				.inner{
					text-align:left;
				}
			}
		}

		@include media(breakpointMedium) {
			margin-top: 0;
			> .inner {
				background: none;
			}

			.assetTxt{
				.inner{
					margin-left: 0;
					display: inline-block;
					text-align:left;
					vertical-align: middle;
				}
			}

			.link{
				margin-top:.6rem;
			}

		}


		@include media(breakpointLarge) {

			.assetTxt{
				img{
					display: inline;
				}
				text-align: center;

				.inner {
					margin-left: 16px;
					max-width: 60%;
					width: auto;
					p{
						font-size: 18px;
						margin-top:.25rem;
					}
					.link{
						font-size: 18px;
						margin-top:.6rem;
					}
					h5 {
						font-size: 16px;
					}
				}
			}


			.contentContainer{
				>.assetStripItem{
					min-height: 124px;//145px;
				}
			}

		}

		.shadow-top{

				@media screen and (min-width: 640px) {
					border-top: 2px solid  #fe5000;
					transition: .5s ease;

				}

		}

		.shadow-top:hover{

			@media screen and (min-width: 640px) {
				border-top: 2px solid  #3cb6ce;
				background-color: rgba(0, 0, 0, 1);
				transition: .5s ease;
			}


		}

	}

	//WEB-3935
	.product-category-header2 {
		h2 {
			max-width: 100%;
		}
	}
}

.product-category-promo{
	margin-top: 0em;
	.promo-content{
		padding: .7rem !important;
		margin-bottom: 0px !important;
		margin-top: 0rem !important;
		margin-bottom: 0rem !important;
		font-weight: lighter;

		span{
			font-weight: normal;
		}
	}
	.promo-content>a:hover{
		text-decoration: underline;
	}
}




