.pullquote-light{
    border-top: 2px solid #00a79d;
    border-bottom: 2px solid #00a79d;   
    .fullbleed-blockquote {
        background-color: #fff;
        color: #777;    
        font-size: 24px;
    }
}