.pullquote-light{
    border-top: 2px solid #6caa9a;
    border-bottom: 2px solid #6caa9a;
    margin: 20px 0;
    .fullbleed-blockquote {
        background-color: #fff;
        color: #777;    
        font-size: 24px;
    }
}