.pullquote-light{
    border-top: 2px solid #00a79d;
    border-bottom: 2px solid #00a79d;   
    margin-top: 20px;
    .fullbleed-blockquote {
        background-color: #fff;
        color: #39383a;    
        font-size: 24px;
        padding: 40px 20px;
        @media(min-width: $break-md) {
            line-height: 40px; 
            padding: 40px;
        }       
        cite {
            font-size: 18px;
        }
    }
}