.quote-section{
    &.bg-ship-gray, &.bg-corduroy{
        h2{
            color: #ffffff;
        }
    }
    h2{
        color: #414042;
    }
    padding: 50px 0;
    .owl-stage-outer{
        padding: 20px 0;
    }
    .quote {
        background: #fff;
        padding: 30px;
        transition: 0.3s linear;
        @media (max-width: $break-sm) {
            padding: 25px;   
            padding-bottom: 40px;   
        }         
        &:hover{
            box-shadow: 0 1px 4px 0 rgba(0,0,0,.12);
            transition: 0.3s linear;
        }
        p{
            color: #555557;
        }
        //  Using a Sprite
        .star-ratings-sprite {
            background: url("/content/dam/bmc/solutions/star-rating-sprite.png") repeat-x;
            font-size: 0;
            height: 21px;
            line-height: 0;
            overflow: hidden;
            text-indent: -999em;
            width: 110px;
            margin: 0 auto 0 0;
            
            &-rating {
            background: url("/content/dam/bmc/web-services/star-rating-sprite.png") repeat-x;
            background-position: 0 100%;
            float: left;
            height: 21px;
            display:block;
            }
            
        }
        h4{
            font-weight: 600;  
        }
        .more {
            font-size: 14px;
            display: inline-block;
            color: #fe5000;
            font-weight: 600;
        }        
        hr {
            border-width: 0px;
            max-width: 100px;
            border-bottom: 5px solid #fe5000;
            margin: 20px auto 20px 0;
        }
        .quote-footer{
            justify-content: space-between;
            @media (min-width: $break-sm) {
                padding: 30px;   
                padding-bottom: 40px;   
            }
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 30px;
            width: 87%;
            margin: 0;
            .info{
                width: 65%;
                p {
                    margin: 0;
                    font-size: 14px; 
                }
            }
            .logo{
                align-self: center;
                width: 35%;
                img{
                    max-width:100px;
                }
            } 
        } 
        .quoteShortDescription  {
            min-height: 70px;
        }       
    }
    .owl-next, .owl-prev {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 45%;
        background: #fe5000;
        border-radius: 50px;
        color: #fff;
        text-align: center;
        font-size: 24px;
        line-height: 40px;
    }
    .owl-next{
        right: 10px;
        @media (min-width: $break-sm) {
            right: 30px;        
        } 
    }
    .owl-prev{
        left: 10px;
        @media (min-width: $break-sm) {
            left: 30px;        
        } 
    }   
    .owl-next.disabled, .owl-prev.disabled {
        display: none !important;       
    }
}

