.quote-section{
    background-color: #fafafa;
    h2{
        font-weight: 600;
        color: #414042;
    }
    padding: 50px 0;
    .quote {
        background: #fff;
        padding: 30px;
        &:hover{
            box-shadow: 0 1px 4px 0 rgba(0,0,0,.12);
        }
        .star {
            position: relative;
            
            display: inline-block;
            width: 0;
            height: 0;
            
            margin-left: .9em;
            margin-right: .9em;
            margin-bottom: 1.2em;
            
            border-right:  .3em solid transparent;
            border-bottom: .7em  solid #fe5000;
            border-left:   .3em solid transparent;
          
            /* Controlls the size of the stars. */
            font-size: 13px;
            
            &:before, &:after {
              content: '';
              
              display: block;
              width: 0;
              height: 0;
              
              position: absolute;
              top: .6em;
              left: -1em;
            
              border-right:  1em solid transparent;
              border-bottom: .7em  solid #fe5000;
              border-left:   1em solid transparent;
            
              transform: rotate(-35deg);
            }
            
            &:after {  
              transform: rotate(35deg);
            }
          }
        h4{
            font-weight: 600;  
        }
        .more {
            font-size: 14px;
            margin-left: 30px;
            display: inline-block;
            color: #fe5000;
            font-weight: 600;
        }        
        hr {
            border-width: 0px;
            max-width: 100px;
            border-bottom: 5px solid #fe5000;
            margin: 20px auto 20px 0;
        }
        .quote-footer{
            justify-content: space-between;
            margin-top: 35px;
            .info{
                p {
                    margin: 0;
                    font-size: 14px;
                }
            }
            .logo{
                align-self: center;
                img{
                    width:100px;
                }
            } 
        }        
    }
    .owl-next, .owl-prev {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 45%;
        background: #fe5000;
        border-radius: 50px;
        color: #fff;
        text-align: center;
        font-size: 24px;
        line-height: 40px;
    }
    .owl-next{
        right: 50px;
    }
    .owl-prev{
        left: 50px;
    }
}

