// Customized UI for Resource Center Filters
.rc-filter-panel-group {
    background-color: #fff;

    .heading-group ul {
      list-style-type: none; /* Remove bullets */
      padding: 0; /* Remove padding */
      margin: 0; /* Remove margins */
    }
  
    .heading-group li {
      border: 1px solid #ddd; /* Add a thin border to each list item */
      margin-top: -1px; /* Prevent double borders */
      /*background-color: #f6f6f6; /* Add a grey background color */
      padding: 12px; /* Add some padding */
      margin-bottom: 0px;
      text-transform: uppercase; 
      font-weight: bold; 
    }

    .list-group ul {
      list-style-type: none; /* Remove bullets */
      padding: 0; /* Remove padding */
      margin: 0; /* Remove margins */
    }

    .list-group li {
      border: 1px solid #ddd; /* Add a thin border to each list item */
      margin-top: -1px; /* Prevent double borders */
      padding: 12px; /* Add some padding */
      margin-bottom: 0px;
      color: #29a5d6;
      cursor: pointer;
    }

    .keyword-search input {
      width: 100%;
      border: 0px;
    }
    .keyword-search input {
      &::-webkit-input-placeholder {
        color: #29a5d6;
      }
      &:-ms-input-placeholder {
        color: #29a5d6;
      }
      &::-ms-input-placeholder {
        color: #29a5d6;
      }
      &::placeholder {
        color: #29a5d6;
      }
    }

    .list-group li.active {
      border-right: solid;
    }
}

.rc-filter-header {
  border: 1px solid #ddd; /* Add a thin border to each list item */
  margin-top: -1px; /* Prevent double borders */
  padding: 12px; /* Add some padding */
  margin-bottom: 0px;
  color: #177ba2;
  background: white;

  .main-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: initial;
  }

  .empty-filter {
    font-size: smaller;
    color: #a7a9ab;
  }

  .badge-filter-title {
    margin-right: 2px;
    margin-left: 2px;
    display: inline-block;
    background-color: white;
    padding: .25em .4em;
    font-size: 65%;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 10rem;
    color: #29a5d6;
    border: 1px solid #29a5d6;
  }

  .reset-btn {
    color: #177ba2;
    border-style: solid;
    border-width: 2px;
    font-weight: bold;
    font-size: initial;
    padding: 6px;
    cursor: pointer;
  }
}

.rc-result-header {
  border: 1px solid #ddd; /* Add a thin border to each list item */
  margin-top: -1px; /* Prevent double borders */
  padding: 12px; /* Add some padding */
  margin-bottom: 0px;
  color: #177ba2;
  background: white;

  .results-info {
    font-size: small;
    color: black;
  }

  .pages-info {
    font-size: small;
    color: black;
  }

  .result-page {
    padding: 5px;
    font-size: small;
  }

  .rc-sort-select {
    color: #29a5d6 !important;
    border: 0px;
    background: white;
    text-transform: uppercase;
    font-size: initial;
  }
}

// Customized UI for Resource Center Cards
.rc-card-row {
  display: flex;
  flex-wrap: wrap;
  padding-block-start: 15px;
  margin-right: -20px;
  
  @include media(breakpointSmall) {
    justify-content: space-around;
  }

  @include media(breakpointMedium) {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .rc-featured-card-col {
    flex: 0 0 100%;
    box-sizing: border-box;
    padding-right: 20px;

    img, figcaption {
      @include box-sizing();
    }
    
    figcaption {
      padding: 1em 1em 0em;
    }

    img {
      width: 100%;
      
    }
  }

  .rc-card-col {
    flex: 0 0 33.33%;
    max-width:33.33%;
    box-sizing: border-box;
    padding-bottom: 15px;
    padding-right: 20px;

    @include media(breakpointSmall) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    @include media(breakpointMedium) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @include media(breakpointLarge) {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }

  .rc-card {
     width:100%;
     background-color: white;
     border: 1px solid #ddd;
     transition: all 0.2s ease-in-out;
     display: inline-block;

    img, figcaption {
      @include box-sizing();
    }
    
    figcaption {
      padding: 1em 1em 0em;
    }

    img {
      width: 100%;
      
    }
  }
  .rc-card-body {
    // Enable `flex-grow: 1` for decks and groups so that card blocks take up
    // as much space as possible, ensuring footers are aligned to the bottom.
    flex: 1 1 auto;
    padding: .75rem 1.25rem;
    height: 50%;
  }

  .rc-card-title {
    margin-bottom: .75rem;
  }

  .rc-card-img-top {
    margin-bottom: 0;
  }

  .rc-card-header-icon {
    padding: .75rem 1.25rem;
  }

  .rc-card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0; // Removes the default margin-bottom of <hN>
    color: #29a5d6;
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;

    + .list-group {
      .list-group-item:first-child {
        border-top: 0;
      }
    }

    .rc-featured-card-header-title {
      font-size: initial;
    }
  }

  .rc-card-header-separator {
    background-color: rgba(0,147,201,1.0);
    height: 4px;
    width: 40px;
    position: absolute;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    margin-top: 13px;
  }

  .ic_play {
    background-image: url("ic_play.png");
    background-repeat: no-repeat;
    background-size: 100%;
    float: right;
    width: 35px; 
    height: 50px;
    }

  .ic_download {
    background-image: url("ic_download.png");
    background-repeat: no-repeat;
    background-size: 100%;
    float: right;
    width: 35px; 
    height: 50px;
  }

  .rc-card-footer {
    padding: .75rem 1.25rem;
    border-top: 1px solid rgba(0,0,0,.125);
    border-top-color: #177ba2;
    margin-right: 15px;
    margin-left: 15px;

    &:last-child {
      border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    }
  }

  .rc-card-footer-action {
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    font-size: smaller;
    margin-bottom: 10px;
    color: #177ba2;
  }
}

.text-white {
  color: white;  
}