// Customized UI for Resource Center Filters
.rc-filter-panel-group {
    background-color: #fff;

    .heading-group ul {
      list-style-type: none; /* Remove bullets */
      padding: 0; /* Remove padding */
      margin: 0; /* Remove margins */
    }
  
    .heading-group li {
      border: 1px solid #ddd; /* Add a thin border to each list item */
      margin-top: -1px; /* Prevent double borders */
      /*background-color: #f6f6f6; /* Add a grey background color */
      padding: 15px; /* Add some padding */
      margin-bottom: 0px;
      text-transform: uppercase; 
      font-weight: bold; 
      cursor: pointer;

      @media (max-width: $break-lg) {
        font-size: small;
      }
    }

    .list-group ul {
      list-style-type: none; /* Remove bullets */
      padding: 0; /* Remove padding */
      margin: 0; /* Remove margins */
    }

    .list-group li {
      border: 1px solid #ddd; /* Add a thin border to each list item */
      margin-top: -1px; /* Prevent double borders */
      padding: 15px; /* Add some padding */
      margin-bottom: 0px;
      color: #29a5d6;
      cursor: pointer;

      @media (max-width: $break-lg) {
        font-size: smaller;
      }
      @media (max-width: $break-md) {
        font-size: small;
      }
    }

    .keyword-search input {
      width: 100%;
      border: 0px;
    }
    .keyword-search input {
      &::-webkit-input-placeholder {
        color: #29a5d6;
      }
      &:-ms-input-placeholder {
        color: #29a5d6;
      }
      &::-ms-input-placeholder {
        color: #29a5d6;
      }
      &::placeholder {
        color: #29a5d6;
      }
    }

    .list-group li.active {
      //  mobile check
      @media (max-width: $tablet) {
        &::after {
          content: "\2713";
          position: absolute;
          left: 92%;
        }
      }
      //  desktop check
      @media all and (min-width: $tablet) {
        border-right: solid;
      }
    }
}

.rc-filter-header {
  border: 1px solid #ddd; /* Add a thin border to each list item */
  margin-top: -1px; /* Prevent double borders */
  padding: 12px; /* Add some padding */
  margin-bottom: 0px;
  color: #3980b2;
  background: white;

  .header-label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: initial;
  }

  .empty-filter {
    font-size: smaller;
    color: #a7a9ab;
  }

  .js-filter-title {
    max-width: 80%;
    @media (max-width: $laptop) {
      max-width: 75%;
    }
    @media (max-width: $break-lg) {
      max-width: 70%;
    }
    @media (max-width: $break-md) {
      max-width: 65%;
    }
  }

  .badge-filter-title {
    margin-right: 2px;
    margin-left: 2px;
    display: inline-block;
    background-color: white;
    padding: .25em .4em;
    font-size: 65%;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 10rem;
    color: #29a5d6;
    border: 1px solid #29a5d6;
  }

  .reset-btn {
    position: absolute;
    color: #a7a9ab;
    border-style: solid;
    border-width: 2px;
    font-weight: bold;
    font-size: initial;
    padding: 6px;
    cursor: pointer;
    margin-left: -110px;
    margin-top: -7px;
  }

  .submit-btn {
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
  }

  .results-info {
    font-size: small;
    color: black;
    float: right;
    margin-top: 5px;
  }
}

.rc-result-header {
  border: 1px solid #ddd; /* Add a thin border to each list item */
  margin-top: -1px; /* Prevent double borders */
  padding: 12px; /* Add some padding */
  margin-bottom: 0px;
  color: #177ba2;
  background: white;

  .results-info {
    font-size: small;
    color: black;
  }

  .pages-info {
    font-size: small;
    color: black;
  }

  .result-page {
    padding: 5px;
    font-size: small;
  }

  .rc-sort-select {
    color: #29a5d6 !important;
    border: 0px;
    background: white;
    text-transform: uppercase;
    font-size: initial;

    padding-right: 2.0em;
    padding-left: 0.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;

    background-image: linear-gradient(45deg, transparent 50%, #29a5d6 50%), linear-gradient(135deg, #29a5d6 50%, transparent 50%), linear-gradient(#ccc, #ccc);
    background-position: calc(100% - 20px) calc(0.5em + 1px), calc(100% - 15px) calc(0.5em + 1px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 0px 0em;
    background-repeat: no-repeat;
    outline: none;

    @media (max-width: $break-md) {
      font-size: smaller;
    }
  }
  /*For IE10+*/
  .rc-sort-select-wrapper select::-ms-expand {
    display: none;
  }
}
.rc-result-header-bottom {
  @extend .rc-result-header;
  border: 0;
  background: none;
}

body.no-scroll{
  overflow: hidden;
}


.rc-arrow-down {
  background-image: linear-gradient(45deg, transparent 50%, #29a5d6 50%), linear-gradient(135deg, #29a5d6 50%, transparent 50%), linear-gradient(#ccc, #ccc);
  background-position: calc(100% - 20px) calc(1.5em + 1px), calc(100% - 15px) calc(1.5em + 1px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 0px 0em;
  background-repeat: no-repeat;

  @media (max-width: $break-lg) {
    background-position: calc(99% - 14px) calc(1.5em - 5px), calc(99% - 10px) calc(1.5em - 5px), calc(100% - 2.5em) 0.5em;
  }
  @media (max-width: $break-md) {
    background-position: calc(99% - 10px) calc(1.5em - 5px), calc(99% - 6px) calc(1.5em - 5px), calc(100% - 2.5em) 0.5em;
  }
}

.rc-arrow-up {
  background-image: linear-gradient(135deg, transparent 50%, #29a5d6 50%), linear-gradient(45deg, #29a5d6 50%, transparent 50%), linear-gradient(#ccc, #ccc);
  background-position: calc(100% - 20px) calc(1.5em + 1px), calc(100% - 15px) calc(1.5em + 1px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 0px 0em;
  background-repeat: no-repeat;

  @media (max-width: $break-lg) {
    background-position: calc(99% - 14px) calc(1.5em - 5px), calc(99% - 10px) calc(1.5em - 5px), calc(100% - 2.5em) 0.5em;
  }
  @media (max-width: $break-md) {
    background-position: calc(99% - 10px) calc(1.5em - 5px), calc(99% - 6px) calc(1.5em - 5px), calc(100% - 2.5em) 0.5em;
  }
}

// Customized UI for Resource Center Cards
.rc-card-row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  margin-right: -20px;

  .rc-featured-card-col {
    flex: 0 0 100%;
    box-sizing: border-box;

    img, figcaption {
      @include box-sizing();
    }
    
    figcaption {
      padding: 1em 1em 0em;
    }

    img {
      width: 100%;
      
    }

    // Customized media queries for cards
    .card-desktop {
      @media (max-width: $break-md) {
        display: none;
      }

      @media all and (min-width: $break-md) {
        display: inline-block;
      }
    }
    .card-mobile {
      @media (max-width: $break-md) {
        display: block;
      }

      @media all and (min-width: $break-md) {
        display: none;
      }
    }
  }

  .rc-card-col {
    flex: 0 0 33.33%;
    max-width:33.33%;
    box-sizing: border-box;
    padding-bottom: 15px;
    padding-right: 20px;

    // Customized media queries for cards
    @media (max-width: $break-sm) {
      flex: 0 0 100%;
      max-width: 100%;
    }
    @media all and (min-width: $break-sm) and (max-width: $break-md) {
      flex: 0 0 50%;
      max-width: 50%;
    }
    @media (min-width: $break-lg) {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }

  .card{
    padding: 24px;
    padding-bottom: 0px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.12);
    transition: 0.3s linear;
    .card-header{
      h4{
        text-transform: uppercase;
        font-weight: bold;
        font-size: small;
        color: #29a5d6;
        float: left;
        padding-top: 1.25rem;
      }
      h3{
        text-transform: uppercase;
        font-weight: bold;
        font-size: smaller;
        color: #29a5d6;
        float: left;
        padding-top: 1.25rem;
      }
      .card-icon{
        background-repeat: no-repeat;
        background-size: 100%;
        float: right;
        width: 35px; 
        height: 50px;
      }
      .card-thumbnail{
        height: 8.4rem;
        left: 0;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .card-content{
      clear: both;
      min-height: 191px;
      h4 {
        color: #414042;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 15px;
      }
      h2 {
        color: #414042;
        font-weight: 400;
        line-height: 40px;
        margin-bottom: 15px;
      }
      p {
        color: #414042;
        font-size: 0.9rem;
      }
      hr {
        border-top: 2px solid #3980B2;
        border-bottom: 2px solid #3980B2;
        max-width: 40px;
        margin: 0 0 auto 0;
        text-align: left;
      }
    }
    .card-footer{ 
      text-align: right;
      background: linear-gradient(to right, #3980B2 50%, white 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      //transition: all .5s ease-out;
      margin: 0 -1px 0 -1px;
      padding-left: 20px;
      padding-right: 20px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      .card-footer-action {
        color: #3980B2;
        display: block;
        text-transform: uppercase;
        font-size: smaller;
        font-weight: 600;
        transition: .3s linear;
        border-top: 1px solid #3980B2;
        padding: 10px;
      }
      .s-action {
        padding-right: 5px;
      }
    }
    .featured-card-footer {
      @extend .card-footer;
      background: none;
      .card-footer-action {
        color:white;
        font-size: large;
        text-align: center;
      }
    }
  }

  //  simple cards
  .simple-card{
    @extend .card;
    &:hover{
        box-shadow: none;
        background: #ebf2f7;
        transition: 0.3s linear;
        .card-footer-action {
          transition: 0.3s linear;
          color: #fff !important;
          //  white action icons
          .s-download {
            background-image: url('#{$imagesFolder}s-download-white.png');
          }
          .s-play {
            background-image: url('#{$imagesFolder}s-play-white.png');
          }
          .s-view {
            background-image: url('#{$imagesFolder}s-view-white.png');
          }
        }
        .card-footer{
          transition: 0.3s linear;          
          //padding-right: 20px;
          background-position: left bottom;
        }
      }
  }

  //  featured card
  .featured-card{
    @extend .card;
    .card-header{
      h3{
        padding-top: 2.25rem;
      }
    }
  }
  .featured-card-container:hover .featured-card-left-panel{
    .card-header {
      h3{
        color: white;
      }
    }
    .card-content {
      h2{
        color: white;
      }
      hr {
       border-top: 2px solid white;
       border-bottom: 2px solid white;
      }
    }
    .card-footer-action {
      transition: 0.3s linear;
      border-top-color:white;
    }
  }
  .featured-card-right-panel{
    width: 40%;
    float: right;
    box-shadow: none;
    .card-content {
      hr {
       border-top: 2px solid white;
       border-bottom: 2px solid white;
      }
    }
    @media (max-width: $break-md) {
      width: 100%;
    }
  }
  .featured-card-left-panel{
    width: 60%;
    @media (max-width: $break-xl) {
      .card-content {
        h2{
          font-size: x-large;
          line-height: 30px;
        }
      }
    }
  }

  //  cards actions icons
  .s-download {
    background-image: url('#{$imagesFolder}s-download.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 0.7rem;
    height: 0.9rem;
  }
  .s-play {
    background-image: url('#{$imagesFolder}s-play.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.0rem;
    height: 1.2rem;
  }
  .s-view {
    background-image: url('#{$imagesFolder}s-view.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 0.6rem;
    height: 0.7rem;
  }
  .s-download-white {
    background-image: url('#{$imagesFolder}s-download-white.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.5rem; 
    height: 1.2rem;
  }
  .s-play-white {
    background-image: url('#{$imagesFolder}s-play-white.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.5rem; 
    height: 1.2rem;
  }
  .s-view-white {
    background-image: url('#{$imagesFolder}s-view-white.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.5rem; 
    height: 1.2rem;
  }


  //  cards header icons
  .ic_play-white {
    background-image: url("ic_play-white.png");
  }
  .ic_download {
    background-image: url("ic_download.png");
  }
  .ic_download-white {
    background-image: url("ic_download-white.png");
  }
  .ic_view-white {
    background-image: url("ic_view-white.png");
  }
}

.text-white {
  color: white !important;  
}
.pr-0 {
  padding-right: 0px;
}
.pl-0 {
  padding-left: 0px;
}
.pr-20 {
  padding-right: 20px;
}

//  Resource center colors and backgrounds
$bg-bmc-blue: #3980b2;
$bg-bmc-mid-blue: #0093c9;
$bg-bmc-green: #7fbc00;
$bg-bmc-mid-green: #aacc07;
$bg-bmc-grey: #414042;
$bg-bmc-teal: #00a79d;
$bg-light-orange: #f98700;
$bg-gartner-blue: #006699;
$bg-forrester-green: #16563F;

.bg-bmc-blue{
  background-color: $bg-bmc-blue;
}
.bg-bmc-mid-blue{
  background-color: $bg-bmc-mid-blue;
}
.bg-bmc-green{
  background-color: $bg-bmc-green;
}
.bg-bmc-mid-green{
  background-color: $bg-bmc-mid-green;
}
.bg-bmc-grey{
  background-color: $bg-bmc-grey;
}
.bg-bmc-teal{
  background-color: $bg-bmc-teal;
}
.bg-light-orange{
  background-color: $bg-light-orange;
}
.bg-gartner-blue{
  background-color: $bg-gartner-blue;
}
.bg-forrester-green{
  background-color: $bg-forrester-green;
}

// Customized UI for Mobiles Resource Center Filters
.filter-menu {
  @media (max-width: $tablet) {
    display: none;
  }
  @media all and (min-width: $tablet) {
    display: block;
  }
}
.filter-menu-mobile {
  @media (max-width: $tablet) {
    display: block;
  }
  @media all and (min-width: $tablet) {
    display: none;
  }
}
#filterBodyOverlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    opacity: 0.7;
    z-index: 21;
    cursor: pointer;
    display: none;
    height: 100%;
    background-color: #293e41;
}
#filterBodyOverlay.backgroundColor {
    display: block;
}
.filter-search-overlay{
  overflow-x: hidden !important;
  width: 100%;
    min-width: 320px;
    min-height: 100%;
    //min-height: calc(100vh - 80px);
    padding-bottom: 5rem;
    position: fixed;
    top: 0rem;
    right: 0;
    z-index: 21;
    overflow: auto !important;
    max-width: 80%;
  @include media(breakpointMedium){
    top: 0rem;
    width: 50%;
  }
  @include media(breakpointLarge){
    --top: -4rem;
    width: 50%;
  }
  .rows_flex{
    width: 100%;
    padding: 0;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    max-width: 941px;
    .columns{
      background: #f5f5f5;
      width: 100%;
      min-height: 100%;
      //min-height: calc(100vh - 81px);
      padding: 0 0 1rem 0;
      text-align: left;
      position: absolute;
      left: 0;
      top: 0;
      background: #fff;
      flex: 1;
      flex-direction: row;
      .component_search{
        .filter_component_search_close{
          position: absolute;
          &:after {
            font-family: "icomoon";
            content: $iconCloseX;
            color: #177ba2;
            font-size: 1.2rem; 
            cursor:pointer;
          }
        }
        .search-panel {
          text-align: left;
          color: #fff;
          top: 0;
          .search_click {
            font-size: 0.7rem;
            --line-height: 1.2;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            position: absolute;
            z-index: 21;
            right: 1rem;
            top: 2.5rem;
            @include media(breakpointMedium){
              right: 2rem;
              font-size: 0.7rem;
              top: 2.5rem;
            }
            @include media(breakpointLarge){
              right: 3rem;
              font-size: 0.8rem;
              top: 2.5rem;
            }
            &:hover {
              color: #333;
            }
          }
        }
      }
    }
  }
}
.filter-search-overlay.topHeader{
  top: 0rem;
  @include media(breakpointMedium){
    top: 0rem;
  }
  @include media(breakpointLarge){ 
    top: 0rem;
  }
}
.filter-search-overlay.off {
  display: none;
}
.filter-search-overlay.on {
  display: block;
}