body.no-scroll{
	overflow: hidden;
}

/************************************************** Search Overlay **********************************************************/
#bodyOverlay {
    position: absolute;
    left: 0;
	top: -4rem;
    width: 100%;
    width: 100vw;
    opacity: 0.7;
    z-index: 21;
    cursor: pointer;
    display: none;
    height: 100%;
    height: calc(100vh + 100px);
    background-color: #293e41;
}
#bodyOverlay.backgroundColor {
    display: block;
}
.search-overlay{
	overflow-x: hidden !important;
	width: 100%;
    min-width: 320px;
    min-height: calc(100vh - 80px);
    padding-bottom: 5rem;
    position: absolute;
    top: 0rem;
    right: 0;
    z-index: 21;
    overflow: auto !important;
    border-top: solid 1px #f7f7f7;
    background-color: #ffffff;
	@include media(breakpointMedium){
		top: 0rem;
		width: 50%;
	}
	@include media(breakpointLarge){
		top: -4rem;
		width: 50%;
	}
	.rows_flex{
		width: 100%;
		padding: 0;
		display: flex;
		display: -webkit-flex;
		display: -ms-flex;
		flex: 1;
		flex-direction: column;
		align-items: flex-start;
		max-width: 941px;
		.columns{
			background: #f5f5f5;
			width: 100%;
			min-height: calc(100vh - 81px);
			padding: 0 0 1rem 0;
			text-align: left;
			position: absolute;
			left: 0;
			top: 0;
			background: #fff;
			flex: 1;
			flex-direction: row;
			.component_search{
				.component_search_close{
					position: absolute;
					padding: 0.4rem;
					right: 0;
					&:after {
						font-family: "icomoon";
						content: $iconCloseX;
						color: #fff;
						font-size: 1.2rem; 
						cursor:pointer;
					}
				}
				.search-panel {
					background: #fe5000;
					text-align: left;
					color: #fff;
					padding: 3% 0 0 5%;
					top: 0;
					.search_click {
						font-size: 0.7rem;
						--line-height: 1.2;
						color: #fff;
						cursor: pointer;
						display: inline-block;
						position: absolute;
						z-index: 21;
						right: 1rem;
						top: 2.5rem;
						@include media(breakpointMedium){
							right: 2rem;
							font-size: 0.7rem;
							top: 2.5rem;
						}
						@include media(breakpointLarge){
							right: 3rem;
							font-size: 0.8rem;
							top: 2.5rem;
						}
						&:hover {
							color: #333;
						}
					}
					form {
						width: 80%;
						padding-left: 0;
						line-height: 5.7rem;
						input {
							width: 80%;
							margin: 0 auto;
							border: none;
							background: transparent;
							color: #fff;
							padding: 0 0.2rem;
							font-size: 0.9rem;
							line-height: 1.8rem;
							text-decoration:none;
							outline-width: 0;
							border-bottom: 1px solid #ccccccb3;
							@include media(breakpointMedium){
								font-size: 1rem;
							}
							@include media(breakpointLarge){
								font-size: 1.5rem;
							}
						}
							::-webkit-input-placeholder { /* Chrome/Opera/Safari */
							  color: rgba(255,255,255,0.6);
							}
							::-moz-placeholder { /* Firefox 19+ */
							  color: rgba(255,255,255,0.6);
							}
							:-ms-input-placeholder { /* IE 10+ */
							  color: rgba(255,255,255,0.6);
							}
							:-moz-placeholder { /* Firefox 18- */
							  color: rgba(255,255,255,0.6);
							}
						
					}
					.drop_overlay {
						height: calc(100vh - 190px);
						width: 50vw !important;
						overflow-x: hidden;
						padding: 1.2rem 0;
						font-size: 1.8rem;
						background: #fff;
						left: 0;
						z-index: 21;
						margin-bottom: 0;
						display: none;
					}
				}
				.overlay_keywords {
					background: transparent;
					height: auto;
					text-align: center;
					color: inherit;
					padding: 2rem;
					top: 80px;
					div.heading {
						color: #293e40;
						font-size: 1.2rem;
						text-align: left;
					}
					div.keywords {
						padding: 1rem 0;
						display: flex;
						display: -webkit-flex;
						display: -ms-flex;
						flex-flow: row wrap;
						justify-content: flex-start;
						align-items: center;
						max-width: 85%;
							a {
								font-size: 1rem;
								line-height: 1.7;
								padding: 0.2rem 1rem;
								margin: .6rem 1.2rem .6rem 0;
								background: #fff;
								font-size: 1rem;
								border: #ccc solid 1px;
								cursor: pointer;
								&:link {
									text-decoration: none;
								}
							}
					}
				}
			}
		}
	}
}
.search-overlay.topHeader{
	top: 0rem;
	@include media(breakpointMedium){
		top: 0rem;
	}
	@include media(breakpointLarge){ 
		top: 0rem;
	}
}
.search-overlay.off {
	display: none;
}
.search-overlay.on {
	display: block;
}