// Module for Personalized Support Central (PSC is abbreviature) 

.support-search.psc {
	fieldset {
		width: 100%;
	}
	.contextual-tooltip {
		right: -15px;
		left: auto;
		top: 20px;
		position: absolute;
	}
}

@media (min-width: 440px) {
	.support-search.psc {
		.CoveoSearchInterface .CoveoSearchbox {
			margin-right: 0px;
		}
	}
}