// the truesight module is intentionally abstracted to contain all necessary styles in one file to be easily removed at a later date. It's purpose is to support abundant A/B Testing.

// sections

.truesight-banner {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	overflow: hidden;
	padding: 2*$gutterInPx $gutterInPx!important;
	text-align: center;

	@include media(breakpointLarge) {
		background-size: auto;
		max-height: 338px;
	}


	h1, h2 {
		color: #fff;
	}

	h1 {
		margin-top: .33em;
	}
	h2 {
		font-weight: normal;
		margin: em(12) 0;
	}

	.truesight-breadcrumbs {
		display: none;
		text-align: left;

		@include media(breakpointMedium) {
			display: block;
		}
	}



}


.truesight-topcontent {
	background-color: color(seashell);
	padding-bottom: 0;
	position: relative;

	& > .layout-inner-wrap {
		max-width: em(1150);
	}

	.truesight-tagline {
		@include font-size(30);
		margin-top: .5em;
		text-align: center;
	}


	.truesight-report {
		@include media(breakpointMedium) {
			position: relative;
		}

		img {
			display: none;

			@include media(breakpointMedium) {
				bottom: 0;
				display: block;
				left: 0;
				max-width: 169px;
				position: absolute;
			}
		}

		h5 {
			color: color(mediumOrange);
			@include font-size(18);
		}


		.truesight-report-text {
			@include box-sizing();
			min-height: 92px;
			padding-bottom: 1em;
			text-align: center;

			@include media(breakpointMedium) {
				padding: 0 0 .5em 200px;
				text-align: left;
			}

			p {
				margin-bottom: .25em;
			}

			h5 {
				margin-bottom: 0;
			}

			a {
				font-weight: bold;
			}
		}
	}

}




.truesight-summary-list {
	list-style: none;
	margin: 0;
	padding: 0;

	@include media(breakpointLarge) {
		@include font-size(18);
	}

	li {
		background: url("#{$imagesFolder}bg-truesight-summary-li.png") left 6px no-repeat;
		padding-left: 24px;

		.truesight-personna & {
			padding-left: em(35);
			margin-bottom: .5em;
		}
	}

	.truesight-personna & {
		margin: .75em 0 1.5em .33em;
	}

}

.truesight-resource-downloads {
	list-style: none;
	margin: 0;
	padding: 0;

	@include media(breakpointLarge) {
		@include font-size(18);
		margin: 1.5em 0 0;
	}

	a {
		background: url("#{$imagesFolder}bg-true-sight-resource-downloads-li.png") left 6px no-repeat;
		display: inline-block;
		font-weight: bold;
		height: 34px;
		padding-left: 40px;

		&.icon-document {
			background-position: -2px -4px;
		}
		&.icon-documents {
			background-position: 0 -108px;
		}

	}


}

.truesight-carousel-aside {
	padding-top: em(55);
}

.truesight-carousel-wrap {
	text-align: center;
}
.truesight-carousel {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;

	> li {
		height: 0;
		list-style: none;
		margin: 0;
		opacity: .5;
		padding: 0;
		position: relative;
		right: -1000%;
		transition: 1s opacity ease;

		&.active {
			height: auto;
			opacity: 1;
			right: 0;
		}
	}
}

.truesight-carousel-control {
	clear: both;
	display: inline-block;
	margin: 0 auto;
	padding: 0;

	> li {

		display: inline-table;
		list-style: none;

		& + li {
			margin-left: 1em;
		}

		a {
			background-color: color(aluminium);
			border-radius: 50%;
			display: inline-block;
			height: 18px;
			outline: none;
			overflow: hidden;
			text-indent: -99em;
			transition: 1s ease;
			width: 18px;

			&.active {
				background-color: color(mediumOrange);
			}
			&:hover {
				background-color: color(mediumOrange);
				opacity: .8;
			}
		}
	}
}

.truesight-wrapper.layout-full-bleed {
	padding-top: 0;
}


.truesight-cta-wrapper {
	background-color: color(ship-gray);
	color: #fff;
	padding: 0;

	.truesight-cta {

		@include media(breakpointLarge) {
			@include font-size(18);
		}
	}

	.two-up {
		margin: 0;
		padding: 2*$gutterInPx;
		text-align: center;

		@include media(breakpointLarge) {
			border-right: 1px solid color(corduroy);
			padding-left: 0;
			text-align: left;
	}

		& + .two-up {
			border-top: 1px solid #cacaca;

			@include media(breakpointLarge) {
				border: none;
				padding-left: 2*$gutterInPx;
			}
		}

	}

	p {
		@include media(breakpointLarge) {
			@include font-size(30);
			margin-bottom: .25em;
		}

		br {
			display: none;

			@include media(breakpointLarge) {
				display: block;
			}
		}
	}

}


.truesight-tabs-wrapper {
	background-color: color(corduroy);
	padding: 1em 0px 0px 0px; // BMC-527 : Changed to remove extra white patch
	position: relative;
	width: columns(12);

	h2 {
		color: #fff;
		margin: 2em 0;
		text-align: center;
	}

	.truesight-tabs-control {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: hidden;

		li {
			background-color: color(corduroy);
			border-left: 1px solid color(seashell);
			@include box-sizing();
			display: block;
			float: left;
			@include font-size(13);
			margin: 0;
			padding: 0;
			width: columns(4);

			@include media(breakpointMedium) {
				@include font-size(18);
			}

			@include media(breakpointLarge) {
				@include font-size(20);
			}



			&.active {
				background-color: color(seashell);

				a {
					color: color(corduroy);
					transition: none;
				}
			}

			&:first-child {
				border-color: transparent;
			}
		}

		a {
			color: #fff;
			display: block;
			font-weight: bold;
			outline: none;
			padding: 1em 0;
			text-align: center;
			width: 100%;

			span {
				display: none;

				@include media(breakpointLarge) {
					display: inline;
				}
			}
		}
	}


	.truesight-tabs {

		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;

		.truesight-personna {
			text-align: center;

			.truesight-personna-cta {
				background: url("#{$imagesFolder}bg-true-sight-resource-downloads-li.png") left top no-repeat;
				margin-bottom: 1em;
				min-height: 38px;
				padding-left: 40px;

				strong {
					display: block;
				}
			}

			figure {

				@include media(breakpointLarge) {
					margin-bottom: 0;
					min-height: 509px; // height of the image
					overflow: hidden;
					position: relative;
				}


				img, figcaption {
					@include media(breakpointLarge) {
						float: left;
					}
				}

				figcaption {

					@include box-sizing();
					margin: 0 0 2em;
					padding-left: 0;
					text-align: left;

					@include media(breakpointLarge) {
						padding: 0 0 em(56) 430px;
						margin-bottom: 0;

					}
				}

				img {
					display: none;
					margin: 0;

					@include media(breakpointLarge) {
						bottom: 0;
						display: block;
						left: em(45);
						position: absolute;
						width: 370px;
					}
				}

			}
		}

		h2 {
			color: color(ship-gray);
			font-weight: normal;
			margin: 0 0 1em 0;
			text-align: left;
		}

		> li {

			margin: 0;
			padding: 0;

			&.active {
				background-color: color(seashell);

				.tab-content {
					opacity: 1;
					height: auto;
					padding-top: 3em;
				}
			}

			.tab-content {
				max-width: $rowMaxWidth;
				opacity: 0;
				height: 0;
				overflow: hidden;
				transition: .25s ease opacity;
			}

		}
	}
}


.truesight-blockquote {
	background-color: color(lightTeal);
	color: #fff;
	@include font-size(24);
	padding: 1.75em 0;
	text-align: center;

	@include media(breakpointLarge) {
		@include font-size(30);
	}

	.layout-inner-wrap {
		max-width: 1150px;
	}

	cite {
		display: block;
		font-weight: bold;
		margin-top: .75em;
	}

}

.truesight-resources {

	background-color: color(seashell);
	padding: 2em 0;

	h2.resources-header {
		color: color(ship-gray);
		text-align: center;

		@include media(breakpointLarge) {
			margin-bottom: 1.5em;
		}
	}

	.three-up {
		@include box-sizing();
		padding-top: 1em!important;
		text-align: center;

		@include media(breakpointLarge) {
			padding: 0 2em;
		}

		& + .three-up {

			border-top: 1px solid color(mediumGrey);

			@include media(breakpointLarge) {
				border-left: 1px solid color(mediumGrey);
				border-top: none;
			}
		}

		h2 {
			color: color(ship-gray);
			font-weight: normal;
			margin-bottom: 1.5em;

			@include media(breakpointExtraLarge) {
				@include font-size(30);
			}
		}

		h5 {
			@include font-size(18);
			margin: 1.5em 0 .33em;
			text-align: left;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: left;

			li {
				margin-bottom: .33em;
			}
		}
	}

	.three-up.nth-child-np4 {
		margin-top: 0;
	}

}


.svg .truesight-icon-read,
.svg .truesight-icon-watch,
.svg .truesight-icon-explore {

	position: relative;

	&:before {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		content: '';
		display: inline-block;
		height: 45px;
		padding-right: 10px;
		position: relative;
		top: 10px;
	}
}

.svg .truesight-icon-read:before {
	background-image: url('icon-read.svg');
	width: 60px;
}
.svg .truesight-icon-watch:before {
	background-image: url('icon-watch.svg');
	height: 37px;
	width: 62px;

	@include media(breakpointExtraLarge) {
		height: 47px;
		width: 97px;
	}
}
.svg .truesight-icon-explore:before {
	background-image: url('icon-explore.svg');
	height: 50px;
	width: 60px;
}


.truesight-breadcrumb {
	color: #fff;
	font-weight: bold;
}

.truesight-CTA-simple {
	background-color: color(corduroy);
	color: #fff;
	margin-bottom: -1.6667em;
	text-align: center;

	@include media(breakpointMedium) {
		margin-bottom: -3.3333em;
	}

	@include media(breakpointLarge) {
		padding: 2em 0;
	}

	h2 {
		color: #fff;
	}

	.bg-green {
		background-color: color(apple);
		border-color: color(apple);

		&:hover,
		&:active {
			background-color: darken(color(apple), 10%);
			border-color: darken(color(apple), 10%);
		}
	}
}

.cust-links {
    color: #29a5d6;
    font-weight: 600;
  }
