// @category modules
// @function utility-responsive
// The place for utility classes specifically used for responsive purposes.

.rotate-device {
	display: none;

	@include media(rotateDevice) {
		display: block;
	}
}

.mobile-only {
	display: block;
	@include media(breakpointLarge) {
		display: none;
	}
}

.desktop-only {
		display: none;
		@include media(breakpointLarge) {
			display: block;
		}
}

.xs-only {
	@media (min-width: $break-sm) {
		display: none;
	}
}

@media (max-width: $break-sm - 1) {
	.xs-max-hide {
		display: none;
	}
}

@media (max-width: $break-md - 1) {
	.sm-max-hide {
		display: none;
	}
}

@media (max-width: $break-lg - 1) {
	.md-max-hide {
		display: none;
	}
}

.flex-responsive {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
	@media (max-width: $break-sm - 1) {
		flex-direction: column;
		-webkit-flex-direction: column;
	}
}

// Mobile Landscape
// 640px
@media (min-width: $break-sm) {
//@include media(breakpointSmall){
	.xs-hide {
		display: none;
	}
	.hd {
			font-size: 4rem
	}
	.hc {
			font-size: 3.5rem
	}
	.hb {
			font-size: 3rem
	}
	.ha {
			font-size: 2.5rem
	}
	.h1 {
			font-size: 2rem
	}
	.h2 {
			font-size: 1.5rem
	}
	.h3 {
			font-size: 1.25rem
	}
	.h4 {
			font-size: 1rem
	}
	.h5 {
			font-size: .875rem
	}
	.h6 {
			font-size: .75rem
	}
	
	.pxr1{
    padding-right:2rem;
   }

	.sm-col {
		float: left;
	}
	.sm-col-right {
		float: right;
	}
	.sm-text-left {
		text-align: left;
	}
	.sm-col-1 {
		width: 8.33333%;
	}
	.sm-col-2 {
		width: 16.66667%;
	}
	.sm-col-3 {
		width: 25%;
	}
	.sm-col-4 {
		width: 33.33333%;
	}
	.sm-col-5 {
		width: 41.66667%;
	}
	.sm-col-6 {
		width: 50%;
	}
	.sm-col-7 {
		width: 58.33333%;
	}
	.sm-col-8 {
		width: 66.66667%;
	}
	.sm-col-9 {
		width: 75%;
	}
	.sm-col-10 {
		width: 83.33333%;
	}
	.sm-col-11 {
		width: 91.66667%;
	}
	.sm-col-12 {
		width: 100%;
	}
	.sm-flex {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex
	}
}

// Tablet
// 832px
@media (min-width: $break-md) {
//@include media(breakpointMedium) {
	.sm-hide {
		display: none;
	}
	.hd {
			font-size: 4rem
	}
	.hc {
			font-size: 3.5rem
	}
	.hb {
			font-size: 3rem
	}
	.ha {
			font-size: 2.5rem
	}
	.h1 {
			font-size: 2rem
	}
	.h2 {
			font-size: 1.5rem
	}
	.h3 {
			font-size: 1.25rem
	}
	.h4 {
			font-size: 1rem
	}
	.h5 {
			font-size: .875rem
	}
	.h6 {
			font-size: .75rem
	}
	.py3 {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}
	.px3 {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
	.py4 {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	.px4 {
		padding-left: 3rem;
		padding-right: 3rem;
	}
	
	.pxr1{
    padding-right:2rem;
  } 
	
// medium
	.p1 {
		padding: .75rem;
	}
	.p2 {
		padding: 1.25rem;
	}
	.p3 {
		padding: 1.75rem;
	}
	.p4 {
		padding: 2.25rem;
	}

	.md-mr3 {
		margin-right: 2em;
	}
	.md-col {
		float: left;
	}
	.md-text-left {
		text-align: left;
	}
	.md-col-right {
		float: right;
	}
	.md-col-1 {
		width: 8.33333%;
	}
	.md-col-2 {
		width: 16.66667%;
	}
	.md-col-3 {
		width: 25%;
	}
	.md-col-4 {
		width: 33.33333%;
	}
	.md-col-5 {
		width: 41.66667%;
	}
	.md-col-6 {
		width: 50%;
	}
	.md-col-7 {
		width: 58.33333%;
	}
	.md-col-8 {
		width: 66.66667%;
	}
	.md-col-9 {
		width: 75%;
	}
	.md-col-10 {
		width: 83.33333%;
	}
	.md-col-11 {
		width: 91.66667%;
	}
	.md-col-12 {
		width: 100%;
	}
	.md-flex {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex
	}
}

// laptop
// 1024px
@media (min-width: $break-lg) {
//@include media(breakpointLarge){
	.md-hide {
		display: none;
	}
	.hd {
			font-size: 4rem
	}
	.hc {
			font-size: 3.5rem
	}
	.hb {
			font-size: 3rem
	}
	.ha {
			font-size: 2.5rem
	}
	.h1 {
			font-size: 2rem
	}
	.h2 {
			font-size: 1.5rem
	}
	.h3 {
			font-size: 1.25rem
	}
	.h4 {
			font-size: 1rem
	}
	.h5 {
			font-size: .875rem
	}
	.h6 {
			font-size: .75rem
	}
	.py4 {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	.px4 {
		padding-left: 4rem;
		padding-right: 4rem;
	}
	.pxr1{
    padding-right:2rem;
  }
  
	// large
	.p1 {
		padding: 1rem;
	}
	.p2 {
		padding: 1.5rem;
	}
	.p3 {
		padding: 2rem;
	}
	.p4 {
		padding: 2.5rem;
	}

	.lg-mr3 {
		margin-right: 3em;
	}
	.lg-col {
		float: left;
	}
	.lg-col-right {
		float: right;
	}
	.lg-text-left {
		text-align: left;
	}
	.lg-col-1 {
		width: 8.33333%;
	}
	.lg-col-2 {
		width: 16.66667%;
	}
	.lg-col-3 {
		width: 25%;
	}
	.lg-col-4 {
		width: 33.33333%;
	}
	.lg-col-5 {
		width: 41.66667%;
	}
	.lg-col-6 {
		width: 50%;
	}
	.lg-col-7 {
		width: 58.33333%;
	}
	.lg-col-8 {
		width: 66.66667%;
	}
	.lg-col-9 {
		width: 75%;
	}
	.lg-col-10 {
		width: 83.33333%;
	}
	.lg-col-11 {
		width: 91.66667%;
	}
	.lg-col-12 {
		width: 100%;
	}
	.lg-flex {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex
	}
}

// full width
// 1496px
@media (min-width: $break-xl) {
//@include media(breakpointExtraLarge){

	.lg-hide {
		display: none;
	}
	.hd {
			font-size: 4rem
	}
	.hc {
			font-size: 3.5rem
	}
	.hb {
			font-size: 3rem
	}
	.ha {
			font-size: 2.5rem
	}
	.h1 {
			font-size: 2rem
	}
	.h2 {
			font-size: 1.5rem
	}
	.h3 {
			font-size: 1.25rem
	}
	.h4 {
			font-size: 1rem
	}
	.h5 {
			font-size: .875rem
	}
	.h6 {
			font-size: .75rem
	}
	.xl-col {
		float: left;
	}
	.xl-col-right {
		float: right;
	}
	.xl-col-1 {
		width: 8.33333%;
	}
	.xl-col-2 {
		width: 16.66667%;
	}
	.xl-col-3 {
		width: 25%;
	}
	.xl-col-4 {
		width: 33.33333%;
	}
	.xl-col-5 {
		width: 41.66667%;
	}
	.xl-col-6 {
		width: 50%;
	}
	.xl-col-7 {
		width: 58.33333%;
	}
	.xl-col-8 {
		width: 66.66667%;
	}
	.xl-col-9 {
		width: 75%;
	}
	.xl-col-10 {
		width: 83.33333%;
	}
	.xl-col-11 {
		width: 91.66667%;
	}
	.xl-col-12 {
		width: 100%;
	}
	.xl-flex {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex
	}
}
