.va {
    display: block;
    margin: auto;
    text-align: center;
    white-space: nowrap;

    span {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    img {
        vertical-align: middle;
    }
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-upper {
    text-transform: uppercase;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table-desktop {
    display: block;
    width: 100%;

    @include media(breakpointLarge) {
        display: table;

        .td {
            display: table-cell;
        }
    }
}

// IE8 fix for pseduo element layout
// requires javascript
// Adding this class, then removing it, will fix and update layout for elements with pseduo elements
// http://stackoverflow.com/questions/8703799/forcing-ie8-to-rerender-repaint-before-after-pseudo-elements
.force-ie-pseudo-redraw {
    &:before, &:after { content: '' !important; }
}

// Shades
.white {
    color: #fff;
}

.abbey{
  color:color(abbey)
}

a.white:hover,
a.white:focus,
.white-hover:hover,
.white-hover:focus {
    color: #fff;
}

.seashell {
    color: color(seashell);
}

.tundora {
    color: color(tundora);
}

.corduroy {
    color: color(corduroy);
}

.black {
    color: #000;
}

.gray {
    color: color(gray);
}

.ship-gray {
    color: color(ship-gray);
}

.aluminium {
    color: color(aluminium);
}

// Warm colors
.medium-orange {
    color: color(mediumOrange);
}
.yellow-orange-hover:hover,
.yellow-orange-hover:focus {
    color: color(yellow-orange);
    svg {
        fill: color(yellow-orange);
    }
}

// Cool colors
.robins-egg-blue {
    color: color(robins-egg-blue);
}

.curious-blue {
    color: color(curious-blue);
}

.dark-blue-hover:hover,
.dark-blue-hover:focus {
    color: color(darkBlue);
    svg {
        fill: color(darkBlue);
    }
}

// Backgrounds
.bg-transparent {
    background-color: transparent;
}

// Shades
.bg-white {
    background-color: #fff;
}

.bg-white-hover:hover,
.bg-white-hover:focus {
    background-color: #fff;
}

.bg-seashell {
    background-color: color(seashell);
}

.bg-seashell-hover:hover,
.bg-seashell-hover:focus {
    background-color: color(seashell);
}

.bg-iron {
    background-color: color(iron);
}

.bg-mediumGrey {
    background-color: color(mediumGrey);
}

.bg-darkGrey {
    background-color: color(darkGrey);
}

.bg-black-80 {
    background-color: rgba(0,0,0,.8);
}

.bg-sirocco {
    background-color: color(sirocco);
}

.bg-corduroy {
    background-color: color(corduroy);
}

.bg-abbey {
    background-color: color(abbey);
}

.bg-ship-gray {
    background-color: color(ship-gray);
}

.bg-tundora {
    background-color: color(tundora);
}

.bg-mediumGrey-hover:hover,
.bg-mediumGrey-hover:focus {
    background-color: color(mediumGrey);
}

.bg-gray-hover:hover,
.bg-gray-hover:focus {
    background-color: color(gray);
}

.bg-black {
    background-color: #000;
}

// Blues
.bg-cerulean {
    background-color: color(cerulean);
}
.bg-curious-blue {
    background-color: color(curious-blue);
}
.bg-curious-blue:hover,
.bg-curious-blue:focus {
    background-color: darken(color(curious-blue), .1);
}
.bg-shakespeare {
    background-color: color(shakespeare);
}
.bg-robins-egg-blue {
    background-color: color(robins-egg-blue);
}
.bg-boston-blue {
    background-color: color(boston-blue);
}
.bg-danube {
    background-color: color(danube);
}
.bg-viking {
    background-color: color(viking);
}

// Greens
.bg-keppel {
    background-color: color(keppel);
}
.bg-persian-green {
    background-color: color(persian-green);
}
.bg-conifer {
    background-color: color(conifer);
}

// Reds
// Oranges
.bg-tangerine {
    background-color: color(tangerine);
}
.bg-tango {
    background-color: color(tango);
}
.bg-mediumOrange {
    background-color: color(mediumOrange);
}

// Yellows
.bg-pear {
    background-color: color(pear);
}

// Fills
.fill-white {
    fill: #fff;
}

.fill-black {
    fill: #000;
}

.fill-seashell {
    fill: color(seashell);
}

.fill-robins-egg-blue {
    fill: color(robins-egg-blue);
}

.fill-tundora {
    fill: color(tundora);
}

.fill-curious-blue {
    fill: color(curious-blue);
}

.fill-persian-green {
    fill: color(persian-green);
}

.fill-shakespeare {
    fill: color(shakespeare);
}

.fill-pear {
    fill: color(pear);
}

.fill-tangerine {
    fill: color(tangerine);
}

.fill-mediumOrange {
    fill: color(mediumOrange);
}

.fill-boston-blue {
    fill: color(boston-blue);
}

.fill-tango {
    fill: color(tango);
}

.fill-keppel {
    fill: color(keppel);
}

.fill-mediumOrange {
    fill: color(mediumOrange);
}

.fill-pomegranate {
    fill: color(pomegranate);
}

.fill-conifer {
    fill: color(conifer);
}

.fill-viking {
    fill: color(viking);
}

.fill-danube {
    fill: color(danube);
}

// Type sizes
.hd, .hc, .hb, .ha, .h1, .h2, .h3, .h4, .h5, .h6 {
    display: block;
    line-height: 1.2;
}
.hd {
    font-size: 3rem
}
.hc {
    font-size: 2.5rem
}
.hb {
    font-size: 2rem
}
.ha {
    font-size: 1.75rem
}
.h1 {
    font-size: 1.5rem
}
.h2 {
    font-size: 1.25rem
}
.h3 {
    font-size: 1rem
}
.h4 {
    font-size: .9rem
}
.h5 {
    font-size: .8rem
}
.h6 {
    font-size: .7rem
}
.p {
    line-height: 1.5em;
}

// Text Utilities
.bold {
    font-weight: 700;
}

.bolder {
    font-weight: 800;
}

.boldest {
    font-weight: 900;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.serif {
    font-family: serif;
}

.sans-serif {
    font-family: sans-serif;
}

.monospace {
    font-family: monospace;
}

.inherit {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
}

.readability {
    margin-left: auto;
    margin-right: auto;
    max-width: 24em;
}

.readability-large {
    margin-left: auto;
    margin-right: auto;
    max-width: 28em;
}

// No Text Select
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// Prevent text overflow
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Circle
.circle {
    border-radius: 50%;
}

// Display
.inline {
    display: inline
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.table {
    display: table
}

.table-cell {
    display: table-cell
}

.container {
    display: block;
    position: relative;
}

.container-white {
    display: block;
    position: relative;
	background: white;
}

// Alignment
.align-baseline {
    vertical-align: baseline
}

.align-top {
    vertical-align: top
}

.align-middle {
    vertical-align: middle
}

.align-bottom {
    vertical-align: bottom
}

.center-middle,
.middle-center {
    text-align: center;
    vertical-align: middle;
}

.va {
    display: block;
    margin: auto;
    text-align: center;
    white-space: nowrap;
    span {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    img {
        vertical-align: middle;
    }
}

.img-responsive-height {
    height: 100%;
    width: auto;
}

.img-responsive-width {
    height: auto;
    width: 100%;
}

.center-block,
.block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vertical-pos,
.pos-vertical {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.horizontal-pos,
.pos-horizontal {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.center-pos,
.pos-center {
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.pos-bottom {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
}

.pos-top {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}

.table-desktop {
    display: block;
    width: 100%;

    @include media(breakpointLarge) {
        display: table;

        .td {
            display: table-cell;
        }
    }
}

.overflow-hidden {
    overflow: hidden
}

.overflow-scroll {
    overflow: scroll
}

.overflow-auto {
    overflow: auto
}

.btn-icon-right svg {
    height: 1em;
    margin: auto 0 -.2em .2em;
    max-width: 1em;
    @media (min-width: $break-lg) {
        margin: auto 0 -.1em .2em;
    }
}


.btn-flat {
    border-radius: 0;
    border-width: 1px;
    margin: 0;
    padding: .5em 1.25em;
}

.col {
    @include box-sizing(border-box);
    float: left;
}

.col-right {
    @include box-sizing(border-box);
    float: right;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.flex,
.flex-table {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
}
.flex-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.flex-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.flex-baseline {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline
}
.flex-stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}
.flex-start {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}
.flex-end {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}
.flex-justify {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.flex-justify-center,
.flex-x-center {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.flex-auto {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.flex-grow,
.flex-cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.flex-none {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.ratio_2-1 {
    @include aspect-ratio(2, 1);
}
.ratio_3-1 {
    @include aspect-ratio(3, 1);
}
.ratio_3-2 {
    @include aspect-ratio(3, 2);
}

.pxr1{
    padding-right:1rem;
}

.col {
    @include box-sizing(border-box);
    float: left;
}

.ratio_4-3 {
    @include aspect-ratio(4, 3);
}



.no-flexbox {
    .flex-wrap {
        @extend %clearfix;
    }
    .flex-none {
        float: left;
    }
    .flex-table {
        display: table;
        width: 100%;
        .flex-cell {
            display: table-cell;
        }
    }

    .flex,
    .sm-flex,
    .md-flex,
    .lg-flex {
        @extend %clearfix;
        display: table;
        &:not(.flex-item) { // IE9 specific bug only see https://jira.connectivedx.com/browse/BMC-519
            width: columns(12);
          }
    }

    .flex-item {
        display: table-cell;
        vertical-align: top;
    }

    .card {
      display: inline-block;
      width: auto;
    }
}

// Box Utilities
.m0 {
    margin: 0
}

.mt0 {
    margin-top: 0
}

.mr0 {
    margin-right: 0
}

.mb0 {
    margin-bottom: 0
}

.ml0 {
    margin-left: 0
}

.m1 {
    margin: .5rem
}

.mt1 {
    margin-top: .5rem
}

.mr1 {
    margin-right: .5rem
}

.mb1 {
    margin-bottom: .5rem !important;
}

.ml1 {
    margin-left: .5rem
}

.m2 {
    margin: 1rem
}

.mt2 {
    margin-top: 1rem
}

.mr2 {
    margin-right: 1rem
}

.mb2 {
    margin-bottom: 1rem
}

.ml2 {
    margin-left: 1rem
}

.m3 {
    margin: 2rem
}

.mt3 {
    margin-top: 2rem
}

.mr3 {
    margin-right: 2rem
}

.mb3 {
    margin-bottom: 2rem
}

.ml3 {
    margin-left: 2rem
}

.m4 {
    margin: 4rem
}

.mt4 {
    margin-top: 4rem
}

.mr4 {
    margin-right: 4rem
}

.no-flexbox {
    .flex-wrap {
        @extend %clearfix;
        .flex{
          &:not(:last-child){
            padding-right:2rem;
          }
        }
    }
    .flex-none {
        float: left;
    }
    .flex-table {
        display: table;
        width: 100%;
        .flex-cell {
            display: table-cell;
        }
    }
}

.mb4 {
    margin-bottom: 4rem
}

.mb4 {
    margin-bottom: 4rem
}

.ml4 {
    margin-left: 4rem
}

.mx2 {
    margin-left: 1rem;
    margin-right: 1rem;
}

    .card {
      display: inline-block;
      //width: auto; //WEB-907 : Removed width auto for no-flexbox.
    }

.mxn1 {
    margin-left: -.5rem;
    margin-right: -.5rem;
}

.mxn2 {
    margin-left: -1rem;
    margin-right: -1rem;
}

.mxn3 {
    margin-left: -2rem;
    margin-right: -2rem;
}

.mxn4 {
    margin-left: -4rem;
    margin-right: -4rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.p0 {
    padding: 0;
}

.p1 {
    padding: .5rem
}

.py1 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.px1 {
    padding-left: .5rem;
    padding-right: .5rem
}

.p2 {
    padding: 1rem
}

.py2 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.pyt1 {
    padding-top: 1rem;
}
.pyt2 {
    padding-top: 2rem;
}
.pyt3 {
    padding-top: 3rem;
}
.pyt4 {
    padding-top: 4rem;
}
.pyt5 {
    padding-top: 5rem;
}


.white-link-underline{
  font-weight: 400;
  text-decoration: underline;
  color: white;
}

.px2 {
    padding-left: 1rem;
    padding-right: 1rem
}

.p3 {
    padding: 1.5rem;
}


.button-set{
    li{
      list-style: none;
      margin: 0;
      padding: 0;

      @include media(breakpointLarge) {
    //    @include font-size(18);
    //    margin: 1.5em 0 0;
      }
    }
}

.ratio_2-1 {
    @include aspect-ratio(2, 1);
}

.py3 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.px3 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.p4 {
    padding: 2rem;
}

.py4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.pxr1{
    padding-right:1rem;
}

.col {
    @include box-sizing(border-box);
    float: left;
}

.col-right {
    @include box-sizing(border-box);
    float: right;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.flex,
.flex-table {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
}
.flex-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.flex-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.flex-baseline {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline
}
.flex-stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}
.flex-start {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}
.flex-end {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}
.flex-justify {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.flex-justify-center,
.flex-x-center {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.flex-auto {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.flex-grow,
.flex-cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.flex-none {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.no-flexbox {
    .flex-wrap {
        @extend %clearfix;
        .flex{
          &:not(:last-child){
            padding-right:2rem;
          }
        }
    }
    .flex-none {
        float: left;
    }
    .flex-table {
        display: table;
        width: 100%;
        .flex-cell {
            display: table-cell;
        }
    }

    .flex,
    .sm-flex,
    .md-flex,
    .lg-flex {
        @extend %clearfix;
        display: table;
        &:not(.flex-item) { // IE9 specific bug only see https://jira.connectivedx.com/browse/BMC-519
            width: columns(12);
          }
    }

    .flex-item {
        display: table-cell;
        vertical-align: top;
    }

    .card {
      display: inline-block;
      //width: auto; //WEB-907 : Removed width auto for no-flexbox.
    }
}

//WEB-568 - Added utitlity classes to change text color and remove padding from elements.

.h2-variation-1 {
      color: color(ship-gray);
      font-weight: normal;
      margin: 0 0 1em 0;
      @include font-size(36);
      font-weight: 500;
      line-height: 1.25;
}

//WEB-2323 - Added utility classes to change color and font width for h3 form thank-you page title.

.h3-variation-1 {
      font-weight: 300; 
      color: #58595b;
}

.padding-bottom-0{
    padding-bottom: 0em !important;
}

.padding-bottom-top-0{
  padding-top: 0em !important;
  padding-bottom: 0em !important;
}

//to align image in center apply this style for parent container
.image-container{
  margin: auto;
  text-align: center;
}

//Instruction note
.instructions{
  font-size: .9em;
  padding: 2em 0 1em;
}

.bannerBGGradient {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(203,64,0,1),rgba(203,64,0,1),#fff,#fff); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(203,64,0,1),rgba(203,64,0,1),#fff,#fff); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(203,64,1,1),rgba(203,64,0,1),#fff,#fff); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(203,64,0,1),rgba(203,64,0,1),#fff, #fff); /*Standard*/
 img{
   display: inherit;
 }
 .layout-inner-wrap{
   padding:0px;
 }
}

.bannerBGGradient-V1 {

  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(239,106,63,1),rgba(239,106,63,1),rgba(245,126,32,1),rgba(245,126,32,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(239,106,63,1),rgba(239,106,63,1),rgba(245,126,32,1),rgba(245,126,32,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(239,106,63,1),rgba(239,106,63,1),rgba(245,126,32,1),rgba(245,126,32,1)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(239,106,63,1),rgba(239,106,63,1),rgba(245,126,32,1), rgba(245,126,32,1)); /*Standard*/
 img{
   display: inherit;
 }
 .layout-inner-wrap{
   padding:0px;
 }
}

//WEB-674: Added CSS to remove white patch from bottom of page in blogs.
iframe[name='google_conversion_frame'] {
    height: 0 !important;
    width: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}

//List LI - override parent conditions
.list-solid-disc{
  li{
    display: list-item;
    list-style-type: disc;
  }
}


.white-link-underline{
  font-weight: 400;
  text-decoration: underline;
  color: white;

  &:hover,
  &:active,
  &:focus {
    color: #fff;
  }
}

.button-set{
    li{
      list-style: none;
      margin: 0;
      padding: 0;

      @include media(breakpointLarge) {
    //    @include font-size(18);
    //    margin: 1.5em 0 0;
      }
    }
}

.ratio_2-1 {
    @include aspect-ratio(2, 1);
}
.ratio_3-2 {
    @include aspect-ratio(3, 2);
}
.ratio_4-3 {
    @include aspect-ratio(4, 3);
}

.pointer-event-none{
  pointer-events: none;
}

.py2-px0-imp {
    padding: 1rem 0 !important;
}

//DXP-177 it-analytics page code
.ml3em{
  margin-left:3em;
}

.width-xs{
  width: 300px;
}


.iframe-min-height-1200 {
    width: 100%;
    height: 100%;
    min-height: 1200px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 99999;
}

.fontsize-12-pt {
  font-size: 12.0pt;
}

.font-size-0-pt-8-em {
  font-size: 0.8em;
}

.color-te-papa-green {
color: #213443;
}

.line-height-normal{
  line-height:normal;
}

//DXP-174
.padding-bottom-1 {
  padding-bottom: 1rem;
}

.margin-top-1rem-imp {
  margin-top: 1rem !important;
}

.border-top-dashed-1-darkgrey {
  border-top: 1px dashed rgb(171, 169, 169);
}
//DXP-174

.max-wd-770px {
  max-width:770px
}

//DXP-176
.pl-30px{
  padding-left: 30px;
}

//DXP-176
.title-sub-heading-h3{
	margin-top: -.5em;
}

.max-wd-30em {
  max-width:30em;
}

.border-top-dash{
	border-top: 1px dashed #ccc;
}

.word-wrap-break-word{
	word-wrap: break-word;
}

//WEB-1566
.mt0-imp {
  margin-top:0 !important;
}
