.webinars-cards {
.landingPage-product-list{
    padding: 2rem 0;
    .card{
        padding-bottom: 50px;
    }
    .card-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        .event-date{
            margin-bottom: 0;
            font-size: 14px;
            color: #333;
            font-weight: 600;
        }
    }
    .card-content{
        min-height: initial;
        padding: 10px 0;
        hr{
            margin-bottom: 15px;
        }
        h2{
            margin-bottom: 0;
        }
    }
    .sort-wrap {
        margin-bottom: 30px;
    }
    
}    

}
.webinars-modal-details {
display: none;
.modal-logo-section {
    text-align: center;
    img {
        height: auto;
        width: 100%;
        max-width: 200px;
    }
    .links {
        text-align: left;
    }
    span {
        padding-right: 1em;
    }
}
.modal-content {
    .section-header {
        margin-right: 0px;
        margin-left: 0px;
    }
    .section-content {
        margin-right: 0px;
        margin-left: 0px;
    }
    @media (min-width: $break-md) {
        padding-left: 2rem;
    }
}
}

.webinar-filters-wrap {   
    .filters{
        background: transparent;
        ol{
            justify-content: center;
        }
    }
}