.page-homepage-e {
	.Customer {
		h2 {
			font-size: 40px;
			line-height: 48px;
			font-weight: 300;
			font-family: 'Open Sans', sans-serif;
			letter-spacing: 0.5px;
		}
		a {
			display: inline-block;
			color: #3cb6ce;
			font-size: 24px;
			line-height: 26px;
			font-weight: 400;
			font-family: 'Open Sans', sans-serif;
		}
		p {
			font-size: 18px;
			line-height: 30px;
		}
		--background: url(bagroundimg2.jpg)no-repeat center center;
		width: 100%;
		background-size: cover;
		.customer_sec {
			padding: 44px 0 67px;
		}
		.customer_sec.fade {
			-webkit-animation-name: fade;
			-webkit-animation-duration: 1.5s;
			animation-name: fade;
			animation-duration: 1.5s;
		}
		.customer_lt {
			padding: 0px 0 0 25px;
			width: 50%;
			float: left;
			--padding: 80px 0 0 83px;
			h2 {
				color: #fff;
				padding: 0 0 20px;
				min-height: 164px;
			}
			p {
				padding: 0 0 30px;
				color: #fff;
				margin: 0;
			}
		}
		.icon {
			ul {
				display: block;
				margin: 0;
				padding: 0;
				li {
					display: inline-block;
					padding: 0 83px 0 0;
					margin-bottom: 0;
					a {
						color: #29a5d6;
						font-size: 24px;
						line-height: 26px;
						font-weight: 400;
						font-family: 'Open Sans', sans-serif;
						i {
							padding: 0 15px;
						}
						.fa.fa-angle-right {
							&:before {
								content: "\f105";
							}
						}
						.fa.fa-play-circle {
							&:before {
								content: "\f144";
							}
						}
						.fa {
							display: inline-block;
							font: normal normal normal 14px/1 FontAwesome;
							font-size: inherit;
							text-rendering: auto;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
						}
					}
				}
			}
		}
		.customer_rgt {
			ul {
				display: block;
				margin: 0;
				padding: 0;
				li {
					display: block;
					margin-bottom: 0em;
					span {
						img {
							width: 200px;
						}
					}
				}
				li.block2 {
					position: absolute;
					bottom: -65%;
					right: 19%;
				}
			}
			float: right;
			width: 50%;
			text-align: center;
			position: relative;
		}
		.clear {
			clear: both;
			font-size: 1px;
			line-height: 1px;
			display: block;
			height: 0;
		}
		.logos_sec {
			background: #414042;
			padding: 0;
		}
		.logos_blk {
			text-align: center;
			position: relative;
			ul {
				padding: 0;
				margin: 0;
				li {
					padding: 54px 85px;
					display: inline-block;
					vertical-align: middle;
					--min-height: 225px;
					padding: 54px 90px;
					margin: 0 14px;
					position: relative;
					cursor:pointer;
					&:hover {
						background: #fe5000;
					}
					a {
						display: inline-block;
						img {
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							-o-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-webkit-transform: translateY(-50%);
							left: 0;
							margin: 0 auto;
							text-align: center;
							right: 0;
						}
					}
				}
				li.active {
					background: #fe5000;
				}
			}
		}

	}
}