<section data-sly-use.customerSpotlight="com.bmc.components.CustomerSpotlight"
         data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image" class="customer-story-case-banner wallpapered bar" data-wallpaper-options='{"source":"${image.src}"}'>
    <div class="layout-inner-wrap">
        <div class="layout-primary">
            <div class="back-link bold" data-sly-test.template="${customerSpotlight.template != '/conf/bmc/settings/wcm/templates/customerstory'}">
                    ${'Customer Spotlight' @ context='html', i18n}: ${customerSpotlight.ExpTitle @ context='html'}
            </div>
            <div class="back-link" data-sly-test.template="${customerSpotlight.template == '/conf/bmc/settings/wcm/templates/customerstory'}">
                <a href="/customers/success-stories.html">
                    ${'Customer Stories' @ context='html',i18n}
                </a>/ ${currentPage.title @ context='html'}
            </div>
            <div class="header-logo" style="width:350px;">

                <sly data-sly-resource.headerlogo="${'logo' @resourceType='bmc/components/content/image'}" data-sly-unwrap></sly>
            </div>
            <sly data-sly-resource.heading="${'heading' @resourceType='bmc/components/content/title'}" data-sly-unwrap></sly>
            <sly data-sly-test.template="${customerSpotlight.template != '/conf/bmc/settings/wcm/templates/customerstory'}"
                 data-sly-use.cta="${'com.bmc.components.utils.GetLinkInfo' @ text='cta_link', urlOrPath='cta_url'}">
                <a data-sly-test="${cta.isVideo}" class="btn video-play ${cta.cssClass}" href="${cta.href}" target="_self">${cta.text @ context='html'}</a>
                <a data-sly-test="${!cta.isVideo}" class="btn ${cta.cssClass}" href="${cta.href}" target="_self">${cta.text @ context='html'}</a>
            </sly>
        </div>
        <div class="layout-secondary non-mobile customer-story-case-points" data-set="customer-story-case-points">
            <div class="points js-initial-customer-story-case-points-container">
                <div data-sly-resource="${'point1' @resourceType='bmc/components/content/customer-spotlight-listitem'}" data-sly-unwrap></div>
                <div data-sly-resource="${'point2' @resourceType='bmc/components/content/customer-spotlight-listitem'}" data-sly-unwrap></div>
                <div data-sly-resource="${'point3' @resourceType='bmc/components/content/customer-spotlight-listitem'}" data-sly-unwrap></div>
            </div>
        </div>
    </div>
</section>