<section class="customer-story-case-banner wallpapered bar" data-wallpaper-options="{&quot;source&quot;:&quot;http://media.cms.bmc.com/images/Oregon_Detail_Page_Banner_1700x650.png&quot;}">
    <div class="layout-inner-wrap">
        <div class="layout-primary">
            <div class="back-link">
                <a href="/customers/success-stories.html">
                    Customer Stories
                </a>
                / ${properties.title || currentPage.title}
            </div>
            <div class="header-logo">

                <img width="350" src="http://media.cms.bmc.com/images/Detail_Page_Banner_Logo_White.png" />
            </div>
            <h1>${properties.heading}</h1>
            <p></p>
        </div>
        <div class="layout-secondary non-mobile customer-story-case-points" data-set="customer-story-case-points">
            <ul class="points js-initial-customer-story-case-points-container">
                <li class="point">
                    <div class="icon">
                        <img src="http://media.cms.bmc.com/images/Citizens_served.png" width="65" height="54" alt="" title="" border="0" />
                    </div>
                    <div class="copy">
                        <h2>4 million</h2>
                        <p>citizens served</p>
                    </div>
                </li>
                <li class="point">
                    <div class="icon">
                        <img src="http://media.cms.bmc.com/images/3x_Increase.png" width="65" height="52" alt="" title="" border="0" />
                    </div>
                    <div class="copy">
                        <h2>3x increase</h2>
                        <p>in patching productivity</p>
                    </div>
                </li>
                <li class="point">
                    <div class="icon">
                        <img src="http://media.cms.bmc.com/images/2700_Servers.png" width="65" height="55" alt="" title="" border="0" />
                    </div>
                    <div class="copy">
                        <h2>2,700</h2>
                        <p>servers upgraded</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>