// @category layout

// @function content
// The location to define major column layouts for your main content area.

// The layout-wrapper classes wraps all other main layout elements on the page.  It provides positioning context for elements that we throw off the page, such as .layout-nav on low resolutions.
.layout-wrapper {
//	@include row();
  @include row((nested: false, padding: 0 0, maxWidth: 100%));
	overflow: hidden;
}
.bmc-nav-loader-navigation .layout-header {

	.layout-inner-wrap {
		padding: 0;
		position: relative;
		right: 0;
		@include transition((property: right));

		@include media(breakpointLarge) {
			padding: 0 em(28);
		}
	}
}

// The layout-wrapper-nested classes wraps all other main layout elements on the page.  It provides positioning context for elements that we throw off the page, such as .layout-nav on low resolutions.
.layout-wrapper-nested {
	@include row();
	//padding: 0 em(32);
	padding: em(32) 0 ; //BMC-527 Changed the order of padding - top-bottom
}

// The layout-inner-wrap class provides a row context for column layout elements including a maximum width to keep its contents contained within the design area.
.layout-inner-wrap {
	//@include box-sizing(); //commented to avoid alignment issue in BMC-527.

	@extend %clearfix;
	margin: 0 auto;
	max-width: $rowMaxWidth;
	padding: 0 rem(28);
	width: auto; //overloads aem grid's weird use of both display block / width 100%.

	.layout-inner-wrap {
		padding: 0;
	}

	&.-bb {
		border-bottom: 1px solid color(seashell);
	}

	&.-mb {
		margin-bottom: 3em;
	}

	&.-pb {
		padding-bottom: 2em;
	}

	// BOTH NAVIGATION KEYS
	.layout-nav &, .layout-navigation & {
		@include box-sizing();
		height: 100%;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		@include media(breakpointMedium) {
			overflow-y: visible; // #FED may need for scrolling through long menus
		}
	}

	// 'nav' navigation key
	.layout-nav & {
			height: 100%;  // causes menu to not be tall enough when resizing
			padding: em(7);

			@include media(breakpointMedium) {
				@include box-sizing(content-box);
				padding: 0 em(28);
			}

			@include media(breakpointLarge) {
				height: auto;
			}
	}

	// 'navigation' navigation key
	.layout-navigation & {
		.navigation-open & {
			height: 100%;  // causes menu to not be tall enough when resizing
			@include media(breakpointLarge) {
				height: auto;
			}
		}

		@include media(breakpointMedium) {
			@include box-sizing();
		}

		@include media(breakpointLarge) {
			//@include box-sizing()
			 @include box-sizing(content-box); // issue on large screen alignment of menu icon on scroll missplaced
		}
	}

	.layout-footer & {
		padding: em(70) em(28);

		+ .layout-inner-wrap {
			padding-top: 0;
		}
	}
}


// The layout-nav class is the wrapper for the primary navigation on the page.  On low resolutions it's thrown off screen and on high resolutions it's presented as a mega-menu bar.
.layout-nav, .layout-navigation {
	@include box-sizing();
	position: fixed;
	right: -($lowResNavWidth);
	@include transition((property: right));
	width: $lowResNavWidth;
	z-index: z(nav);

	// Adds shadows below
	-webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);

	&.navigation-active {
		right: 0;
	}

	@include media(breakpointLarge) {
		@include row();
		clear: both;
		height: $navPrimaryMenuBarHeight;
		max-width: none;
		overflow: visible;
		opacity: 1;
		padding: 0;
		position: relative;
		right: 0;
		@include transition((property: opacity));
		width: 100%;

		.scrolled-up &,
		.scrolled-down & {
			position: fixed;
			top: 0;
			width: 100%;
			z-index: z(nav);
		}

		.scrolled-down & 			{ opacity: .85; }

		.scrolled-up &,
		.scrolled-down &:hover 		{ opacity: 1; }
	}
}

.layout-nav {
	height: 100%;
	background-color: color(colorNavigationBar);
	overflow: hidden;
	top: 0;

	&.nav-active {
		right: 0;
	}
}

.layout-navigation {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	background-color: #f3f3f3;
	height: calc(100% - #{$headerHeight});
	top: $headerHeight;

	&.navigation-active {
		right: 0;
	}

	@include media(breakpointLarge) {
		background: #fff;
		height: $navPrimaryMenuBarHeight; // redeclaring this because its breaking the cascade as it is...
		top: 0;
	}

	.scrolled-up &,
	.scrolled-down & {
		border-bottom: solid 1px #dedede;
	}
}

// The layout-primary class is the column container for a page's primary content.  It can be customized for specific templates using contexts such as .page-product-landing &.
.layout-primary {
	@extend %column-config;
	padding-top: 0;

	&:first-child {
		padding-bottom: 2rem;
		@include media(breakpointMedium) {
			padding-bottom: 0;
		}
	}

	@include media(breakpointMedium) {
		//margin-right: columns(0.8666);
		width: columns(8.1333);
		&:first-child 	{ padding-right: 7.2%;	}
		&:last-child 	{ padding-left: 7.2%;	}
	}

	&.aem-GridColumn {
		margin-right: 0 !important;
	}

	.full-width & {
		width: columns(12);
	}

	.page-product-landing & {
		padding-top: em(28);
	}

	//> section {
	//	margin-top: em(50);

	//	&:first-child {
	//		margin-top: 0;
	//	}
	//}
	.-shaded {
		background-color: #f1f1f1;
		padding: em(30);
	}
}

// The layout-primary class is the column container for a page's primary content.  It can be customized for specific templates using contexts such as .page-product-landing &.
.layout-primary-slim {
	@extend %column-config;
	padding: 2em 0 0 0;

	@include media(breakpointMedium) {
		width: 65%;
		&:first-child 	{ padding-right: 10%;	}
		&:last-child 	{ padding-left: 10%;	}
	}

	@include media(breakpointLarge) {
		width: 66%;
		&:first-child 	{ padding-right: 2%;	}
		&:last-child 	{ padding-left: 2%;		}
	}

	.full-width & {
		width: 100%;
	}

	.page-product-landing & {
		padding-top: em(28);
	}

	//> section {
	//	margin-top: em(50);
	//	&:first-child {
	//		margin-top: 0;
	//	}
	//}
}

// The layout-product-feature-banner class is the column container for a page's primary content.  It can be customized for specific templates using contexts such as .page-product-landing &.
.layout-product-feature-banner {
	@extend %column-config;
	padding-top: 0;

	.full-width & {
		width: columns(12);
	}

	.page-product-landing & {
		padding-top: em(28);
	}

	> section {
		margin-top: em(50);

		&:first-child {
			margin-top: 0;
		}
	}

	@include media(breakpointMedium) {
		margin-right: columns(0);
		width: columns(8.1333);
	}
}

// The layout-secondary class is the column container for a page's secondary content, which will usually be an aside with content tangential to that of layout-primary.
.layout-secondary {
	@extend %column-config;
	padding-bottom: em(135);

	&:first-child {
		padding-bottom: 2rem;
		@include media(breakpointMedium) {
			padding-bottom: 0;
		}
	}

> .aem-Grid > .aem-GridColumn { //legacy was "> section"
	border-top: 1px solid color(mediumGrey);
	margin-top: em(40);
	padding-top: em(40);

	&:first-child {
		@include media(breakpointMedium) {
			border-top: none ;
			margin-top: 0 !important;
			padding-top: 0 ;
		}
	}
}

	.page-product-landing & {
		margin-top: 3em;
		width: 100%;

		> section {
			border-top: 0;
			padding-top: 0;
		}
	}

	.product-landing & {
		@include row();
		padding: em(28) 0 0;
		@extend .divider;
		border-left: none;
	}

	// this will be the top headline in the right rail; this top margin aligns its baseline with the top h1 in layout-primary
	h2:first-of-type {
		@include media(breakpointMedium) {
			//margin-top: em(12, (context: 40)); BMC-527 em(12 40);
		}

		@include media(breakpointExtraLarge) {
			//margin-top: em(17, (context: 50)); BMC-527 em(17 50);
		}
	}

	h3 {
		@include media(breakpointMedium) {
			color: color(colorCorporate);
			@include font-size(20);
		}
	}

	h4 {
		@include media(breakpointMedium) {
			color: color(colorCorporate);
			@include font-size(18);
			font-weight:400;
			padding-top: em(12 16);
		}
	}

	p, ol, ul, dd {
		@include media(breakpointMedium) {
			@include font-size(16);
		}
	}

	article {
		padding: 0;
	}

	.blog-recent .author {
		@include media(breakpointMedium) {
			@include font-size(14);
		}
	}

	@include media(breakpointMedium) {
    float: right; /* DXP-1062 */
		width: columns(3);
	}
}

// The layout-secondary-slim-side class is the column container for a page's secondary content that needs extra top padding if an image in a slim banner is used.
.layout-secondary-slim-side {
	@extend %column-config;
	padding-bottom: em(135);

	&:first-child {
		padding-bottom: 0;
	}

	@include media(breakpointMedium) {
		width: columns(3);
	}

	//> section {
	//	border-top: 1px solid color(mediumGrey);
	//	margin-top: em(40);
	//	padding-top: em(40);
	//	&:first-child {
	//		@include media(breakpointSmall) {
	//			border-top: none;
	//			margin-top: 2em;
	//			padding-top: 0;
	//		}
	//		@include media(breakpointLarge) {
	//			margin-top: 4em;
	//		}
	//	}
	//}

	.page-product-landing & {
		margin-top: 3em;
		width: 100%;

		> section {
			border-top: 0;
			padding-top: 0;
		}
	}

	.product-landing & {
		@include row();
		padding: em(28) 0 0;
		@extend .divider;
		border-left: none;
	}

	// this will be the top headline in the right rail; this top margin aligns its baseline with the top h1 in layout-primary
	h2:first-of-type {
		@include media(breakpointMedium) {
			margin-top: em(12 , (context: 40)); //BMC-527 replaced em(12 40)
		}

		@include media(breakpointExtraLarge) {
			margin-top: em(17 , (context: 50)); //BMC-527 replaced em(17 50)
		}
	}

	h3 {
		@include media(breakpointMedium) {
			color: color(colorCorporate);
			@include font-size(20);
		}
	}

	h4 {
		@include media(breakpointMedium) {
			color: color(colorCorporate);
			@include font-size(18);
			font-weight:400;
			padding-top: em(12); //BMC 527 - Replaced em(12 16);
		}
	}

	p, ol, ul, dd {
		@include media(breakpointMedium) {
			@include font-size(16);
		}
	}

	.blog-recent .author {
		@include media(breakpointMedium) {
			@include font-size(14);
		}
	}
}


// The layout-secondary-slim-side-grey class is the column container for a page's secondary content that needs extra top padding if an image in a slim banner is used.
.layout-secondary-slim-side-grey {
	background-color:#f1f1f1;
	@extend %column-config;
	padding-bottom: em(135);
	padding-left: em(20);
	padding-right: em(20);
	position:relative;
	z-index:1;

	&:first-child {
		padding-bottom: 0;
	}

	.page-product-landing & {
		margin-top: 3em;
		width: 100%;

		> section {
			border-top: 0;
			padding-top: 0;
		}
	}

	.product-landing & {
		@include row();
		padding: em(28) 0 0;
		@extend .divider;
		border-left: none;
	}

	//> section {
	//	border-top: 1px solid color(mediumGrey);
	//	margin-top: em(40);
	//	padding-top: em(40);

	//	&:first-child {
	//		@include media(breakpointMedium) {
	//			border-top: none;
	//			margin-top: 2em;
	//			padding-top: 0;
	//		}
	//	}
	//}

	// this will be the top headline in the right rail; this top margin aligns its baseline with the top h1 in layout-primary
	h2:first-of-type {
		@include media(breakpointMedium) {
			margin-top: em(12 , (context: 40));
		}

		@include media(breakpointExtraLarge) {
			margin-top: em(17 , (context: 50));
		}
	}

	h3 {
		@include media(breakpointMedium) {
			color: color(colorCorporate);
			@include font-size(20);
		}
	}

	h4 {
		@include media(breakpointMedium) {
			color: color(colorCorporate);
			@include font-size(18);
			font-weight:400;
			padding-top: em(12); //BMC-527 Replaced em(12 16)
		}
	}

	p, ol, ul, dd {
		@include media(breakpointMedium) {
			@include font-size(16);
		}
	}

	.blog-recent .author {
		@include media(breakpointMedium) {
			@include font-size(14);
		}
	}

	@include media(breakpointMedium) {
		width: columns(3);
	}
}


// The layout-secondary-cta-container class is the column container for a page's secondary content that needs extra top padding if an image in a slim banner is used.
.layout-secondary-cta-container {
	/*background-color:#f1f1f1;*/
	@extend %column-config;
	padding-bottom: em(0);
	position:relative;
	z-index:1;

	.page-product-landing & {
		margin-top: 3em;
		width: 100%;

		> section {
			border-top: 0;
			padding-top: 0;
		}
	}

	.product-landing & {
		@include row();
		padding: em(28) 0 0;
		@extend .divider;
		border-left: none;
	}

	> section {
		border-top: 1px solid color(mediumGrey);
		margin-top: em(40);
		padding-top: em(40);

		&:first-child {
			@include media(breakpointMedium) {
				border-top: none;
				margin-top: 0em;
				padding-top: 0;
			}
		}

		&:first-child {
			@include media(breakpointSmall) {
				border-top: none;
				margin-top: 0em;
				padding-top: 0;
			}
		}

		&:first-child {
			@include media(breakpointTiny) {
				border-top: none;
				margin-top: 0em;
				padding-top: 0;
			}
		}
	}

	// this will be the top headline in the right rail; this top margin aligns its baseline with the top h1 in layout-primary
	h2:first-of-type {
		@include media(breakpointMedium) {
			margin-top: em(12 , (context: 40));
		}

		@include media(breakpointExtraLarge) {
			margin-top: em(17 , (context: 50));
		}
	}

	h3 {
		@include media(breakpointMedium) {
			color: color(colorCorporate);
			@include font-size(20);
		}
	}

	h4 {
		@include media(breakpointMedium) {
			color: color(colorCorporate);
			@include font-size(18);
			font-weight:400;
			padding-top: em(12); //BMC-527 Replaced em(12 16)
		}
	}

	p, ol, ul, dd {
		@include media(breakpointMedium) {
			@include font-size(16);
		}
	}

	.blog-recent .author {
		@include media(breakpointMedium) {
			@include font-size(14);
		}
	}

	@include media(breakpointMedium) {
		width: columns(3);
	}
}


// The layout-secondary-slim class is the column container for a page's secondary content within a slim banner.
.layout-secondary-slim {
	@extend %column-config;

	padding-bottom: em(0);

	.page-product-landing & {
		margin-top: 3em;
		width: 100%;

		> section {
			border-top: 0;
			padding-top: 0;
		}
	}

	figure {
		margin-bottom:0 !important;
	}

	//> section {
	//	border-top: 1px solid color(mediumGrey);
	//	margin-top: em(40);
	//	padding-top: em(40);

	//	&:first-child {
	//		@include media(breakpointMedium) {
	//			border-top: none;
	//			margin-top: 0;
	//			padding-top: 0;
	//		}
	//	}
	//}

	@include media(breakpointMedium) {
		left:0em;
		width:25%;
		padding-top: em(0);
		position:relative;
		top:7em;
		z-index:2;
	}

	@include media(breakpointLarge) {
		top:6.5em;
	}

	@include media(breakpointExtraLarge) {
		left:20px;
		top:4em;
	}

	@include media(breakpointHuge) {
		left:0em;
		top:60px;
	}
}


.layout-slim-side-image {
	float: left;
	left: 65px;
	position: relative;
	top: 100px;
	width: 27%;
	z-index: 2;

	@include media(breakpointTiny) {
		float: left;
		left: 0px;
		position: relative;
		top: 0px;
		width: 100%;
		z-index: 2;
	}

	@include media(breakpointLarge) {
		left: 63px;
		top: 130px;
		width: 27%;
	}

	@include media(breakpointExtraLarge) {
		left: 85px;
		top: 100px;
	}
}


// The layout-secondary-shaded class is the column container for a page's secondary content, which will usually be an aside with content tangential to that of layout-primary.
.layout-secondary-shaded {
	@extend %column-config;

	background-color: #f1f1f1;
	padding: em(30);
	&:first-child {
		padding-bottom: 0;
	}

	.page-product-landing & {
		margin-top: 3em;
		width: 100%;

		> section {
			border-top: 0;
			padding-top: 0;
		}
	}

	.product-landing & {
		@include row();
		padding: em(28) 0 0;
		@extend .divider;
		border-left: none;
	}

	span {
		font-weight:800;
	}

	ul {
		list-style-type: none;
		padding:0;
	}


	@include media(breakpointTiny) {
		h3 {
			font-size:1.1em;
			color: color(mediumOrange);
			}
		h4 {
			font-size:1.1em;
			color: color(colorCorporate);
			}
		margin-top: 0em;
	}

	@include media(breakpointExtraSmall) {
		h3 {
			font-size:1.1em;
			color: color(mediumOrange);
			}
		h4 {
			font-size:1.1em;
			color: color(colorCorporate);
			}
		margin-top: 0em;
	}


	@include media(breakpointSmall) {
		h3 {
			font-size:1.1em;
			color: color(mediumOrange);
			}
		h4 {
			font-size:1.1em;
			color: color(colorCorporate);
			}
		margin-top: 0em;
	}

	@include media(breakpointMedium) {
		h3 {
			font-size:1.1em;
			color: color(mediumOrange);
			}

		h4 {
			font-size:1.1em;
			color: color(colorCorporate);
			}
		margin-top: 0em;

	}

	@include media(breakpointLarge) {
		h3 {
			font-size:1.1em;
			color: color(mediumOrange);
			}

		h4 {
			font-size:1.1em;
			color: color(colorCorporate);
			}
		margin-top: 0em;
	}




	> section {
		border-top: 1px solid color(mediumGrey);
		margin-top: em(40);
		padding-top: em(40);

		&:first-child {
			@include media(breakpointTiny) {
				border-top: none;
				margin-top: 0;
				padding-top: 0;
			}
		}

		&:first-child {
			@include media(breakpointExtraSmall) {
				border-top: none;
				margin-top: 0;
				padding-top: 0;
			}
		}

		&:first-child {
			@include media(breakpointMedium) {
				border-top: none;
				margin-top: 0;
				padding-top: 0;
			}
		}
	}

	// this will be the top headline in the right rail; this top margin aligns its baseline with the top h1 in layout-primary
	h2:first-of-type {
		@include media(breakpointMedium) {
			margin-top: em(12 , (context: 40));
		}

		@include media(breakpointExtraLarge) {
			margin-top: em(17 , (context: 50));
		}
	}

	h3 {
		@include media(breakpointMedium) {
			color: color(mediumOrange);
			@include font-size(24);
			font-weight: 800;

		}
	}

	h4 {
		@include media(breakpointMedium) {
			color: color(colorCorporate);
			@include font-size(20);
			font-weight: 800;
			padding-top: em(12); //BMC-527 Replaced em(12 16)
		}
	}

	p, ol, ul, dd {
		@include media(breakpointMedium) {
			@include font-size(16);
		}
	}

	.blog-recent .author {
		@include media(breakpointMedium) {
			@include font-size(14);
		}
	}

	@include media(breakpointMedium) {
		width: columns(3);
	}
}

.layout-rotator-container {
	overflow: hidden;
}

// The layout-banner-container-slim class is for main content areas where the body's background color of corporate blue (matching that of the footer) needs to be overridden.  Generally the direct descendant of this class will be an element with class layout-inner-wrap to keep its contents within the design area.
.layout-banner-container-slim {
	background-image: url(#{$imagesFolder}product-bg2.png);
	background-position:top center;
	background-repeat:no-repeat;
	height: 246px;
	margin: 0 auto;


	@include media(breakpointTiny) {
		background-image: none;
		height: 246px;
		margin: 0 auto;
	}


	@include media(breakpointSmall) {
		background-image: none;
		height: 246px;
		margin: 0 auto;
	}


	@include media(breakpointMedium) {
		background-image:url(#{$imagesFolder}product-bg2.png);
		background-position:top center;
		background-repeat:no-repeat;
		height: 246px;
		margin: 0 auto;
	}

	@include media(breakpointLarge) {
		background-image:url(#{$imagesFolder}product-bg2.png);
		background-position:top center;
		background-repeat:no-repeat;
		height: 246px;
		margin: 0 auto;
	}

	@include media(breakpointExtraLarge) {
		background-image:url(#{$imagesFolder}product-bg2.png);
		background-position:top center;
		background-repeat:no-repeat;
		height: 246px;
		margin: 0 auto;

	}


	.layout-product-finder + & {
		padding-top: 0;
	}

	&.layout-full-bleed-image {
		background-size: cover;
		color: #fff;

		.page-campaign-landing & {
			padding: em(0) 0;

			.layout-inner-wrap {
				@include media(breakpointLarge) {
					position: relative;		// positioning for .layout-campaign-screenshot
				}
			}
		}

		h1, h2 { color: #fff; }
	}
}

//AEM overload
.maincontentcontainer {
	> .layout-full-bleed {
		padding-bottom: rem(30);
		@include media(breakpointLarge) {
			padding-bottom: rem(60);
		}
		> *:first-child {
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 0;
			> *:not([class*="bg-"]){
				margin-top: rem(30);
			}
		}

		> *:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}
}


// The layout-full-bleed class is for main content areas where the body's background color of corporate blue (matching that of the footer) needs to be overridden.  Generally the direct descendant of this class will be an element with class layout-inner-wrap to keep its contents within the design area.
.layout-full-bleed {
	background-color: white;
	padding: 0;
  	box-sizing: border-box; //BMC-527 - TrueSight Header issue

	@include media(breakpointMedium) {
		@include row((maxWidth: 100%)); //BMC-527 - maxWidth: $rowMaxWidth
		padding: 0;
		max-width: none;
	}
	.home & {
		// padding: em(120) 0 em(120);
    padding: 0;

		&.layout-rotator-container {
			padding: 0;
		}

		&.feature-case-studies {
			padding: em(60) 0;

			@include media(breakpointLarge) {
				padding-bottom: 0;
			}
		}
	}

	.layout-product-finder + & {
		padding-top: 0;
	}

	&.layout-full-bleed-image {
		background-size: cover;
		color: #fff;
		background-position: center center; //DXP-1141

		.page-campaign-landing & {
			padding: em(18) 0;

			.layout-inner-wrap {
				@include media(breakpointLarge) {
					position: relative;		// positioning for .layout-campaign-screenshot
				}
			}
		}

		h1, h2 { color: #fff; }
	}
}

// The layout-full-bleed-medium class is an alternate class for main content areas where the body's background color of corporate grey (matching that of the footer) needs to be overridden.  Generally the direct descendant of this class will be an element with class layout-inner-wrap to keep its contents within the design area.
.layout-full-bleed-medium {
	background-color: #fff;
	padding: 0;

	@include media(breakpointMedium) {
		@include row();
		padding: 0;
		width: 100%;
	}

	&.layout-full-bleed-image {
		background-size: cover;
		color: #fff;

		.page-campaign-landing & {
			padding: 0;

			.layout-inner-wrap {
				@include media(breakpointLarge) {
					position: relative;		// positioning for .layout-campaign-screenshot
				}
			}
		}

		h1, h2 { color: #fff; }
	}
}

// The layout-full-bleed-small class is an alternate class for main content areas where the body's background color of corporate grey (matching that of the footer) needs to be overridden.  Generally the direct descendant of this class will be an element with class layout-inner-wrap to keep its contents within the design area.
.layout-full-bleed-small {
	background-color: #fff;
	padding: 0;

	@include media(breakpointMedium) {
		@include row();
		padding: 0;
	}

	&.layout-full-bleed-image {
		background-size: cover;
		color: #fff;

		.page-campaign-landing & {
			padding: 0;

			.layout-inner-wrap {
				@include media(breakpointLarge) {
					position: relative;		// positioning for .layout-campaign-screenshot
				}
			}
		}

		h1, h2 { color: #fff; }
	}
}

// The layout-full-bleed-top class is an alternate class for main content areas where the body's background color of corporate grey (matching that of the footer) needs to be overridden.  Generally the direct descendant of this class will be an element with class layout-inner-wrap to keep its contents within the design area.
.layout-full-bleed-top {
	background-color: white;
	padding: 0;

	@include media(breakpointMedium) {
		@include row();
		padding: 0;
	}

	&.layout-full-bleed-image {
		background-size: cover;
		color: #fff;

		.page-campaign-landing & {
			padding: 0;

			.layout-inner-wrap {
				@include media(breakpointLarge) {
					position: relative;		// positioning for .layout-campaign-screenshot
				}
			}
		}

		h1, h2 { color: #fff; }
	}
}

// The layout-full-bleed-transparent class is an alternate class for main content areas where the body's background color of corporate grey (matching that of the footer) needs to be overridden.  Generally the direct descendant of this class will be an element with class layout-inner-wrap to keep its contents within the design area.
.layout-full-bleed-transparent {
	background-color: white;
	padding: 0;

	@include media(breakpointMedium) {
		@include row((nested: false, padding: 0 0, maxWidth: 100%));
		//@include row();
		padding: 0;
		width: 100%;
	}

	&.layout-full-bleed-image {
		background-size: cover;
		color: #fff;

		.page-campaign-landing & {
			padding: 0;

			.layout-inner-wrap {
				@include media(breakpointLarge) {
					position: relative;		// positioning for .layout-campaign-screenshot
				}
			}
		}

		h1, h2 { color: #fff; }
	}
}

// The layout-full-bleed-slim class is for main content areas where the body's background color of corporate blue (matching that of the footer) needs to be overridden.  Generally the direct descendant of this class will be an element with class layout-inner-wrap to keep its contents within the design area.
.layout-full-bleed-slim {
	background-color: white;
	padding: 0 0 0 0;


	@include media(breakpointTiny) {
		background-image: none;
		background-repeat:no-repeat;
		background-color:#fff;
		background-position:-3000px 0px;

	}


	@include media(breakpointSmall) {
		background-image: none;
		background-repeat:no-repeat;
		background-color:#fff;
		background-position:-3000px 0px;

	}


	@include media(breakpointMedium) {
		// @include row(false, em(0) 0, 100%);
		@include row();
		padding: 0;
		width: 100%;

		background-color:#fd9b31;
		background-image: none;
		background-position:-3000px 0px;
		background-repeat:no-repeat;
	}

	@include media(breakpointLarge) {
		background-color:#fd9b31;
		background-position:-3000px 0px;

	}

	@include media(breakpointExtraLarge) {
		background-color:#fd9b31;
		background-position:-3000px 0px;

	}


	.layout-product-finder + & {
		padding-top: 0;
	}

	&.layout-full-bleed-image {
		background-size: cover;
		color: #fff;

		.page-campaign-landing & {
			padding: em(0) 0;

			.layout-inner-wrap {
				@include media(breakpointLarge) {
					position: relative;		// positioning for .layout-campaign-screenshot
				}
			}
		}

		h1, h2 { color: #fff; }
	}
}

// The layout-full-bleed-nopadding class is for main content areas where there is no need for top padding.
.layout-full-bleed-nopadding {
	background-color: white;
	padding: em(0) 0;

	@include media(breakpointMedium) {
		// @include row(false, em(0) 0, 100%);
		@include row();
		padding: 0;
		width: 100%;
	}

	.layout-primary {
		&:first-child {
			margin-top: 1.5em;
		}
	}


	.layout-product-finder + & {
		padding-top: 0;
	}

	&.layout-full-bleed-image {
		background-size: cover;
		color: #fff;

		.page-campaign-landing & {
			padding: em(18) 0;

			.layout-inner-wrap {
				@include media(breakpointLarge) {
					position: relative;		// positioning for .layout-campaign-screenshot
				}
			}
		}

		h1, h2 { color: #fff; }
	}
}



.page-campaign-landing {
	h1 {
		@include font-size(30);
		font-weight: 800;

		@include media(breakpointMedium) {
			@include font-size(35);
		}

		@include media(breakpointExtraLarge) {
			@include font-size(41);
		}
	}

	h2 {
		@include font-size(32);
		margin-top: 0;
		margin-bottom: 1em;

		@include media(breakpointMedium) {
			@include font-size(32);
		}

		@include media(breakpointExtraLarge) {
			@include font-size(32);
		}
	}
	h3 {
		@include font-size(25);

		@include media(breakpointMedium) {
			@include font-size(28);
		}
	}

	.layout-content {
		@extend %column-config;

		@include media(breakpointLarge) {
			clear: left;
			padding-right: em(60);
			width: columns(7);
		}
	}



	.layout-campaign-screenshot {
		display: none;

		> img {
			display: inline-block;
			vertical-align: bottom;
		}

		&.flush {
			bottom: em(-18);
		}

		@include media(breakpointLarge) {
			bottom: em(-32);
			display: block;
			left: columns(7.5);
			position: absolute;
			text-align: center;
			width: columns(3.5);
		}
	}


	.layout-form {
		@extend %column-config;
		margin-top: em(32);

		@include media(breakpointLarge) {
			margin-top: 0;
			width: columns(5);
		}
	}

	 .width-50-percent-large{
    @include media(breakpointLarge) {
      width: columns(6);
    }
  }
}

// The layout-offset-hero class is used on the Tier One Offering, Category, and Sub-Category pages to show an element breaking out of the design area.
.layout-offset-hero {
	background-color: color(darkGrey);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	h1,
	h2,
	h3,
	h4,
	h5,
	p { color: #fff; }

	@include media(breakpointLarge) {
		min-height: 546px;
		padding-bottom: em(60);
	}
}

// The layout-offset-hero-slim class is used on the Tier One Offering, Category, and Sub-Category pages to show an element breaking out of the design area.
.layout-offset-hero-slim {
	background-color: color(darkGrey);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	h1,
	h2,
	h3,
	h4,
	h5,
	p { color: #fff; }




	@include media(breakpointTiny) {
		h1 {
				color: color(colorCorporate);
		}
	}

	@include media(breakpointSmall) {
		h1 {
				color: color(colorCorporate);
		}
	}

	@include media(breakpointMedium) {
		h1 {
				color: #fff;

		}
	}

	@include media(breakpointLarge) {
		height: auto;
		h1 {
				color: #fff;

		}
	}

	@include media(breakpointExtraLarge) {
		height: auto;

		h1 {
				color: #fff;

		}
	}
}

// The layout-offset-hero-medium class is an alternate class used on the Tier One Offering, Category, and Sub-Category pages to show an element breaking out of the design area.
.layout-offset-hero-medium {
	background-color: color(darkGrey);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	h1,
	h2,
	h3,
	h4,
	h5 { color: #fff; font-weight:800; }

	h1 { color: #fff; line-height:1.1em; letter-spacing:-.03em;  }

	p { color: #fff; font-size:1.8rem; font-weight:400;  }


	@include media(breakpointTiny) {

		h1 { padding: 1em 0 0 0 !important;}

	}


	@include media(breakpointExtraSmall) {

		h1 { padding: 1em 0 0 0 !important;}

	}


	@include media(breakpointSmall) {

		h1 { padding: 1em 0 0 0 !important;}

	}

	@include media(breakpointLarge) {

		h1 { padding: .5em 0 0 0 !important;}

	}
}

// The layout-offset-hero-small class is another alternate class used on the Tier One Offering, Category, and Sub-Category pages to show an element breaking out of the design area.
.layout-offset-hero-small {
	background-color: color(darkGrey);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	h1,
	h2,
	h3,
	h4,
	h5 { color: #fff; font-weight:800; }

	p { color: #fff; }

	@include media(breakpointLarge) {
		padding: 0;
	}
}

// The layout-offset-hero-top class is an alternate class used on the Tier One Offering, Category, and Sub-Category pages to show an element breaking out of the design area.
.layout-offset-hero-top {
	background-color: color(darkGrey);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	h1,
	h2,
	h3,
	h4,
	h5 { color: #fff; font-weight:800; }

	p { color: #fff; font-size:1.5rem;  }

	@include media(breakpointLarge) {
		padding: 0;
	}
}


// The layout-offset-hero-transparent class is an alternate class used on the Tier One Offering, Category, and Sub-Category pages to show an element breaking out of the design area.
.layout-offset-hero-transparent {
	background-color: color(darkGrey);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	h1,
	h2,
	h3,
	h4,
	h5 { color: #fff; font-weight:800; }

	p { color: #fff; font-size:1.5rem;  }

	@include media(breakpointLarge) {
		padding: 0;
	}
}

// The layout-right class changes the element's float property to "right.""
.layout-right {
	float: right;
}

// AEM responsive layout containers
[class*="25-75"],
[class*="33-66"],
[class*="50-50"],
[class*="66-33"],
[class*="75-25"]:not(:first-child) {
	padding-top: rem(36);
	padding-bottom: rem(36);
}

[class*="50-50-layout"] {
	.equal-column { //primary column is a substitue for layout-primary beings both columns are of equal size
		@include media(breakpointMedium) {
			width: columns(6);
			&:first-child 	{ padding-right: 1.25%;	}
			&:last-child 	{ padding-left: 1.25%;	}
		}
	}
}

// better AEM authoring experience
