// @category layout

// @function footer
// The location to define major column layouts and styles for the footer.
.plainfooter{
	.layout-footer{
		.footer-logo{
			margin-top: 0.3rem;
		}
	}
}
.layout-footer {
	@extend %column-config;
	background: color(colorCorporate);
	// fix rounding errors in wallpaper
	margin-top: -1px;
	width: 100%;

	li { margin-bottom: .5em; }

	a {
		color: white;

		&:hover {
			color: color(mediumOrange);
		}		
	}
	.layout-inner-wrap {
		overflow: auto;
		.nav-tertiary{
			.nav-tertiary-col{
				h4{
					font-size:28px;
				}			
			}
			//added for Language Select box start
			.searchLanguage{
					border-left:none;
					padding-left:0em;
					border-top:2px solid #a7a9ac;
					margin-top:2em;

					@include media(breakpointSmall) {
						border-left:none;
						padding-left:0em;
						border-top:none;
						margin-top:1em;
					}
					@include media(breakpointLarge) {
						margin-top:0em;
					}
					@include media(breakpointExtraLarge) {
						border-left:2px solid #a7a9ac;
						padding-left:2em;
						border-top:none;
						margin-top:0em;
					}
					
					@media (max-width:$break-md){
						//margin-top:2em;
					}
					li{
					@include media(breakpointMedium) {
						width:100%;
					}}					
				
				#footer-country_dropdown, form{
					padding:.2em 0em .8em 0em;					
						.decorator-select {
							background: transparent;
							border: 2px solid #a7a9ac;
							border-radius: 0px;
							box-sizing: border-box;
							display: inline-block;
							height: em(42);
							overflow: hidden;
							position: relative;
							width: 100%;
							&:after {
								content: url('#{$imagesFolder}select-arrow.png');
								height: $inputHeight;
								pointer-events: none;
								position: absolute;
								right: 0px;
								top: 3px;
								width: 29px;
								z-index: (z(content)+1);							
							}							
							select{
								-webkit-appearance: none;
								-moz-appearance: none;
								-o-appearance: none;
								background:transparent;
								border: none;
								box-sizing: border-box;
								color: #fff;
								display: block;
								height: em(42);
								padding: 1px 10px 6px 10px;
								position: relative;
								width: 100%;
								outline: none;
								option{
									color:#383233;
									background-color: #fff;
								}
							}
							select::-ms-expand {
								border: none;
								display: none;
							}					
							select::-ms-value {background: transparent; color:#fff;}
							select option::-ms-value { color:#383233;}
						}
				}
				h4{
					border-bottom:0px;
					padding-top:1em;
					padding-bottom:0px;
					color:#a7a9ac;
					font-size: 15px;
					margin-bottom:5px;
					font-weight:bold;
				}
			
			//added for Language Select box End
			}
		}
	}
}	

.footer-logo {
	@include svg-image(Tagline-Logo-Lockup); 
	--background-image:url('logo_footer_msg.png');
	--background-position: left 10px;
	background-repeat: no-repeat;
	background-size: auto;
	max-width: 200px;
	height: 80px;
	margin-bottom: em(30);
	margin-right: 0rem;
	--margin-left: -0.5rem;
	margin-top: 0.9rem; 

	> a { 
		display: block; 
		height: 100%;
		--width: 135px;
		text-indent: -9999em;
	}

	@include media(breakpointLarge) {
		box-sizing: border-box;
		float: $defaultFloat;
		min-height: 1px;
		width: 20%; //BMC-527 Added default width 100%;
		--width: columns(1.4);
		margin-right: 2.5rem;
		--margin-left: -0.5rem;  
	}
}

.meta {
	@include font-size(14);
	margin: 0;
	padding: 0;

	> li {
		list-style-type: none;
		margin-bottom: em(12, (context: 14)); //BMC-527 Replaced em(12 14)

		@include media(breakpointMedium) {
			@include box-sizing();
			display: inline-block;
			margin-right: -0.25em;	// remove whitespace created by inline-block
			padding-right: columns(0.5);
			vertical-align: top;
			width: columns(5.9);
		}
	}


	&.nav-supplemental {
		> li {
			width: 100%;

			@include media(breakpointLarge) {
				width: columns(10);
			}
		}
		// search box from support landing page
		.search-input-m-glass {
			@include font-size(14);
			border-width: 1px;
			height: em(42);
			padding: em(4) em(13) em(4) 0;

			input[type=text] {
				padding: em(3) em(40) em(3) em(12);
			}

			button {
				right: em(8);

				&:before {
					@include font-size(20);
				}
			}

		}

	}

	.footer-search {
		width: 100%;
	}

}

