// @category layout

// @function footer
// The location to define major column layouts and styles for the footer.
.plainfooter{
	.layout-footer{
		.footer-logo{
			margin-top: 0.3rem;
		}
	}
}
.layout-footer {
	@extend %column-config;
	background: color(colorCorporate);
	// fix rounding errors in wallpaper
	margin-top: -1px;
	width: 100%;

	li { margin-bottom: .5em; }

	a {
		color: white;

		&:hover {
			color: color(mediumOrange);
		}
	}
	.layout-inner-wrap {
		overflow: auto;
	}
}

.footer-logo {
	@include svg-image(Tagline-Logo-Lockup); 
	--background-image:url('logo_footer_msg.png');
	--background-position: left 10px;
	background-repeat: no-repeat;
	background-size: auto;
	max-width: 200px;
	height: 80px;
	margin-bottom: em(30);
	margin-right: 0rem;
	--margin-left: -0.5rem;
	margin-top: 0.9rem; 

	> a { 
		display: block; 
		height: 100%;
		--width: 135px;
		text-indent: -9999em;
	}

	@include media(breakpointLarge) {
		box-sizing: border-box;
		float: $defaultFloat;
		min-height: 1px;
		width: 20%; //BMC-527 Added default width 100%;
		--width: columns(1.4);
		margin-right: 2.5rem;
		--margin-left: -0.5rem;  
	}
}

.meta {
	@include font-size(14);
	margin: 0;
	padding: 0;

	> li {
		list-style-type: none;
		margin-bottom: em(12, (context: 14)); //BMC-527 Replaced em(12 14)

		@include media(breakpointMedium) {
			@include box-sizing();
			display: inline-block;
			margin-right: -0.25em;	// remove whitespace created by inline-block
			padding-right: columns(0.5);
			vertical-align: top;
			width: columns(5.9);
		}
	}


	&.nav-supplemental {
		> li {
			width: 100%;

			@include media(breakpointLarge) {
				width: columns(10);
			}
		}
		// search box from support landing page
		.search-input-m-glass {
			@include font-size(14);
			border-width: 1px;
			height: em(42);
			padding: em(4) em(13) em(4) 0;

			input[type=text] {
				padding: em(3) em(40) em(3) em(12);
			}

			button {
				right: em(8);

				&:before {
					@include font-size(20);
				}
			}

		}

	}

	.footer-search {
		width: 100%;
	}

}
