// Sections
.section {
	@include box-sizing();
	color: color(colorCorporate);
	position: relative;
	z-index: 1;
	& * {
		@include box-sizing();
	}
}

.section-content,
.section-header,
.section-footer, {
	@extend %clearfix;
	margin-left: 28px;
	margin-right: 28px;
	max-width: $rowMaxWidth - 56px;
	position: relative;
	@media (min-width: $break-xl) {
		margin-left: auto;
		margin-right: auto;
	}
}

.section-content-full {
	@extend %clearfix;
	position: relative;
	@media (min-width: $break-xl) {
		margin-left: auto;
		margin-right: auto;
		max-width: $rowMaxWidth;
	}
}

.section-header {
	border-bottom: 1px solid color(mediumGrey);
}

.section-footer {
	border-top: 1px solid color(mediumGrey);
}

.section-title {
	font-size: 24px;
	font-weight: 400;

	@include media(breakpointMedium) {
		font-size: 30px;
	}

	@include media(breakpointLarge) {
		font-size: 36px;
	}

	&.-sm {
		font-size: 18px;

		@include media(breakpointMedium) {
			font-size: 24px;
		}

		@include media(breakpointLarge) {
			font-size: 30px;
		}
	}

	&.-lg {
		font-size: 30px;

		@include media(breakpointMedium) {
			font-size: 36px;
		}

		@include media(breakpointLarge) {
			font-size: 42px;
		}
	}
}

.section .section-hero-image {
	@media (min-width: $break-lg) {
		background: url('#{$imagesFolder}category_banner_bg2.png') no-repeat right center;
		background-size: auto 100%;
		bottom: 0;
		left: 0;
		position: absolute;
		top: 0;
		width: 66.66667%;
	}
	&.-compact {
		@media (min-width: $break-lg) {
			background: url('#{$imagesFolder}banner-compact.png') no-repeat right center;
			width: 50%;
		}
	}
}
.section .section-hero-content {
	margin-left: 0;
	margin-right: 0;
	padding: 32px 28px;
	position: relative;
	vertical-align: middle;
	@media (min-width: $break-lg) {
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	@media (min-width: $break-xl) {
		margin-left: auto;
		margin-right: auto;
	}
}

.no-flexbox .section .section-hero-content {
	@media (min-width: $break-xl) {
		padding: 44px 0 40px;
	}
}
