<!--/*
  ADOBE CONFIDENTIAL

  Copyright 2016 Adobe Systems Incorporated
  All Rights Reserved.

  NOTICE:  All information contained herein is, and remains
  the property of Adobe Systems Incorporated and its suppliers,
  if any.  The intellectual and technical concepts contained
  herein are proprietary to Adobe Systems Incorporated and its
  suppliers and may be covered by U.S. and Foreign Patents,
  patents in process, and are protected by trade secret or copyright law.
  Dissemination of this information or reproduction of this material
  is strictly forbidden unless prior written permission is obtained
  from Adobe Systems Incorporated.
*/-->
<sly data-sly-use.item="com.adobe.cq.xf.ui.ExperienceFragmentConsoleItem" data-sly-use.helper="../viewhelper.js"/>
<coral-columnview-item data-sly-attribute.variant="${helper.drilldown && 'drilldown'}" class="foundation-collection-item"
                       data-foundation-collection-item-id="${resource.path}">
    <coral-columnview-item-thumbnail>
        <coral-icon data-sly-test.needsFolderIcon="${item.isFolder}" class="foundation-collection-item-thumbnail" icon="folder"/>
        <img data-sly-test.isFolder="${!needsFolderIcon}" class="foundation-collection-item-thumbnail" src="${item.path}.thumb.128.128.png" alt="">
    </coral-columnview-item-thumbnail>
    <coral-columnview-item-content title="${item.title}">
        ${item.title}
        <div class="foundation-collection-item-title" hidden>${resource.path}</div>
    </coral-columnview-item-content>
</coral-columnview-item>