<section data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image" class="wallpapered bar full-bleed-page-banner bg-white header-style-1" data-wallpaper-options='{"source":"${image.fileReference}"}'>
    <div class="offset-wrapper">
        <div class="layout-inner-wrap py4 px4">
            <div class="bgalpha70">
                <h1 data-sly-test="${properties.heading}">${properties.heading @ context = 'html'}</h1>
                <p data-sly-test="${properties.text}">${properties.text @ context = 'html'}</p>
            </div>
        </div>
    </div>
</section>