<sly data-sly-use.HeaderBgImgChildProps="${'com.bmc.components.untils.CompChildNodeProps' @ childNode='bg'}"/>
<sly data-sly-test.bgImg="${HeaderBgImgChildProps.ChildProperties['fileReference']}"/>

<!--
<section class="layout-full-bleed layout-full-bleed-image" style="background-image: url('${bgImg @ context='uri'}')">

</section>
-->

<section class="wallpapered bar full-bleed-page-banner" style="background-image: url('${bgImg @ context='uri'}')">
    <div class="offset-wrapper">
        <div class="layout-inner-wrap">
            <div class="offset-hero-medium banner -ribbon" style="background-image: url('http://media.cms.bmc.com/images/spacer.gif'); padding-top: 1em; padding-bottom: 1em; ">
                <div class="offset-hero-medium-inner-wrap">
                    <h1 class="white">
                        <span>
                            ${properties.headerText}
                        </span>
                        <span data-sly-test="${!properties.headerText}">
                            Enter Heading Text
                        </span>
                    </h1>

                    <h2>
                        <span>
                            ${properties.subHeaderText}
                        </span>
                        <span data-sly-test="${!properties.subHeaderText}">
                            Enter Heading Text
                        </span>
                    </h2>

                    <!-- TODO: optional buttons that activate a video modal on click or be a regular link -->
                    <a class="btn video-play modal-video-player" href="#">Primary Button, Blue </a>
                    <a class="btn-secondary" href="#">Primary Button, Green </a>
                    <a class="btn-secondary" href="#">Secondary Button, Green</a>
            </div>
        </div>
    </div>
</section>