<section class="wallpapered bar full-bleed-page-banner" data-wallpaper-options='{"source":"http://media.cms.bmc.com/images/remNewBanner34.jpg"}'>
    <div class="offset-wrapper">
        <div class="layout-inner-wrap">
            <div class="offset-hero-medium banner -ribbon" style="background-image: url('http://media.cms.bmc.com/images/spacer.gif'); padding-top: 1em; padding-bottom: 1em; ">
                <div class="offset-hero-medium-inner-wrap">
                    <h1 class="white">TrueSight Operations Management</h1>
                    <h2>Fast track mobile workforces &ndash; boost productivity up to 75%</h2>

                    <a href="/templates/Media_Video_Mobile?vID=TyQZOETlq3M"  class="btn video-play modal-youtube-video-player">Watch the overview video (1:55) </a>
                    <a href="/forms/remedy-itsm-trial.html" class="btn-secondary" data-form="" data-location="Top-CTA-Button-Area"  data-parent-id="259175041">Start a free trial &nbsp;&#8250; </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="layout-full-bleed layout-full-bleed-image" style="background-image: url(http://media.cms.bmc.com/images/services_bannerD.jpg);">
    <div class="layout-inner-wrap">

        <h1>BMC Global Services</h1>
        <h2>IT consulting expertise to make your IT transformation a success</h2>
        <p class="hero-caption">Our expert IT consultants and trainers use proven methodologies to help you optimize costs, reduce risk, and see a faster return on your IT investments.</p>
    </div><!-- / layout-inner-wrap -->
</section><!-- / layout-full-bleed -->
