<section class="wallpapered bar full-bleed-page-banner" data-wallpaper-options='{"source":"http://media.cms.bmc.com/images/remNewBanner34.jpg"}'>
    <div class="offset-wrapper">
        <div class="layout-inner-wrap">
            <div class="offset-hero-medium banner -ribbon" style="background-image: url('http://media.cms.bmc.com/images/spacer.gif'); padding-top: 1em; padding-bottom: 1em; ">
                <div class="offset-hero-medium-inner-wrap">
                    <h1 class="white">Remedy 9</h1>
                    <h2>Fast track mobile workforces &ndash; boost productivity up to 75%</h2>










                    <a class="btn video-play modal-youtube-video-player"  href="/templates/Media_Video_Mobile?vID=TyQZOETlq3M"  target="_self">Watch the overview video (1:55) </a>









                    <a  class="btn-secondary"  href="/forms/remedy-itsm-trial.html" data-form="" data-location="Top-CTA-Button-Area"  data-parent-id="259175041" target="_self">Start a free trial &nbsp;&#8250; </a>
                </div>
            </div>
        </div>
    </div>
</section>