<div class="page-careers">
    <section class="hero flex-col">
        <div class="hero-image xs-only"></div>

        <div class="hero-image video xs-max-hide">
            <div class="vidbg-box"
                 data-vidbg-bg="mp4:http://service.twistage.com/videos/7cdbb642154d7/formats/360p-BitRateOptimized/file.mp4,webm:http://service.twistage.com/videos/7cdbb642154d7/formats/360p-BitRateOptimized-Webm/file.webm,poster: http://media.cms.bmc.com/designimages/careers-header.jpg"
                 data-vidbg-options="loop: true, muted: true, overlay: false, overlayColor: #000, overlayAlpha: 0.3"
                 style="z-index: 1;">
                <div class="vidbg-container" style="position: absolute; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; background-image: none;">
                    <video autoplay="" loop="" muted="" style="margin: auto; position: absolute; z-index: -1; top: 50%; left: 50%; transform: translate(-50%, -50%); max-width: none; visibility: visible; opacity: 1; width: 1314px; height: auto;"></video>
                </div>
            </div>
        </div>

        <div class="hero-content">
            <strong class="ha mb2">${properties.headerText @ context='html'}</strong>
            <div class="h3">${properties.subHeaderText @ context='html'}</div>
            <div class="p2 videoInstructions">${properties.introtext @ context='html'}</div>

            <a href="${properties.videolink}" class="modal-youtube-video-player">
                <img class="videoIcon" src="//media.cms.bmc.com/designimages/icon-slide-video.png">
            </a>
        </div>

        <!-- TODO: this will be a separate component/system integration covered under DXP-595. hard-coded for now as per Dermot -->

        <div id="job-opening-selector" class="hero_cta">
            <div class="mx-auto sm-flex max-wd-770px">
                <div class="col-12 lg-col-6 container">
                    <a href="#" class="jq-dropdown-trigger block" data-jq-dropdown="#job-openings-teams"><span><span class="xs-max-hide">Job </span>Openings by Teams</span>
                        <svg class="svg-inline pointer-event-none"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-chevronDown"></use></svg></a>
                    <div id="job-openings-teams" class="jq-dropdown jq-dropdown-relative">
                        <ul class="jq-dropdown-menu">
                            <li><a href="http://bmc.ongig.com/jobs/category/product-development">Product Development&nbsp;(58)</a></li>
                            <li><a href="http://bmc.ongig.com/jobs/category/sales">Sales&nbsp;(48)</a></li>
                            <li><a href="http://bmc.ongig.com/jobs/category/marketing">Marketing&nbsp;(9)</a></li>
                            <li><a href="http://bmc.ongig.com/jobs/category/professional-services">Professional Services&nbsp;(9)</a></li>
                            <li><a href="http://bmc.ongig.com/jobs/category/it">IT&nbsp;(24)</a></li>
                            <li><a href="http://bmc.ongig.com/jobs/category/facilities-operations">Facilities &amp; Operations&nbsp;(1)</a></li>
                            <li><a href="http://bmc.ongig.com/jobs/category/people">People&nbsp;(3)</a></li>
                            <li><a href="http://bmc.ongig.com/jobs/category/finance-accounting">Finance &amp; Accounting&nbsp;(8)</a></li>
                            <li><a href="http://bmc.ongig.com/jobs/category/legal">Legal&nbsp;(1)</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-1">&nbsp;</div>
                <div class="col-12 lg-col-6 container">
                    <a href="#" class="jq-dropdown-trigger block" data-jq-dropdown="#job-openings-locations">
                <span>
                  <span class="xs-max-hide">Job </span>
                  Openings by Locations
                </span>
                        <svg class="svg-inline pointer-event-none"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-chevronDown"></use></svg>
                    </a>
                    <div id="job-openings-locations" class="jq-dropdown jq-dropdown-relative">
                        <ul class="jq-dropdown-menu">
                            <li><a href="http://bmc.ongig.com/jobs/country/united-states">United States&nbsp;(49)</a></li>
                            <li><a href="http://bmc.ongig.com/jobs/country/argentina">Argentina&nbsp;(2)</a></li>
                            <li><a href="http://bmc.ongig.com/jobs/country/canada">Canada&nbsp;(4)</a></li>
                            <li><a href="http://bmc.ongig.com/jobs/country/china">China&nbsp;(1)</a></li>
                            <li><a href="http://bmc.ongig.com/jobs/country/germany">Germany&nbsp;(7)</a></li>
                            <li><a href="http://bmc.ongig.com/jobs/country/ireland">Ireland&nbsp;(4)</a></li>
                            <li><a href="http://bmc.ongig.com/jobs/country/israel">Israel&nbsp;(12)</a></li>
                            <li><a href="http://bmc.ongig.com/jobs/country/italy">Italy&nbsp;(2)</a></li>
                            <li><a href="http://bmc.ongig.com/jobs/country/netherlands">Netherlands&nbsp;(2)</a></li>
                            <li><a href="http://bmc.ongig.com/jobs/country/switzerland">Switzerland&nbsp;(1)</a></li>
                        </ul>   						    							    						    							    						    							    						    					</ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- end TODO -->
    </section>
</div>
