<!--/* WEB-2995 Support Central News Ticker Component  */-->
<section data-sly-use.modal="com.bmc.models.components.supportcentral.SupportNewsModel" class="layout-full-bleed">
	<div class="layout-inner-wrap">
		<div class="ticker js-ticker">
			<strong>${properties.headerText}</strong>
			<ul class="js-frame">
            <sly data-sly-list="${modal.list}">            
      			<li class="js-item">
					<a href="${item.supportURLLink}" target="_blank">${item.supportNewsTitle}</a>
                </li>
            </sly>
			</ul>
			<strong><a href="${properties.communitiesLink}" target="_blank" >View All News ›</a></strong>
		</div>
	</div>
</section>
