<section class="layout-full-bleed">
	<div class="layout-inner-wrap">
		<div class="ticker js-ticker">
			<strong>BMC Support News</strong>
			<ul class="js-frame">
            	<!--/* WEB-2652 Start */-->
				<li class="js-item" style="display: none;"><a href="https://communities.bmc.com/community/support/blog/2017/12/22/bmc-education-introduces-a-subscription-service-truesight-operations-management-available-now" target="_blank">BMC Education Introduces a Subscription Service</a></li>
				<!--/* WEB-2652 End */-->
				<li class="js-item" style="display: none;"><a href="https://communities.bmc.com/community/support/blog/2017/08/16/become-a-bmc-certified-expert?et=watches.email.blog" >Become a BMC Certified Expert</a></li>						
				<li class="js-item" style="display: none;"><a href="https://communities.bmc.com/community/support/blog/2017/08/10/free-remedy-webinar-smart-reporting-deep-dive?et=watches.email.blog" >Free Remedy Webinar - Smart Reporting Deep Dive</a></li>
				<li class="js-item" style="display: none;"><a href="https://communities.bmc.com/community/support/blog/2017/08/01/bmc-license-usage-collection-utility-40-released" >BMC License Usage Collection Utility 4.0 Released</a></li>
				<li class="js-item" style="display: none;"><a href="https://communities.bmc.com/docs/DOC-96364" target="_blank" >New Ease of Doing Business survey launched</a></li>
				<!-- Added new link for WEB-2502 by Samiksha START -->
				<li class="js-item" style="display: none;"><a href="https://communities.bmc.com/community/support/blog/2017/11/27/new-product-support-pages-now-live" target="_blank" >Preview of new Product Information pages</a></li>
				<!-- WEB-2502 Changes END -->
				<li class="js-item current" style="display: none;"><a href="https://communities.bmc.com/community/support/blog/2017/05/19/product-
change-notification-fy2018-q1-april-2017" target="_blank">Quarterly Product Change Notification April 2017</a></li>
				<li class="js-item" style="display: none;"><a href="https://communities.bmc.com/community/support/blog/2017/05/15/expanded-knowledge-availability" target="_blank" >Expanded Knowledge Availability</a></li>
				<li class="js-item" style="display: none;"><a href="https://communities.bmc.com/community/support/blog/2017/05/03/help-us-improve-online-case-management" target="_blank" >Help Us Improve Online Case Management</a></li>
<!--/* Added as a part of DXP-1354 Start */-->
                		<li class="js-item" style="display: none;"><a href="https://communities.bmc.com/community/support/blog/2017/10/04/real-time-solutions-with-case-creation">Real-Time Solutions with Case Creation</a></li>
				<li class="js-item" style="display: none;"><a href="https://communities.bmc.com/community/support/blog/2017/10/02/find-the-optimal-training-and-certification-graphical-learning-paths-now-available">Find the optimal training and certification - graphical learning paths now available </a></li>
<!--/* DXP-1354 End */-->
			</ul>
			<strong><a href="https://communities.bmc.com/community/support/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bblogpost%5D&amp;sortKey=contentstatus%5Bpublished%5D~creationDateDesc&amp;sortOrder=0" target="_blank" >View All News ›</a></strong>
		</div>
	</div>
</section>
