<article>
    <h1>BMC Content Migration Tool</h1>

    <p>${request.message}</p>

    <form method="post" action="bmc-migration/jcr:content.import.html">
        <div>
            <label>URLs (use a new line for each URL)</label>
            <textarea rows="8" name="urls">
http://www.bmc.com/forms/DCACloud-Breakthrough-WP-Aug2015.html
http://www.bmc.com/forms/DEM_C-Level_LDS_Jan2017_T1B_IDCWP_Email.html
http://www.bmc.com/forms/PA-APM-BMCcom-FY17-LoadTest-WP-Form.html
http://www.bmc.com/forms/delivering-scalable-reliable-big-data-solutions-white-paper.html
http://www.bmc.com/forms/ITSM-Remedy-HarvardBusinessReview-WhitePaper.html
http://www.bmc.com/forms/DCACloud-SDA-Email-HowtoStrmlineYourSDAWPJan16.html
http://www.bmc.com/forms/PA_APM_LDS_Q3FY17_T3_DemoChimp_Email.html
http://www.bmc.com/forms/flight-deck-request-help.html
http://www.bmc.com/forms/ThinkAuto-CTM-Hadoop-IntegratingBigData-WP_V2.html
http://www.bmc.com/forms/endpoint-client-management-free-trial.html
http://www.bmc.com/forms/XPL_Gartner_Bundle_Ad-B_Dec2016_Email.html
http://www.bmc.com/forms/WLA-CR-IDCReport-BMCcom.html
http://www.bmc.com/forms/DCACloud-SecOps-Email-IDCBridgeGapsWP-Apr16.html
http://www.bmc.com/forms/partner-program-assistance.html
http://www.bmc.com/forms/PA-APM-BMCcom-FY16-GartnerRep-Email.html
http://www.bmc.com/forms/vendor-selection-matrix-leaders-in-next-gen-apm-2017.html
http://www.bmc.com/forms/gartner-report-new-principles-of-application-architecture.html
http://www.bmc.com/forms/control-m-self-service-mobile-trial.html
http://www.bmc.com/forms/DSM-DigitalWorkplace-IT-SA-LDS-FY17-T6-Trials.html
http://www.bmc.com/forms/streamline-your-service-desk-with-automation-white-paper.html
http://www.bmc.com/forms/gartner-magic-quadrant-it-service-support-management-tools-fy17.html
http://www.bmc.com/forms/ema-report-devops-continuous-delivery-and-cloud-journey.html
http://www.bmc.com/forms/WLA-BD-Gartner2-Search-Sep2016.html
http://www.bmc.com/forms/ZSO-MV-IBMSysMagODWebinar25Jan-Feb2017-Email.html
http://www.bmc.com/forms/focus-on-msm-registration.html
http://www.bmc.com/forms/DSM-Remedy-GartnerCriticalCap-Q2FY17-Email.html
http://www.bmc.com/forms/delivering-better-service-management-user-experience-white-paper.html
http://www.bmc.com/forms/WLA-BD-HadoopTrial-DemoChimp-Sales-Jun2016.html
http://www.bmc.com/forms/DCACloud-SDA-SvcDeskMgmtAutoBook-Social-Jun2016.html
http://www.bmc.com/forms/ITSM-RF-TShirtPromo-Q1FY17-LATAM-Email.html
http://www.bmc.com/forms/enable-real-time-data-cater-visibility-white-paper.html
http://www.bmc.com/forms/DCACloud-Cloud-WP-OpenstackandCLM-Search.html
http://www.bmc.com/forms/WLA-BD-HadoopTrial-DemoChimp-Search-Jun2016.html
http://www.bmc.com/forms/ITSM-Remedy-NewUserExperienceWP-PaidSearch.html
http://www.bmc.com/forms/WLA-BD-SparkWP-Social-Jul2016.html
http://www.bmc.com/forms/WLA_UserGroup_Atlanta_Nov17_Email.html
http://www.bmc.com/forms/DCACloud-CLM-PaidSrch-OpenStackCLMWP-Mar16.html
http://www.bmc.com/forms/DCACloud-SDA-SvcDeskMgmtAutoBook-BMCcom-Jun2016.html
http://www.bmc.com/forms/how-to-effectively-close-the-secops-gap-white-paper.html
http://www.bmc.com/forms/evolution-of-it-automation-control-m-forum-santiago-aug2017.html
http://www.bmc.com/forms/WLA-EF-AmigoWP-BMCcom-Jun2016.html
http://www.bmc.com/forms/DSM-HRCase-LDS-HR-T2-Q2FY17.html
http://www.bmc.com/forms/Cloud-CloudMgmt-ExpressCloudWP-BMCcom_V2.html
http://www.bmc.com/forms/ITSM-MyITSB-Q1FY17-DemoChimp-ContactMe.html
http://www.bmc.com/forms/EmpowerEU_Remedy_ThinkStrategiesSelectRightITSM_WP_V2.html
http://www.bmc.com/forms/DCA-SDA-Email-T2a-ForresterFiveKeyInitiatives.html
http://www.bmc.com/forms/WLA_BD_APIWP_Social_Sep2016.html
http://www.bmc.com/forms/DCACloud-CloudeBook-BMCcom.html
http://www.bmc.com/forms/DCACloud-SecOps-PaidSocial-IDCBridgeGapsWP-Apr16.html
http://www.bmc.com/forms/WLA_Seminar_SA_Q417_Email.html
http://www.bmc.com/forms/gartner-report-lower-business-costs-with-cloud.html
http://www.bmc.com/forms/multi-cloud-secops-seminar-cleveland-sept2017-registration.html
http://www.bmc.com/forms/WLA-BD-HadoopTrial-DemoChimp-Social-Jun2016.html
http://www.bmc.com/forms/bmc-activation-insights-newsletter-subscription.html
http://www.bmc.com/forms/secops-user-group-madrid-sept2017.html
http://www.bmc.com/forms/analyst-report-how-retail-profits-from-workload-automation.html
http://www.bmc.com/forms/DCA-SDA-Email-T3b-StreamlineServiceDeskWP.html
http://www.bmc.com/forms/digital-workplace-agile-business-performance-webinar-may2017.html
http://www.bmc.com/forms/DSM_ALL_TopRank_Q3FY17.html
http://www.bmc.com/forms/intelligent-service-desk-webinar-july2017-registration.html
http://www.bmc.com/forms/marketzone-product-press-release.html
http://www.bmc.com/forms/DCA-SecOps-ForbesSecOpsReport-Q3FY17-Search-v3.html
http://www.bmc.com/forms/forrester-report-transforming-data-management-for-digital-business-lds.html
http://www.bmc.com/forms/bmc-security-operations-usergroup-london-july2017-registration.html
http://www.bmc.com/forms/ITSM-UXTier1-3-LDS-T1-Q1FY17-Remedy-Trial.html
http://www.bmc.com/forms/MCO-R4-CAZE-CapacityPlannerWP-Email-Q2FY15_V2.html
http://www.bmc.com/forms/All-BMCDigitalInnovationDay-Brasilia-June29-Email.html
http://www.bmc.com/forms/WLA-CR-Email-Salesify-T3-Demochimp-Jul2016.html
http://www.bmc.com/forms/Digital-Workplace-Trials-Test-Dermot.html
http://www.bmc.com/forms/WLA_BD_Email_T3_Navistar_Q3FY17.html
http://www.bmc.com/forms/ITSM-RF-Social-Q3FY16.html
http://www.bmc.com/forms/forbes-report-strategic-impact-of-itsm-maturity.html
http://www.bmc.com/forms/ITSM_BMC_HRShowroom_SA_NOV16_Email.html
http://www.bmc.com/forms/DCA-SecOps-CIOeBook-Email.html
http://www.bmc.com/forms/ITSM-SNowLDS-WebVisits-RemedyTri-Q2FY16-T5R.html
http://www.bmc.com/forms/PA-APM-BMCcom-FY17-ForresterLandscape-Email.html
http://www.bmc.com/forms/control-m-hadoop-trial.html
http://www.bmc.com/forms/PA-CapOptsTrial-Global-Q3FY16-PaidSearch.html
http://www.bmc.com/forms/ITSM-Discovery-Launch-Q4FY16-Email-AssetMgmt.html
http://www.bmc.com/forms/ITSM-SNowLDS-InternalList-WP-Q2FY17-T4RF.html
http://www.bmc.com/forms/industry-analysts.html
http://www.bmc.com/forms/WLA-CR-BMCcom-Nov2015-CIOBusAgilityEbook.html
http://www.bmc.com/forms/PA_TSOpsMgt_HPComp_Jan2017_Email.html
http://www.bmc.com/forms/ITSM-Discovery-Launch-Q1FY17-BMCcom-StrtAnywhr.html
http://www.bmc.com/forms/modernize-it-change-management-to-minimize-risk-white-paper.html
http://www.bmc.com/forms/ITSM-RF-Spiceworks-FY16-DirectMail.html
http://www.bmc.com/forms/ITSM-Remedy-IDCFrictionReport-AR-PaidSearch.html
http://www.bmc.com/forms/workload-automation-enables-business-agility-ebook.html
http://www.bmc.com/forms/mainframe-systems-management-whitepaper.html
http://www.bmc.com/forms/DCA-SecOps-Sales-DROnlineAttack-Jul2016.html
http://www.bmc.com/forms/WLA-BD-Google-Nov2015-ForresterWP.html
http://www.bmc.com/forms/DCA-SecOps-GartnerPredicts-Jan17.html
http://www.bmc.com/forms/DCACloud-BladeLogicWebPage-ContactMe-BMCcom-FY15Q2_V2.html
http://www.bmc.com/forms/DCACloud-SecOps-Email-ForbesInsightsWP-Jan16.html
http://www.bmc.com/forms/control-m-cloud-strategy-webinar.html
http://www.bmc.com/forms/DSM-DigitalWorkplace-HR-LDS-FY17-T3-RFPkit-Email.html
http://www.bmc.com/forms/WLA-EF-MFTWP-Search-Sep2016.html
http://www.bmc.com/forms/WLA-BD-Email-Nov2015-UBMDataLakesWP.html
http://www.bmc.com/forms/WLA-CR-Google-Nov2015-CIOBusAgilityEbook.html
http://www.bmc.com/forms/ESM_Comm_NumaraToEloqua_Mar_2013_track-IT_callback_V2.html
<!--/*http://www.bmc.com/it-services/footprints-service-desk-consulting.html*/-->
<!--/*http://www.bmc.com/it-services/myit-consulting-services.html*/-->
<!--/*http://www.bmc.com/it-solutions/remedy-itsm.html*/-->
<!--/*http://www.bmc.com/it-solutions/myit.html*/-->
<!--/*http://www.bmc.com/it-solutions/brands/marimba.html*/-->
<!--/*http://www.bmc.com/it-solutions/service-management.html*/-->
<!--/*http://www.bmc.com/forms/ESM_ContactCenter_ContactRequest_BMCcom_EN_Jan2014.html*/-->
<!--/*http://www.bmc.com/it-solutions/remedyforce-customer-enablement.html*/-->
<!--/*http://www.bmc.com/corporate/ebc.html*/-->
<!--/*http://www.bmc.com/legal/equal-employment-opportunity.html*/-->
<!--/*http://www.bmc.com/customers/five9.html*/-->
<!--/*http://www.bmc.com/education/courses/control-m-9x-fundamentals-for-administrators.html*/-->
<!--/*http://www.bmc.com/education/courses/certified-professional-control-m-workload-automation-9-0.html*/-->
<!--/*http://www.bmc.com/education/courses/bladeLogic-threat-director-training.html*/-->
</textarea>
        </div>
        <div>
            <input type="submit" value="Import"/>
        </div>
    </form>
</article>