<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700,800" rel="stylesheet" type="text/css">

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientLib.all @ categories='bmc.head'}" />

<style>
    body {
        background-color: white;
    }
    article {
        margin: 4em;
    }
    label {
        display: block;
    }
    input, textarea {
        margin-bottom: 2em;
    }
    h1 {
        font-size: 2em;
    }
    textarea {
        width: 100%;
    }
</style>
