<div class="support-menu-wrapper layout-inner-wrap">
    <ul class="support-menu">
        <li class="menu-item js-show-sub-trigger">
            <a href="#" class="menu-anchor">
                My Support
            </a>
            <ul class="sub-menu">
                <li class="sub-menu-item"><a href="#">Issue Management</a></li>
                <li class="sub-menu-item"><a href="#">My Support Profile</a></li>
                <li class="sub-menu-item"><a href="#">Licensing and Passwords</a></li>
                <li class="sub-menu-item"><a href="#">Support Offerings</a></li>
                <li class="sub-menu-item"><a href="#">Maintenance &amp; Invoice Queries</a></li>
                <li class="sub-menu-item"><a href="#">Customer Support Policies</a></li>
            </ul>
        </li>
        <li class="menu-item menu-item js-show-sub-trigger">
            <a href="#" class="menu-anchor">
                Downloads &amp; Assets
            </a>
            <ul class="sub-menu">
                <li class="sub-menu-item"><a href="#">Downloads, Patches and Fixes</a></li>
                <li class="sub-menu-item"><a href="#">Product Availability Compatibility</a></li>
                <li class="sub-menu-item"><a href="#">Beta Program</a></li>
            </ul>
        </li>
        <li class="menu-item menu-item js-show-sub-trigger">
            <a href="#" class="menu-anchor">
                Resources
            </a>
            <ul class="sub-menu">
                <li class="sub-menu-item"><a href="#">Knowledge Base</a></li>
                <li class="sub-menu-item"><a href="#">Product Documentation</a></li>
                <li class="sub-menu-item"><a href="#">Security</a></li>
                <li class="sub-menu-item"><a href="#">Video Tutorials</a></li>
            </ul>
        </li>
        <li class="menu-item menu-item js-show-sub-trigger">
            <a href="#" class="menu-anchor">
                Additional Support Centers
            </a>
            <ul class="sub-menu">
                <li class="sub-menu-item"><a href="#">Numara Software (Footprints &amp; TrackIt!)</a></li>
                <li class="sub-menu-item"><a href="#">Coradiant</a></li>
                <li class="sub-menu-item"><a href="#">BladeLogic</a></li>
                <li class="sub-menu-item"><a href="#">Remedyforce</a></li>
                <li class="sub-menu-item"><a href="#">Service Desk Express</a></li>
            </ul>
        </li>
        <li class="menu-item menu-item js-show-sub-trigger">
            <a href="#" class="menu-anchor">
                Contact Support
            </a>
            <ul class="sub-menu">
                <li class="sub-menu-item"><a href="#">Asia Pacific</a></li>
                <li class="sub-menu-item"><a href="#">Europe, Middle East, and Africa</a></li>
                <li class="sub-menu-item"><a href="#">Latin America</a></li>
                <li class="sub-menu-item"><a href="#">North America</a></li>
                <li class="sub-menu-item"><a href="#">Chat with Our Support Staff</a></li>
            </ul>
        </li>
    </ul>
</div>
