<header class="support-header">
   <div class="support-header-inner">
      <div class="desktop-global-bar-container">
         <div class="global-bar layout-inner-wrap">
            <ul class="global-options">
               <li class="global-option"><a href="https://communities.bmc.com/welcome"  target="_self" >BMC Communities</a></li>
               <li class="global-option"><a href="http://docs.bmc.com/"  target="_self" >BMC Docs</a></li>
               <li class="global-option"><a href="/"  target="_self" >BMC.com</a></li>
               <li class="global-option navigation-search js-navigation-search" >
               <!-- WEB-7277 Support Coveo Changes START -->
                 <div class="search-site search-site-b" id="supportSearchBox" dir="ltr">
  					<div class="search-focus">
    				<div class="CoveoSearchbox" title="Search" data-add-search-button="false" data-placeholder="Search Support" ></div>
  				</div>
  				<button type="button" class="CoveoSearchButton"></button>
				</div>
                   <!-- WEB-7277 Support Coveo Changes END -->
               </li>
            </ul>
         </div>
      </div>
      <div class="logo-bar-container">
         <div class="layout-inner-wrap">
            <div class="mobile-logo-bar-wrapper">
               <div class="mobile-logo-bar">
                  <a href="/">
                     <div class="support-header-logo"></div>
                  </a>
                  <h1 class="support-header-heading">
                     <a href="/support/support-central.html" class="heading-text">Support Central</a>
                  </h1>
                  <div class="support-menu-toggle js-toggle-open-header"></div>
               </div>
            </div>
         </div>
      </div>
      <!--/* WEB-3358  Support Central Navigation Component START */-->
      <div class="support-menu-container">
	 <div data-sly-include="menu.html"></div>
	  </div>
      <!--/* WEB-3358  Support Central Navigation Component END*/-->
      <div class="mobile-global-bar-container">
         <div class="layout-inner-wrap">
            <div class="global-bar">
               <ul class="global-options">
                  <li class="global-option"><a href="https://communities.bmc.com/welcome"  target="_self" >BMC Communities</a></li>
                  <li class="global-option"><a href="http://docs.bmc.com/"  target="_self" >BMC Docs</a></li>
                  <li class="global-option"><a href="/"  target="_self" >BMC.com</a></li>
                  <li class="global-option navigation-search js-navigation-search" >
                     <!-- WEB-7277 Support Coveo Changes START -->
	                 <div class="search-site search-site-b" id="supportSearchBox" dir="ltr">
	  					<div class="search-focus">
	    				<div class="CoveoSearchbox" title="Search" data-add-search-button="false" data-placeholder="Search Support" ></div>
	  				</div>
	  				<button type="button" class="CoveoSearchButton"></button>
					</div>
                   <!-- WEB-7277 Support Coveo Changes END -->
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</header>
