# Configuration created by Apache Sling JCR Installer
identitySyncType="default"
keyStorePassword="admin"
service.ranking=I"5002"
idpHttpRedirect=B"false"
createUser=B"true"
defaultRedirectUrl="/"
userIDAttribute="uid"
idpIdentifier=""
assertionConsumerServiceURL=""
defaultGroups=["bmc-everyone"]
signatureMethod="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"
idpCertAlias="certalias___1608548983681"
addGroupMemberships=B"true"
path=["/content"]
digestMethod="http://www.w3.org/2001/04/xmlenc#sha256"
synchronizeAttributes=["cn\=rep:fullname","SSOUSERGIVENNAME\=profile/givenName","SSOUSERSURNAME\=profile/familyName","SSOUSEREMAIL\=profile/email","bmc_contactintegrationid\=profile/contactIntegrationId"]
clockTolerance=I"60"
groupMembershipAttribute="SSOGROUPDN"
idpUrl="https://bmcqa.okta.com/app/bmcsoftwareqauatbmcqacell2_aempublishqa_1/exke76jf7oo73fERH0x7/sso/saml"
logoutUrl=""
serviceProviderEntityId="aemqapublish"
handleLogout=B"false"
userIntermediatePath=""
spPrivateKeyAlias="okta-stage-publish"
useEncryption=B"true"
nameIdFormat="urn:oasis:names:tc:SAML:2.0:nameid-format:transient"
