

.video-feature{
    background-color: #fff;
    padding: 1rem 0 1.8rem 0;
    .video-feature-bg{
        background-image: url(#{$imagesFolder}splashPage/half-circle-shape.svg);   
        padding-top: 20px;
        background-repeat: no-repeat;
        background-position: center top;        
    }
    .vidbg-overlay {
        background: transparent !important;
    }
    .video-hero-header {
        max-width: 960px;
        margin: 0 auto;
    }   
    h2{
        margin-top: 0;
    }
    .sp-divider{
        margin: 40px auto;
        border: none;
        background-color: #2BD4EE;
        height: 1px;
        max-width: 100px;
    }   
    .caption {
        text-align: left;
        background: #002C8F;
        padding: 10px;
        color: #fff;
        padding: 20px;
        h4{
            color: #fff;
         }
         p  {
             color: #fff;
             margin: 0;
         }
    }  
    
}
// Video Icon on inline videos- Global CSS 
.sp-video-icon-global{
    background-image: url(#{$imagesFolder}splashPage/icons/svg-colored/play-circle-orangegradient.svg); 
    width: 70px;
    height: 70px;
    margin: auto;
    transition: 0.3s linear;
    background-repeat: no-repeat;
    .preloadHoverImage{
        background-image: url(#{$imagesFolder}splashPage/icons/svg-colored/play-circle-bluegradient.svg); 
    }
    &:hover{
        background-image: url(#{$imagesFolder}splashPage/icons/svg-colored/play-circle-bluegradient.svg); 
        transition: 0.3s linear;  
    }
    @media(min-width:$break-sm){
        width: 100px;
        height: 100px;
    } 
    @media(min-width:$break-md){
        width: 141px;
        height: 141px;
    } 
}
.overlay-wrap{
    background: rgba(0, 0, 0, 0.8);
    transition: 0.3s linear;
    &:hover {
        background: transparent;
        transition: 0.3s linear;
    }
}
.orion-page-fancybox{
    .fancybox-close{
        background-image: url(#{$imagesFolder}orion/plus-close-circle-blue.svg);
        &:hover{
            background-image: url(#{$imagesFolder}orion/plus-close-circle-orangegradient.svg);
        }
    } 
}


//video-portal
.video-portal{
    width: 100%;
    margin: 13px;
    .img-div{
        display: flex;
        img{
            width: 100%;
        }
    }
    .video-img{
        position: relative;
        .video-overlay {
            position: absolute;
            background: rgba(0,0,0,0.8);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0; 
            display: flex;
            align-items: center;
            transition: 0.3s linear;

            .play-icon{
                background-image: url(#{$imagesFolder}orion/play-circle-orangegradient.svg); 
                margin: 0 auto;
                width: 70px;
                height: 70px;
                box-shadow: 13px 20px 44px 0 rgba(13, 16, 32, 0.2);
                border-radius: 50%;
                transition: 0.5s linear;
                display: block;
                background-repeat: no-repeat;
                &:hover{ 
                    background-image: url(#{$imagesFolder}orion/play-circle-bluegradient.svg); 
                    transition: 0.5s linear;
                }
                @media(min-width:$break-md){
                    width: 80px;
                    height: 80px;
                } 
                @media(min-width:$break-lg){
                    width: 101px;
                    height: 101px;
                } 
            }         
        } 
        &:hover {
            .video-overlay {
                background: transparent;
                transition: 0.3s linear;
            }       
        }

    }
    .caption {
        text-align: left;
        background: #002C8F;
        padding: 10px;
        color: #fff;
        padding: 20px;
        h4{
            color: #fff;
         }
         p  {
             color: #fff;
             margin: 0;
         }
    } 
     
}

.preload-img{
    width: 0px;
    height: 0px;
}