.orion-calculator{
    background-color: #fff;
	
	.orion-tabs-wrapper {
		.orion-tabs-nav{
			border-bottom: 1px solid #BDBDBD;
			.tab-nav {
				
				h4{
					padding: 35px 0;
					color: #75777A;
					span {
						background: #E5E5E5;
						display: inline-block;
						padding: 10px;
						line-height: 1em;
						vertical-align: middle;
						margin-right: 15px;
					}
					&:hover {
							cursor: pointer;
							color: #000;
					}
				}
				
				&.active {
					h4 {
						color: #002C8F;
						span {
							background: #2BD4EE;
						}
					}
					
				}
				
			}
		}
		.orion-tabs-body-wrapper{
			.orion-tabs-body {
				.tab-body {
					display: none;
					padding: 30px 0;
					margin-right: 30px;
					&.active{
						display: block;
					}
					h3{
						color: #002C8F;
					}
					.big-price-text {
						color: #414042;
						font-weight: 700;
						font-size: 26px;
						margin-top: 10px;
						margin-bottom: 30px;
						@media(min-width:$break-md){
							font-size: 36px;
						} 
					}
					
					#nonProdItemsWrap, #reviewItemsWrap {
						.nonProdItem, .prodItem{
							border: 1px solid #1A98FF;
							border-radius: 10px;
							padding: 30px;
							margin-bottom: 30px;
							position:relative;
							
							.delete{
								position: absolute;
							    top: 15px;
								right: 20px; 
								cursor: pointer;
								color: #1A98FF;
								&:hover{
									color: #F98700;									
								}
							}
						}
						
					}
					.total{
						background: #EEEEEE;
						padding: 10px;
						font-size: 14px;
						display: flex;
						justify-content: space-between;
						width: 100%;
						p{
							font-size: 14px;
							margin: 0;
						}
						.total-right{
							width: 30%;
							text-align: right;
							border-left: 1px solid #BDBDBD;
						}
						
					}
					.infobox {
						text-align: right;
						display: flex;
						align-items: flex-end;
						height: 100%;
						width: 100%;
						
						
						p{
							font-size: 14px;
							margin: 0 0 0 auto;
						}
					}
					.nav{
						margin: 40px 0 20px 0;
					}
				}
				.daily-execution-wrap {
					justify-content: space-between;
				}
			}
			.orion-tabs-static {
				p {
					font-size: 16px;
					line-height: 1.5em;
				}
				.tallybox {
					padding: 30px;
					background: #002C8F;
					margin: 30px 0;
					color: #fff;
					font-size: 14px;
					ul{
						list-style: none;
						text-align: left;
						padding: 0;
						margin-top: 0;
						li{
							border-bottom: 1px solid rgba(26, 152, 255, 0.5);
							padding-bottom: 5px;
							font-size: 14px;
							margin-bottom: 8px;
						}
					}
					p{
						font-size: 14px;
						margin-bottom: 10px;
					}
					
					#tally{
						color: #fff;
						font-weight: 800;
						margin-top: 0;
					}
					.btn-gradient {
						width: 70%;
						margin: 10px auto;
					}
				}
			}
			#nonProdItemsWrap{
				.daily-execution-wrap{
					display: none
				}
				.slidecontainer, .cale-subTitle{
					display: block;
				}
				.totolExecutions{
					display: flex;
				}
			}
			#reviewItemsWrap{
				.daily-execution-wrap{
					display: flex;
				}
				.totolExecutions, .slidecontainer, .cale-subTitle{
					display: none;
				}
			}
		}

		.btn-level2 {
			background: transparent;
			color: #1A98FF;
			border: none;
			font-size: 16px;
			font-weight: 700;
			padding-left: 0;
			transition: 0.3s linear;
			border: none;
		
			&.btn-level2-prev{
				&:before{
					content: url(#{$imagesFolder}orion/arrow.png);
					background: #1A98FF;
					border-radius: 50%;
					width: 30px;
					height: 30px;
					display: inline-block;
					line-height: 30px;
					margin-left: 10px;
					transition: 0.3s linear;
					margin-right: 10px;
					transform: rotate(180deg);
				}
				&:hover{
					&:before{
						background: linear-gradient(90deg, #1a98ff 0%, #002c8f 100%);
						transition: 0.3s linear;
					}
				}
			}
			&.btn-level2-next{
				&:after{
					content: url(#{$imagesFolder}orion/arrow.png);
					background: #1A98FF;
					border-radius: 50%;
					width: 30px;
					height: 30px;
					display: inline-block;
					line-height: 30px;
					margin-left: 10px;
					transition: 0.3s linear;
				}
				&:hover{
					&:after{
						background: linear-gradient(90deg, #1a98ff 0%, #002c8f 100%);
						transition: 0.3s linear;
					}
				}
			}
		}
		.btn-level2-addEnv {
			background-color: #002C8F;
			border-color: #002C8F;
			color: #fff;
			border: none;
			&:before{
				content: url(#{$imagesFolder}orion/plus-orion.png);
				vertical-align: middle;
    			margin-right: 10px;				
			}
		}
		
		
	}
	
	
.slidecontainer {
	width: 100%; 
  }
  
  /* The slider itself */
  .slider {
	//-webkit-appearance: none;  /* Override default CSS styles */
	//appearance: none;
	width: 100%; /* Full-width */
	height: 5px;
	border-radius: 5px;  
	background: #4CAF50; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
	opacity: 0; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	border-radius: 50%;
	background: #4CAF50; /* Green background */
	cursor: pointer; /* Cursor on hover */
  }
  
// .slider::-moz-range-thumb {
//	width: 25px; /* Set a specific slider handle width */
//	height: 25px; /* Slider handle height */
//	background: #4CAF50; /* Green background */
//	cursor: pointer; /* Cursor on hover */
  //}
/*
 input[type="range"]::-moz-range-track {
	padding: 0 10px;
	background: repeating-linear-gradient(to right, 
	  #ccc, 
	  #ccc 10%, 
	  #000 10%, 
	  #000 11%, 
	  #ccc 11%, 
	  #ccc 20%);
  }*/
	
input[type="range"] {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
datalist {
    display: flex;
    width: 100%;
    justify-content: space-between;
	font-size: 14px;
	overflow: hidden;
	font-weight: 800;
}
option {
	width: 2ex;
	display: flex;
	justify-content: center;
	height: 42px;
	align-items: end;
	height: 4ex;
	background-position-y: -15px;
	background-position-x: center;
	margin-top: -100%;
	color: #75777A;
	&.marker{
		margin-top: 10px;
		font-weight: 800;
	}
}

.range-slider {
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 15px;
  & > input {
    opacity: 0;
    width: 100%;
    position: relative;
    z-index: 5;
    margin-top: 85px;
    -webkit-appearance: none;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      z-index: 100;
      position: relative;
      width: 50px;
      height: 30px;
      -webkit-border-radius: 10px;
    }
  }
  & > span.slider-container {
    display: inline-block;
    min-height: 110px;
    display: inline-block;
    position: absolute;
    top: 70px;
    left: -8px;
    right: 46px;
    z-index: 3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    & > span.prod {
        background-color: #BDBDBD;
		
		background-image:  linear-gradient(90deg, transparent, transparent calc((100% / 12 * 1) - 2px), white calc(100% / 12 * 1), transparent calc(100% / 12 * 1)),
		linear-gradient(90deg, transparent, transparent calc((100% / 12 * 2) - 2px), white calc(100% / 12 * 2), transparent calc(100% / 12 * 2)),
		linear-gradient(90deg, transparent, transparent calc((100% / 12 * 3) - 2px), white calc(100% / 12 * 3), transparent calc(100% / 12 * 3)),
		linear-gradient(90deg, transparent, transparent calc((100% / 12 * 4) - 2px), white calc(100% / 12 * 4), transparent calc(100% / 12 * 4)),
		linear-gradient(90deg, transparent, transparent calc((100% / 12 * 5) - 2px), white calc(100% / 12 * 5), transparent calc(100% / 12 * 5)),
		linear-gradient(90deg, transparent, transparent calc((100% / 12 * 6) - 2px), white calc(100% / 12 * 6), transparent calc(100% / 12 * 6)),
		linear-gradient(90deg, transparent, transparent calc((100% / 12 * 7) - 2px), white calc(100% / 12 * 7), transparent calc(100% / 12 * 7)),
		linear-gradient(90deg, transparent, transparent calc((100% / 12 * 8) - 2px), white calc(100% / 12 * 8), transparent calc(100% / 12 * 8)),
		linear-gradient(90deg, transparent, transparent calc((100% / 12 * 9) - 2px), white calc(100% / 12 * 9), transparent calc(100% / 12 * 9)),
		linear-gradient(90deg, transparent, transparent calc((100% / 12 * 10) - 2px), white calc(100% / 12 * 10), transparent calc(100% / 12 * 10)),
		linear-gradient(90deg, transparent, transparent calc((100% / 12 * 11) - 2px), white calc(100% / 12 * 11), transparent calc(100% / 12 * 11)),
		linear-gradient(90deg, transparent, transparent calc((100% / 12 * 12) - 2px), white calc(100% / 12 * 12), transparent calc(100% / 12 * 12))
		;
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);

        display: inline-block;
        position: absolute;
        z-index: 1;
        top: 12px;
        left: 10px;
        right: -42px;
        height: 11px;
        overflow: hidden;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        & > span {
          background: linear-gradient(90deg,#2BD4EE 0%, #1A98FF 100%);
          display: inline-block;
          float: left;
          height: 11px;
          width: 0%;
        }
      }
	  & > span.nonProd {
        background-color: #BDBDBD;
		
		background-image:  linear-gradient(90deg, transparent, transparent calc((100% / 37 * 1) - 2px), white calc(100% / 37 * 1), transparent calc(100% / 37 * 1)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 2) - 2px), white calc(100% / 37 * 2), transparent calc(100% / 37 * 2)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 3) - 2px), white calc(100% / 37 * 3), transparent calc(100% / 37 * 3)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 4) - 2px), white calc(100% / 37 * 4), transparent calc(100% / 37 * 4)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 5) - 2px), white calc(100% / 37 * 5), transparent calc(100% / 37 * 5)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 6) - 2px), white calc(100% / 37 * 6), transparent calc(100% / 37 * 6)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 7) - 2px), white calc(100% / 37 * 7), transparent calc(100% / 37 * 7)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 8) - 2px), white calc(100% / 37 * 8), transparent calc(100% / 37 * 8)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 9) - 2px), white calc(100% / 37 * 9), transparent calc(100% / 37 * 9)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 10) - 2px), white calc(100% / 37 * 10), transparent calc(100% / 37 * 10)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 11) - 2px), white calc(100% / 37 * 11), transparent calc(100% / 37 * 11)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 12) - 2px), white calc(100% / 37 * 12), transparent calc(100% / 37 * 12)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 13) - 2px), white calc(100% / 37 * 13), transparent calc(100% / 37 * 13)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 14) - 2px), white calc(100% / 37 * 14), transparent calc(100% / 37 * 14)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 15) - 2px), white calc(100% / 37 * 15), transparent calc(100% / 37 * 15)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 16) - 2px), white calc(100% / 37 * 16), transparent calc(100% / 37 * 16)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 17) - 2px), white calc(100% / 37 * 17), transparent calc(100% / 37 * 17)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 18) - 2px), white calc(100% / 37 * 18), transparent calc(100% / 37 * 18)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 19) - 2px), white calc(100% / 37 * 19), transparent calc(100% / 37 * 19)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 20) - 2px), white calc(100% / 37 * 20), transparent calc(100% / 37 * 20)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 21) - 2px), white calc(100% / 37 * 21), transparent calc(100% / 37 * 21)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 22) - 2px), white calc(100% / 37 * 22), transparent calc(100% / 37 * 22)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 23) - 2px), white calc(100% / 37 * 23), transparent calc(100% / 37 * 23)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 24) - 2px), white calc(100% / 37 * 24), transparent calc(100% / 37 * 24)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 25) - 2px), white calc(100% / 37 * 25), transparent calc(100% / 37 * 25)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 26) - 2px), white calc(100% / 37 * 26), transparent calc(100% / 37 * 26)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 27) - 2px), white calc(100% / 37 * 27), transparent calc(100% / 37 * 27)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 28) - 2px), white calc(100% / 37 * 28), transparent calc(100% / 37 * 28)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 29) - 2px), white calc(100% / 37 * 29), transparent calc(100% / 37 * 29)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 30) - 2px), white calc(100% / 37 * 30), transparent calc(100% / 37 * 30)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 31) - 2px), white calc(100% / 37 * 31), transparent calc(100% / 37 * 31)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 32) - 2px), white calc(100% / 37 * 32), transparent calc(100% / 37 * 32)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 33) - 2px), white calc(100% / 37 * 33), transparent calc(100% / 37 * 33)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 34) - 2px), white calc(100% / 37 * 34), transparent calc(100% / 37 * 34)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 35) - 2px), white calc(100% / 37 * 35), transparent calc(100% / 37 * 35)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 36) - 2px), white calc(100% / 37 * 36), transparent calc(100% / 37 * 36)),
		linear-gradient(90deg, transparent, transparent calc((100% / 37 * 37) - 2px), white calc(100% / 37 * 37), transparent calc(100% / 37 * 37))
		
		;
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);

        display: inline-block;
        position: absolute;
        z-index: 1;
        top: 12px;
        left: 10px;
        right: -42px;
        height: 11px;
        overflow: hidden;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        & > span {
          background: linear-gradient(90deg,#2BD4EE 0%, #1A98FF 100%);
          display: inline-block;
          float: left;
          height: 11px;
          width: 0%;
        }
      }
      & > span.bar-btn {
        display: inline-block;
        position: absolute;
        width: 46px;
        height: 30px;
        padding-top: 30px;
        font-weight: bold;
        text-align: center;
        background: #fff;
		color:#1A98FF;
        left: -25px;
        top: -65px;
		font-size: 14px;
 
        &:after {
          content: "";
          border: 3px solid #1A98FF;
          background-color: white;
          border-radius: 20px;
          width: 25px;
          height: 25px;
          display: inline-block;
          position: absolute;
          left: 8px;
          top: 65px;
          z-index: 3;
        }
        
      }

    }
}



	
}