.orion-calculator{
    background-color: #fff;
	
	.orion-tabs-wrapper {
		.orion-tabs-nav{
			border-bottom: 1px solid #ccc;
			.tab-nav {
				
				h3{
					padding: 30px 0;
					color: #ccc;
					span {
						background: #eee;
						display: inline-block;
						padding: 5px;
					}
					&:hover {
							cursor: pointer;
							color: #000;
					}
				}
				
				&.active {
					h3 {
						color: #002C8F;
						span {
							background: #2BD4EE;
						}
					}
					
				}
				
			}
		}
		.orion-tabs-body-wrapper{
			.orion-tabs-body {
				.tab-body {
					display: none;
					padding: 30px 0;
					margin-right: 30px;
					&.active{
						display: block;
					}
				}
			}
			.orion-tabs-static {
				.tallybox {
					padding: 30px;
					background: #002C8F;
					margin: 15px 0;
					color: #fff;
					
					#tally{
						color: #fff;
						font-weight: 800;
					}
				}
			}
		}
		
		
	}
	
	
.slidecontainer {
	width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
	//-webkit-appearance: none;  /* Override default CSS styles */
	//appearance: none;
	width: 100%; /* Full-width */
	height: 15px;
	border-radius: 5px;  
	background: orange; /* Grey background */
	//outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	border-radius: 50%;
	background: #4CAF50; /* Green background */
	cursor: pointer; /* Cursor on hover */
  }
  
 // .slider::-moz-range-thumb {
//	width: 25px; /* Set a specific slider handle width */
//	height: 25px; /* Slider handle height */
//	background: #4CAF50; /* Green background */
//	cursor: pointer; /* Cursor on hover */
  //}
 /* input[type="range"]::-moz-range-track {
	padding: 0 10px;
	background: repeating-linear-gradient(to right, 
	  #ccc, 
	  #ccc 10%, 
	  #000 10%, 
	  #000 11%, 
	  #ccc 11%, 
	  #ccc 20%);
  }*/
	
input[type="range"] {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
datalist {
    display: flex;
    width: 100%;
    justify-content: space-between;
   // margin-top: -23px;
    //padding-top: 0px;
	font-size: 12px;
	overflow: hidden;
}
option {
	width: 2ex;
	display: flex;
	justify-content: center;
	height: 42px;
	align-items: end;
	//background-image: url(tick.png);
	height: 4ex;
	background-position-y: -15px;
	background-position-x: center;
	//z-index: -1;
	margin-top: -100%;
	&.marker{
		margin-top: 0;
	}
}

/*option {
    width: 2ex;
    display: flex;
    justify-content: center;
    height: 42px;
    align-items: end;
    //background-image: url(tick.png);
    height: 4ex;
    background-position-y: -15px;
    background-position-x: center;
    z-index: -1;
}*/
	
}