.orion-global{
    font-size: 16px;
    line-height: 26px;
    h1, h2, h3{
        font-weight: 400;    
    }
    h1{
        font-size: 36px;
        line-height: 48px;
    }
    h2{
        font-size: 26px;
        line-height: 36px;
    }
    h3{
        font-size: 22px;
        line-height: 32px;
    }
    @media(min-width:$break-sm){
        font-size: 18px;
        line-height: 28px;
        h1{
            font-size: 50px;
            line-height: 66px;
        }
        h2{
            font-size: 36px;
            line-height: 46px;
        }
        h3{
            font-size: 26px;
            line-height: 36px;
        }
    }
   
    .btn-gradient{
        background: rgb(249,135,0);
        background: linear-gradient(90deg, rgba(249,135,0,1) 0%, rgba(254,80,0,1) 100%);
        border: none;
        border-radius: 4px;
        font-size: 14px;
        transition: 0.3s linear;
        font-weight: 700;
        padding: 10px 17px;
        &:hover{
            background: rgb(249,135,0) ;
            background: linear-gradient(90deg, rgba(249,135,0,1) 0%, rgba(238,169,8,1) 100%); 
            transition: 0.3s linear;         
        }
    }
    .btn-secondary{
        @extend .btn-gradient;
        border-radius: 0px;
        padding: 14px 45px;
        &:hover{
            background: rgb(249,135,0) !important;
            background: linear-gradient(90deg, rgba(249,135,0,1) 0%, rgba(238,169,8,1) 100%)!important;    
        }
    }
    .sp-large-container{
        max-width: 1920px;
        margin: auto;
        position: relative;
    }
    .mobileOnly{
        display: block;
        @media(min-width:$break-sm){
            display: none;
        }
    }
    .desktopOnly{
        display: none;
        @media(min-width:$break-sm){
            display: block;
        }
    }
    
}
.splashpage-banner-wrap{
    background-color: #fff;
    .blob-light-blue{
        background-image: url(#{$imagesFolder}splashPage/splashpage-banner-blob-light.svg);
        background-repeat: no-repeat;
        background-position: 50% 73%;
    }
    .splashpage-banner{
        background-image: url(#{$imagesFolder}splashPage/splashpage-banner-blob-dark.svg);        
        background-position: 40% 70%;
        padding: 2rem 0 6rem 0;    
        background-repeat: no-repeat;    
        @media(min-width:$break-sm){
            padding: 4rem 0 10rem 0;
        } 
        .animated-line {
            max-width: 100%;
            padding-bottom: 30px;
        }
        
        .text-white{
            color: #fff;
            h1, h2, h3, p{
                color: #fff;
            }
        }
        h1{
            margin-bottom: 30px;
            @media(min-width:$break-sm){
                margin-bottom: 40px;
            } 
            span{
                color: #2BD4EE;
            }
        }
        h3 {
            margin-top: 0;
        }
        .btn-gradient{
            @media(min-width:$break-sm){
                margin-top: 40px;
            } 
        }
        .splashpage-banner-content{
            max-width: 900px;
            margin: auto;
            @media(min-width:$break-sm){
               text-align: center;
            } 
        }
        div#lottie{
            @media(min-width:$break-sm){
                position: absolute;
                top: 20px;
                left: 1.55556rem;
                right: 0;
                max-width: 29%;
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                    top: 0px;
                    max-height: 90px;
                 }
             }  
             @media(min-width:$break-lg){
                max-width: 35%;
             } 
          
        }
        .layout-inner-wrap{
            position: relative;
        }
       
    }

}


.video-feature{
    background-color: #fff;
    padding: 1rem 0 1.8rem 0;
    .video-feature-bg{
        background-image: url(#{$imagesFolder}splashPage/half-circle-shape.svg);   
        padding-top: 20px;
        background-repeat: no-repeat;
        background-position: center top;
        .vidbg-overlay {
            background: transparent !important;
        }
    }
    .video-hero-header {
        max-width: 960px;
        margin: 0 auto;
    }
    h2{
        color: #002C8F;
        margin-bottom: 50px;
        margin-top: 0;
    }
    .sp-divider{
        margin: 40px auto;
        border: none;
        background-color: #2BD4EE;
        height: 1px;
        max-width: 100px;
    }   
}


.split-form{
    background-color: #fff;  
    @media(min-width: $break-md){
        padding: 0 0 2rem 0; 
    }      
    .layout-inner-wrap{
        padding: 0;
    } 
    .sp-form{
        background-image: url(#{$imagesFolder}splashPage/split-form-blob.svg); 
        background-repeat: no-repeat;
        background-position: 98% 13px;
        padding: 140px 0 100px 0;
        background-size: 600px;
        @media(min-width:1199px){
            background-size: 800px;
        }  
        @media(max-width: 833px){
            background-size: 600px;
            background-position: 120% 64%;
            padding: 50px 0 50px 0;
        }
        @media(max-width: 640px){
            background-position: 0 40%;
        }
          
    }      
    .sp-form-wrap{       
        z-index: 1;           
        padding: 70px 25px 0 25px;
        position: relative;
        @media(min-width: $break-sm){
            padding: 100px 40px 0 40px;
        }
        @media(min-width: $break-md){
            padding: 0 75px 0 40px; 
        } 
        iframe {
            width: 100%;
            height: 724px;
            border: none;
            border-radius: 26px;
            overflow: hidden;
        }
        .iframe-wrap{
            background: #fff;
            border-radius: 26px;
        }
       
    }
    .split-form-image{
        text-align: center;       
    }
    div#splitFormAnimation {
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;
        z-index: 0;
        display: none;
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            top: 42%;
         }
        @media(min-width:$break-md){
            display: block;
        } 
        
    }
   
}

// Iframe Form specific CSS

.iframeFormPage{
    padding-top: 0 !important;
    background: #fff;
    overflow: hidden;
    header, footer, nav {
        display: none;
        height: 0;
    }
    
    
    
    .cmp-form form {  
        background: #fff;
        color: #75777A;
        width: auto;
        border-top: none;
        margin: 0 !important;
        padding: 1.2rem;
        @media(min-width:$break-sm){
            padding: 1rem 3rem 3rem 3rem;
        } 
           
        fieldset:not(#foo)  {
            
            @media(min-width:$break-sm){
                margin-right: -20px;
            } 
            label{
                font-size: 14px;
                font-weight: 700;
                color: #414042;
                margin-bottom: 8px;
            }
            .error-text {
                @media(min-width:$break-sm){
                    min-height: 15px;
                }                
                display: block;
                font-size: 12px;
            }
            .aem-GridColumn--default--6 {
                display: inline-block;
                float: left !important;
                width: calc(50% - 20px);
                vertical-align: top;
                padding-right: 20px;
                @media(max-width:$break-sm){
                    width: 100%;
                    padding-right: 0;
                } 
                
            }  
            input[type="text"],  input[type="number"],  input[type="password"],  input[type="email"],  input[type="tel"],  textarea, .decorator-select{
                border-color: #1A98FF;
                border-width: 1px;
            } 
            .validation-error-redesign, .validation-error{
                border-color: #ff0000 !important;
                border-width: 1px;
            }
            input[type="text"]:focus, input[type="text"]:focus,  input[type="number"]:focus,  input[type="password"]:focus,  input[type="email"]:focus,  input[type="tel"]:focus,  textarea:focus{
                background: rgba(26, 152, 255, 0.1);
            }
            .focus-border::after{
                background: rgba(26, 152, 255, 0.1);
            }
            .decorator-select{
                .validation-error-redesign{
                    border-color: #ff0000;
                    border-width: 1px;
                }
                &:after{
                    top: 0;
                    height: 46px;
                }
            }
            .decorator-select.validation-error-redesign, .decorator-select.validation-error{
                    border-color: #ff0000;
                    border-width: 1px;                
            }
            .form-group.checkbox{
                li{
                    label {
                        font-weight: 400;
                        color: #75777A;
                        font-size: 16px;
                        position: relative;
                        padding-left: 35px;
                        display: block;
                        &::before{
                            content: '';
                            color: #1A98FF;
                            font-weight: 700;
                            border: 2px solid #1A98FF;
                            height: 20px;
                            width: 20px;
                            padding: 0;
                            margin: 0 10px 0 0px;
                            display: inline-block;
                            box-shadow: 0 0 0 2px #ffffff;
                            position: absolute;
                            left: 0;
                            top: 2px;                            
                        }
                    }
                } 
            }
            input[type="checkbox"]:checked + label:before{
                content: url(#{$imagesFolder}splashPage/icons/svg-colored/checkmark-white.svg);
                background-color: #002C8F;
                border: 2px solid #ffffff;
                box-shadow: 0 0 0 2px #1A98FF;
            } 
                  
        }
        a{
            font-weight: 700;
            color: #1A98FF;
        }
        p{
            color: #75777A;
            margin-bottom: 0;
            font-size: 16px;
        }
        .cmp-title{
            h2{
            color: #002C8F;
            font-size: 26px;
            line-height: 36px;
                @media(min-width:$break-sm){
                    font-size: 36px;
                    line-height: 46px;
                } 
            }
            p{
                margin-bottom: 0;
                font-size: 13px;
                color: #414042;
            }
        }
    }    
    .responsivegrid.equal-column.aem-GridColumn--phone--12.aem-GridColumn.aem-GridColumn--default--12:last-child {
        width: 100% !important;
        padding: 0 !important;
    }
    .aem-Grid.aem-Grid--12.aem-Grid--default--12.layout-inner-wrap {
        padding: 0;
    }     
    
   
}

// Video Icon on inline videos- Global CSS 
.sp-video-icon-global{
    background-image: url(#{$imagesFolder}splashPage/icons/svg-colored/play-circle-orangegradient.svg); 
    width: 70px;
    height: 70px;
    margin: auto;
    transition: 0.3s linear;
    background-repeat: no-repeat;
    .preloadHoverImage{
        background-image: url(#{$imagesFolder}splashPage/icons/svg-colored/play-circle-bluegradient.svg); 
    }
    &:hover{
        background-image: url(#{$imagesFolder}splashPage/icons/svg-colored/play-circle-bluegradient.svg); 
        transition: 0.3s linear;  
    }
    @media(min-width:$break-sm){
        width: 100px;
        height: 100px;
    } 
    @media(min-width:$break-md){
        width: 141px;
        height: 141px;
    } 
}

.orion-page-fancybox{
    .fancybox-close{
        background-image: url(#{$imagesFolder}splashPage/icons/svg-colored/plus-close-circle-orangegradient.svg);
        
        &:hover{
            background-image: url(#{$imagesFolder}splashPage/icons/svg-colored/plus-close-circle-blue.svg);
        }
    }  
}


// Orion Thank page css
.orion-thankyou{
    h1{
        font-size: 26px;
        line-height: 36px;        
        @media(min-width:$break-sm){
            font-size: 36px;
            line-height: 46px;
        }
        span.black {
            color: #002C8F;
        }
    }
}

//Orion CallOut
.orionCallout {
    background-color: white;
    padding-top: 64px;
    .callout-topline {
        margin: 32px auto 0px auto;
        border: none;
        background-color: #2BD4EE;
        height: 1px;
        max-width: 650px;
    }
    h3 {
        margin: 32px auto 64px auto;
        text-align: left;
        color: #2BD4EE;
        max-width: 650px;
    }
}

//Orion Split-content
.orion-split-content {
    padding: 30px 0px;
    .button-bullet {
        padding: 0px;
    }
    .button-set {
        padding: 0px;
    }
    .split-part-2 {
        padding-top: 45px;
    }
    .imageContainer {
        background: url(#{$imagesFolder}orion/splitcontent-bg.svg) no-repeat;
        padding: 60px 0px;
        background-position: center 70%;
        background-size: 700px;
        text-align: center;
    }
    @media only screen and (min-width:0) and (max-width: 360px) {
        .imageContainer {
            background-size: 450px;
        }
    }
    @media only screen and (min-width:768px) and (max-width: 1024px) {
        .imageContainer {
            background-size: 580px;
        }
    }
}

.clearfix{
    clear:both;

}

.orion-homepage-banner{  
   
        .splashpage-banner-wrap .splashpage-banner {            
            padding: 3rem 0 10rem 0px;
        }
    .blob-light-blue{
        background-position: center 105%;
        padding: 0;
    }
    
}

.or-overlay {
    position: absolute;
    text-align: left;
    background: #002C8F;
    width: 100%;
    bottom: 0;
    color: #fff;
    .or-overlay-wrap{
        padding: 20px;
        p {
            margin: 0;
            color: #fff;
            font-size: 18px;
            display: block;
        }
    }
    
}