.orion-banner{   
    overflow: hidden;
    padding: 0;
    .layout-inner-wrap{
        z-index: 10;
        position: relative;
    }
    .blob-container{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;        
        right: -40%;
        z-index: 1;
        @media(min-width:$break-lg){
            right: -30%;
        }
        @media(min-width:1200px){
            right: -20%;
        }
        @media(min-width:1200px){
            right: -10%;
        }
        @media(min-width:1600px){
            right: 0;
        }
        .blob-hidden, .blob-masked{
            background-repeat: no-repeat;
            background-position: 100% top;              
            position: absolute;
            z-index: 1056;
            top: -80px;
            width: 100%;
            height: 100%;
            background-size: 100%;
            @media(min-width:$break-md){
                background-size: auto;            
                background-position: 100% -160px; 
            }
        }
        .blob-hidden{ 
            @media(min-width:$break-lg){
                animation-name: bounce-blob-hidden;
                animation-timing-function: linear;
                animation-duration: 8s;
                animation-iteration-count: infinite; 
            }
            @media(min-width:1600px){
                right: auto; 
            }
            
            
        }
        .blob-masked{            
            @media(min-width:$break-md){
                right: 50px;
            }
            @media(min-width:$break-lg){
                animation-name: bounce-blob-masked;
                animation-timing-function: linear;
                animation-duration: 10s;
                animation-iteration-count: infinite;
            }
            
        }
    }	
	
    .orion-banner-content{
        padding: 100px 0 30px 0;
        @media(min-width:$break-sm){
			padding: 100px 0;
        }
        h1{
            color: #002C8F;
        }
        .anchor-banner-title {
			overflow: hidden;
			span {
				font-weight: 800;
				position: relative;
				display: inline-block;
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					border-bottom: 1px solid #2BD4EE;
					width: 100vw;
					margin: 0 20px;
					left: 100%;
				}
			}
		}
		.anchor-banner-menu {
			padding: 0;
			li {
				float: left;
				list-style: none;
				a {
					font-size: 0.889;
					font-weight: 800;
					padding-right: 45px;
				}
			}
        }
        .orion-banner-right-image {
            @media(min-width:$break-sm){
                position: absolute;
                right: 10%;
                top: 20px;
            }            
        }
    }
    
    @keyframes bounce-blob-hidden {
        from {
           top : -80px;
        }
        50% {
            top : -70px;
        }
        to {
            top : -80px;
        }
    }
    @keyframes bounce-blob-masked {
        from {
            top : -80px;
        }
        50% {
            top : -60px;
        }
        to {
            top : -80px;
           
        }
    }

    // blob position wise variation
     
    &.orion-banner-v1{
        .blob-hidden{
            @media(min-width:$break-md){
                right: 150px;
            }
        }
       
    }	
}