
// Orion Quote Carousel
.orion-quote-section{
    .headingcustomer{
        padding:0px 30px 60px 30px;
        text-align: center;
        h2{
            background-color: #fff;
            display: inline-block;
            margin:  0 auto;
            padding: 0 30px;
        }
        hr{
            border: none;
            background-color: #2BD4EE;
            height: 1px;
            margin: -20px auto 0 auto;
        }
    }
    .orion-quote-carousel{
        background: url(#{$imagesFolder}orion/orion-cta-bg.svg) no-repeat;
        padding: 30px 0px  0px 0px;
        background-position: center 10%;
        background-size: 700px;
        text-align:center;
        @media(max-width:$break-md){
            background-size:300px;
        }
        .owl-item{
            opacity: 0.2;
            &.active{
                opacity: 1;
            }
        }
        .item{            
            .quote{
                max-width: 650px;
                margin: 0 auto;
                padding: 50px 20px 0 20px;
                h3{
                    color: #1A98FF;  
                    font-weight: 700;
                }
                .info {
                    margin-top: 30px;
                    p {
                        margin: 0;
                    }
                }
            }            
             
        }
        
        .owl-prev, .owl-next { 
            position: absolute;
            height:44px;
            width:44px;               
            top:auto;
            background-color: #000760;
            border-radius: 50%;
            transition: 0.3s linear;
            @media(min-width:$break-md){
                top:30%;
                height:60px;
                width:60px;
            } 
            &:hover{
                background-color: #1A98FF;  
                transition: 0.3s linear;
            }
        }
        .owl-prev{
            
            left:0; 
            @media(min-width:$break-md){
                left:5%; 
            } 
            &:after{
                content: url(#{$imagesFolder}orion/carousel-arrow.svg);
                position: absolute;
                bottom: 7px;
                left: 7px;
                transform: rotate(180deg);
                @media(min-width:$break-md){
                    bottom: 15px;
                    left: 15px;
                } 
            }
        }
        .owl-next{
            right: 0;            
            @media(min-width:$break-md){
                right: 5%;
            } 
            &::after{
                content: url(#{$imagesFolder}orion/carousel-arrow.svg);
                position: absolute;
                top: 7px;
                left: 7px;  
                @media(min-width:$break-md){
                    top: 15px;
                    left: 15px;
                }              
            }
        }


        .owl-controls{
            .owl-dots{
                margin-top: 30px;
                .owl-dot{
                    display: inline-block;
                    margin:5px;
                    span{
                        background-color:#a7a9ac;
                        width:10px;
                        height:10px;
                        border-radius: 50%;
                        display: inline-block;
                        border:none;
                    }
                }
                .owl-dot.active{
                    span{
                        background-color:#29a5d6;
                    }
                }
            }
        }

        // .owl-stage-outer{
        //     position: relative;
        //     &:after,  &:before {                               
        //         @media(min-width:$break-md){ 
        //             content: '';                   
        //             background-color: rgba(255, 255, 255,  0.8);
        //             width: 15%;
        //             height: 100%;
        //             position: absolute;
        //             top: 0;
        //             right: 0;
        //         }
        //         @media(min-width: 1200px){
        //             width: 24%;
        //         }
        //     }
        //     &:after {
        //         right: 0;                        
        //     }
        //     &:before {
        //         left: 0;
        //         z-index: 1;
        //     }
        // }

    }
}