.orion-seconday-nav{
    // Navigation Variables
    $content-width: 1440px;
    $nav-breakpoint: 799px;
    $nav-height: 70px;
    $nav-background: #414042;
    $nav-font-color: #ffffff;
    $link-hover-color: #29a5d6;
    

    // Outer navigation wrapper
    .orion-navigation {
        background: $nav-background;
        position: relative;
        width: 100%;
        float: left;
        clear: both;
    }

    // Logo and branding
    .orion-brand {
        position: absolute;
        left: 20px;
        font-size: 1.4em;
        top: 13px;
        z-index: 10;
        a,
        a:visited {
            color: $nav-font-color;
            text-decoration: none;
            text-decoration: none;
            font-size: 16px;
            background-color: #1A98FF;
            border-radius: 15px;
            padding: 8px 16px;
            outline: none;
            &:hover{
                background-color: #ffffff;
                color: $link-hover-color;
            }
            @media (min-width:$nav-breakpoint) {
                font-size: 18px;
            }
        }
    }

    // Container with no padding for navbar
    .nav-container {
        max-width: $content-width;
        margin: 0 auto;
        position: relative;
    }

    // Navigation 
    .nav-wrap {
        float: left;
        margin-top: 50px;
        width: 100%;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
            float: left;
            position: relative;
            margin: 0;
                a,
                a:visited, a:focus {
                    display: block;
                    padding: 0 20px;
                    background: $nav-background;
                    color: $nav-font-color;
                    text-decoration: none;
                    padding-top: 13px;
                    padding-bottom: 13px;  
                    outline: none;              
                    &:not(:only-child):after {
                        display: inline-block;
                        padding: 0 4px;
                        content: ' ▾';
                        color: $link-hover-color;
                        transition: 0.4s linear;
                    }
                    &:before{
                        content: '';
                        height: 8px;
                        width: 100%;
                        background: transparent;
                        display: block;
                        position: absolute;
                        bottom: 0;                    
                        left: 0;
                        border-bottom-left-radius: 20px;
                        border-bottom-right-radius: 20px;
                        transform: rotate(180deg);                                         
                    }
                    &:hover {                        
                        &:before{
                            background-color: #75777A;
                        }  
                    }                    
                } 
                .dropdownSelected{
                    @extend a,a:visited;
                    &:before{
                        background-color:#75777A !important;
                    } 
                    &:hover, &:focus {                       
                        color: #fff;
                        outline: none;
                    }
                    &:not(:only-child):after {
                        transform: rotate(180deg);                       
                        transition: 0.4s linear;
                    }
                    
                }
                
                // Dropdown list
                ul li {
                    min-width: 190px;
                    position: relative;
                    a {
                        line-height: 20px;
                        font-size: 16px;
                        padding: 12px 30px;
                        &:before{
                            height: 0px;
                        }
                        &:hover {
                            color: $link-hover-color;
                        }
                    }
                }
            }
        }
    }

    .nav-cta{
        float: right;
        margin-top: -30px;
    }

    // Dropdown list binds to JS toggle event
    .nav-dropdown {
        position: absolute;
        display: none;
        z-index: 1;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
        min-width: 300px;
        background-color: $nav-background;
        padding: 15px 0 !important;
        left: -20px;
    }

    /* Mobile orion-navigation */

    // Binds to JS Toggle
    .nav-mobile {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background: $nav-background;
        height: $nav-height;
        width: $nav-height;
    }
    @media only screen and (max-width: 798px) {
        // Hamburger nav visible on mobile only
        .nav-mobile {
            display: block;
        }
        .nav-wrap {
            width: 100%;
            padding: $nav-height 0 15px;
            margin-top: 0;
            float: none;
            ul {
            display: none;
            li {
                float: none;
                a {
                padding: 15px;
                line-height: 20px;
                }
                ul li a {
                padding-left: 30px;
                }
            }
            }
            .nav-cta{
                display: none;
                margin-top: 0px;
            }
        }
        .nav-dropdown {
            position: static;
        }
    }
    @media screen and (min-width: $nav-breakpoint) {
    .nav-list {
        display: block !important;
    }
    }
    #nav-toggle {
        position: absolute;
        left: 18px;
        top: 22px;
        cursor: pointer;
        padding: 10px 35px 16px 0px;
        span,
        span:before,
        span:after {
            cursor: pointer;
            border-radius: 1px;
            height: 5px;
            width: 35px;
            background: $nav-font-color;
            position: absolute;
            display: block;
            content: '';
            transition: all 300ms ease-in-out;
        }
        span:before {
            top: -10px;
        }
        span:after {
            bottom: -10px;
        }
        &.active span {
            background-color: transparent;
            &:before,
            &:after {
            top: 0;
            }
            &:before {
            transform: rotate(45deg);
            }
            &:after {
            transform: rotate(-45deg);
            }
        }
    }

}