
.portal-cards{
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    transition: 0.3s linear;
    margin: 10px;
    a{
        display: block;
        &:focus {
            outline: none;
        }
    }
    &:hover{
        border-color: #29a5d6;
        transition: 0.3s linear;
        h4 {
           // border-color: #1A98FF;
        }
    }
    .icon-div{
        img {
            max-height: 62px;
        }
    }
    h4 {
        color: #29a5d6;
       // border-bottom: 2px solid #F98700;
        display: inline-block;
        margin-bottom: 15px;
        font-weight: 700;
    }
    p{
        color: #75777A;
        margin-bottom: 0;
    }

}


.portal-with-background{
    background-image: url(#{$imagesFolder}orion/portalcards-bg.svg);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 60px 0 60px 0;
    @media(min-width:$break-sm){
        background-size: cover;
        padding: 80px 0 80px 0;
    }
}
