<sly data-sly-test="${properties.bg_color == 'grey'}">
    <sly data-sly-test.bgClass="bg-seashell"></sly>
</sly>
<sly data-sly-test="${properties.bg_color != 'grey'}">
    <sly data-sly-test.bgClass="bg-white"></sly>
</sly>
<sly data-sly-test="${properties.image_location == 'above'}">
    <sly data-sly-test.imageLocation="img-top-bottom"></sly>
</sly>
<sly data-sly-test="${properties.image_location == 'left'}">
    <sly data-sly-test.imageLocation="img-left"></sly>
</sly>
<sly data-sly-test="${properties.image_location == 'right'}">
    <sly data-sly-test.imageLocation="img-right"></sly>
</sly>

<sly data-sly-use.cta="${'com.bmc.components.utils.GetLinkInfo' @ text = 'cta_text', urlOrPath = 'cta_url'}"></sly>

<sly data-sly-test="${properties.image_location != 'below'}">
    <section class="topcontent ${bgClass}">
        <div class="layout-inner-wrap">
            <div class="report ${imageLocation}">
                <a href="${cta.href}" target="${cta.isVideo ? '_self' : '_blank'}" class="${cta.cssClass}">
                    <img data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image" src="${image.src}" alt="${image.alt}" title="" width="320"  height="170" border="0"></img>
                </a>
                <div class="report-text">
                    <h5> ${properties.heading}</h5>
                    <p>${properties.subheading}</p>
                    <a href="${cta.href}" target="${cta.isVideo ? '_self' : '_blank'}" class="${cta.cssClass}">
                        ${cta.text}
                        <sly data-sly-test="${cta.text}">&nbsp;&#8250;</sly>
                    </a>
                </div>
            </div>
        </div>
    </section>
</sly>
<sly data-sly-test="${properties.image_location == 'below'}">
    <section class="topcontent ${bgClass}">
        <div class="layout-inner-wrap">
            <div class="report img-top-bottom">
                <div class="report-text">
                    <h5> ${properties.heading}</h5>
                    <p>${properties.subheading}</p>
                    <a href="${cta.href}" target="${cta.isVideo ? '_self' : '_blank'}" class="${cta.cssClass}">
                        ${cta.text}
                        <sly data-sly-test="${cta.text}">&nbsp;&#8250;</sly>
                    </a>
                </div>
                <a href="${cta.href}" target="${cta.isVideo ? '_self' : '_blank'}" class="${cta.cssClass}">
                    <img data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image" src="${image.src}" alt="${image.alt}" title="" width="320"  height="170" border="0"></img>
                </a>
            </div>
        </div>
    </section>
</sly>
