<sly data-sly-template.HeaderSearch="${}">
    <form action="/search/" class="search-site">
        <div class="search-site-b" dir="ltr">
            <div class="search-focus">
                <input maxlength="2048" name="q" autocapitalize="off" autocomplete="off" autocorrect="off" title="${'Search' @ i18n}" type="text" value="" aria-label="${'Search' @ i18n}" aria-haspopup="false" role="combobox" aria-autocomplete="both" dir="ltr" spellcheck="false" placeholder="Search...">
            </div>
            <button></button>
        </div>
    </form>
</sly>

<sly data-sly-template.FooterSearch="${}">
    <form action="/search/" class="search-site">
        <fieldset>
            <div class="search-input-m-glass">
                <input type="text" maxlength="2048" name="q" autocapitalize="off" autocomplete="off" autocorrect="off" class="search-input-m-glass" placeholder="${'Search' @ i18n}" value="" aria-label="${'Search' @ i18n}" aria-haspopup="false" role="combobox" aria-autocomplete="both" dir="ltr" spellcheck="false">
                <button></button>
            </div>
        </fieldset>
    </form>
</sly>