<!-- /* Header Brand 2 for Thank-you page  */-->
<!-- /* Header Background Image  */-->
<sly data-sly-use.BgImgChildProps="${'com.bmc.components.utils.CompChildNodeProps' @ childNode='bg'}" />
<sly data-sly-test.bgImg="${BgImgChildProps.ChildProperties['fileReference']}" />
<sly data-sly-test.fgImg="${bgImg @ context='uri'}" />

<!-- /* MObile or thumbnail Image */-->
<sly data-sly-use.MbgImgChildProps="${'com.bmc.components.utils.CompChildNodeProps' @ childNode='mbg'}" />
<sly data-sly-test.mbgImg="${MbgImgChildProps.ChildProperties['fileReference']}" />
<sly data-sly-test.mfgImg="${mbgImg @ context='uri'}" />


<!-- /* Header Background Color  */-->
<sly data-sly-test="${properties.headerBackground}">
	   <sly data-sly-test.headerBackground="${properties.headerBackground}"></sly>
	</sly>
	<sly data-sly-test="${!properties.headerBackground}">
	  <sly data-sly-test.headerBackground="#0091DD"></sly>
	</sly>
<section class="wallpapered bar full-bleed-page-banner product-category-header product-category-header2 padding-bottom-0" data-wallpaper-options='{"source":{
	"fallback": "${mfgImg}",
	"(min-width: 640px)": "${fgImg}"
   }}'  style="background-color:${headerBackground @ context='html'};">
	<div class="offset-wrapper flex-center">
		<div class="inner">
			<div class="bannerContent">
				<div class="layout-inner-wrap">
					<div>
					 <sly data-sly-resource="${'center' @ resourceType='wcm/foundation/components/responsivegrid', cssClassName='aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--phone--12',decorationTagName='div'}" />
					</div>
				</div>
         </div>
      </div>
   </div>
</section>