<!-- TODO: paths -->
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <title><?php echo $pageTitle; ?></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="ConnectiveDX">
    <meta name="apple-mobile-web-app-title" content="BMC Software">

    <!-- icon and tile color in hex # for Windows phones -->
    <meta name="msapplication-TileImage" content="includes/touch-icon.png">
    <meta name="msapplication-TileColor" content="#ffffff">

    <script src="includes/head.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700,800" rel="stylesheet" type="text/css">

    <link rel="stylesheet" media="all" href="includes/style.css">

    <!-- For everything else -->
    <link rel="shortcut icon" href="includes/favicon.png">
    <!-- Serve one icon for all Apple devices -->
    <link rel="apple-touch-icon-precomposed" href="includes/touch-icon.png">
</head>

<body class="<?php echo $bodyClass; ?>">

<section class="layout-wrapper">
    <header class="layout-header">
        <div class="layout-inner-wrap">
            <a class="brand" href="index.php">BMC</a>
        </div><!-- / inner-wrap -->
    </header>
