<div class="extended-widget-container">
    <div class="extended-widget-header">
      <div class="top-section">
        <h2>Product Compatibility</h2><a class="external-app-link btn btn-primary" [href]="state.widgets.prdCompatibility" target="_blank">Go to Product Compatibility</a>
      </div>
      <div class="description"  *ngIf="state.hasUserActivity !== null">{{state.hasUserActivity ? widgetDescription : DESCRIPTION_NON_LOGGED_IN}}
        <a *ngIf="state.user.loggedIn === 'true'"
          href="https://www.bmc.com/available/create-modify-pn-subscription-list.html" target="_blank" class="ml-3"
          adaptPopover="Click here to edit your favorite Products and alert subscription"
          [triggers]="'mouseover:mouseout'">
          <span class="d-icon-pencil_adapt"></span>
        </a>
        <span *ngIf="state.user.loggedIn === 'false'">Please <a href="/available/supportlogin.html">log in</a> to see your personalized view.</span>
      </div>
    </div>
    <div class="extended-widget-body" [ngBusy]="compatibilityService.busyConfig">
      <app-compatibility-product *ngFor="let product of compatibilityService.products" [product]="product"></app-compatibility-product>
      <div class="epd-legend">
        <span class="legend">
          <span class="legend-item" style="background-color: rgb(126, 199, 35);">&nbsp;&nbsp;</span>
          Available 
        </span>
        <span class="legend">
          <span class="legend-item" style="background-color: rgb(246, 210, 120);">&nbsp;&nbsp;</span> 
        Support Only 
        </span>
      </div>
    </div>
</div>
