<section class="${properties.bgcolor}">
    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 50-50-layout layout-inner-wrap">
        <sly data-sly-resource="${'left' @ resourceType='wcm/foundation/components/responsivegrid', cssClassName='aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--phone--12 layout-primary'}" />
        <sly data-sly-resource="${'right' @ resourceType='wcm/foundation/components/responsivegrid', cssClassName='aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--phone--12 layout-secondary'}" />
    </div>
</section>