
.extended-widget-body {
    margin-left: 20px;
    .btn {
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .btn.btn-secondary {
        color: #313538;
        background-color: #f9f9fa;
        border-color: #d5d5dc;
        border-top-color: rgb(213, 213, 220);
        border-right-color: rgb(213, 213, 220);
        border-bottom-color: rgb(213, 213, 220);
        border-left-color: rgb(213, 213, 220);
        padding: .5rem 1rem;
        font-size: .8125rem;
    }
    .btn.btn-secondary:hover{
        color: #313538;
        background-color: #d5d5dc;
        border-color: #bebec9;
    }
    .case {
        border-radius: 5px;
        box-shadow: 0 3px 4px rgba(0,0,0,.14), 0 9px 10px rgba(0,0,0,.06);
        padding: 10px 5px 10px 15px;
        margin-bottom: 15px;
        h4 {
            & {
                margin: 2px 0px 5px;
                position: relative;
                padding-right: 160px;
            }
            .product-name {
                margin-left: 10px;
            }
            .status {
                position: absolute;
                right: 10px;
                top: 0px;
            }
        }
        .subject {
            margin-bottom: 5px;
        }
        .dates {
            display: flex;
            font-size: 10px;
            span:last-child {
                margin-left: 20px;
            }
        }
        
    }
    adapt-pagination ::ng-deep {
        .pagination {
            justify-content: center;
        }
    }
}