<div class="extended-widget-container">
    <div class="extended-widget-header">
        <div class="top-section">
            <h2>Case Management</h2><a class="external-app-link btn btn-primary" 
            [href]="state.widgets.manageCase"
            target="_blank" (click)="sendCaseManagment('Case Managment')">Case and Defect Management</a>
        </div>
        <div class="description">Your most recent support cases</div>
    </div>
    <div class="extended-widget-body" [ngBusy]="caseService.busyConfig">
        <a [href]="caseService.widgetLinks.openCase" class="btn btn-primary" (click)="submitCase()">Submit New Case</a>
        <a [href]="caseService.widgetLinks.listCase" class="btn btn-secondary" (click)="getViews()">View All Cases</a>
        <adapt-empty-state type="objects" label="No cases found" *ngIf="casesChunk.length === 0"></adapt-empty-state>
        <div *ngFor="let case of casesChunk" class="case">
            <h4><a [href]="caseService.widgetLinks.caseDetailUrl + case.Id" (click)="sendCase(case.CaseNumber, case.ProductName)">{{case.CaseNumber}}</a><span class="product-name">{{case.ProductName}}</span><span class="status">{{case.Status}}</span></h4>
            <div class="subject">{{case.Subject}}</div>
            <div class="dates"><span>Created: {{case.CreatedDate | date: 'dd-MMM-yyyy'}}</span><span>Modified: {{case.LastModifiedDate | date: 'dd-MMM-yyyy'}}</span></div>
        </div>
        <adapt-pagination *ngIf="caseService.cases?.length && caseService.cases.length > 5 " rows="4" [totalRecords]="caseService.cases.length" (onPageChange)="paginate($event)"></adapt-pagination>
    </div>
</div>