<div class="extended-widget-container">
    <div class="extended-widget-header">
        <div class="top-section">
            <h2>Manage Your Cases</h2><a class="external-app-link btn btn-primary" 
            [href]="widgets.casemgmt"
            target="_blank">Go to Case Management</a>
        </div>
        <div class="description">Here are latest opened cases</div>
    </div>
    <div class="extended-widget-body" [ngBusy]="caseService.busyConfig">
        <a [href]="caseService.widgetLinks.openCase" class="btn btn-primary">Submit New Case</a>
        <a [href]="caseService.widgetLinks.listCase" class="btn btn-secondary">View All Cases</a>
        <div *ngFor="let case of casesChunk" class="case">
            <h4><a [href]="caseService.widgetLinks.caseDetailUrl + case.Id">{{case.CaseNumber}}</a><span class="product-name">{{case.ProductName}}</span><span class="status">{{case.Status}}</span></h4>
            <div class="subject">{{case.Subject}}</div>
            <div class="dates"><span>Created: {{case.CreatedDate | date: 'dd-MMM-yyyy'}}</span><span>Modified: {{case.LastModifiedDate | date: 'dd-MMM-yyyy'}}</span></div>
        </div>
        <adapt-pagination *ngIf="caseService.cases.length" rows="4" [totalRecords]="caseService.cases.length" (onPageChange)="paginate($event)"></adapt-pagination>
    </div>
</div>