<sly data-sly-test.message='<section class="layout-full-bleed support-promo support-message-box"><p class="align-center"><strong>You are currently logged in with your BMC employee internal ID on the external www.bmc.com/support site.</strong><br>Please <a href="/available/sso-default-login.html">login</a> using an account that you have registered with an active Support ID if you would like to access BMC Customer Support applications i.e. Product Downloads, eFix, Case Management.</p></section>'></sly>
<sly data-sly-use.usermeta="com.bmc.models.components.userdetails.UserLoginMeta"/>
<section class="layout-full-bleed support-promo support-message-box" data-sly-test="${usermeta.isInternalUser}">
	${message @ context='html'}
</section>