.container {
    &{
        min-height: 400px;
        margin-bottom: 30px;
        display:flex;
    }
    .tile-block {
        & {
            display:flex;
            justify-content: space-between;
            flex-wrap: wrap;
            max-height: 610px;
            overflow: auto;
            padding-bottom: 15px;
            padding-right:3px;
        }
        &.extended  {
            app-tile {
                &:last-child {
                    margin: 30px 0px;
                }
                & ::ng-deep {
                    .tile-right span {
                        color: #4E5154;
                    }
                }
            }
            
            
        }
        app-tile {
            & {
                min-width: 300px;
                width: 30%;
                min-height: 80px;
                margin-top: 30px;
            }
            &.extended ::ng-deep {
                .tile-left {
                    background-color: #f86e00;
                }
                .tile-right span {
                    color:  #f86e00;
                }
            }
            &:last-child {
                margin-right: 35%;
            }
           
        }
    }
    .widget-container {
        max-height: 630px;
        overflow: auto;
    }
    .close-action {
        margin-top: 17px;
        span {
            font-size: 30px;
            opacity: 0.6;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
    }
}
@media (max-width: 1200px) {
    .container {
        &{
            flex-direction: column;
        }
        .tile-block {
            max-height: none;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }
        .mobile-tile-block {
            & {
                display: flex;
                max-height: none;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-around;
            }
            app-tile {
                & {
                    min-width: 300px;
                    width: 30%;
                    min-height: 80px;
                    margin-top: 30px;
                }
                &.extended ::ng-deep {
                    .tile-left {
                        background-color: #f86e00;
                    }
                    .tile-right span {
                        color:  #f86e00;
                    }
                }
               
            }
        }
        .mobile-widget-container {
            & {
                display: flex;
            }
            .router-container {
                width: 95%;
            }
        }
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .container {
        .tile-block {
            justify-content: space-around;
        }
    }
}

@supports (-ms-ime-align:auto) {
    .container {
        .tile-block {
            justify-content: space-around;
        }
    }
}