.container {
    &{
        min-height: 400px;
        margin-bottom: 30px;
        display:flex;
    }
    .tile-block {
        & {
            display:flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            max-height: 500px;
            overflow: auto;
            padding-bottom: 15px;
        }
        .tile {
           & {
            color: #313538;
            text-decoration: none;
            min-width: 300px;
            width: 30%;
            min-height: 80px;
            margin-top: 30px;
            display: flex;
            border-radius: 5px;
            box-shadow: 0 3px 4px rgba(0,0,0,.14), 0 9px 10px rgba(0,0,0,.06);;
           } 
           .tile-left {
                background-color: #f86e00;
                width: 3%;
                border-radius: 5px 0 0 5px;
                margin-right: 3%;
           }
           .tile-center {
               & {
                   width: 67%;
                   font-size: 12px;
               }
               h3 {
                font-weight: normal;
                margin-top: 15px;
                margin-bottom: 5px;
               }
           }
           .tile-right{
               & {
                   width: 20%;
                   display: flex;
                   justify-content: space-around;
                   align-items: center;
               }
               span {
                    font-size: 50px;
                    color: #f86e00;
               }
           }
           .tile-arrow {
               & {
                   width: 10%;
                   display: flex;
                   justify-content: space-around;
                   align-items: center;
               }
               span {
                   font-size: 40px;
                   color: #00A79D;
               }
           }
        }
    }
}
@media (max-width: 1000px) {
    .container {
        .tile-block {
            max-height: none;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .container {
        .tile-block {
            justify-content: space-around;
        }
    }
}

@supports (-ms-ime-align:auto) {
    .container {
        .tile-block {
            justify-content: space-around;
        }
    }
}