.container {
    &{
        min-height: 400px;
        margin-bottom: 30px;
        display:flex;
    }
    .tile-block {
        & {
            display:flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            max-height: 600px;
            overflow: auto;
            padding-bottom: 15px;
        }
        app-tile {
            & {
                min-width: 300px;
                width: 30%;
                min-height: 80px;
                margin-top: 30px;
            }
            &.extended {
            }
           
        }
    }
    .widget-container {
        max-height: 600px;
        overflow: auto;
    }
}
@media (max-width: 1000px) {
    .container {
        .tile-block {
            max-height: none;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .container {
        .tile-block {
            justify-content: space-around;
        }
    }
}

@supports (-ms-ime-align:auto) {
    .container {
        .tile-block {
            justify-content: space-around;
        }
    }
}