<div class="container">
  <div class="tile-block">
    <a class="tile" [href]="widgets.manageCase">
      <div class="tile-left"></div>
      <div class="tile-center">
        <h3>Manage Your Cases</h3>
        <div>Submit cases and track progress</div>
      </div>
      <div class="tile-right">
        <span class="d-icon-list_check"></span>
      </div>
      <div class="tile-arrow">
        <span class="d-icon-angle_right"></span>
      </div>
    </a>
    <a class="tile" [href]="widgets.askCommunity">
      <div class="tile-left"></div>
      <div class="tile-center">
        <h3>Ask The Community</h3>
        <div>Share insights, solve problems...</div>
      </div>
      <div class="tile-right">
        <span class="d-icon-users"></span>
      </div>
      <div class="tile-arrow">
        <span class="d-icon-angle_right"></span>
      </div>
    </a>
    <a class="tile" [href]="widgets.prdDownloads">
      <div class="tile-left"></div>
      <div class="tile-center">
        <h3>Product Downloads</h3>
        <div>Find the latest product downloads...</div>
      </div>
      <div class="tile-right">
        <span class="d-icon-download"></span>
      </div>
      <div class="tile-arrow">
        <span class="d-icon-angle_right"></span>
      </div>
    </a>
    <a class="tile" [href]="widgets.docs">
      <div class="tile-left"></div>
      <div class="tile-center">
        <h3>Documentation</h3>
        <div>Access online technical documentation</div>
      </div>
      <div class="tile-right">
        <span class="d-icon-file_text_o"></span>
      </div>
      <div class="tile-arrow">
        <span class="d-icon-angle_right"></span>
      </div>
    </a>
    <a class="tile" [href]="widgets.prdSupport">
      <div class="tile-left"></div>
      <div class="tile-center">
        <h3>Product Support</h3>
        <div>Everything you need on one page.</div>
      </div>
      <div class="tile-right">
        <span class="d-icon-laptop_server_search"></span>
      </div>
      <div class="tile-arrow">
        <span class="d-icon-angle_right"></span>
      </div>
    </a>
    <a class="tile" [href]="widgets.training">
      <div class="tile-left"></div>
      <div class="tile-center">
        <h3>Get Training</h3>
        <div>Choose among role specific training...</div>
      </div>
      <div class="tile-right">
        <span class="d-icon-training_room"></span>
      </div>
      <div class="tile-arrow">
        <span class="d-icon-angle_right"></span>
      </div>
    </a>
    <a class="tile" [href]="widgets.prdCompatibility">
      <div class="tile-left"></div>
      <div class="tile-center">
        <h3>Architecture Compatibility Modeler</h3>
        <div>Check if your products are supported</div>
      </div>
      <div class="tile-right">
        <span class="d-icon-puzzle"></span>
      </div>
      <div class="tile-arrow">
        <span class="d-icon-angle_right"></span>
      </div>
    </a>
    <a class="tile" [href]="widgets.supportedProducts">
      <div class="tile-left"></div>
      <div class="tile-center">
        <h3>Supported Products</h3>
        <div>Find product support status, dates...</div>
      </div>
      <div class="tile-right">
        <span class="d-icon-case_wrench"></span>
      </div>
      <div class="tile-arrow">
        <span class="d-icon-angle_right"></span>
      </div>
    </a>
    <a class="tile" [href]="widgets.supportVideos">
      <div class="tile-left"></div>
      <div class="tile-center">
        <h3>Support Videos</h3>
        <div>View support video solutions</div>
      </div>
      <div class="tile-right">
        <span class="d-icon-right-attachment_video_adapt"></span>
      </div>
      <div class="tile-arrow">
        <span class="d-icon-angle_right"></span>
      </div>
    </a>
    <a class="tile" [href]="widgets.servicesConsulting">
      <div class="tile-left"></div>
      <div class="tile-center">
        <h3>Services & Consulting</h3>
        <div>Get help with all aspects of your digital journey</div>
      </div>
      <div class="tile-right">
        <span class="d-icon-service_desk"></span>
      </div>
      <div class="tile-arrow">
        <span class="d-icon-angle_right"></span>
      </div>
    </a>
  </div>
</div>
