<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">
<meta name="description" content="${properties.meta_description || properties.jcr:description}">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="apple-mobile-web-app-title" content="BMC Software">

<sly data-sly-use.alternateLinks="${'com.bmc.components.AlternateLinks'}">
    <link rel="canonical" href="${alternateLinks.canonicalLink}"/>
    <link rel="alternate" href="${alternateLinks.alternateLinksMap[item]}" hreflang="${item}" data-sly-repeat="${alternateLinks.alternateLinksMap.keySet.iterator}" />
</sly>

<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700,800" rel="stylesheet" type="text/css">

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientLib.all @ categories='bmc.head'}" />

<!-- icon and tile color in hex # for Windows phones -->
<meta name="msapplication-TileImage" content="/etc/clientlibs/bmc/head/touch-icon.png">
<meta name="msapplication-TileColor" content="#ffffff">

<!-- For everything else -->
<link rel="shortcut icon" href="/etc/clientlibs/bmc/head/favicon.ico">
<!-- Serve one icon for all Apple devices -->
<link rel="apple-touch-icon-precomposed" href="/etc/clientlibs/bmc/head/touch-icon.png">

<sly data-sly-test="${wcmmode.disabled}">
    <sly data-sly-use.PageModel="com.bmc.models.PageModel"/>
    <script data-sly-test.BmcMeta="${PageModel.bmcMetaJson}">
        var bmcMeta = ${BmcMeta @ context='unsafe'};
    </script>
</sly>

<script src="//assets.adobedtm.com/e4bb86ac0ef46215a117e82e4f945d2ba5c51004/satelliteLib-a925cb12a4a094b106a634edce1965b5765b4562.js"></script>