# Configuration created by Apache Sling JCR Installer
identitySyncType="default"
keyStorePassword="admin1"
service.ranking=I"5002"
idpHttpRedirect=B"false"
createUser=B"true"
defaultRedirectUrl="/"
userIDAttribute="uid"
idpIdentifier=""
assertionConsumerServiceURL=""
defaultGroups=["SSO_AEM_Collaborator"]
signatureMethod="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"
idpCertAlias="certalias___1609754441492"
addGroupMemberships=B"true"
path=["/"]
digestMethod="http://www.w3.org/2001/04/xmlenc#sha256"
synchronizeAttributes=["cn\=rep:fullname","first_name\=profile/givenName","last_name\=profile/familyName","email_address\=profile/email","title\=profile/jobTitle","display_name\=profile/displayName","primary_phone\=profile/phoneNumber","user_type\=profile/userType","country_geo\=profile/countryGeo","region\=profile/region"]
clockTolerance=I"60"
groupMembershipAttribute="SSOGROUPDN"
idpUrl="https://bmcqa.okta.com/app/bmcsoftwareqauatbmcqacell2_aemauthorqa_1/exke76v61qdZwnozs0x7/sso/saml"
logoutUrl=""
serviceProviderEntityId="aemqaauthor"
handleLogout=B"false"
userIntermediatePath=""
spPrivateKeyAlias="okta-stage-author"
useEncryption=B"true"
nameIdFormat="urn:oasis:names:tc:SAML:2.0:nameid-format:transient"
