<!--/* WEB-2758 HeaderVideo - Bg video picker field missing START */-->
<sly data-sly-use.data="com.bmc.components.VideoHeader"></sly>
<div class="page-careers">
    <section class="hero flex-col">
        <div class="hero-image xs-only"></div>		
        <div class="hero-image video xs-max-hide">
            <div class="vidbg-box"
                 data-vidbg-bg="mp4:${properties.bgvideolink1},webm:${properties.bgvideolink2},poster:${data.backgroundImageUrl}"
                 data-vidbg-options="loop: true, muted: true, overlay: false, overlayColor: #000, overlayAlpha: 0"
                 style="width: 100%; height: 100%;">

            </div>
        </div>
        <div class="hero-content transparent-bg white"">
            <strong class="ha mb2">${properties.headerText @ context='html'}</strong>
            <div class="h3">${properties.subHeaderText @ context='html'}</div>
            <div class="p2 bolder">${properties.introtext @ context='html'}</div>
            <a href="/content/bmc/videos.html?vID=${data.videoPath}" class="modal-youtube-video-player" title="${properties.subHeaderText}">
                <img class="videoIcon" src="/content/dam/bmc/info/icon-slide-video.png">
            </a>
        </div>
    </section>
</div>
<!--/* WEB-2758 HeaderVideo - Bg video picker field missing END */-->
