<div class="page-careers">
    <section class="hero flex-col">
        <div class="hero-image xs-only"></div>

        <div class="hero-image video xs-max-hide">
            <div class="vidbg-box"
                 data-vidbg-bg="mp4:http://service.twistage.com/videos/de1ac177ef090/formats/360p-BitRateOptimized/file.mp4,webm:http://service.twistage.com/videos/de1ac177ef090/formats/360p-BitRateOptimized-Webm/file.webm,poster: http://service.twistage.com/images/i80f46b2f2e4a.jpg"
                 data-vidbg-options="loop: true, muted: true, overlay: false, overlayColor: #000, overlayAlpha: 0.3"
                 style="z-index: 1;">
                <div class="vidbg-container" style="position: absolute; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; background-image: none;">
                    <video autoplay="" loop="" muted="" style="margin: auto; position: absolute; z-index: -1; top: 50%; left: 50%; transform: translate(-50%, -50%); max-width: none; visibility: visible; opacity: 1; width: 1314px; height: auto;">
                    </video>
                </div>
            </div>
        </div>

        <div class="hero-content">
            <strong class="ha mb2">${properties.headerText}</strong>
            <div class="h3">${properties.subHeaderText}</div>
            <div class="p2 bolder">${properties.introtext}</div>

            <a href="${properties.videolink}" class="modal-youtube-video-player">
                <img class="videoIcon" src="//media.cms.bmc.com/designimages/icon-slide-video.png">
            </a>
        </div>
    </section>
</div>
